[2019-04-19 23:20] stenington opened #2107 "RAs should not be able to switch to judge [8,2,4]"
It appears that we explicitly don't auto-create judge accounts for RAs, but then the link to switch doesn't work unless they already have a judge profile.

[2019-04-20 02:48] stenington opened #2108 "Certain file uploads are broken"
File uploads that had been using `ImageUploader` are broken.

[2019-04-20 03:22] #2108 closed

[2019-04-22 15:13] stenington opened #2110 "Code checklist max score problem"
**Describe the bug**
In the code checklist, the points calculation for Mobile Features is slightly broken. The points tally on the right can show scores like 4/2, 6/2, etc.

*The actual score does not seem to count more than 2, just the displayed number.*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the code checklist page
2. Select a mobile feature and provide an explanation.
3. Sa

[2019-04-22 15:19] stenington commented on #2110
An additional note: what the UI does right now is after you've selected one, it realizes you've hit the max 2/2 points and doesn't let you select more. I'm wondering if that's wrong and teams should be able to select as many as they want, but the score should never go beyond 2.

[2019-04-22 15:26] ophelieh commented on #2110
**Expected Behavior**
Teams should be able to select more than one mobile feature, but the score should max at 2 points.

We might need to rework the wording for next year.

Thank you!

[2019-04-22 15:48] stenington commented on #2107
@ophelieh @kmorton2017 I wrote this one up on behalf of Mackenzie last week, but I'm not 100% clear on the request here. Do we need a way for RAs to switch to judge mode in their account? Are there any special considerations I need to know about with RAs being judges, or do you think the system handles that already?

[2019-04-22 18:58] stenington commented on #2097
Closing as a duplicate of #2088

[2019-04-22 18:58] #2097 closed

[2019-04-22 19:46] stenington commented on #2107
We will handle individually cases manually for now, this ticket is going in the icebox as a reminder for a long-term fix to be prioritized later.

[2019-04-22 19:47] stenington commented on #2093
I'm putting this back in the icebox; it should be done ideally prior to the start of next season though.

[2019-04-22 19:48] stenington commented on #2110
Putting this in the icebox. It's good to fix, but a bit late for it to matter this year.

[2019-04-22 19:53] stenington opened #2111 "Allow mentors to be RPE judges"
**Describe the solution you'd like**
This is the short-term fix for #2099. Right now we want to allow mentors to be RPE judges. Next season, we'd like it to be okay for RPE judges to have mentored in the past, but they shouldn't currently be mentoring any teams.

[2019-04-22 19:54] stenington commented on #2099
#2111 is the short-term fix ticket. Putting this one in the icebox for the long-term fix.

[2019-04-22 21:34] stenington commented on #2111
QA:

1. Log in as an RA
2. Go to Judges page
3. Select "Yes, is also a mentor" from **Has Mentor Profile** filter
4. Search
5. Make note of 1 or 2 of these judge/mentor profiles
6. Navigate to an event
7. Click "Add Judges"
8. Search for mentor/judge
9. Confirm they appear in the search results and can be added to the event

[2019-04-23 17:19] stenington opened #2113 "Make thunkable share URLs editable in admin"

[2019-04-23 17:39] stenington commented on #2113
QA:

1. log in as admin
2. find a submission using Thunkable
3. edit submission
4. change the values for Thunkable email and url
5. save
6. edit again to verify the new values you chose were saved

[2019-04-23 17:41] stenington opened #2115 "Allow both Thunkable share and project URLs"
Allow links of both forms `x.thunkable.com/copy/abc123` and `x.thunkable.com/projects/abc123`

[2019-04-23 17:42] ophelieh commented on #2111
@KaiLokken Can you test this one?

[2019-04-23 17:47] KaiLokken commented on #2111
Tested it. Worked as expected. Was able to add the mentors/judges for all of the events.

[2019-04-23 18:08] stenington commented on #2115
QA:

1. log in as a student or mentor on a team with a submission
2. edit the submission development platform
3. choose Thunkable and enter a project url
4. confirm that the url saves
5. enter a Thunkable share url
6. confirm the url saves

[2019-04-23 18:38] #2111 closed

[2019-04-23 18:38] ophelieh commented on #2115
@KaiLokken can you test this?

[2019-04-23 18:39] ophelieh commented on #2113
@KaiLokken and @kmorton2017 Can you both test this?

[2019-04-23 19:09] KaiLokken commented on #2113
Tested it. Worked as expected. All changes (new url, new email address, app description) saved.

[2019-04-23 19:20] ophelieh commented on #2113
This works great but only the x.thunkable.com/copy/abc123 type link works. I tried - x.thunkable.com/project/abc123 and it said it was invalid. Also, is it possible to show the link once it is saved? RAs do not have the option to edit submissions, which is the only way to see the link as of now. Thanks!

[2019-04-23 19:32] ophelieh commented on #2115
Hi @stenington The share URL works for me but not the project URL.

[2019-04-23 19:42] stenington commented on #2115
@ophelieh Can you give me the full url you tried to enter? From the part I can see, the URL you entered should be valid.

[2019-04-23 19:50] ophelieh commented on #2115
https://x.thunkable.com/projects/5c49237b6951551e3fc1f18c/Screen1/designer

[2019-04-23 19:51] ophelieh commented on #2115
![image](https://user-images.githubusercontent.com/32206421/56611391-44e8eb00-65d7-11e9-9920-147ca3c2030e.png)

[2019-04-23 19:51] stenington commented on #2115
Oh ok, I didn't know it should allow extra path segments like `/Screen1/designer`, it only allows up to `https://x.thunkable.com/projects/5c49237b6951551e3fc1f18c` right now. I can fix that.

[2019-04-23 20:03] ophelieh commented on #2115
Could also be looking like this - https://x.thunkable.com/projects/5bcd159416e056ddc91447a3/share/blocks depending on which window they are on when they share the link.

[2019-04-23 20:05] ophelieh commented on #2115
This is the designer link for that team as well so you can see the different types of links - https://x.thunkable.com/projects/5bcd159416e056ddc91447a3/Screen1/designer

[2019-04-23 20:11] stenington commented on #2115
Ok! I'm basically going to open it up so that anything after `copy/abc123` or `projects/abc123` is allowed. So both examples above would be considered valid.

[2019-04-23 20:12] stenington commented on #2113
Oh, sure. It will show like this if the development platform is Thunkable:
![Screen Shot 2019-04-23 at 4 11 35 PM](https://user-images.githubusercontent.com/55319/56612489-8206aa80-65e2-11e9-947d-c242e8c39e3f.png)

[2019-04-23 20:16] stenington commented on #2115
@amyiridescent says this ticket is not needed, just confirming here that we're going back to just the `copy/abc123` format @ophelieh?

[2019-04-23 20:19] KaiLokken commented on #2115
Tested it. But, had Thunkable generate its own link. the generated link worked and saved properly.

[2019-04-23 20:24] ophelieh commented on #2115
Hi @stenington Yup we are. Sorry about the extra work!

[2019-04-23 20:24] ophelieh commented on #2113
Perfect. Thanks!

[2019-04-23 20:24] #2115 closed

[2019-04-23 20:32] stenington opened #2117 "Google Analytics is included in all environments [5,5,1.0; it-05 *,2,*]"
**Describe the bug**
Google Analytics sends data from all environments to the same account, which muddies production analytics data.

**Expected behavior**
Dev, staging, and tests would either not send analytics or send them to a different ID.

[2019-04-23 20:33] stenington commented on #2113
@ophelieh Ok you should now see that in staging. Can you confirm it shows up as an RA?

[2019-04-23 20:33] ophelieh commented on #2113
Checking now.

[2019-04-23 20:35] ophelieh commented on #2113
As an admin - I can see the link but it spills over
![image](https://user-images.githubusercontent.com/32206421/56613938-5fbe5e00-65dd-11e9-803d-74a013f81508.png)
 https://technovation-qa.herokuapp.com/admin/team_submissions/refugee-help-by-segovia-princesses#/

[2019-04-23 20:52] stenington commented on #2113
Oh yeah, you're right. RAs have a totally separate template. I'll update that too.

[2019-04-23 21:28] stenington commented on #2113
Ok @ophelieh! RAs should have the info now too, and both RA and admin screens should wrap long urls:

![Screen Shot 2019-04-23 at 5 27 45 PM](https://user-images.githubusercontent.com/55319/56617160-1fff7280-65ed-11e9-8089-cd884d746adf.png)
![Screen Shot 2019-04-23 at 5 27 21 PM](https://user-images.githubusercontent.com/55319/56617162-21309f80-65ed-11e9-982c-bb3e83b43e75.png)

[2019-04-23 21:31] ophelieh commented on #2113
Perfect. @nickiredescent Can you help me test this?

[2019-04-23 21:37] nickiredescent commented on #2113
Tested.
As both an admin and as an RA I am amble to see the Thunkable Project URL, with the text formatting to wrap around the white box.

Thanks @stenington!

[2019-04-23 21:38] ophelieh commented on #2113
Works great! All ready to go. Thank you both!

[2019-04-23 21:38] #2113 closed

[2019-04-25 23:39] kmorton2017 opened #2119 "RPE Teams Adding Presentation Slides to their Submission"
In previous years, if a team selected a Regional Pitch Event to attend, they were able to upload their presentation slides after the submission deadline.

Currently, the platform does not allow teams to do so. Can we investigate the code from previous years to see how this was made possible?

**Describe the solution you'd like**
Teams who are attending a Regional Pitch Event should be able to uplo

[2019-04-25 23:48] kmorton2017 opened #2120 "Add Judge Resource Page to Judge Dashboard"
Can we add the Word Press site for judges to their dashboard?

![Screen Shot 2019-04-25 at 4 45 14 PM](https://user-images.githubusercontent.com/32206427/56774940-9f21b180-6779-11e9-8095-ed0ee9ee66ef.png)

 Under Judge Resources, it can say "View our Resource Page" and hyperlink to http://technovation.staging.wpengine.com/judge-resources/ Note this is still on word press staging.

**Describe alter

[2019-04-25 23:58] kmorton2017 opened #2121 "Investigate RPE Judge Moving Into Virtual Pool"
We would like to know the following information about RPE judges:

- Is it possible for an RPE judge (once their event is over) to move into the virtual pool?
- IF they move into the virtual round, will their scores be saved?
- Is it possible to do move from RPE to virtual pool within the QF round? Or only once SF has started?

Thanks Mike! I know that we have discussed this before in previous sea

[2019-04-26 00:56] stenington commented on #2119
Here's a ticket from last year with a screenshot that I think gives a hint of what the feature looked like: https://github.com/Iridescent-CM/technovation-app/issues/1516

Note that that's the old non-Vue dashboard. I doubt the current version of the dashboard ever had this ability, so I don't think there's old code we can resurrect. I think we have to build the feature new, but if I stumble on som

[2019-04-26 00:58] stenington commented on #2121
I would suggest exploratory QA for this. I wouldn't trust my reading of the code to give you the answer, we should arrange a test on QA and see what happens. I'll take a first stab at it and write up what I do and what I see. Based on that I can selectively dig into code to confirm suspicions or flesh out details if needed.

[2019-04-26 02:01] stenington commented on #2121
What I'm seeing based on a quick test is that RPE judges in QFs can judge their RPE submissions but have no way of seeing virtual pool submissions during QFs. If the RA deletes the judge from the event, their scores from that event are deleted as well, so that's not a viable way of letting them see virtual submissions during QFs.

During SFs, all judges judge from the same pool of semifinalists. N

[2019-04-26 16:16] KaiLokken opened #2123 "Deleting a judge's account + scores"
Hello!
Problematic judges:
- Does deleting a judge's account automatically delete all of the judge's scores?
- Or, do you need to separately delete the judge's scores? Then, delete the judge's account.
- Is it possible to:
1. Keep some of the judge's scores,
2. Delete the other scores,
3. Then, delete the judge's account

Thanks!

[2019-04-26 16:25] stenington commented on #2123
Hi @KaiLokken! Deleting a judge profile will delete all their scores as well. You do not have to do that separately.

I don't believe you can delete a judge account but keep some of their scores around. The score model is linked to the judge model in the codebase, so you can't have a score without a judge who created it.

[2019-04-26 19:54] kmorton2017 commented on #2121
ok good to know. @ophelieh @amyiridescent as a program team, we will need to let RA's and RPE judges know that they can only judge in the semifinals as a virtual judge.

[2019-04-29 17:54] stenington opened #2124 "New score very slow for some virtual judges"
Some virtual judges are trying to get scores and getting stuck at the spinner.

This is a combo of taking too long to find a score, and our UI not communicating errors, because the request times out before the backend is providing a response.

[2019-04-29 19:14] #2121 closed

[2019-04-29 19:18] kmorton2017 commented on #2120
This is the live page: https://technovationchallenge.org/judge-resources/

[2019-04-29 19:29] kmorton2017 opened #2126 "RA's Assigning Teams to Judges"
I assigned all of my teams to judges from the **teams icon** on the Events page. I was not able to reproduce the error easily .

I tried a different case scenario and assigned half of my teams to judges from the “teams” icon on the Events page.  I assigned other half to judges from the **“judges” icon** on the Events page.
I logged out and back in again. All of my team assignments had been erased

[2019-04-29 20:34] stenington commented on #2124
Here's what I have for error messaging. It could probably be improved, but it's "Error encountered while finding a submission. Please try again or contact support." as a starting point.

![tooslow](https://user-images.githubusercontent.com/55319/56925126-96dcb580-6a9c-11e9-890b-f93fefb39f9c.gif)

[2019-04-29 21:27] stenington commented on #2120
QA:
1. log in as a judge
2. locate "Judge resources"
3. follow new link, confirm it goes to production Wordpress page

[2019-04-29 21:31] stenington commented on #2124
Let me know if a different message would be better. Otherwise...

QA:

I don't think it's going to be possible to force a timeout to see the error message, so I think we may just have to settle for:

1. log in as a virtual judge
2. click "Start new score"
3. confirm that you get a submission to score

On production I can New Relic and Heroku metrics to see if it looks like response times improve a

[2019-04-29 22:43] kmorton2017 commented on #2124
i am able to start and score a new submission

[2019-04-29 22:45] kmorton2017 commented on #2120
Confirmed.

[2019-04-30 00:51] #2120 closed

[2019-04-30 00:51] #2124 closed

[2019-04-30 17:49] stenington commented on #2126
What I've found is that if you load the events page and click "Manage teams" first, you will see the judge assignments and you can switch back and forth from "Manage teams" and "Manage judges" without losing them.

If you refresh the page and click "Manage judges" first, you will **not** see the judge assignments, and if you switch back and forth between "Manage teams" and "Manage judges" they wil

[2019-04-30 18:33] ophelieh opened #2129 "Missing Demo video Link"
**Describe the bug**
It seems that for some teams, the demo link has been overridden somehow. An example team is
The Tough Tuttles (this team submitted a demo video and completed their submission). See the screenshots below. It seems that 12 teams might have been affected by this.

As an RA this is what you see
![image](https://user-images.githubusercontent.com/32206421/56984693-3d33c400-6b4c-11e9

[2019-04-30 19:37] stenington commented on #2129
@ophelieh When I look up this team in the database, they have no demo link. I do see a bug on the RA screen where it's not properly checking for a link before displaying, which accounts for the strange link in the RA view, but I would need more details before I can reproduce how the link might be getting lost. Are you certain these teams are submitting demo videos?

[2019-04-30 19:46] amyiridescent commented on #2129
Hey Mike, so this team has gotten a confirmation that their submission was complete but then somehow their demo video link went blank. Is there a way you can check on the log and see if it was recorded before?

[2019-04-30 20:23] stenington commented on #2129
The activity log in the database doesn't have any record of a demo video link being saved.

[2019-04-30 20:25] amyiridescent commented on #2129
@ophelieh can you check on this team? It sounds like no demo link was saved before.

@stenington can you investigate the error in RA link on the RA page without this confirmation?

[2019-04-30 20:26] stenington commented on #2129
Yep, that error is easy enough to fix.

[2019-04-30 21:26] kmorton2017 commented on #2119
hi @stenington so i did some recon and it turns out our largest events do indeed rely on the platform to have teams upload their presentations. i checked in with a few of our largest events and they are giving them a deadline of May 7th and may 12th to upload their presentation. do you think this is a doable feature to build out in time? let me know !

@ophelieh

[2019-05-01 03:55] amyiridescent commented on #2129
Mike following up from the QA channel discussion from tonight. It sounds like we have a bug that when a team is inputting either the pitch or demo video as the last step in the submission process, the platform was not saving the link they submitted. Although the team is able to get confirmation that their submission is complete. Since the log does not save anything regarding the links they inputte

[2019-05-01 12:39] stenington commented on #2129
To be very specific, if the last thing they needed to submit was the demo link, I was able to click the publish button **without** clicking the save button, thereby publishing my submission without first saving the link I was trying to enter. The platform didn't save my link because I never clicked "Save", the bug is really that the publish button was made available too soon (and it didn't double-

[2019-05-01 15:12] stenington opened #2131 "Incomplete video submissions can be published [8,8,1]"
**Describe the bug**
An incomplete submission can be published by following a certain sequence of steps

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a submission that is complete except for the demo video
2. Begin adding the demo video link
3. Click Next
4. Click the button to publish on the right, do not click Save first

**Expected behavior**
I think two things should be expected:

[2019-05-01 15:12] stenington commented on #2131
This bug is the cause of #2129 I think

[2019-05-01 15:42] stenington commented on #2129
The fix for the RA screen is in staging.

QA:
1. log in as Admin
2. find a submission without a demo video
3. look at that submission as RA
4. you should NOT see the strange `/regional_ambassador/...` link

[2019-05-01 15:43] stenington commented on #2126
@kmorton2017 a fix for this is in staging, you should not have the same trouble with judge assignments. Can you QA or write up the steps you want someone else to take?

[2019-05-02 02:15] ophelieh commented on #2129
Hi @nickiredescent & @KaiLokken Could you test this? Thank you!

[2019-05-02 12:41] stenington opened #2133 "Never unpublish submissions [8,13,0.62]"
The platform has code to "un-publish" a submission by removing the `published_at` dates if the submission doesn't appear to be complete. There's a big problem with that from a user point of view in that they receive an email saying they're published when it's initially set. Un-publishing without also sending an email alerting them is setting those teams up for failure.

I think one of two things w

[2019-05-02 15:38] KaiLokken commented on #2129
Tested it. Worked as expected. Logged in as Neil and viewed apps with no demo videos: Ready App and Whatever App. It was just blank, no strange link:  /regional_ambassador/...

[2019-05-02 16:53] #2129 closed

[2019-05-02 17:34] stenington commented on #2119
There are a whole handful of possible scenarios to test here. I think the main ones would be:

1. As a student during submissions
    * make sure you can build your submission as usual.
2. As a student during quarterfinals
    * on a team in an RPE
        * make sure you can edit your presentation slides
        * make sure you can't edit the rest of your submission
    * on a team in virtual jud

[2019-05-02 20:13] ophelieh commented on #2126
@stenington Looks like it works good now. Thanks!

[2019-05-02 20:13] #2126 closed

[2019-05-02 20:58] ophelieh commented on #2119
Everything works great! One thing I have noticed though is that during quarterfinals I can't see which event I am registered for.

[2019-05-02 21:01] stenington commented on #2119
Yeah @ophelieh I noticed that too, I don't think the dashboard is very effective at certain times of the season. I think that would be a good discussion to have for next season, but I didn't address it here to keep the scope of the change as small as possible to be able to do it quickly.

[2019-05-02 21:04] ophelieh commented on #2119
Makes sense. I'll add it to our list for next year. :)

Thank you!

[2019-05-02 21:04] #2119 closed

[2019-05-07 15:07] stenington opened #2135 "Suspending a judge"
**Is your feature request related to a problem? Please describe.**
We need to be able to suspend some judge accounts. Currently we have an extreme measure to prevent certain accounts from creating judge profiles, but it's unwieldy as an ongoing tool for managing judge suspensions.

**Describe the solution you'd like**
In order to keep scope extremely small, it would be acceptable at this point for

[2019-05-07 15:15] stenington commented on #2135
Here's what my proposed change would look like for both live and virtual judges:

![suspension2](https://user-images.githubusercontent.com/55319/57311267-4c20f600-70b9-11e9-9c7e-ecf75ec08d03.gif)
![suspension1](https://user-images.githubusercontent.com/55319/57311268-4c20f600-70b9-11e9-9fef-3726fe46c0d7.gif)

[2019-05-07 16:01] stenington opened #2136 "Showing students their RPE during judging"
**Is your feature request related to a problem? Please describe.**
The student dashboard is confusing for students during judging. The "Pitching Events" menu item goes back to disabled, saying "This feature will open later in the season" and the submissions section just says "Submitting your project is not available right now."

We recently added the ability for students in live event teams to edi

[2019-05-07 16:15] amyiridescent commented on #2135
Hey Mike, Just so I am super clear. I am assuming the following are the steps. I also have one modification request.

1. Kai contacts you with the judge email or ID number on the judge we need to suspend. (After she has gone through multiple warnings and probably deletion of some of their scores.)
2. You on the back end "suspend" their account so they can't take on new scores or edit ones they hav

[2019-05-07 16:27] stenington commented on #2135
Sure!

Yes, it's a true/false value stored on their profile that we can change back to un-suspend.

[2019-05-07 17:26] ophelieh commented on #2135
Looks good to me, I agree with Amy. We shouldWhat do you think @KaiLokken

[2019-05-07 17:28] ophelieh commented on #2136
This looks great! Could we expand that to mentors as well?

Thank you!

[2019-05-07 17:33] stenington commented on #2136
@ophelieh Not in the same way, no. Mentors have a different dashboard so it would require a different solution.

[2019-05-07 17:35] KaiLokken commented on #2136
It would be great to show the RPE info when the student logs in. Even the short-term solution, showing it by the link to edit presentation slides, would be REALLY helpful. Thanks!

[2019-05-07 17:38] KaiLokken commented on #2135
This looks amazing!!! Agree with both Ophelie and Amy. Great job, Mike. Thanks for your help!

[2019-05-07 17:39] ophelieh commented on #2136
ohhhh It can't never easy, can it?

Let's just go with the students than for now. Thank you!

[2019-05-07 17:41] stenington commented on #2136
Ok! I'll do students first and then take a look at using something similar for mentors if possible. I can open that as a new ticket later.

[2019-05-07 18:33] stenington commented on #2135
I've added a little bit to the admin to help identify suspended judges as well

![Screen Shot 2019-05-07 at 2 02 11 PM](https://user-images.githubusercontent.com/55319/57323975-ddea2c80-70d4-11e9-8260-c110fe165a85.png)
![Screen Shot 2019-05-07 at 2 32 47 PM](https://user-images.githubusercontent.com/55319/57324031-04a86300-70d5-11e9-830d-bf0af6fbc874.png)
![Screen Shot 2019-05-07 at 2 01 53 PM](ht

[2019-05-07 19:06] stenington commented on #2136
QA:

1. log in as student in an RPE, make sure correct RPE info appears
2. log in as student not in an RPE, make sure dashboard loads without RPE info

[2019-05-07 19:16] KaiLokken commented on #2135
Looks great! Just want to confirm:
1) if the judge is suspended, then the judge will receive the error message
AND
2) as, an admin, we can look up suspended judges
Thanks!

[2019-05-07 19:28] stenington commented on #2135
@KaiLokken Yeah, correct.

When this deploys, I will set up a live judge and a virtual judge, suspend them, and make a note of which judges I set up here for testing. I'll write up some suggested QA steps as well.

[2019-05-07 19:31] KaiLokken commented on #2135
Great! Thanks!

[2019-05-07 19:58] ophelieh commented on #2136
Works great! Thank you!

[2019-05-07 19:58] #2136 closed

[2019-05-07 20:23] stenington commented on #2135
Okay, 3 new users. Password is the email address:
* Suspended Judge `suspended@judge.com`
* Suspended Live-Judge `alsosuspended@judge.com`
* Another Suspended `anothersuspended@judge.com`

All are judge accounts that have been suspended. The first two have 1 complete score and 1 score in progress, the third has not started anything.

**Suggested QA:**
1. log in as `suspended@judge.com`
2. under "M

[2019-05-08 14:15] stenington opened #2140 "Showing mentors their teams' RPEs during judging"
**Is your feature request related to a problem? Please describe.**
Similar to #2136, it would be more useful to mentors to be able to log in and see their teams' RPEs and be able to edit presentation slides than to just have the "submitting not available" message they have now.

**Describe the solution you'd like**
Maybe we can take the basic solution from #2136 and show similar controls, repeated

[2019-05-08 14:58] stenington commented on #2140
![localhost_3000_mentor_dashboard](https://user-images.githubusercontent.com/55319/57385275-2874b300-7180-11e9-8899-bdccd8ab8598.png)

[2019-05-08 15:48] stenington commented on #2140
@ophelieh Take a look at this when you have a chance and let me know what you think.

[2019-05-09 00:17] ophelieh commented on #2140
I like this! Looks great. Thank you! :)

[2019-05-09 18:42] ophelieh commented on #2135
I am going to test this, but @KaiLokken could you also check it out as you are in charge of scores? :) Thank you!

[2019-05-09 22:51] ophelieh commented on #2135
Hi @stenington Everything works as expected! :)

For RAs, we do not want them to be able to see if a judge is suspended. On the profile debugging, it should NOT show if a judge is suspended. Thank you!!

[2019-05-09 23:04] stenington commented on #2135
Ok, I'll work on that change tomorrow. Thanks @ophelieh!

[2019-05-10 12:38] stenington opened #2142 "Bring back Scout add-on"
**Is your feature request related to a problem? Please describe.**
During judging we're occasionally seeing crazy memory usage. I already reduced the concurrency from 3 to 2, so it would be nice to eliminate these spikes.

![Screen Shot 2019-05-10 at 8 32 51 AM](https://user-images.githubusercontent.com/55319/57527898-ce4e2c00-72fe-11e9-9dce-8bc08e2c7a0e.png)

**Describe the solution you'd like**

[2019-05-10 12:51] stenington commented on #2140
Suggested QA:

**With the platform in QFs**
1. log in as an RA with multiple teams in live events
2. make sure the correct RPE info is displayed for each team
3. make sure each team's slides are editable through the "Edit presentation slides" link
4. log in as an RA with no live event teams
5. make sure their dashboard does not show the "Regional Events" section

**With the platfrom in SFs**
1. lo

[2019-05-10 13:24] stenington commented on #2135
Ok, so follow-up QA:

1. log in as an RA with a suspended judge in your region
2. make sure you cannot see the "Suspended Judges" filter or "Suspended" column
3. View a suspended judge, make sure you cannot see that they are suspended in the debugging section

[2019-05-10 14:08] stenington commented on #2142
This one's for me to test.

[2019-05-10 15:00] #2142 closed

[2019-05-13 17:14] ophelieh commented on #2140
@nickiredescent and @KaiLokken Could you both test this today or tomorrow?

Thank you!

[2019-05-13 20:36] kmorton2017 commented on #2135
This is correct. I cannot see these items as an RA with a suspended judge in my region.

[2019-05-13 20:36] #2135 closed

[2019-05-13 21:16] nickiredescent commented on #2140
I believe the steps were meant to log in as a mentor. I did the QA under this assumption.
I can confirm that mentors are able to edit their teams' presentation slides with Quarterfinals enabled.
I can confirm that mentors are not able to edit their teams' presentation slides with Semifinals enabled.
This is working as intended.

Minor note
![image](https://user-images.githubusercontent.com/4557607

[2019-05-13 21:21] stenington commented on #2140
Yes, correct! This is as a mentor, let me fix that in my previous comment.

And yeah, the page is a bit weird. It's basically the full submission editing page pared back to just the presentation slides. That left nav area makes *a lot* more sense when the whole submission is editable.

[2019-05-14 13:02] stenington opened #2145 "Project documentation"
I think we should consider writing and maintaining project documentation. I could see this done for a few points of view:

* end users like students, RAs, mentors, judges
* admin users, including tasks done “off platform” through csvs and such
* software documentation, which could take the form of “technical notes” pulled out where relevant in the other docs. Again including the “off platform” pro

[2019-05-14 20:22] stenington opened #2146 "See deleted scores as an admin"
**Is your feature request related to a problem? Please describe.**
We're doing a certain amount of hand-curation of scores, which includes deleting scores or restoring scores that were deleted for the wrong reasons. Right now when a score is deleted, it essentially disappears from the platform from an admin's point of view.

**Describe the solution you'd like**
I think the *Scores export* page cou

[2019-05-14 20:31] stenington commented on #2146
Here's what this could look like. You could either include deleted scores with the non-deleted, or choose deleted-only. A new column would be added to the end of the list to show the yes/no deleted status. (Hopefully that doesn't mess up the spreadsheets this data feeds into?)

![Screen Shot 2019-05-14 at 4 29 39 PM](https://user-images.githubusercontent.com/55319/57730038-92e89000-7665-11e9-9101-

[2019-05-14 20:33] stenington commented on #2146
@amyiridescent @kmorton2017 We had discussed adding something like this after the dev weekly call. Does this seem worth doing?

[2019-05-14 23:25] amyiridescent commented on #2146
I think it will be helpful for the team who are fielding questions from judges. Let me know if you need me to QA things. And I can help @KaiLokken update the spreadsheet she is using if needed. :)

[2019-05-15 22:02] amyiridescent opened #2148 "Additional filters to "Scores" page"
Can I get a country & division filters added to the "scores" page on admin? It will help a great deal when we are picking semi-finalists.

![uploads/16e7c436-ab90-465b-ab46-c8118edb8c5b/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F16e7c436-ab90-465b-ab46-c8118edb8c5b%2Fimage.png)

[2019-05-15 22:22] KaiLokken commented on #2146
Checked it out. Looks great and will be very useful. I downloaded the csv and the deleted column was included. Played around with the "Deleted" filter at the top. Everything worked! Thanks, Mike!

[2019-05-15 23:07] kmorton2017 opened #2149 "Survey Collector--Set Up Variables"
We need to set up custom variables for the Survey Monkey post-survey on the platform. We do this to cut down on the time/effort on behalf of participants. When they open the survey from the platform, they won't need to put in redundant info that is already collected from registration. In order to pair responses and see before/after results, we need to ensure that the post survey is also collecting

[2019-05-16 15:07] ophelieh commented on #2140
Looks great and works as expected. Thanks Mike!

[2019-05-16 15:07] #2140 closed

[2019-05-16 15:08] #2146 closed

[2019-05-16 17:54] stenington commented on #2149
@kmorton2017 Here are the custom variables it looks like the platform currently understands:
* `[email_value]`
* `[country_value]`
* `[state_value]`
* `[name_value]`
* `[city_value]`
* `[age_value]`
* `[school_value]`
* `[company_value]`
* `[team_value]`

So if you set a survey link containing any of those, they should be correctly filled in for the user being shown the link.

Does that get you wh

[2019-05-16 19:30] stenington commented on #2148
I see a division and a country filter already there. Am I not understanding the request or did you not see them @amyiridescent?

[2019-05-17 05:00] amyiridescent commented on #2148
Whoops. I meant "Additional columns" not filters... Sorry!

[2019-05-17 11:47] stenington commented on #2148
Division is already under "More columns", but do you want it made a default column? And do you want country as "More columns" or to always show? I think with the location normalization stuff we're still doing, it'll slow down the page a little so there's a technical argument for putting it as an optional column, but if you pretty much always need it when referencing this page, I'll just make it de

[2019-05-17 13:50] amyiridescent commented on #2148
Well first of all I am blind... because I could not see the "Division" column. Sigh.  For location, additional column is totally fine. I will only need it when we are selecting semi finalists :)

[2019-05-17 20:52] kmorton2017 commented on #2148
@KaiLokken can you test this

[2019-05-17 21:07] kmorton2017 commented on #2149
Ok great that looks good. I will set up a QA Test scenario for making sure that the survey responses are being collected.

[2019-05-17 21:07] #2149 closed

[2019-05-17 21:20] kmorton2017 opened #2151 "Test Survey Collection"
We need to ensure that the survey is properly collecting participants' information from the platform.

Steps to QA:
1) Login as a student.
2) Ensure that the pop-up modal text has changed to say "Win a $100 gift card and take our post-season survey.  Take our post-season survey."
3) When you click on the survey, you should not see any questions related to email name, school, city, state, country,

[2019-05-17 21:26] KaiLokken commented on #2148
Tested it. Worked as expected.Both country and state showed up under "More Columns". Pulled the csv, and the country and state columns were included.

[2019-05-18 01:06] nickiredescent commented on #2151
Tested.
Survey does not directly ask for identifying information (name, age, etc.).
Survey Monkey is properly exporting and saving our participant data.
I cannot get the pop-up to show up on my dashboard. I've tried with previously made accounts and newly created accounts. I've tried with all the different judging settings.

[2019-05-20 18:49] stenington commented on #2151
@nickiredescent I see some code in there that suppresses the survey modal if the user has already taken it and limits the number and frequency of reminders they receive if not, and I **don't** see any way that those things get reset. So my guess is that most of our test accounts either took the pre-survey or reached the limit of reminders, and now they are not being shown the modal even though the

[2019-05-20 19:02] #2148 closed

[2019-05-21 15:27] stenington commented on #2151
Okay, so I cleared out the following fields for one user, and saw the modal immediately upon refreshing the dashboard: `a.update(survey_completed_at: nil, reminded_about_survey_at: nil, pre_survey_completed_at: nil, reminded_about_survey_count: 0)`

The survey link presented to me looked like `https://www.surveymonkey.com/r/TWRLM9G?name=Lama%20Hussein&school=Friends%20International%20&city=Bethleh

[2019-05-21 15:33] stenington commented on #2151
As for clearing out data for further QA and to make this work in production, I'm not sure what the best approach is. @nickiredescent @kmorton2017 do you just want to ping me in Slack if you need survey data cleared while testing?

[2019-05-21 16:21] stenington commented on #2151
Oh, I was wrong, the data is in fact coming through. There are empty name, email, etc. columns early in the spreadsheet, but I do see the custom variables at the far righthand side of the doc as described above.

[2019-05-22 15:26] ophelieh commented on #2151
@stenington That sounds right. That's how it was last season. @nickiredescent and @kmorton2017 Could you test again today? Thanks!

[2019-05-22 21:04] nickiredescent commented on #2151
Retested by logging into random accounts. I was not able to consistently see the pop up:
Survey Pop Up:
- alli+14s
- kai+3s
- nick+9s
- nick+10s
- nick+5s

**No** Survey Pop Up:
- katie+8s
- mackenzie+2s
- ophelie+1s
- katie+14s
- kai+1s
- nick+7s

I couldn't identify any patterns with what worked and what didn't. With the accounts that did receive the pop up, immediately logging out and back in d

[2019-05-23 16:32] stenington commented on #2151
@nickiredescent I'm not too surprised by this. I hadn't cleared out the survey reminder data for all users, just the one user I was going to test. I *can* clear it out for all users, I was just waiting for an official "go ahead" to make sure we're all on the same page.

As for cooldown, yeah it does look like there's some logic like that in there too. Here's what I think I'm seeing:

1. If a surve

[2019-05-23 16:40] nickiredescent commented on #2151
@stenington
If I had to guess, we need an address in step 1 because if we select a random gift card winner, we need to know what country they're in so we can follow proper procedure.
I guess otherwise, we're just waiting for a final ok. Thanks for the update!

[2019-05-29 15:01] stenington opened #2152 "Mentors who are too young to be judges can judge"
**Describe the bug**
We have mentors who are under 18 and should not be able to judge, but they can click the button to switch to their judge profile and judge submissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a mentor account that is underage for being a judge
2. Click on the link to switch to judging

**Expected behavior**
Not sure, it should probably show an error or not

[2019-05-29 15:04] stenington opened #2153 "Score curation controls"
**Is your feature request related to a problem? Please describe.**
Admins do a fair amount of score curation, but the platform doesn't support it directly. Deleting scores, restoring scores, and suspending/unsuspending judges is done by a developer through the console.

**Describe the solution you'd like**
Admins should have these abilities through the platform directly.

[2019-05-29 17:43] stenington commented on #2029
@kmorton2017 and @ophelieh can I get a status update on this one? Seems like it might need to get addressed this week if changes need to be made.

[2019-05-29 17:49] ophelieh commented on #2029
I can get this to you by end of the day today.

[2019-05-29 20:51] ophelieh commented on #2029
"If you had time to judge, we sincerely thank you for helping us support almost 2,000 in 57 countries. [...]"

[2019-05-29 23:35] kmorton2017 commented on #2151
@stenington so if i am understanding correctly, all you need to do is reset the survey counter so that it starts popping up on people's dashboard. currently they are "maxed out" because they have seen it so many times.

if that is the case, please go ahead and reset the survey counter so they have the ability to start seeing it on their dashboard.

[2019-05-29 23:40] kmorton2017 commented on #2029
Yes that looks right to me. Can we hyperlink our judge resource page?

View our Judge Resource page (https://technovationchallenge.org/judge-resources/)  for more information.

[2019-05-30 13:45] ophelieh commented on #2029
Great idea Katie! @stenington This is now all ready to go.

The resource page sentence should be at the bottom unless you think another spot would be better.

[2019-05-30 16:08] ophelieh commented on #2151
@nickiredescent and @kmorton2017 Could you both retest this?

Thanks!

[2019-05-30 21:45] nickiredescent commented on #2151
Tested. Can confirm that the post survey pop up is showing up.

[2019-05-30 21:56] #2151 closed

[2019-05-30 21:57] ophelieh commented on #2029
@nickiredescent Can you test this? I will also take a look. Thanks!

[2019-05-30 22:48] ophelieh commented on #2029
Looks good. There are a couple of small things that need to be updated. Didn't catch it before. And honestly, I don't really get the difference between Advisor and Adviser so I guess we should just go with Advisor.

We should put periods on the highlighted sentences and change the s to and S for semifinals on the right column.

Also, could the judge resource page open in a different tab? Looks gre

[2019-05-30 23:10] nickiredescent commented on #2029
I agree with Ophelie, the page overall looks good.
![image](https://user-images.githubusercontent.com/45576078/58670777-1d332400-82f5-11e9-92ca-b18050282dda.png)
Should probably use a comma after the bold, not a period as suggested.
Overall, the difference between adviser and advisor is really minor, but we should keep it consistent.

[2019-05-31 13:55] stenington commented on #2029
Ok, those changes are on staging!

[2019-06-03 13:55] #2029 closed

[2019-06-04 22:36] kmorton2017 commented on #2151
@stenington can you reset the accounts on production so that they are able to see the modal text appear?

[2019-06-17 19:46] stenington opened #2156 "Create season certificates"
Last year certificates were generated on-demand when a user tried to retrieve them. This year we're generating certificates for all users prior to opening up scores and certificates on the site, and that will be done through the developer tools listed in this documentation: https://docs.google.com/document/d/12DZ5R1l2DiruHpWelABJfU_0Luroz0yatSGKgYfE4ms/edit#

[code]

This needs to be done once fin

[2019-07-23 20:54] hellafitz opened #2159 "XTC.org: change boxes from grey to color when a role is selected"
https://technovationchallenge.org/get-started/

Problem: when I click on a box other than Judge I expect the grey box I click on to become color, and the color Judge box to go grey. That doesn't happen.

![uploads/47f7e3bb-9455-44c6-96cf-cbf57c0a12a6/Screenshot 2019-07-23 13.50.36.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F47f7e3bb-9455-44c6-96cf-cbf57c0a12a6%2FScreenshot+2

[2019-07-30 20:20] stenington opened #2162 "Switch from Campaign Monitor to Mailchimp [8,8,1.0]"
This will involve changing the automatic mailing list registration code to talk to Mailchimp instead of Campaign Monitor, and potentially facilitating the configuration and import/export of current lists between the services.

[2019-07-30 20:22] stenington opened #2163 "Switch from Mailgun to Mandrill [13,8,1.6]"
We'd like to consolidate services and send transactional emails currently going through Mailgun through Mandrill instead. This will entail comparing services and confirming that Mandrill is a functional replacement for Mailgun, then properly configuring Mandrill and the platform to send emails.

[2019-07-31 18:04] hellafitz opened #2164 "Replace Campaign Monitor w/ Mandrill by TG Season Start"
Currently my.technovationchallenge.org uses Campaign Monitor to collect and send emails. Replace that service with Mandrill (part of MailChimp, and what CM uses) to consolidate.

myTC flow automatically adds users to "participant lists" as subscribers in Campaign Monitor. (we would like to keep this functionality if possible). This needs to be recreated in MailChimp before getting rid of Campaign

[2019-07-31 19:32] stenington commented on #2164
More accurately, my.technovationchallenge.org uses Campaign Monitor for mailing list signup, and Mailgun to send emails. Those would be replaced with Mailchimp and Mandrill respectively. I've got #2163 and #2162 open for those, so we can close those or this one as a dupe I think.

[2019-08-02 18:43] hellafitz opened #2165 "Reapply for Google Maps credit by 8/31"
- Investigate whether we're using Google Maps on either of the platforms
- If yes, reapply for nonprofit credits (or decide not to)

reference: 8/2 email from Amy to Matt and Mike, "Fwd: Google Maps Platform credits expiring soon
(NOT urgent)"

(...)

Google Maps Platform

Thank you for your interest in the Google Maps Platform credits program. This notice is regarding the Google Maps Platform cre

[2019-08-02 19:00] stenington opened #2166 "Epic: Upgrade libraries to resolve security alerts [100,100,1]"
GitHub has identified several security alerts in this project, it would be best to upgrade the relevant libraries to address all issues: https://github.com/Iridescent-CM/technovation-app/network/alerts

[2019-08-19 16:42] hellafitz commented on #2165
After some digging.. seems Maggie may have made (or edited) the map but she doesn't recognize the acct number and can't find it in any Google nonprofit account she has access to. No other uses of Maps have been found on either platform.

We're going to let this expire, see if the map breaks, and then remake it as needed.

[2019-08-19 16:43] #2165 closed

[2019-08-20 17:47] hellafitz commented on #2133
After discussion, Mike and I agree that option 1 is preferable. We'll need to work w/ the program team to have them triage the resulting list of incomplete submissions. The example here is a team that adds a member after completing submission and that new member either hasn't completed their account, or the new member is older and triggers new submission requirements (eg. a business plan).

[2019-08-20 17:58] #1872 closed

[2019-08-20 17:58] #1965 closed

[2019-08-20 18:11] stenington opened #2167 "XSome role-specific admin filters require you to also select the role"
**Describe the bug**
This ticket is trying to describe more generically the issue behind #1978, for example.

The issue is that some filters in the admin only apply to a specific user role, like the "Onboarded student" filter only applying to students. For some such filters, if you try to use the filter without also limiting your results to the appropriate account types, you will get an error.

**

[2019-08-20 18:11] hellafitz commented on #1978
closing since we made #2167 to encompass this larger issue

[2019-08-20 18:11] #1978 closed

[2019-08-20 18:17] stenington commented on #1983
My hypothesis is that the email pasted has a space character at the end that isn't being stripped.

[2019-08-20 18:20] hellafitz commented on #2164
This is a soft but recommended deadline. We can buy ourselves an additional several months if needed but if it's not done by start of reg, we'll need to give @mjaris an export of user email addresses to import into Mandrill.

[2019-08-20 18:21] #1996 closed

[2019-08-20 18:24] #2156 closed

[2019-08-20 18:28] hellafitz commented on #2117
Rec: Staging should track w/ a separate ID. Test and Dev don't need to track.

[2019-08-20 18:50] hellafitz commented on #2145
goal: improve conversation betw Devs and Program Users. Build institutional knowledge about how to use features (and why).

[2019-08-20 18:54] hellafitz commented on #2152
There's some broader sentiment that mentors shouldn't be judges. Discuss that with program team. In the past we've needed to recruit additional judges fast and this has been one route. That decision doesn't have to hold up this fix in the meantime.

[2019-08-20 19:08] stenington commented on #2159
I'm willing to work on this type of ticket if desired, but just calling out that this is a page on the Wordpress site, not the submissions platform. The upshot is that it would probably take me a little bit of time to get oriented to the code over there, since I wasn't involved in creating it.

[2019-08-20 19:12] stenington commented on #1594
I assume when a student becomes a mentor under the same account, the mentor screens take over and the student loses access to things they saw as a student. This card I think is saying that some aspects of the stuff they saw as a student should be preserved?

[2019-08-20 19:18] #1645 closed

[2019-08-20 19:19] #1716 closed

[2019-08-20 19:20] #1694 closed

[2019-08-20 19:21] #1653 closed

[2019-08-20 19:22] #1615 closed

[2019-08-20 19:22] #1664 closed

[2019-08-20 19:53] #2123 closed

[2019-08-20 19:55] #1156 closed

[2019-08-20 19:56] #1135 closed

[2019-08-20 19:56] #1169 closed

[2019-08-20 19:58] #1171 closed

[2019-08-20 19:58] #1250 closed

[2019-08-20 19:58] #1304 closed

[2019-08-20 20:52] #1206 closed

[2019-08-20 21:16] #1362 closed

[2019-08-20 21:17] #1595 closed

[2019-08-20 21:40] hellafitz commented on #2163
Context: Mail Clients 2019 doc https://docs.google.com/document/d/1fBol5jmQVCXSvh556UFpXIDKfjhHyDQi6lCeeVuMSp4/edit

[2019-08-20 21:40] hellafitz commented on #2162
Context: Mail Clients 2019 doc https://docs.google.com/document/d/1fBol5jmQVCXSvh556UFpXIDKfjhHyDQi6lCeeVuMSp4/edit

[2019-08-21 16:44] hellafitz opened #2168 "Spike: Introduce seasonality"
Collecting accurate data for Technovation's 5-year KPIs requires tracking various users and user groups across seasons.

This ticket is to investigate the current status of "Seasonality" or what passes for it on myTG, and scope a set of backend improvements that would allow us to build user or admin-facing features on top, incorporating multiple season years. KPI tracking would be one (or really s

[2019-08-21 17:05] hellafitz opened #2169 "Allow Admins/RAs to mark a student or mentor as active/inactive"
As an Admin or RA, I want to mark that a particular student or mentor is inactive when viewing their account, so that when I export data I can easily separate them out of my active participant in the resulting spreadsheet.

- Inactive status should be visible to the Admin or RA when viewing the inactive user's account.
- Inactive user accounts should be able to be toggled back to active (or at lea

[2019-08-21 17:44] hellafitz opened #2170 "Seasonality for KPIs [20,20,1.0]"
Collecting accurate data for Technovation's 5-year KPIs requires tracking various users and user groups across seasons.

This ticket is to investigate the current status of "Seasonality" or what passes for it on CM, and scope a set of backend improvements that would allow us to build user or admin-facing features on top, incorporating multiple season years. KPI tracking would be one (or really sev

[2019-08-21 18:10] hellafitz commented on #1619
My version of this:

As an Admin or RA, I want to mark that a particular student or mentor is inactive when viewing their account, so that when I export data I can easily separate them out of my active participant in the resulting spreadsheet.

Inactive status should be visible to the Admin or RA when viewing the inactive user's account.
Inactive user accounts should be able to be toggled back to

[2019-08-21 18:11] #2169 closed

[2019-08-21 18:11] hellafitz commented on #2169
closing because it's a duplicate

[2019-08-21 18:18] #2168 closed

[2019-08-21 18:18] hellafitz commented on #2168
see #2170

[2019-08-21 18:22] hellafitz commented on #1780
- When does the platform consider the season to have started? Oct 1st?
- Reset of cookies needs to happen just before season starts.
- Part of this ticket is to spec out options

[2019-08-21 18:23] hellafitz commented on #2133
Part of this ticket involves giving the program team a heads up

[2019-08-21 18:27] #2164 closed

[2019-08-21 18:27] hellafitz commented on #2164
closing since we've split this one off

[2019-08-21 18:34] hellafitz opened #2171 "Investigate our Vue technical debt [13,20,0.65]"
We have a number of Vue-related tickets in the Icebox and Product Backlog. Look into how big the underlying problem is by familiarizing yourself with current Vue implementation.

[2019-08-21 18:35] hellafitz commented on #1908
@ophelieh is this still a problem?

[2019-08-21 18:37] hellafitz commented on #2166
- make sure it's safe to use the updated libraries
- update the libraries

[2019-08-21 18:39] hellafitz commented on #2131
Wait to see what the program team recommends in terms of video submission changes. Also informed by Vue tech debt investigation.

[2019-08-21 19:02] hellafitz commented on #2163
hope is to consolidate services and maybe save some money

[2019-08-21 19:08] stenington commented on #2171
Start by doing the Vue and VueX tutorials or understanding basic docs and then try to compare what we have against anything gleaned there.

[2019-08-22 15:18] stenington commented on #2170
I'm starting to think of this as basically a series of ETL problems (extract, transform, load) where we want to pull some key indicators out of various app databases or 3rd party platforms, transform those indicators into a more concise statement of what we care about, then load that into one central place which becomes the point of reference for tracking progress against KPIs.

A tool like keen.i

[2019-08-22 21:57] ophelieh commented on #1619
That sounds perfect!

[2019-08-28 20:59] stenington opened #2172 "Rebrand: full TG favicon, titles, and metadata [it-05 *,8,*]"
This comes from https://github.com/Iridescent-CM/curiosity-machine/issues/2286

We want to update favicons, page titles, and any open graph or other meta tags that reference Technovation Challenge or old branding graphics to their newer counterparts.

### Social share copy:

Join 20,000+ girls who are changing the world using technology.

*Characters used: 63*

![FB_Link_TG-2016-WP_JJCasas-397](ht

[2019-08-29 18:41] stenington opened #2173 "Back button doesn't always work as expected"
**Describe the bug**
The back button doesn’t always perform as expected (which is why we have back buttons on page ui)

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a student and go to the student dashboard with submission editing enabled
2. Click on 'Your app's name'
3. You should end up on `/student/team_submissions/abc-by-all-star-team?piece=app_name#/` or a similar URL
4. Hit

[2019-08-29 18:42] stenington commented on #2173
This ticket comes from #2171

[2019-08-29 18:43] stenington commented on #2171
I wrote up #2173 as discussed, and I'm considering this one complete for the time being.

[2019-08-30 17:49] hellafitz opened #2175 "Implement business plan submission messaging updates [13,2,6.5]"
Update the copy for the business plan submission section, using text from the Program team. Needs to be in place by the time we open submissions.

Program team described this change in Basecamp thread as, "FIVE page business plan (instead of behemoth thing) - We are not changing how platform works, changing messaging. This change is confirmed."

Needed input to start: new copy from the TG Program

[2019-08-30 17:52] hellafitz opened #2176 "Implement source code submission messaging updates [13,5,2.6]"
Update the messaging for what participants need to submit in terms of source code, using copy from the Program Team (will need to get that from them).

Context: we decided not to introduce actual restrictions on what file formats we accept - rather we're going to try "strong messaging."

Program team described this change in Basecamp thread as, "Source code - you must submit [still], but we are me

[2019-08-30 18:00] hellafitz opened #2177 "Spike: Implications of having just one combined submission video (goal W 9/11) [20,13,1.54]"
Submission changes need to be communicated to external partners, so before we decide on a go/no-go Program team has asked for dev to investigate the implications of combined the pitch and demo videos into one, unified video for submission.

This ticket would ideally be completed by Friday 9/6. It is the highest priority of the two potential submission changes.

Tasks:
- Investigate the platform ra

[2019-08-30 19:15] rsgonzal opened #2178 "Spike: Implication of removing code checklist and technical checklist from submission (goal W 9/11) [13,13,1.0]"
Submission changes need to be communicated to external partners, so before we decide on a go/no-go Program team has asked for dev to investigate the implications of removing the code checklist for submission.

This ticket would ideally be completed by Friday 9/6.

Tasks:

- Investigate the platform ramifications of this change
- scope the work required to implement
- communicate to Product Team th

[2019-08-30 20:15] hellafitz opened #2179 "Update content of automatic emails sent from platform [13,5,2.6]"
Email content doc (current vs updates) https://docs.google.com/document/d/1NUqsJVrKDsgZ16t5wjVBrQDD8et6j9Y3VQWrIoEpHXc/edit#

Nick is responsible for content updates. We think he has a 10/1 delivery deadline but aren't sure.

An incomplete list of emails to update
- student welcome
- mentor welcome
- (...)

Further reference: TG Launch List (see "Automatic Emails are updated" task, https://docs.go

[2019-09-03 19:01] stenington commented on #2172
@rsgonzal This is ready to talk about a test plan.

[2019-09-03 19:34] stenington commented on #2117
@rsgonzal This one is also ready to discuss QA

[2019-09-03 20:17] stenington commented on #2178
Should the title read "of removing code checklist"?

[2019-09-03 20:27] hellafitz commented on #2177
Amy Q: does this include the Judging view? A: yes - focussed on could we do it, not exactly how.

[2019-09-03 20:31] rsgonzal commented on #2178
YES. Thanks, Mike!

[2019-09-03 20:35] hellafitz commented on #2178
Amy: Judges may see something very small on the Summary page (at end, once they've already judged the submission).

UX/UI implications:
- When teams get their scores
- On public submission pages

[2019-09-03 20:37] hellafitz commented on #2178
Both Code Checklist and Technical Checklist are in scope here. Two parts:
1) Code Checklist: They tell you if they built specific things into their app (checklist, Y/N, honor-based responses)
2) Technical Checklist: Upload section where content (e.g. flowchart) is automatically checked - also shows up on Judging side of platform (confirm)

[2019-09-03 20:40] hellafitz commented on #2178
Initial Tasks
- Take some screenshots, figure out where specific elements show up
- Find in the code
- Untangle implications
- scope each
- ...

[2019-09-03 21:36] hellafitz opened #2182 "Check on TG map (around 10/1) [3,1,3]"
Follow up on #2309 by checking if the map on technovationchallenge.org is still working. Rebuild it as necessary, making a new ticket for that work if it's a significant task.

[2019-09-03 22:04] hellafitz commented on #2163
Open Q: is there a dependency on having MailChimp set up with our Campaign Monitor emails (#2162)? Or on having general MailChimp configuration in place before this can be done?

[2019-09-03 22:19] hellafitz commented on #2179
@rsgonzal to follow up with Nick before it-06 to update timeline and content list

[2019-09-03 22:36] hellafitz commented on #1707
@rsgonzal notes that we have an existing "*" UI pattern on CM that could be used as reference.

[2019-09-04 14:03] stenington commented on #2163
I don't believe there's any dependency on Mailchimp to do this ticket.

One issue that's come up is a difference in the overall pattern of sending emails that the two platforms use.

For TF, the template is stored **in Mandrill** and the app just provides a few variables to fill in on the Mandrill side. (And actually, you can use the Mailchimp WYSIWYG email builder to build the template and then e

[2019-09-04 18:44] stenington opened #2183 "X Thinkific CNAME record"
Mackenzie needs a CNAME record created in our new technovationacademy.org domain.

[2019-09-04 19:28] hellafitz commented on #2172
Test plan
- turn off the ENABLE_REBRAND config toggle. It should only turn off the banner (not the other rebrand updates)
- check the Fb preview for the site using https://developers.facebook.com/tools/debug/sharing/
- check how the site shows up in search using Mike's tool from https://github.com/Iridescent-CM/curiosity-machine/issues/2301

[2019-09-04 19:30] hellafitz opened #2184 "Rebrand: Replace "Technovation Challenge" with "Technovation Girls""
Search the code base for "Technovation Challenge", replace all instances with "Technovation Girls".

[2019-09-04 20:20] hellafitz commented on #2117
Convince ourselves Staging tracks to a separate ID (that doesn't yet exist and has to be created), AND that product tracks to the old ID after deployment.

Remaining work: set up a new ID for Staging. Configure Staging to use that ID.

QA plan:
- Open Google Analytics to Real Time dashboard for Staging. Navigate around and make sure you show up.
- Open GA to the Real Time dash for Production (afte

[2019-09-04 20:29] hellafitz commented on #2170
Something like Awardforce wouldn't automatically integrate with an events database. We could export some data and find ways to load that data into the events database. If we're ok with some manual import/data cleaning, then it's viable.

Cost estimates
Keen: $150/month for 1M events and 2000 queries (next level up is $750/month). Visualization and reporting tools built in. https://keen.io/pricing/

[2019-09-04 20:29] #2170 closed

[2019-09-04 20:45] hellafitz commented on #1780
Updated scope: Loosely spec out options and make a rec.

[2019-09-04 20:50] hellafitz commented on #2166
Context: Comp Effort 5 is for the optimistic scenario (do all the ones that are pretty easy, leave the others). If it turns out to be much harder, flag that and we'll create a new ticket.

[2019-09-04 20:54] hellafitz commented on #1707
We think this is a Vue issue and a can o' worms. Hold off for now.

[2019-09-04 21:02] hellafitz commented on #2133
The mechanism for detecting published but incomplete submissions is in scope on this ticket.

[2019-09-05 15:24] stenington commented on #2177
## Platform ramifications

The major issue is that the platform can't handle different seasons having different submission requirements, so this change will corrupt our past season submission data. I think the basic options for dealing with that are:

* leave the slightly corrupted data there and hope nobody gets confused by it
* delete old submissions but leave old team data, and hope nobody gets

[2019-09-05 17:29] stenington commented on #2177
Amy pointed out that admins do access previous year data to see if a current year submission is different or not from their previous submissions, so that would be an issue for removing old data. Just flagging, not yet deciding.

[2019-09-05 17:30] stenington commented on #2177
Also flagging that we should take a long-lived backup before making these changes.

[2019-09-05 19:42] stenington commented on #2117
Config has been set in staging and production. Staging page hits track in the correct realtime analytics section. This is done, with the caveat that we need the final sanity check after deployment.

[2019-09-05 19:45] stenington commented on #2172
@rsgonzal I noticed while QAing the other ticket that the logo is missing in staging right now. Let me fix that glaring issue before others do their poking around.

[2019-09-05 20:08] stenington commented on #2172
@rsgonzal Ok, fix is on the way to staging.

[2019-09-06 13:04] stenington commented on #2177
Also noting that RA's do have the "season" filter on both the teams and submissions sections of their admin screens, although Amy reports that many RAs just email asking for spreadsheets. But the first decision point would affect our admins **and RA accounts**.

[2019-09-06 13:43] stenington commented on #2178
## Code checklist screen
This is the stuff we'd be getting rid of, so **no more technical components section, no more flow chart upload, no more paper prototype upload**. Screenshots are uploaded outside of the checklist, so those would still be uploaded. The checklist only counts the number of them.

🚩 **Decision 1**: is that the correct scope of what to remove?

![screencapture-localhost-3000-st

[2019-09-06 15:10] stenington commented on #2163
Digging into the code a bit, I found that we use our Mailgun account for a second purpose: email verification. This ticket can still be done as defined, but afterwards we will still be using our Mailgun account for email verification so we won't yet be able to cancel that account.

[2019-09-06 16:29] stenington commented on #1780
I checked on the expiration of the auth cookie locally, and it was set to approximately 20 years from now, so I guess we allow people to stay logged in for a really long time.

I feel like the "Content & Settings" portion of the admin gives our admins the feeling that they control the season, but hidden details like this still exist that can cause problems if admin activity in the settings isn't c

[2019-09-06 20:31] stenington commented on #2177
There's interest in option 2: drop old submissions but not old teams. It's worth digging a little deeper into what this would look like.

[2019-09-06 20:32] stenington commented on #2177
Double check on the public submissions page

[2019-09-06 21:19] stenington commented on #2177
Public submission page uses the `team_submissions/published` template. Videos are not embedded on it, they're still the links that open modals.

[2019-09-06 21:20] stenington commented on #2178
First three decision points confirmed, and option 2 selected in video ticket where past submissions would be removed from the platform, but not past teams.

[2019-09-07 00:05] rsgonzal commented on #2172
- Favicon doesn't show up when logged in as admin, but there isn't one in production either
- I'm still getting the wrong preview on the Facebook debug tool, it kind of looks like it's pulling the images from the production site even though i put in staging site

[2019-09-09 13:16] stenington commented on #2177
Other tables referencing `team_submission_id`:
* `business_plans`
* `pitch_presentations`
* `screenshots`
* `submission_scores`
* `technical_checklists`

So between this ticket and #2178 we'd be talking about removing submissions (including business plans, pitch presentations, screenshots, and technical checklists) and removing past scores as well.

I think it's probably appropriate to open a new

[2019-09-09 13:19] stenington opened #2187 "Archival plan prior to submission requirement changes"
#2177 and #2178 propose changes to submission requirements that necessitate removing old submissions from the platform at this time. We know we want to keep much of that data around in some other form, so this ticket is about designing a plan for doing that.

[2019-09-09 13:26] stenington commented on #2187
Other tables referencing `team_submission_id`:
* `business_plans`
* `pitch_presentations`
* `screenshots`
* `submission_scores`
* `technical_checklists`

So between this ticket and #2178 we'd be talking about removing submissions (including business plans, pitch presentations, screenshots, and technical checklists) and removing past scores as well.

[2019-09-09 13:31] stenington commented on #2187
I think we should approach this in two ways:
1. ask Amy to collect all the spreadsheets she would want to have prior to this change, whether those are admin exports, dataclip exports, or manually generated things. Those will be the first source of historical data for this past season.
2. archive off a DB backup, along with a .env file and the current commit SHA (753ec34b0e660690df8e8395afaf96e4adf

[2019-09-09 13:33] stenington commented on #2183
She was able to create it.

[2019-09-09 13:33] #2183 closed

[2019-09-09 13:36] stenington commented on #2131
@rsgonzal @hellafitz This ticket is another that we probably want the program team to look at and prioritize. I believe it caused a snafu last year around submissions time, and we probably want to address it with the pitch video this year ahead of time.

[2019-09-09 13:42] stenington commented on #2172
@rsgonzal For the first part, I was doing a search-and-replace so if production doesn't have a favicon in the admin it makes sense that staging wouldn't either. For the second part, it looks like staging was pointing to production as the "source of truth" for stuff like the share image, so I fixed that and I think it's working now: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F

[2019-09-09 17:27] stenington commented on #1780
@rsgonzal votes for the last option, and I agree it's the easiest to take forward without addressing a slightly thornier UX question.

[2019-09-09 17:51] stenington commented on #1780
@hellafitz: Roxana and I discussed this one, her gut feeling was that I could do the last option (have everyone log back in when the season changes, but not mess with the season change mechanism for now) but that trying to open a discussion about how much power belongs in the admin vs. in the hands of developers probably wouldn't be welcomed right now, and the program team will likely lean on us f

[2019-09-09 18:41] stenington commented on #2163
So this ends up just being a config change from Mailgun to Mandrill's SMTP settings. In Mandrill, it looks like setting up a new key with send and send-raw permissions lets that key be used as the SMTP password.

[2019-09-10 00:24] rsgonzal commented on #2172
- RA page also doesn't have logo, never had i imagine
- the social icons at the bottom are wrong, is this within the scope of this ticket?

Otherwise I think the right logos are where they should be

[2019-09-10 23:05] rsgonzal commented on #2172
If so, here are the links from katy:
- twitter.com/technovation
- facebook.com/technovationglobal
- instagram.com/technovationglobal
- https://www.linkedin.com/company/technovation
- https://www.youtube.com/channel/UCvxNjrhfz_M68fwT2QcurjQ?view_as=subscriber

She also mentioned the links are wrong on the "Registration is Closed" message, but this may be out of scope? Not sure if worth changing sin

[2019-09-11 07:27] rsgonzal commented on #2131
Thanks, Mike! Will add to list.

[2019-09-11 07:50] rsgonzal opened #2189 "Update resource links on RA dashboard [8,2,4]"
Links are not up to date on RA dashboard and need to be updated prior to launch.

Ophelie is in charge of updates:

Currently linked:

- RA Resource Page
[See our complete resources for you](http://technovationchallenge.org/ra-resources/)

- RA Handbook
[Read the RA Handbook
](https://iridescentlearning.atavist.com/technovation-ra-handbook)

- FAQ & Rules
[See the FAQ & Rules
](https://iridescents

[2019-09-11 13:50] stenington commented on #2172
Yeah, let's call both places the social links need updating in scope for this ticket. We made those changes on the TF platform, it was an oversight not to include them here.

[2019-09-11 13:50] stenington commented on #2187
@rsgonzal to take the first stab at working out an archival plan with @amyiridescent

[2019-09-11 13:56] stenington commented on #2163
Suggested QA:
* do something on staging that would send an email
* confirm receipt of the email
* let me know the email address you used and the action, and I will confirm it shows up in Mandrill logs and not Mailgun logs

[2019-09-11 16:08] ophelieh commented on #2189
Hi Roxana,

Could we change things a little and have it broken down this way:

**RA Resources**
- [Curriculum](https://technovationchallenge.org/curriculum-intro/registered/)
- [RA resource page](https://technovationchallenge.org/ra-resources/)
- [RA Handbook](https://iridescentlearning.atavist.com/technovation-ra-handbook)
- Parental Consent PDF --- _this is the only one we need to update as far

[2019-09-11 17:58] rsgonzal commented on #721
from amy:
- there are some legal implications with those DM type of things in invitations. that is one of the main reasons we don't have it built out.

- we don't have the liability coverage of a google mail does. no one monitors those so it opens us up for large liability issues.

[2019-09-11 18:06] amyiridescent commented on #2187
@stenington I am working on this. I might need your help with one more dataclip. Or you can teach me how to edit it. :) I will like to modify this data clip (https://data.heroku.com/dataclips/bjbpcmaurdxgdscmxtrkqwjyudkw) to pull all judge comments for 2019 season. Can we also have an output column for "rounds"? Let me know if I am being clear. Thanks!

[2019-09-11 20:01] stenington opened #2191 "Epic: Combine demo and pitch videos into a single pitch video [20,20,1]"
This ticket comes from #2177

In scope for this ticket:
* Everywhere the demo and pitch video appear (screenshots below), we would now only show "Pitch video" which will actually be a combo of the two in terms of content.
* Remove demo video as a required field for app completion
* Rename the "demo video" element in the scoring rubric to "usability" or something similar (this change would NOT be v

[2019-09-11 20:06] stenington commented on #2177
In terms of closing out this spike, I've created #2187 and #2191 which both contain work required to make this change. We needed to quickly give a go/no-go decision on this one because the requirement changes need to be communicated in the curriculum, but the actual platform work doesn't need to be completed until submissions open in early January.

I feel this ticket is a go, with the caveat that

[2019-09-11 20:16] stenington opened #2192 "Epic: Remove the code checklist and technical checklist from submissions"
This ticket comes from #2178

In scope for this ticket:
* remove templates and code related to the Code Checklist portion of submissions, which contains a Technical Checklist
* adjust scoring to account for the removal
* remove code checklist controls/mentions from the rest of the UI (screenshots below)
* deal with any other occurrences as necessary

This ticket relies on #2187 to clear out past s

[2019-09-11 20:18] stenington commented on #2178
Similarly to #2177 this change is a go, and tickets #2187 and #2192 contain the required work to complete it. Same caveat about prioritization: once the program team commits to this work and updates the curriculum, the relevant tickets need to receive enough priority to get done in a timely fashion.

[2019-09-11 20:26] stenington commented on #2187
@amyiridescent Okay, it's now for 2019 with a "Judging Round" column.

[2019-09-11 20:28] stenington commented on #2172
Okay @rsgonzal I think all the social links have been updated

[2019-09-11 20:52] amyiridescent commented on #2187
Thanks Mike. :) Here is what I got. I think this is all we need but let me run it by team real quick.
https://docs.google.com/document/d/1AJJH9Hq7s7HRQ726w3MkK0fgYbM2_1RxdQx1kpwqIHM/edit

[2019-09-12 18:04] stenington opened #2194 "X Consider not registering new users to season after a certain point [20,13,1.54]"
**Describe the bug**
We have users who seemingly
1. created their account before the 2019 season, and
2. did not log in at any point in the 2019 season

who are now logging in (presumably interested in the 2020 season) who are getting a "Welcome to Technovation 2019" email describing a season and a set of dates to them that have already passed.

**Expected behavior** (updated 4/22/20)
I think it m

[2019-09-12 21:35] stenington opened #2195 "Mentor sign up "school or company name" field seems to bias people towards bad data [20,?,?]"
When a mentor is signing up, we ask them to provide their school or company name. The problem is that the actual form field looks like a dropdown you need to select a value from when actually it's a free text field with autocomplete. This seems to be biasing people to choose a company they don't work for instead of providing us with the name of their actual school or company.

For historical conte

[2019-09-13 13:17] stenington commented on #1739
I can confirm that it's reporting mentors matched with "current teams", meaning teams registered in the current season.

[2019-09-13 15:57] stenington commented on #2163
Ok, confirmed that emails to these addresses are in Mandrill, none in Mailgun. 👍

[2019-09-13 16:11] stenington commented on #2163
Deployment here involves creating a new API key in Mandrill, and setting `MAIL_ADDRESS`, `MAIL_PASSWORD`, and `MAIL_USER` appropriately in production. This doesn't have to be timed with a code deployment, but we may as well do them together I think.

[2019-09-13 16:11] rsgonzal commented on #2172
katy confirmed all looks good!

[2019-09-13 16:13] rsgonzal commented on #2178
@stenington have a question from the team - does that mean that the teams will no longer be uploading a flowchart or pseudocode?

[2019-09-13 16:14] stenington commented on #2178
@rsgonzal That was how I understood the discussion, yes. No flowchart, no pseudocode.

[2019-09-13 16:21] rsgonzal commented on #1780
I changed the month date to 9. the platform logged me out. I think it's doing what it's supposed to.

[2019-09-13 16:24] stenington commented on #1780
Cool! I can confirm you're marked in staging as participating in the 2020 season:
![Screen Shot 2019-09-13 at 12 24 26 PM](https://user-images.githubusercontent.com/55319/64878417-795e5180-d621-11e9-99b3-4be09b7db871.png)

[2019-09-13 16:26] rsgonzal commented on #1780
oh perfect! I asked devin to log in and i see she is marked as well.

[2019-09-13 18:34] stenington commented on #2195
Discussed with @hellafitz and @rsgonzal and we're potentially pursuing 2 paths:
1. What does it look like if we go back to having this field be free text? What sorts of accommodations do we need to normalize the (presumably) messy data we'd get?
2. What are the technical implications of trying to do a more traditional autocomplete solution?

[2019-09-13 20:47] stenington commented on #2195
Here are some examples from a rough analysis:

I pulled the school or company names from mentor profiles with no additional filtering or normalization. Below are the top three values, the count of profiles with exactly that value, and the count of other profiles that had a value that is plausibly equal to the value listed, with the caveat that not all values are necessarily equal, nor are all plau

[2019-09-16 05:49] rsgonzal opened #2196 "Remove Project Workbook from dropdown on Student Dashboard [2,1,2]"
The Project workbook is no longer being shared with students. Remove the text and link under it from the dropdown.

![uploads/50e9d763-548a-41a2-a3e8-08c06ea72827/Screen Shot 2019-09-15 at 10.47.50 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F50e9d763-548a-41a2-a3e8-08c06ea72827%2FScreen+Shot+2019-09-15+at+10.47.50+PM.png)

[2019-09-16 06:43] rsgonzal opened #2197 "Update submission deadline on Platform [3,3,1]"
Found this tag in emails and I assume it's used in other places
`<%= @season_submission_deadline %>`

Currently it is set to April 23rd, should be April 13th for current season

[2019-09-16 06:57] rsgonzal commented on #2179
Listing out the emails to update, will include the folder they're found in and the page from [this doc](https://docs.google.com/document/d/1NUqsJVrKDsgZ16t5wjVBrQDD8et6j9Y3VQWrIoEpHXc/edit#heading=h.99o8m2qtxxid) to find updated text.

Account_mailer
- [ ] Background check cleared (3)
- [ ] Confirm next steps (6)

Parent_mailer
- [ ] Consent Notice (51)
- [ ] Thank you for signing (54)

Registrati

[2019-09-16 07:00] rsgonzal opened #2198 "Update timeline URL on platform [3,2,1.5]"
Found this tag in emails and I assume it's used in other places
`@timeline_url `

Current link is broken - waiting on confirmation to where it should link to

[2019-09-16 07:17] rsgonzal opened #2199 "Copy Edits to Registration page [13,8,1.63]"
Sign up page needs edits because of outdated text: https://technovation-qa.herokuapp.com/signup#/data-use

Updates start on Page 95 of https://docs.google.com/document/d/1NUqsJVrKDsgZ16t5wjVBrQDD8et6j9Y3VQWrIoEpHXc/edit#

- [ ] Data Use terms (95)
- [ ] Birthdate
- System should be calculating World Pitch age for August 1, 2020
- Date edits for both division explanations --> August 1, 2020

![Scre

[2019-09-16 07:50] rsgonzal opened #2200 "Update Honor Code on student dashboard [2,2,1]"
Edits to the honor code which shows up right before girls start submitting on the platform
https://docs.google.com/document/d/1NUqsJVrKDsgZ16t5wjVBrQDD8et6j9Y3VQWrIoEpHXc/edit#heading=h.d9r2f2l02xjl
Page 104

[2019-09-16 08:02] rsgonzal opened #2201 "Update template of automatic emails [8,3,2.67]"
Email templates need to be updated to reflect rebranding.
Header replacement: https://www.dropbox.com/home/Distribution/KIT%20Brand%20Assets/graphics%20kit/headers/email%20header?preview=TG-EmailHeader-4.png
(using this logo + header image, so will change from old format)

Button color:
Green
PMS 361C
C 77 M 0 Y 100 K 0
R 67 G 176 B 42

@stenington please let me know if you can open the image

[2019-09-16 08:10] rsgonzal opened #2202 "Update parent consent form [8,3,2.67]"
Parent consent needs to be updated in a few places. Updated text can be found: https://docs.google.com/document/d/1c_H7TJn_KSgU9v5VaioXOS_VcTwNYHsxxz-tvj1slUs/edit

- Student dashboard: https://technovation-qa.herokuapp.com/student/dashboard#/parental-consent
Step 1 links to a download
replace link with: https://iridescentsupport.zendesk.com/hc/en-us/article_attachments/360046318154/2020_Technovat

[2019-09-16 08:16] rsgonzal opened #2203 "Update Volunteer Agreement on Mentor Dashboard [8,3,2.67]"
Updated text can be found here: https://docs.google.com/document/d/1wersU4YbM7NvHU2IqkSfJyYZOxPb0b2K7S0KZVBSono/edit#heading=h.1not9tfvzdli

Linked from this page:https://technovation-qa.herokuapp.com/mentor/dashboard#/consent-waiver

Need to confirm with Amy/Devin it's ready

[2019-09-16 08:41] rsgonzal commented on #2189
Hey Ophelie! Thanks for the links - Is this what you would like it to look like?

![uploads/f33a6437-d599-4f3f-877b-b2703537cd29/Screen Shot 2019-09-16 at 1.41.15 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ff33a6437-d599-4f3f-877b-b2703537cd29%2FScreen+Shot+2019-09-16+at+1.41.15+AM.png)

[2019-09-16 14:00] ophelieh commented on #2189
Hi Roxana,

Looks great! For the top portion, we could even just call it "Resources". Thanks!

[2019-09-17 15:19] stenington commented on #2197
Looks like this date gets hardcoded as a string. The quickest option is to just update that string, but with a little more effort we could put ourselves in a better position to update this for future seasons without a code deployment.

[2019-09-17 18:52] rsgonzal opened #2204 "Update mentor orientation URL [5,2,2.5]"
Found this tag in emails and I assume it's used in other places
`@orientation_url`

Current link is broken, replace with: https://infograph.venngage.com/pl/6bzOhyG16fc

[2019-09-17 19:03] stenington commented on #721
A compromise would be to provide a list of canned responses or reasons the user can choose from when e.g. declining an invitation to mentor a team. That removes the risk of inappropriate messages but gives people some basic way to indicate the intention behind their action.

[2019-09-17 19:04] stenington commented on #2107
The current recommendation is that RAs should never be judges, and we would enforce that on the platform and message it out to participants.

[2019-09-17 20:43] rsgonzal commented on #2198
Timeline URL: https://infograph.venngage.com/ps/bAAeKGLlsk/2019-technovation-important-dates-and-milestones

[2019-09-17 21:01] rsgonzal commented on #2189
Updated image
![uploads/a7bfdb2e-8713-4054-9829-12694fee8831/Screen Shot 2019-09-17 at 1.57.29 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa7bfdb2e-8713-4054-9829-12694fee8831%2FScreen+Shot+2019-09-17+at+1.57.29+PM.png)

Links:
- Curriculum https://technovationchallenge.org/curriculum-intro/registered/
- RA resource page https://technovationchallenge.org/ra-resources/
- R

[2019-09-17 21:03] rsgonzal commented on #2203
Confirmed this is ready

[2019-09-17 22:11] rsgonzal opened #2205 "Update Mentor training on dashboard [8,3,2.67]"
The mentor training on the mentor dashboard is outdated. Embedded link needs to be replaced.

Location: https://technovation-qa.herokuapp.com/mentor/dashboard#/mentor-training

New powerpoint link: MISSING

[2019-09-17 22:18] rsgonzal opened #2206 "Remove or hide “switch to judge profile” button [8,3,2.67]"
Currently, mentors can “switch to judge profile.” Since judging isn't open yet, there is some information there that needs to be updated. Doesn't make a lot of sense that they can switch to a judge profile when registration for judges isn't open.

CET would like to remove or hide this option for the time being.

![uploads/21c68e38-a835-4229-8b61-c49485810485/Screen Shot 2019-09-17 at 3.16.06 PM.pn

[2019-09-17 22:35] rsgonzal opened #2207 "Add a static resource page to mentor dashboard"
CET wants a static resource page on mentor dashboard. Need more details before we can move forward.

Content is still being built out

[2019-09-17 23:12] rsgonzal commented on #2195
Asked Amy about the open field option:
- When we had an open field for free text, people had a lot of typos so it was hard to clean up the data. But that year it was not a required field so that might have contributed to bad data
- It got a little confusing with things like Google and "Google India".
- But right now, it feels like a free text field might just be better

She also offered up another

[2019-09-17 23:16] rsgonzal commented on #1954
This is a filtering issue on the admin

[2019-09-18 03:48] hellafitz commented on #2182
map is working as of 9/17

[2019-09-18 04:06] hellafitz commented on #2199
@rsgonzal what's blocked on this?

[2019-09-18 04:13] hellafitz commented on #2202
@rsgonzal please check before planning, if possible

[2019-09-18 04:19] hellafitz commented on #2189
Capitalization should be as consistent as possible. For example, in Resources, it should be "RA Resource Page"

[2019-09-18 05:33] rsgonzal commented on #2189
Thanks, Matt! Updated the text above.

The tab name should Probably be capitalized as well

[2019-09-18 05:42] rsgonzal commented on #2199
I don't think it's blocked, but I did have the wrong screenshot in there.

[2019-09-18 17:52] stenington opened #2208 "Change "School or company name" field back to a free text field [13,5,2.6]"
Coming from #2195, we want to remove the filterable dropdown option that doesn't seem to be working well, and change the "School or company name" field during sign up to a free text field. It should be a required field as well, if it isn't already.

[2019-09-18 17:53] stenington opened #2209 "Add auto-complete to "School or company name" field"
Coming from #2195 and after #2208, we could add auto-complete to the "School or company name" field asked during sign up to help nudge people towards pre-existing school or company name options.

[2019-09-18 17:57] #2195 closed

[2019-09-18 17:57] hellafitz commented on #2195
created #2208 for plain text solution and #2209 for autocomplete option. closing this ticket out.

[2019-09-18 18:30] rsgonzal commented on #2202
This one is ready

[2019-09-18 18:32] stenington commented on #2204
After discussion with @rsgonzal it's probably more useful to have links like this directly in the template rather than pulled into this kind of variable.

[2019-09-18 18:43] hellafitz commented on #2197
do this as config (reassess for full admin interface control down the road)

[2019-09-18 18:56] hellafitz commented on #2201
@rsgonzal to ask Audra for a header image without the logo on it

[2019-09-18 19:04] hellafitz commented on #2209
step 1: find an example of a library that works well enough
step 2: figure out what it'd take to integrate it
step 3: write a ticket for implementation and link it here

[2019-09-18 19:09] hellafitz commented on #2206
deliverable: independent piece of config to show/hide the option

[2019-09-18 19:12] hellafitz commented on #2205
@rsgonzal make sure the final slide (with a link that marks the user as having completed the training) is preserved in the new version

[2019-09-18 22:54] mdancho commented on #2205
Hi guys! Here is the link to the powerpoint, we will be making edits until monday but the link shouldnt change. Thanks for noting that ^^ @hellafitz, the last slide needs the same link that they can click to mark the user has completed the training.

https://docs.google.com/presentation/d/1C4rE7FMFgWShx3vzWOhuBPwl-MHoO6QjRGPyAdyi5n4/edit?usp=sharing

[2019-09-19 14:50] stenington commented on #2198
Note for later: this link shows up in the mentor welcome and student welcome emails.

[2019-09-19 14:52] stenington commented on #2204
Note for later: this shows up in the mentor welcome

[2019-09-19 15:55] stenington commented on #2189
![Screen Shot 2019-09-19 at 11 51 24 AM](https://user-images.githubusercontent.com/55319/65260331-39411800-dad4-11e9-9a9f-2ace8b496e3a.png)

Is this acceptable for the list styling? I would rather reuse existing styles than create a new style definition for this one place, and this is what a bare `<ul>` looks like.

[2019-09-19 18:01] stenington commented on #2198
QA:

1. sign up as a mentor
2. receive welcome email
3. confirm the timeline link is correct

1. sign up as a student
2. receive welcome email
3. confirm the timeline link is correct

[2019-09-19 18:04] stenington commented on #2204
QA:

1. sign up as a mentor
2. receive welcome email
3. confirm the orientation link is correct

[2019-09-19 18:59] stenington commented on #2196
QA:

1. log in as a student
2. confirm that the "More information" dropdown does not contain the project workbook header and link

[2019-09-19 19:02] stenington commented on #2189
QA:

1. log in as an RA
2. go to the *RA resources* tab
3. confirm that the page styling works for you
4. confirm that each link and link text is correct

[2019-09-19 19:09] stenington commented on #2197
The main change to QA is:

1. register as a student
2. receive the welcome email
3. confirm that the season submission deadline is correct, given how staging is configured

The submission deadline shows up in a variety of other places as well, and those places should also be showing the configured date correctly. I don't know if QAing those places is in or out of scope on this ticket though. It se

[2019-09-19 20:48] stenington commented on #2206
QA:

1. log in as a mentor
2. confirm that the "Switch to judge mode" link **is not** shown
3. set `ENABLE_SWITCH_TO_JUDGE=1` in the environment
4. after the server restarts, refresh the mentor dashboard
5. confirm that the "Switch to judge mode" link **is** shown

[2019-09-19 22:49] rsgonzal commented on #2206
@mdancho could you test this one by Wednesday, please?

[2019-09-19 22:50] rsgonzal commented on #2189
@ophelieh would you mind testing this one by Wednesday to see if everyone looks and works ok?

[2019-09-19 22:51] rsgonzal commented on #2196
@devincdillon this is ready to be tested, could you please take a look? thanks!

[2019-09-19 22:52] rsgonzal commented on #2197
It would probably be a good idea to double check those places. I could open submissions in staging so it shows

[2019-09-19 22:58] rsgonzal commented on #2201
@stenington Can we try this for the header? https://www.dropbox.com/sh/pj3oqr392c7ocdw/AACtJqJqG52Rq8nRl5jYuCdta/AutoResponse?dl=0&preview=Stripes-305x165-Green.png&subfolder_nav_tracking=1

[2019-09-20 13:45] stenington commented on #2197
Ok, so here are a handful of places I can see it showing up:

* scoring sidebar
<img width="961" alt="Screen Shot 2019-09-20 at 9 43 40 AM" src="https://user-images.githubusercontent.com/55319/65331676-3bb27900-db8b-11e9-83e6-c66304a79487.png">
* published app page
<img width="961" alt="Screen Shot 2019-09-20 at 9 38 01 AM" src="https://user-images.githubusercontent.com/55319/65331677-3bb27900-db8

[2019-09-20 14:02] stenington commented on #2201
That should work.

[2019-09-20 15:07] stenington commented on #2201
Rough plan for QA would be to do things on the site that get several different kinds of email sent (password reset, welcome email, parental consent, etc.) and make sure the header, logo, and button color looks good given branding guidelines.

[2019-09-20 15:58] stenington commented on #2202
@rsgonzal I don't understand your comment about not including the signature lines for the version the parent signs. Can you clarify what you mean?

[2019-09-20 16:00] stenington commented on #2179
QA:

For each email listed above, do whatever causes it to be sent, then confirm the copy in the email. I did not click resolve on the suggested changes in the doc to make it easier to see the changes that were requested. There are also some places in that doc where I left a comment asking if "Technovation" should be "Technovation Girls" in the copy, so make sure to confirm whatever version is in

[2019-09-20 16:27] stenington commented on #2202
The pdf provided has two item 5's, which I assume we should fix?

Also, I asked a question in the doc that I'll re-ask here: The code for the parental consent page uses the email defined as `HELP_EMAIL` for the entire site, which on production is currently help@technovationchallenge.org Do you want the entire site to use support@technovationchallenge.org wherever HELP_EMAIL is referenced, or do yo

[2019-09-20 16:27] stenington commented on #2202
@rsgonzal Meant to tag you in the previous comment

[2019-09-20 17:48] ophelieh commented on #2189
Looks great and all works except the link to the consent form - https://iridescentsupport.zendesk.com/hc/en-us/article_attachments/360018888234/2019_Technovation_Parent_Consent_Form.pdf

[2019-09-20 18:05] stenington commented on #2189
Oh, sorry about that @ophelieh! Forgot to update that config. It should be correct now.

[2019-09-20 18:09] stenington commented on #2202
This is what the bottom of the page looks like when the parents see it. It doesn't have the same signature lines, but it has form fields for electronically signing:

![Screen Shot 2019-09-20 at 2 07 25 PM](https://user-images.githubusercontent.com/55319/65348887-2bf95b80-dbb0-11e9-8106-028d0a45de9f.png)

[2019-09-20 18:38] stenington commented on #2202
It looks like help@technovationchallenge.org is an alias of support@technovationchallenge.org in that Google Apps account, so they should be interchangeable as far as I can tell. So my plan unless I hear otherwise here will be to update the config such that `HELP_EMAIL=support@technovationchallenge.org` for production and staging.

[2019-09-20 18:40] rsgonzal commented on #2202
Yes! I think this is a great solution!

[2019-09-20 19:04] rsgonzal commented on #2189
here is the new PDF link: https://iridescentsupport.zendesk.com/hc/article_attachments/360046540354/2020_Technovation_Parent_Consent_Form.pdf

[2019-09-20 19:06] stenington commented on #2202
QA:

1. sign up as a student
2. confirm the downloadable parental consent is correct
3. enter a parent email address that you're able to check
4. receive the email and follow the link
5. confirm that the parental consent signing page is correct

[2019-09-20 19:06] rsgonzal commented on #2202
Here is the updated PDF: https://iridescentsupport.zendesk.com/hc/article_attachments/360046540354/2020_Technovation_Parent_Consent_Form.pdf

[2019-09-20 19:14] stenington commented on #2189
Ok, updated.

[2019-09-20 19:14] stenington commented on #2202
Updated on staging.

[2019-09-20 19:25] devincdillon commented on #2196
Confirming that I went to staging site, logged in as student, and could not see the curriculum workbook :)

[2019-09-23 16:13] rsgonzal commented on #2189
link has been updated!

[2019-09-23 16:18] rsgonzal commented on #2201
This is the parent email, I think the one you get after you're done signing. No logo.

Also, could we update the little circle image?
![uploads/32ada0ee-f40c-4fef-8c35-adec3df0e304/Screen Shot 2019-09-23 at 9.16.26 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F32ada0ee-f40c-4fef-8c35-adec3df0e304%2FScreen+Shot+2019-09-23+at+9.16.26+AM.png)

[2019-09-23 16:21] rsgonzal commented on #2201
no logo on student welcome email either

[2019-09-23 16:34] ophelieh commented on #2189
Perfect! :) Thank you guys. :)

[2019-09-23 17:01] rsgonzal commented on #2197
In the email, this is set to April 13th, 2019
Wrong year! This can be changed through config?

[2019-09-23 17:25] stenington commented on #2197
Also just noticed that the date on the judging screen might not make sense.

[2019-09-23 17:36] stenington commented on #2201
Ok, looks like google proxies images and won't proxy SVGs, which is what the new logo is. I'll convert it to something similar to the old one.

For the circle image, it looks like there's an actual account in our technovationchallenge.org Google Apps account for mailer, and that's the profile image. I'm guessing that's what we would change to try to get the image on the emails changed.

[2019-09-23 17:56] stenington commented on #2197
@rsgonzal Okay, false alarm on that judge page. It is pulling in a different date that I just happened to set to the same date as the submission deadline in my environment. 🤦‍♂ I removed that screenshot from the previous comment.

[2019-09-23 18:00] mdancho commented on #2206
Hi! I logged in on the platform as a mentor and still see switch to judge mode on the live site.
<img width="1338" alt="Screen Shot 2019-09-23 at 10 56 03 AM" src="https://user-images.githubusercontent.com/52216992/65450111-453d1a80-ddf1-11e9-93ae-1ad1ca5b2375.png">

[2019-09-23 18:09] mdancho commented on #2206
On QA site I can confirm "switch to judge mode" is not shown. I am not sure how to enable switch to judge mode in the environment.

[2019-09-23 18:29] mdancho commented on #2204
The orientation link is correct

[2019-09-23 18:33] mdancho commented on #2198
The mentor timeline link is correct

[2019-09-23 18:34] nickiredescent commented on #2198
Can confirm that both the Mentor and Student welcome emails have linked to the correct timeline.

[2019-09-23 18:55] stenington commented on #2201
@rsgonzal The logo should show up now if you have a new email sent.

[2019-09-23 19:25] rsgonzal commented on #2206
@mdancho if you refresh now, you should be able to see the switch button :)

[2019-09-23 19:27] stenington commented on #2197
And I did add config for the submission deadline year, which is set on staging to 2020 (`DATES_SUBMISSION_DEADLINE_YEAR`), so the email should have the correct year now @rsgonzal

[2019-09-23 19:54] stenington commented on #2199
I've made it so that Aug 1 cutoff date just has to be updated in one place each year, but it still does have to be updated in the codebase for now.

I wanted to have it set as config and passed from the backend to the frontend, but I'm not well-versed enough in how the Vue apps initialize themselves to do it within the effort estimation I made here. I'll open a new ticket for that, if we ever want

[2019-09-23 19:56] mdancho commented on #2206
Yep I see it :)
ᐧ

On Mon, Sep 23, 2019 at 12:25 PM Roxana Gonzalez <notifications@github.com>
wrote:

--

**Read a special announcement below my signature line.**

Mackenzie Dancho

Corporate Volunteer Engagement Manager

Technovation <http://technovation.org>

     Learn how you <https://www.technovation.org/> can empower girls &
families to be leaders and problem solvers.

Special Announcement:

[2019-09-23 20:01] stenington opened #2222 "Make age calculation cutoff configurable"
When registering, we asks users their birth date and then show them their current age and the age they will be during World Pitch, which is part of the official division calculation. This cutoff date is [hard-coded](https://github.com/Iridescent-CM/technovation-app/blob/22b6f221487f02fe890932d94690b40b6ed8afa2/app/javascript/registration/store/state.js#L16) into the frontend, but it would be nice

[2019-09-23 20:03] stenington commented on #2222
This comes from #2199

[2019-09-23 20:04] stenington commented on #2199
#2222 written for the optional config follow up work

[2019-09-23 21:06] stenington commented on #2208
@rsgonzal if we're going to change the help text associated with the field, we can do that in this ticket.

[2019-09-23 22:23] rsgonzal commented on #2201
Looks good!

![uploads/1ae28d10-9690-4e12-bbaf-5ea8e46ffc90/Screen Shot 2019-09-23 at 3.21.11 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F1ae28d10-9690-4e12-bbaf-5ea8e46ffc90%2FScreen+Shot+2019-09-23+at+3.21.11+PM.png)

Question, this is probably not related this, but I noticed I got two emails. This is the mentor requesting to be added to the team, do you know why that c

[2019-09-23 22:29] mdancho commented on #2201
Hm I only recall there being one message for this.
ᐧ

On Mon, Sep 23, 2019 at 3:23 PM Roxana Gonzalez <notifications@github.com>
wrote:

--

**Read a special announcement below my signature line.**

Mackenzie Dancho

Corporate Volunteer Engagement Manager

Technovation <http://technovation.org>

     Learn how you <https://www.technovation.org/> can empower girls &
families to be leaders and probl

[2019-09-23 22:50] rsgonzal commented on #2201
It's the same one! Just sending twice. It's more a question for Mike to see what's going on :)

my email was: roxana+11@technovation.org

[2019-09-23 23:15] rsgonzal commented on #2197
All places look good now!

[2019-09-24 15:30] stenington commented on #2201
@rsgonzal Can you give me more details? Did you get two emails, both with the same "Roxana has asked to join your Technovation team as a mentor" message, both delivered to roxana+11@technovation.org?

[2019-09-24 19:42] stenington commented on #2208
Once this goes to staging, my recommended QA would be:

For each of the following ways to sign up,
1. sign up
2. confirm that the school/company name field is a plain text box
3. make note of the school or company name you enter.

Do this for the following ways to sign up:
* Mentor through the "Sign up" button
* Student through the "Sign up" button
* Mentor from an admin invite
* Student from an a

[2019-09-25 06:42] rsgonzal commented on #2201
this is done minus the double emails, should i open a new ticket?

[2019-09-25 06:44] rsgonzal commented on #2208
Help text update from @mdancho : Please write your school or company name in the field below.

[2019-09-25 06:45] rsgonzal commented on #2208
@mdancho would you be able to QA this by Friday? Let me know if you have any questions!

[2019-09-25 06:51] rsgonzal commented on #2199
Recommended QA:
- create a new account
- read through the Data Use terms looking for typos/make sure appropriate changes were made
- try out some different birthdates
- Make sure it is calculating age correctly for 2020 and says 2020
- make sure division definitions have the correct date

@nickiredescent do you have some time to QA this by Friday?

I did a first pass and looks good to me.

[2019-09-25 14:16] stenington commented on #2201
Yeah I think a new ticket sounds good @rsgonzal

[2019-09-25 20:42] stenington commented on #2208
@rsgonzal I'm second-guessing the help text.

Firstly, it looks like there are 3 different ways the same field is labelled:
1. **Organization/company name** for RAs
2. **School or company name** for Mentors or Judges
3. **School name** for Students

It's easy enough to adapt the help text for each, e.g. "Please write your organization/company name in the field below." so that would be one option.

[2019-09-25 23:02] rsgonzal commented on #2208
You're right, considering what it says I don't think it's necessary. Let's do without.

[2019-09-25 23:07] rsgonzal opened #2224 "Double emails being sent when mentor requests to join team [8,8,1]"
Two emails are being sent out when a mentor requests to join a team.

Both emails are from the mandrill app

[2019-09-26 10:00] rsgonzal opened #2225 "Spike: Implication of reducing points in judging rubric [13,8,1.63]"
Judging criteria need to be communicated to external partners, so before we decide on a go/no-go Program team has asked for dev to investigate the implications of reducing and re-distributing points earned during judging

Tasks:
- Investigate the platform ramifications of this change
- scope the work required to implement
- communicate to Product Team the findings, so Devin can be informed asap

S

[2019-09-26 10:30] rsgonzal opened #2226 "Spike: Implement Branding Changes to TC.org"
Needs more details

[2019-09-26 10:32] rsgonzal commented on #2205
Hey @mdancho i think you need to change the sharing settings on this to make it public. Opened it up in incognito and it's asking me to sign in.

[2019-09-26 10:43] rsgonzal opened #2227 "Add location to registration page for RAs [5,5,1]"
It is not intuitive for RAs to fill out their location after they complete the registration process. Last season, a few RAs were concerned about not seeing any participants and it was because their location was not entered.

They do not immediately see it in their dashboard and have to go to "My Account"
![uploads/740f0729-fbb8-401a-a43f-b2af6352ac92/Screen Shot 2019-09-26 at 3.40.48 AM.png](https

[2019-09-26 15:28] stenington commented on #2208
Okay, so then this is ready for QA. Pulling down the recommended steps from the comments above:

Recommended QA would be:

For each of the following ways to sign up,
1. sign up
2. confirm that the school/company name field is a plain text box
3. make note of the school or company name you enter.

Do this for the following ways to sign up:
* Mentor through the "Sign up" button
* Student through the

[2019-09-26 15:34] stenington opened #2228 "Images from icongr.am are broken"
**Describe the bug**
We have some fontawesome things pulled directly from icongr.am in the UI. Those images are broken at the moment.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a mentor
2. View the mentor dashboard

**Screenshots**
![screen_shot_2019-09-24_at_2 37 45_pm](https://user-images.githubusercontent.com/55319/65702719-7d429880-e051-11e9-9527-b5e4194959c3.png)

[2019-09-26 20:25] stenington commented on #2162
Coordination doc here: https://docs.google.com/document/d/1rPZItMmzdI1_nHjYH8zQUY3T30oSFKSfvkAQ5TcaIJk/edit#

[2019-09-26 20:28] stenington commented on #2162
The marketing team will handle closing down the Campaign Monitor account when they're done with the data there, our job is to flag when the platforms are all off of that API.

The timing is working out such that we don't need to import anything from Campaign Monitor to Mailchimp, we can set up brand new 2020 audiences there.

As for GDPR, our consent forms include email opt-in, so if possible we s

[2019-09-27 14:50] stenington commented on #2162
I'm having a hard time not introducing my own scope-creep here. A couple things I'm noticing and tempted to fix:

1. CreateSend (the Campaign Monitor API library) isn't well isolated. I'm tempted to introduce a `MailingList` abstraction that captures the interactions with the system (and allows e.g. custom variables to be expressed more naturally) and then translates that to API calls. That module

[2019-09-27 18:13] hellafitz commented on #1619
@rsgonzal will prototype what this looks like during it-07

[2019-09-27 18:27] stenington commented on #2227
The best way to handle this ticket is probably to present RAs with the same location interrupt screen that judges and mentors get, which will ensure they've inputted their location before they're able to use the site. Another ticket should be opened outlining the difference between the sign up wizard and the invitation-based signup pages, and a suggestion for a path forward there.

[2019-09-27 18:29] hellafitz commented on #2205
Link is now accessible

[2019-09-27 18:34] stenington commented on #2205
The final button should link to https://my.technovationchallenge.org/mentor/training_completion

[2019-09-27 20:07] hellafitz commented on #2205
@stenington, Mac says that, according to Amy, once the PPT is "published" and then embedded into the platform, we can give her the click link that she can add to the last slide. Does that sound right?

[2019-09-27 20:14] stenington commented on #2162
So the way forward here is to try to
1. do a fairly straight swap of the API libraries
2. monitor for how error-prone the mailing list sign up is in practice, and
3. write tickets for the more detailed follow ups

For a swap of API libraries, I would expect the following things to be true:
* As a [Student/Mentor/Judge/RA], when I am registered for the season, I'm also signed up for the appropriate

[2019-09-27 20:16] nickiredescent commented on #2199
The Data Use page and Birthdate calculations look good. Nothing seems out of place. Thanks!

[2019-09-27 20:42] mdancho commented on #2179
All of these 6 are working perfectly :+1: Text for mentor facing parts are all good to go.

[2019-09-27 20:58] mdancho commented on #2208
Tested all accounts and they all work! However, most answers are categorized under the company name unless the word school/academy appears in the school title.
![uploads/e79b2045-7705-4306-a9c9-08a3ffb358fe/Screen Shot 2019-09-27 at 1.58.02 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fe79b2045-7705-4306-a9c9-08a3ffb358fe%2FScreen+Shot+2019-09-27+at+1.58.02+PM.png)

[2019-09-27 21:11] stenington commented on #2208
Yeah I believe that `School name` only has a value for a student, and `Company name` holds the school or company name for all other user types.

[2019-09-27 21:17] nickiredescent commented on #2179
A couple of changes noted in the doc. Missed a few "Technovations" and didn't add the "Girls"

**Other Notes:**
Consent Waiver for mentors is out of date (references Iridescent).
Associated URL: [https://technovation-qa.herokuapp.com/mentor/dashboard#/consent-waiver]( https://technovation-qa.herokuapp.com/mentor/dashboard#/consent-waiver
)

[2019-09-27 22:00] stenington commented on #2228
Looks like icongr.am had a pretty major outage, but it's back. Uptime tracking here: https://stats.uptimerobot.com/3wjjAhg5z

Might be wise to host our own fontawesome/images for the checklist but doesn't seem urgent. :crossed_fingers:

[2019-09-27 22:00] #2228 closed

[2019-09-27 22:13] hellafitz commented on #2191
QA may be time-intensive due to the number of user types whose experience needs to be reviewed. Potential tactics: prioritize w/ Devin and Amy, set calendar events, invite more QA people to review in parallel as different user types.

[2019-09-27 22:21] hellafitz commented on #2226
@rsgonzal please update ticket w/ email info from Kristen and co.

[2019-09-27 22:32] #1587 closed

[2019-09-30 17:57] hellafitz opened #2229 "Misc ‘New Season’ Bug Support [8,13,0.62]"
TG Platform will consider 10/1 the new season so weird bugs may show up 10/1-2. This ticket is for tracking that activity. Associated tickets may be split off for particular pieces of work.

[2019-09-30 17:58] hellafitz opened #2230 "Misc ‘Reg Opening’ Bug Support [13,8,1.63]"
TG registration opens on 10/10 and we expect misc bugs to get reported once that happens. This ticket is for tracking that activity. Associated tickets may be split off for particular pieces of work.

Note: Effort estimate doesn't include fixing bigger bugs, and a new ticket will be created for support that happens after it-07.

[2019-09-30 18:16] hellafitz commented on #2229
Work consists of monitoring and triaging related bugs from 10/2-10/9.

Related bugs may include:
- dates that don't roll over
- admins reporting that they can't access past data now that the new season has started
- new season registration workflow errors (inc. people signing up to Campaign Monitor instead of MailChimp since the transition won't have been completed 100%)

[2019-09-30 18:19] hellafitz commented on #2230
Related to #2229 (which covers bug support before 10/10 reg opening).

This is where we'll start to hear complaints from users. Some will be actual bugs, some won't (e.g. unclear instructions, user error, etc).

Bugs might include:
- accounts not created correctly
- inability to login to existing accounts
- slow site performance due to traffic spikes

[2019-09-30 18:33] hellafitz commented on #2225
This can be done by 10/15, not required by 10/10

[2019-09-30 18:42] hellafitz commented on #2226
Mike hasn't worked on the code of this platform before so there is some amount of startup costs / extra decision-making.

[2019-09-30 19:51] stenington commented on #2179
Thanks @nickiredescent! The consent waiver will be fixed in #2203. I'll fix the additional spots you marked and get that on staging soon.

[2019-10-01 18:35] nickiredescent commented on #2179
thanks for making the changes. I've triggered those emails again and they all look good.

[2019-10-01 18:53] rsgonzal commented on #2179
this one looks ready to go!

[2019-10-01 20:16] stenington commented on #2229
First bug: tests started failing because they're looking for 2020 certificate pdf templates that don't exist.

[2019-10-01 20:47] stenington commented on #2229
Also old 2019 dates in config now cause test failures.

[2019-10-01 20:53] stenington commented on #2229
Collecting full and/or quick fixes in PR #2233

[2019-10-02 15:23] stenington commented on #2162
Putting this in test, but I plan to do a round of my own testing first before we assign it out for QA.

[2019-10-02 16:04] stenington opened #2234 "Rebrand: Error pages out of date [8,8,1.0]"
**Describe the bug**
The "Our servers are very busy right now" error page sends people to

<ul>
        <li><a href="http://www.technovationchallenge.org/curriculum/madewithcodeprimer">Read the Technovation Challenge Primer</a> (if you came from Made With Code)</li>
        <li><a href="http://www.technovationchallenge.org/curriculum">2017 Technovation Curriculum</a></li>
      </ul>

The 500 page

[2019-10-02 18:15] stenington commented on #2093
On top of this, it looks like we should remove the unique index on email with `WHERE deleted_at IS NOT NULL`, as that doesn't let us delete a user if an already deleted user had that email address, which doesn't make sense to me.

[2019-10-02 18:54] stenington commented on #2162
## Potential QA checklist:

### Signed up when registering
- [ ] As a Student, when I am registered for the season, I'm also signed up for the appropriate mailing list.
- [ ] As a Mentor, when I am registered for the season, I'm also signed up for the appropriate mailing list.
- [ ] As a Judge, when I am registered for the season, I'm also signed up for the appropriate mailing list.

### Parents c

[2019-10-02 18:56] stenington commented on #2162
I worked through the 6 items from the QA list above pertaining to students or parents, and it looked like they were working. I think I'm ready to hand this over to the team for more complete QA.

[2019-10-02 18:58] stenington commented on #2162
@rsgonzal see above, I'm ready for this to get looked at by other people, but be aware there's a lot to keep straight!

[2019-10-02 19:13] stenington commented on #2205
@mdancho Looks like that link doesn't work for embedding. I believe these are the steps to publish it for embedding:
1. Open a file in Google Docs, Sheets, or Slides.
2. At the top, click File and then Publish to the web.
3. In the window that appears, click Embed.
4. Choose a publishing option:
    * Spreadsheet: Choose to publish the entire spreadsheet or individual sheets.
    * Presentation: C

[2019-10-02 19:25] mdancho commented on #2205
Thanks Mike. I've published the presentation, this is the link from the textbox: <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQXVdICLjRstNdDdl-UXdpYIhw3zlNfaWgUFEeKx2B3NuR7aVWXpFKNwEINOF7boIdXLhnyzZ8esbPA/embed?start=true&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

[2019-10-02 23:34] rsgonzal commented on #2205
@stenington is this meant to be in test? still seeing old training.

[2019-10-02 23:50] rsgonzal commented on #2182
![uploads/1f8ce189-a2e1-46f2-896f-80deff16d842/Screen Shot 2019-10-02 at 4.49.53 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F1f8ce189-a2e1-46f2-896f-80deff16d842%2FScreen+Shot+2019-10-02+at+4.49.53+PM.png)

If we're talking about this map, it seems to be working!

[2019-10-02 23:53] rsgonzal commented on #2182
![uploads/74531c0c-fbe4-4f08-9179-5aee8949c858/Screen Shot 2019-10-02 at 4.52.29 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F74531c0c-fbe4-4f08-9179-5aee8949c858%2FScreen+Shot+2019-10-02+at+4.52.29+PM.png)
This map is also working.

[2019-10-03 01:03] stenington commented on #2205
Looks like I got ahead of myself, tests failed and it hadn’t hit staging yet.

[2019-10-03 15:29] stenington commented on #2182
@rsgonzal cool, since we could never find an owner for the account that was going to be closed, we were guessing at what might break. I'd say this ticket is done.

[2019-10-03 15:34] stenington commented on #2205
@rsgonzal fixed

[2019-10-03 16:42] rsgonzal commented on #2162
As admin, staging isn't letting us change the email address for mentors. We're clicking save changes but it doesn't record. Stays on the same screen. When changing student addresses it goes back to the previous page and is recorded

[2019-10-03 16:53] rsgonzal commented on #2229
@stenington awkward date switch and season not open yet
![image (8)](https://user-images.githubusercontent.com/22801026/66147422-aae49000-e5c3-11e9-874e-c3830e9f2344.png)

[2019-10-03 17:07] stenington opened #2238 "Rebrand: Error page has old branding [3,3,1]"
**Describe the bug**
The error pages for the app are hosted separately and so the branding has not been updated.

**Screenshots**
![Screen Shot 2019-10-03 at 1 04 33 PM](https://user-images.githubusercontent.com/55319/66148338-aaa5be00-e5de-11e9-8a9f-ef27bcf68efe.png)

[2019-10-03 18:10] stenington commented on #2229
From Devin:

    What I'm potentially concerned about is that I had the "fully onboarded" feature on, but then I looked into a few of the student profiles and they did not have their consents signed (screenshot attached)

[2019-10-03 19:17] mdancho commented on #2205
Works brilliantly, thanks all!

[2019-10-03 19:19] stenington commented on #2229
@rsgonzal If we can get a quick-fix out for this page, can you mark where you'd want "Technovation" to become "Technovation Girls" as well? Would it be everywhere, or are there some places on that page where leaving it as "Technovation" is appropriate?

[2019-10-03 19:23] mdancho commented on #2203
Confirmed the agreement is updated on the mentor dashboard and text looks good!

[2019-10-03 19:30] rsgonzal commented on #2203
looks great!

[2019-10-03 19:31] rsgonzal commented on #2205
looks great!

[2019-10-03 19:33] rsgonzal opened #2239 "Admin can not change email address for mentors [5?,?,?]"
As an admin, staging isn't letting us change the email address for mentors. We're clicking save changes but it doesn't record. Stays on the same screen. When changing student addresses it goes back to the previous page and is recorded.

[2019-10-03 19:38] rsgonzal commented on #2162
@stenington signed up as a judge and was not added to the mailing list

[2019-10-03 20:01] stenington commented on #2229
Also @rsgonzal I looked into the onboarding problem Devin saw, and it raises red flags for me. It looks like two things are happening:
1. there's an `onboarded` flag on the student profiles that looks like it was calculated and set last year that probably needs to be reset to false somehow to force the platform to recalculate (not 100% sure on that)
2. we probably need to either delete or void las

[2019-10-03 20:34] rsgonzal commented on #2229
Just saw this! Marked the places on last page here: https://docs.google.com/document/d/1NUqsJVrKDsgZ16t5wjVBrQDD8et6j9Y3VQWrIoEpHXc/edit#

I just left one Technovation

[2019-10-03 21:08] stenington commented on #2162
@rsgonzal can you give me more details? I just signed up as a judge and it *did* add me, so I want to figure out what I did differently.

[2019-10-03 21:28] rsgonzal commented on #2162
my bad! got it now. all looks good minus the admin editing mentor email, opened #2239 for followup

read through the notes and edge cases with @mjaris and no red flags arose.

[2019-10-04 14:36] stenington opened #2241 "Update the off-season page [?,3,?]"
Found in #2229, the off-season page began displaying dates for the 2021 season when we rolled over to the 2020 season. Looks like the platform expected us to open registration on the exact rollover date.

We should just hard-code correct dates for this year, and update some of the Technovation -> Technovation Girls branding concerns.

[2019-10-04 15:09] stenington commented on #2241
@rsgonzal This is headed to staging now, hopefully to deploy Monday

[2019-10-04 16:38] stenington commented on #2225
So it looks like the work here is something like the following:

(Note, what is called a "category" or "sub-category" above, I'm calling a **question** here to reflect the language used in the codebase.)

* Remove the `refer-to` paragraph in the `QuestionSection` app and the `referTo` data in each `judge/scores/sections/*.vue` app
* **Ideation**
    * add 1 question
    * change text on existing

[2019-10-04 18:01] stenington opened #2242 "Returning user onboarding [?,20,?]"
Coming from #2229, we want to be proactive about the onboarding issue seen where a returning student was shown as fully onboarded in the admin despite not having a current parental consent. So this ticket has two parts:

* get clear on the program team's expectations for what returning mentors and students have to do to be considered onboarded
* make sure the platform will behave according to thos

[2019-10-04 18:47] stenington commented on #2242
I guess we should include judges too.

## Judges
* has an account
* email confirmed
* consent signed
* training completed
* survey completed

[2019-10-04 18:51] stenington commented on #2242
It looks like students and judges have a cached `onboarded` value, but mentors do not. Both are recalculated when their profiles are saved, so I believe we can trigger a recalculation in the job that registers them to the season, and manually trigger that recalculation for accounts that have already registered.

[2019-10-04 20:33] rsgonzal commented on #2226
Marketing team needs help editing the style sheets for technovationchallenge.org
@mjaris can make certain changes, need to coordinate timing with her to implement everything together

Mockups: https://www.dropbox.com/sh/mxuemjr05p7dc9m/AABkDhuL1s-B1PYJLbllEY98a?dl=0
Markup of changes that need dev support: https://projects.invisionapp.com/freehand/document/1UH7p91GC
Branding Guidelines: https://ww

[2019-10-07 19:11] rsgonzal commented on #2242
What they should do again for 2020

Students
- Consent form

Mentors
- Consent form
- Training

Judges
- Consent form
- Training

[2019-10-07 21:23] stenington opened #2245 "Epic: Change the judging rubric"
From #2225

The work here is something like the following:

* Remove the `refer-to` paragraph in the `QuestionSection` app and the `referTo` data in each `judge/scores/sections/*.vue` app
* **Ideation**
    * add 1 question
    * change text on existing  3 questions
* **Technical**
    * add 2 questions
    * change text on existing 2 questions
    * (checklist removal handled by #2192)
* **Pitch*

[2019-10-07 22:08] stenington commented on #2227
I think step 1 here is doing a run-through of RA sign up and seeing if it feels good enough for now. If so, I can think through if there's any more formal QA that should be done.

[2019-10-07 22:12] stenington commented on #2242
I put a PR in staging that should be resetting a user's onboarded status when they are registered for the new season (so on first sign in after the season rollover for an existing account), and it should be resetting training for mentors and judges as well. The code that resets consent forms doesn't seem to be configured in staging the way it is in production, so I'll have to run that manually I b

[2019-10-09 16:54] ophelieh commented on #2227
Hi! This works great for this season. :)

Could we potentially change the message when asking for the location or is that the same for all profile types? I'm just worried it might cause confusion. This is very minor.
![uploads/6f6635c4-8a8d-4e86-bd18-0ff42b85525e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F6f6635c4-8a8d-4e86-bd18-0ff42b85525e%2Fimage.png)

Very minor a

[2019-10-09 17:18] stenington commented on #2242
Might want a two-pronged approach here: figure out how to setup accounts in staging for testing, and also monitoring production accounts as registrations begin coming in.

[2019-10-09 17:23] stenington commented on #2225
#2245 is the implementation epic

[2019-10-09 20:48] stenington commented on #2227
@ophelieh Thanks for QAing!

The page asking for the location does potentially handle all account types, and it can be shown for new users or returning users, if they don't have good location data stored for some reason. But even so, I feel like we could simplify the message shown on that page to something that works better for everyone. Are you concerned they'll be confused by being told their lo

[2019-10-09 21:50] ophelieh commented on #2227
I agree with simplifying the language on the location page. And my concern is about them being confused that they are told their location is missing when they weren't asked for it before that point.

Could we say something like: "Please enter your location to access your dashboard. Thank you!"?

For the RA confirmation page, "Thank you for confirming your email address" would be great! :)

Thank y

[2019-10-09 21:58] stenington commented on #2242
I was thinking through how to handle `onboarded` for students and judges where the value is cached. It may be best to both
* do a bulk update on past accounts to set `onboarded = false`
* and trigger a recalculation on current accounts after deployment to correct any accounts that already slipped through

We also need to consider doing the bulk update on every season rollover (since the cached `on

[2019-10-10 15:58] stenington commented on #2242
This is how I'm thinking about "resetting" for the new season:

**Student**
* cached `onboarded` value:
    * `StudentProfile.update_all(onboarded: false)`
    * `StudentProfile.current.find_each(&:save)` to trigger onboarded check for those already registered who might be ahead of the game
* parental consents: automatically voided when consent season doesn't match current season

**Mentors**
* co

[2019-10-10 16:12] stenington commented on #2242
We could consider rolling some of these things into a rake task that gets run in place of `reset_consents` next year.

[2019-10-10 16:19] stenington commented on #2242
The above has all been run in staging. For QA, I think for each user type we should
* find an existing user registered for 2019 but NOT registered in 2020
* log in as them
* confirm they are required to do the necessary things based on their user type as specified above

That won't necessarily catch edge cases, but for that I think we'll have to keep an eye on production and react to what we see,

[2019-10-10 17:36] stenington commented on #2227
@ophelieh these changes should be on staging now, can you run through it once more and confirm for me? Thanks!

[2019-10-10 18:16] ophelieh commented on #2227
Hi Mike! Everything looks great! :) Thanks.

[2019-10-10 19:34] stenington commented on #2192
It's a little arbitrary, but if we want to break this down into small tickets (that hopefully aren't too strange to QA) we could do something like:
* adjust scoring to not include the technical checklist (even if it's still in the UI)
* remove the checklist from the student/mentor UI
  * the checklist page
  * the item on the submission checklist
  * the submission section page
  * the checklist d

[2019-10-10 20:08] rsgonzal commented on #2242
@stenington would it matter if the user didn't do these things when they signed up for season 2019?

Checked multiple accounts though and they're all prompted for the right items.

For students, does the consent form get resent? Or do they have to enter a new email to trigger it? I think we had talked about this but don't remember what was said and I don't have access to the emails of the ones i t

[2019-10-10 20:10] stenington commented on #2191
In order to break this down into smaller steps, I suppose we could try something like:
* Remove demo video as a required part of submission (even if it's still in UI)
* Remove demo video from admin
  * Team submission details/edit page
  * Submissions page, more columns
* Remove demo video from Student/Mentor UI
  * Submission checklist
  * Submission section
  * Published submission
* Remove from

[2019-10-10 20:32] stenington commented on #2242
Yeah, @rsgonzal it would matter, but it's hard to detect the ideal scenario. The ideal scenario would be finding 2019 users who haven't yet signed up for 2020 and making sure they were 100% onboarded for 2019, but that's trickier since the platform thinks about things largely in terms of the current season. If you want to try to identify users who were fully onboarded in 2019 to use for QA, we can

[2019-10-10 20:36] rsgonzal commented on #2242
Ah ok! I think the first one is fine then, Nick checked multiple mentor and judge accounts and all looked to be the same. So unless no one was fully onboarded.. should be fine?

Hmm, it would still trigger it even if I was logging in as the student through the admin?

[2019-10-10 20:50] stenington commented on #2242
@rsgonzal It should. Can you make notes here about which accounts you used?

[2019-10-10 20:58] rsgonzal commented on #2242
Doing the students again.

Trying:
- Thumbelina	Maxwell	katie+s15@iridescentlearning.org
parent email: katie+p1@iridescentlearning.org

Ok, this is interesting. My consent form is not checked, but it did let me request to join a team. This shouldn't be happening?

![uploads/fa702e20-bf9e-47a6-9018-a1d5a03d7e1b/Screen Shot 2019-10-10 at 1.58.02 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboar

[2019-10-10 21:13] rsgonzal commented on #2242
Alli confirmed users can form teams without being onboarded

[2019-10-10 21:22] rsgonzal commented on #2242
for mentors,

I just checked Grumpy Cat (katie+m17@iridescentlearning.org)
and there's no personal summary written, so wondering if that gets re-written too?
It's also the first tab it goes to, event though mentor training and consent aren't done

[2019-10-10 21:26] rsgonzal commented on #2242
Logged in as jessica+mentor@iridescentlearning.org
More convinced she was fully onboarded - the personal summary was saved.
Can confirm I can't join a team and i need to do consent form and training.

[2019-10-10 21:26] stenington commented on #2242
It looks like logging in as a student through the admin **does not** trigger season registration, so it wouldn't trigger sending the parental consent email.

[2019-10-10 21:31] stenington commented on #2229
Flagging here that before we close this, we may want to open new tickets about the work that would need to happen to avoid encountering these exact bugs again in 1 years time.

[2019-10-10 21:50] rsgonzal commented on #2242
Ok! I can try to actually login

[2019-10-10 21:57] stenington commented on #2242
What I ended up doing was using the admin to edit the student's email address **and parent email address** to something I can check, then doing a password reset, which logs you in. At that point a welcome email should go to the student, and a parental consent should go to the parent.

[2019-10-10 23:14] rsgonzal commented on #2242
Thanks, Mike! Did this work? should I try doing something similar?

[2019-10-10 23:26] Allicolyer commented on #2226
Hey, so I started investigating what it will take to make these changes.

1. The styling edits need to be made to SASS files and then compiled into CSS: wp-content/themes/technovation/sass
2. New fonts can be added to this folder and updated in SASS: wp-content/themes/technovation/fonts
3. Curriculum listing edits need to be made to the Page Builder Custom Modules: wp-content/plugins/technovation-

[2019-10-11 13:24] stenington commented on #2226
Cool, thanks for writing this up @Allicolyer!

I agree that it would be worth getting your local environment fully up and running if possible, having parity between environments tends to reduce headaches in my experience.

I think it would also be worth exploring the option of using git instead of FTP to manage changes to staging. I think technovationchallenge.org is using "legacy" staging, so [th

[2019-10-11 13:55] stenington commented on #2229
Manual actions needed on season rollover:
* update configured dates to be current for the upcoming season, or tests fail
* copy last season's certificates folder for the current season, or tests fail
  * but don't forget to eventually update those templates, or dates may be wrong
* cached `onboarded` values need to be reset
* training completion dates need to be reset

Automatic actions on season

[2019-10-11 16:49] stenington commented on #2242
@rsgonzal Please try it, it would be great to get a second set of eyes on it

[2019-10-11 16:56] stenington commented on #2245
I'd probably split this one into just 3 tickets:
* Identify and remove unreachable templates referencing rubric fields
* Remove the `refer-to` paragraph, which shows up as help text in the judging screens
* Change the rubric and scoring calculation

The first item should be done before the third, to make the third easier. We could break down the rubric changes further, but I'm not sure that's valu

[2019-10-11 17:06] mjaris commented on #2226
Hey all -- I agree with @Allicolyer that updating the existing theme colors to the new theme colors by changing the variables is probably the best. I do think it's going to make things look awful so if we could just coordinate the day we make that change I'll clear most of my schedule so that I can focus on making tweaks/updates to our big pages as quickly as possible.

Do you also want a little m

[2019-10-11 18:31] stenington opened #2249 "Epic: Update 2020 certificate templates"
As part of #2229, 2019 certificate templates were copied to the 2020 directory. We will want to make sure these are updated appropriately before certificates are made available.

[2019-10-11 18:34] stenington opened #2250 "Epic: Further automate season rollover resets"
From #2229, we discovered a handful of things that had to be done manually as users began registering for a new season:

* update configured dates to be current for the upcoming season, or tests fail
* copy last season's certificates folder for the current season, or tests fail
  * but don't forget to eventually update those templates, or dates may be wrong
* cached `onboarded` values need to be r

[2019-10-11 18:42] stenington opened #2251 "Registration closed page will need to be updated [8,3,2.67]"
The "registration closed" page was updated to include a hardcoded date after it was discovered in #2229 that the season rollover and registration opening dates were assumed by the system to coincide. That page will either need to be updated periodically with the correct date, or a solution needs to be worked out that lets those two separate (but related) dates stay synchronized.

## QA Steps

 * T

[2019-10-11 18:42] stenington commented on #2194
Related to #2229

[2019-10-11 18:57] stenington opened #2252 "Remove demo video as a required part of submission [8,5,1.6]"
From #2191, remove the demo video as a required part of a submission, without removing it from the UI yet.

[2019-10-11 18:58] stenington opened #2253 "Remove demo video from admin [3,3,1]"
From #2191, remove the demo video from the admin:
* team submission details/edit page
* submissions page, "More columns"

**Admin/RA**
![Screen Shot 2019-09-05 at 10 26 03 AM](https://user-images.githubusercontent.com/55319/64355252-e133ed00-cfce-11e9-81e6-8350056aef11.png)
![Screen Shot 2019-09-05 at 10 44 49 AM](https://user-images.githubusercontent.com/55319/64355264-e2651a00-cfce-11e9-9b5a-006

[2019-10-11 19:00] stenington opened #2254 "Remove demo video from Student/Mentor UI [5,3,1.66]"
From #2191, remove the demo video from the student/mentor UI:
* submission checklist
* submissions section
* published submission

**Student and Mentor**
![Screen Shot 2019-09-05 at 10 30 05 AM](https://user-images.githubusercontent.com/55319/64355253-e1cc8380-cfce-11e9-88e4-f6e980c41bc2.png)
![Screen Shot 2019-09-05 at 10 30 13 AM](https://user-images.githubusercontent.com/55319/64355255-e1cc8380

[2019-10-11 19:01] stenington opened #2255 "Remove demo video from Judge UI [5,3,1.6]"
From #2191, remove the demo video from the judge UI:
* review submission section
* ideation section

**Judge**

![Screen Shot 2019-09-05 at 10 42 18 AM](https://user-images.githubusercontent.com/55319/64355261-e1cc8380-cfce-11e9-8916-fd3b1d8331b5.png)
![Screen Shot 2019-09-05 at 10 42 31 AM](https://user-images.githubusercontent.com/55319/64355262-e2651a00-cfce-11e9-9c02-9d0da222f901.png)

[2019-10-11 19:02] stenington opened #2256 "Demo video final clearout [8,5,1.6]"
From #2191, after the other demo video tickets are complete, do a final clear out:
* migration to remove the field
* remove libraries or config no longer needed, if any
* remove rake tasks or other stray mentions, if any

[2019-10-11 19:04] stenington opened #2257 "Remove technical checklist from scoring [8,3,2.67]"
From #2192, remove the technical checklist from submission scoring without removing it from the UI.

[2019-10-11 19:05] stenington opened #2258 "Remove the checklist from the student/mentor UI [8,8,1]"
From #2192, remove the checklist from the student/mentor UI:
* the checklist page
* the item on the submission checklist
* the submission section page
* the checklist display on the published submission page

![screencapture-localhost-3000-student-team-submission-sections-no-name-yet-by-all-star-team-2019-09-06-09_12_34](https://user-images.githubusercontent.com/55319/64431808-24529680-d089-11e9-8

[2019-10-11 19:06] stenington opened #2259 "Remove the checklist from the judge UI [5,3,1.67]"
From #2192, remove the checklist from the judge UI:
* the score summary in the purple section
* the text summary in the Technical score section

![Screen Shot 2019-09-06 at 9 16 46 AM](https://user-images.githubusercontent.com/55319/64431540-aa221200-d088-11e9-9786-aa315b6856e7.png)
![Screen Shot 2019-09-06 at 9 21 40 AM](https://user-images.githubusercontent.com/55319/64431543-aa221200-d088-11e9-

[2019-10-11 19:08] stenington opened #2260 "Remove the checklist from the Admin/RA UI [8,3,2.67]"
From #2192, remove the checklist from the admin/RA UI:
* remove from the submissions page
* remove from the submission detail page
* remove from the scores page
* remove from the score details page

![Screen Shot 2019-09-06 at 9 18 40 AM](https://user-images.githubusercontent.com/55319/64431541-aa221200-d088-11e9-840b-1ecfaaa09f62.png)
![Screen Shot 2019-09-06 at 9 18 50 AM](https://user-images.gi

[2019-10-11 19:09] stenington opened #2261 "Checklist removal final sweep [8,8,1]"
From #2192, do a final sweep on removing the checklist after the other tickets are done:
* migrations to remove things from the DB
* if any libraries or config can be remove, do so
* check for rake tasks or other stray mentions

[2019-10-11 19:11] stenington opened #2262 "Remove unreachable judging rubric templates and code [8,8,1]"
From #2245, remove unreachable templates and/or code referencing the judging rubric.

[2019-10-11 19:13] stenington opened #2263 "Remove judging screen help text"
Remove the `refer-to` paragraph on the judging screens, which contains help text for each section:

![Screen Shot 2019-10-11 at 3 12 23 PM](https://user-images.githubusercontent.com/55319/66678342-ac542f00-ec39-11e9-8f18-81c0a97c17cd.png)

[2019-10-11 19:16] stenington opened #2264 "Change the judging rubric and score calculation [20,8,2.5]"
From #2245, change the judging rubric and score calculation:

* **Ideation**
    * add 1 question
    * change text on existing  3 questions
* **Technical**
    * add 2 questions
    * change text on existing 2 questions
* **Pitch**
    * remove 2 questions
    * change text on remaining 2 questions
* **Entrepreneurship**
    * change text on existing 4 questions
* **Overall**
    * remove 3 quest

[2019-10-11 20:10] Allicolyer commented on #2226
@stenington I think git would be the way to go. we can use this repo: [https://github.com/Iridescent-CM/technovation-wp](https://github.com/Iridescent-CM/technovation-wp/)

@mjaris sure that like a good plan! Here's the current theme:

[code]

[2019-10-11 20:38] mjaris commented on #2226
Thanks @Allicolyer!

Here's the conversion chart (I think we can lose the light/dark versions and just have 7 colors, but if that's a red flag let me know and I can work with Audra to pull tints)-- also let me know if there's a better way to format :)

/* green */
$clr-1: #28a880; -> #0076cf (blue)
$clr-1-lt: #59bf93;
$clr-1-dk: #00643f;

/* red */
$clr-2: #7d324d; -> #43b02a (green)
$clr-2-lt: #9

[2019-10-11 21:06] Allicolyer commented on #2226
Thanks for being so quick Maggie! This format looks good!

I think in general it's good to keep the tints and shades.  If we remove the tints and shades and replace them with other colors we will probably get some really ugly looking pages. I'm not sure how many places the tints and shades are being used in, but I can do some investigating if you want.

Alright, so according to this theme blue is

[2019-10-12 01:32] Allicolyer commented on #2226
Documenting some problems and solutions I encountered to get my local dev environment to work.

**Problem**: Database was too large to be uploaded through phpMyAdmin:
**Solution**: Modified the maximum upload file size by editing the PHP config file. `/Applications/MAMP/bin/php/php7.3.8/conf/php.ini`

**Problem**: phpMyAdmin times out when trying to upload large database files
**Solution** : Neede

[2019-10-14 07:18] rsgonzal commented on #2242
I couldn't figure out how to reset the parent email from the admin, so I logged in as a student and changed it but then an email was triggered (not sure if this was the right way to do it)

But once I did log in as the student, another consent was sent to the parent anyways and I received the welcome to season 2020 email. So I think this is how it's supposed to work!

[2019-10-14 07:37] rsgonzal commented on #2230
From Zendesk Ticket:
Platform doesn't have a 2010 option when selecting your birthday.
Kids born in 2010 will be 10 next year!
![uploads/6015252c-c3ac-43db-8c95-c89071e01fc5/Screen Shot 2019-10-14 at 12.35.46 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F6015252c-c3ac-43db-8c95-c89071e01fc5%2FScreen+Shot+2019-10-14+at+12.35.46+AM.png)

[2019-10-14 19:08] Allicolyer opened #2265 "Update typefaces and theme colors on TC.org (Wordpress)"
This issue is split from spike #2226 and includes changes to the theme colors and typefaces for TC.org

1. Update all typefaces on TC.org WordPress.

New typefaces
- Poppins: https://fonts.google.com/specimen/Poppins
- Rubik: https://fonts.google.com/specimen/Rubik+Mono+One

Font for websites: all text-poppins, H1: Rubik, H2: Poppins (Large + bold) , H3: Poppins (largish), H4: Poppins (bold)

2. U

[2019-10-14 21:05] stenington commented on #2093
This is on its way to staging. There's no good way I know of to reliably cause the sort of duplicate account creation we're trying to prevent, but I wrote an automated test for it that passed, so that might have to serve as our QA.

[2019-10-14 21:07] stenington opened #2268 "Students should be allowed to enter a 2010 birthday"
**Describe the bug**
From Zendesk Ticket:
Platform doesn't have a 2010 option when selecting your birthday.
Kids born in 2010 will be 10 next year!
![uploads/6015252c-c3ac-43db-8c95-c89071e01fc5/Screen Shot 2019-10-14 at 12.35.46 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F6015252c-c3ac-43db-8c95-c89071e01fc5%2FScreen+Shot+2019-10-14+at+12.35.46+AM.png)

[2019-10-14 21:08] stenington commented on #2268
From #2230

[2019-10-14 21:09] stenington commented on #2268
QA:

1. begin signing up as a student
2. select a birthday **after** August 1, 2010
3. you should not be allowed to sign up
4. change birthday to be just **before** August 1, 2010
5. you should be allowed to continue signing up

[2019-10-14 23:35] Allicolyer commented on #2265
Hey @mjaris so I need a little bit of clarification. I understand your description of the typefaces for h1-h4 and I see how these are tye typefaces being used on technovation.org.

[code]
However, this description does not match the mockups in [dropbox](https://www.dropbox.com/sh/mxuemjr05p7dc9m/AABkDhuL1s-B1PYJLbllEY98a?dl=0). For instance, on the home page, it appears that all headers are Rubik.

[2019-10-14 23:46] rsgonzal commented on #2230
Did you put a fix up for this on staging? checking something else and noticed this was working now. Looks good!

[2019-10-14 23:52] rsgonzal commented on #2268
Looks great! Picked a birthday after the 1st and was not allowed to sign up. Anything before and Aug 1st itself works.

[2019-10-15 00:40] Allicolyer commented on #2265
Also @mjaris, should the bold headers be "bolder" than bold normal text?

For instance, we can use [Poppins extra bold](https://fonts.google.com/specimen/Poppins) for headers so that they are "bolder" than bold normal text. Or we can use semi-bold for bold normal text.

If you don't know that's okay, I can take a look at how the theme of the technovation.org WordPress is handling this.

[2019-10-15 14:09] mjaris commented on #2265
Hey Alli,

Thanks for checking in! I think going ahead with H1 as Rubik and all other headers as Poppins is good (it's what we seem to suggest in the [brand guidelines](https://www.dropbox.com/home/Distribution/KIT%20Brand%20Assets/Brand%20Guidelines?preview=Technovation+Brand+Guidelines+2019.pdf) + how things seem to work on technovation.org). I can go in and manually update the homepage and othe

[2019-10-15 16:32] Allicolyer commented on #2265
Hey Maggie!

Thanks for getting back to me! That all makes sense. Page Builder allows you to do that sort of thing. I just saw this [brand quick reference](https://drive.google.com/drive/search?q=brand%20guidelines) and it says that we're using Poppins bold rather than extra bold for headers so I'll stick to that.

I think I need 2-3 more days to make the color changes and custom page builder edit

[2019-10-15 18:20] hellafitz commented on #1619
@rsgonzal any update? We could also give this back to Alli and go full circle, depending on what you want to do.

[2019-10-15 18:25] rsgonzal commented on #2245
@stenington talked to the program team. They want to keep the same percentage and change the low thresholds to 14 (junior) and 19 (senior).

[2019-10-15 18:46] hellafitz commented on #1954
@ophelieh is there any specific timing for when you'd like this data now?

[2019-10-15 18:49] stenington commented on #2192
Broken down into #2257, #2258, #2259, #2260, #2261

[2019-10-15 18:50] #2192 closed

[2019-10-15 18:51] mjaris commented on #2265
Sounds great Alli -- I just checked with Nick and it sounds like next week
is fine for them to pause updating the curriculum, so maybe we could put
things on staging early next week and I can work through edits then and we
can be back up/running the following week?

If that's not feasible, just let me know :)

On Tue, Oct 15, 2019 at 12:32 PM Alli Colyer <notifications@github.com>
wrote:

--
**Rea

[2019-10-15 18:53] hellafitz commented on #2209
@Allicolyer just adding you bc we might tap you for this one if we priortize it tomorrow - don't start until confirmed

[2019-10-15 18:54] Allicolyer commented on #2265
Yeah, that sounds like a good timeline. Let's check in on Friday and make sure we're both still good to go.

[2019-10-15 18:55] stenington commented on #2191
Broken into #2252, #2253, #2254, #2255, #2256

[2019-10-15 18:55] #2191 closed

[2019-10-15 19:48] stenington opened #2269 ""Onboarded mentors" filter not filtering correctly in admin [13?,?,?]"
**Describe the bug**
The "Onboarded mentors" filter is not working in the admin.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an admin
2. Click on 'Participants'
3. Select 'Onboarded Mentors: Yes, fully onboarded'
4. Click 'Search'
5. Click on 'view' on mentors until you find one that is not onboarded according to the details page

**Expected behavior**
I should only be seeing o

[2019-10-15 19:49] stenington commented on #2269
This carries over from #2229 and #2242

[2019-10-15 20:04] stenington opened #2270 "Epic: score deletion/restoration controls"
The program team curates scores by having a developer delete and/or restore scores throughout the judging period. Admins on the platform currently have a limited ability to curate scores specifically flagged as problematic, but this could be expanded to all scores, as well as adding an ability to restore deleted scores.

[2019-10-15 20:05] stenington opened #2271 "Certificate calculation should not award certs to suspended judges [8,8,1]"
The `DetermineCertificates` module should understand not to give judge certificates to suspended judges.

## QA STEPS

There are three types of judges:
 * Certified/Regular Judge - a judge who has scored exactly 5 submissions
 * Head Judge - a judge who has scored between 6 and 10 submissions
 * Judge Advisor - a judge who has scored more than 10 submissions

**This could be a pretty lengthy/time-

[2019-10-15 20:06] stenington opened #2272 "Judge suspension control mockups (p4) (8,5,1.6)"
Give admins the ability to suspend/unsuspend a judge. Also give them the ability to leave a note about the suspension, as well as recording a timestamp as an audit trail.

[2019-10-15 20:14] stenington opened #2273 "Bug: Background jobs can fail opaquely [5,8,0.63]"
From #2063, when background jobs don't complete, it's pretty opaque to the admin what might have happened. I think even detecting whether a job is long-running or has already failed is difficult to do. This could be improved upon.

[2019-10-15 20:23] stenington opened #2274 "X Selectively allowing late edits (p3)"
After submissions close, we receive support requests about teams that encountered technical trouble and weren't able to do things like upload their screenshots or team photos. Admins *do not* have the ability to do this through the admin, and it's complicated to do it from the console. We should make it easy for admins to make these sorts of late edits at a minimum.

[2019-10-15 20:26] stenington opened #2275 "Manual score creations"
We've had the need in the past to manually create scores on the platform based on paper scoring from judges, sometimes after scoring is otherwise closed. Right now it takes a developer to do it behind the scenes; admins should have this ability instead.

[2019-10-15 21:25] stenington commented on #2269
I thought I replicated this before opening the ticket, but that may have been in my local environment which hasn't been reset like staging and production have. I can no longer replicate, although it's plausible that the `onboarded_mentors` query used to power the filter could get out of sync with `MentorProfile#onboarded?` when I run the following in production, I don't see any issue:

[code]

[2019-10-15 21:45] Allicolyer commented on #2265
Hey, @mjaris here is what the default headings will look like and their sizes. For sizing, I followed the standard that Bootstrap uses since we use that on both CM and on technovation.org. With Page Builder, you can always make any header and size you want. The default sizing is very close to what we had before.

Desktop:

![Screen Shot 2019-10-15 at 2 42 20 PM](https://user-images.githubuserconte

[2019-10-16 16:03] stenington opened #2276 "Change low score thresholds [8,3,2.67]"
From #2245, change the low score thresholds to 14 (junior) and 19 (senior).

[2019-10-16 17:48] ophelieh commented on #1954
Hi Matt! I think anytime by November would be optimal. Do you think that's doable?

[2019-10-16 18:16] hellafitz commented on #2269
Devin couldn't replicate today. Closing this until/if it resurfaces.

[2019-10-16 18:16] #2269 closed

[2019-10-16 19:30] hellafitz commented on #2239
next step: @rsgonzal confirm if this true on production as well. If yes, check w/ Program team on how painful this bug is (if they've even noticed).

[2019-10-16 19:33] #2207 closed

[2019-10-16 19:33] hellafitz commented on #2207
CET is going to use WordPress. Closing this.

[2019-10-16 19:35] hellafitz commented on #2251
Students/Mentor reg closes March 16th 2020

[2019-10-16 19:36] hellafitz commented on #2251
options: update the date to say 2020, or something more (TBD)

[2019-10-16 19:40] hellafitz commented on #2175
@devincdillon what's the plan for getting this information finalized? looking for an eta on when it'll be ready for us to implement. Thanks!

[2019-10-16 19:40] hellafitz commented on #2176
@devincdillon please update on eta for this final copy (to the extent possible)

[2019-10-16 19:47] hellafitz commented on #2209
@Allicolyer we'd like you to start on this one when you have a chance. Please check-in about prioritization during a standup.

[2019-10-16 22:53] Allicolyer commented on #2265
Here are the new for the modules:
- theme blue
- green
- magenta
- light blue
- gold
- dark blue
- light gray
- white
- black

Here are the page builder modules that colors are being updated:
1. Timeline module - this is only used in one place
2. Graphic Tabs - these are the tabs are being used on the `/get-started/` page. I don't know if they are used in any other place.
3. Image buttons -  not t

[2019-10-17 00:03] Allicolyer opened #2277 "Update buttons, header and footer on TC wordpress"
Make the following changes to the TC WordPress to match the mockups: https://www.dropbox.com/sh/mxuemjr05p7dc9m/AABkDhuL1s-B1PYJLbllEY98a

- Buttons should be square, not rounded
- Update styling of footer
- Update styling of header

[2019-10-17 00:38] Allicolyer commented on #2277
@mjaris I see square buttons in the mock-ups. Is that correct?
![uploads/8684290a-8e61-4776-ad60-c05a7ed65fd1/Screen Shot 2019-10-16 at 5.37.46 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F8684290a-8e61-4776-ad60-c05a7ed65fd1%2FScreen+Shot+2019-10-16+at+5.37.46+PM.png)

[2019-10-17 00:43] Allicolyer commented on #2277
Also @mjaris I can't find these tags. Are they available through page builder?

![uploads/b555b3a2-20ca-4bb3-a633-27247e8ae665/Screen Shot 2019-10-16 at 5.42.04 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb555b3a2-20ca-4bb3-a633-27247e8ae665%2FScreen+Shot+2019-10-16+at+5.42.04+PM.png)

[2019-10-17 13:55] mjaris commented on #2277
Hey Alli!

The tags are available through the page builder in a module called "Tagged Boxes" (we're not using them on the homepage currently because we couldn't verify updated versions of the stats).

Square buttons would be great as they match the branding on technovation.org, but if it's a lot of extra work it's not necessary.

[2019-10-17 13:56] mjaris commented on #2265
This looks great to me, Alli -- thank you!

[2019-10-17 15:27] devincdillon commented on #2176
hi Matt,

I can't really see the context of where this is going on the page, but I think it's okay. Tell me if this feels off:

"Submit your source code link or file. Only App Inventor, Thunkable, Thunkable Classic, Java or Swift are allowed. **If you used App Inventor, only .aia NOT .apk files are allowed.** Learn more about how to submit your source code [here](https://iridescentsupport.zendesk.

[2019-10-17 15:58] devincdillon commented on #2175
Hey Matt! Yes, okay so again I don't know exactly what the page looks like or what comes before/after this so let me know if it feels off. I'm pretty sure only senior division teams see this (like, a junior team won't have the option to upload a business plan, so I'm not going to clearly say "Senior Teams only").

Also, I'm attaching a picture of what it says now - currently, it says we accept .do

[2019-10-18 20:35] Allicolyer commented on #2209
At first glance, this seems promising: https://github.com/risuiowa/rails-jquery-autocomplete

We are already using jquery-ui widgets here `app/assets/javascripts/mentor.js` and in a few other places. This allows you to use an Active Record collection for the auto-complete. The last commit was around a year ago, so it's somewhat recently maintained.

[2019-10-21 14:31] stenington commented on #2209
Cool, that looks potentially promising. I'd recommend that we try to integrate it into the app and see if we can get a little demo together for further evaluation.

[2019-10-21 16:23] stenington commented on #2175
To me, the most likely scenario for private Google docs being a problem would be if we accepted links instead of files, but here it looks like we're only accepting files. It's still possible someone might upload a password-protected document or something, but I'm guessing that's not what people are remembering.

I see commits in the commit history referencing a remote file url for the business pla

[2019-10-21 16:42] stenington commented on #2176
The user flow currently forces the user to pick a development platform from a dropdown first, and then secondarily shows an upload widget if appropriate. But, for example, if a user selects Thunkable they are prompted for their project url and **not** shown a field where they could upload anything.

I think we need to factor in that interplay between choosing a development platform and uploading s

[2019-10-21 16:53] stenington commented on #1954
I've added a "Mentor Type" filter on the Participants page, and an optional "Mentor type" column. I don't have a specific QA proposal for this one, other than asking the program team to take a look and let us know if this accomplishes what they need.

[2019-10-21 18:17] devincdillon commented on #2175
Okay - looks like team is mis-remembering. Here is the copy:

"Submit your 5 page business plan. **If you can, submit a PDF file**. We also accept .doc and .docx files."

[2019-10-21 18:36] devincdillon commented on #2176
Hi Mike,

Thank you for that:

- agree with remove the "other" option
- on the app inventor page - can we ensure it says **we only accept .aia files**
- on the swift and java pages it's fine to say we accept, .zip, .aia and .apk

- can we change the copy and link referenced "get some help making your source code..." to "Help for submitting your source code is [here](https://iridescentsupport.zende

[2019-10-21 21:55] rsgonzal commented on #2263
@stenington so when collecting copy for these other pages, program team decided to keep the help text but it will be changing. Should I edit to reflect that it is to change the text or open a new one?

[2019-10-22 14:37] stenington commented on #2263
@rsgonzal Do you have the new text already? If it's a straight replacement of the old text with new text of a similar length, it might be best to do it in #2264, since it'll be easiest to QA in the context of the other copy changes. But if we need to do any redesign of that part of the page to accomodate a lot more text, for example, I'd like to keep that separate.

[2019-10-22 20:12] rsgonzal commented on #2263
I think it may be longer @stenington

Ideation
To determine if the team has built a solution what will positively impact them and their community, refer to all submission materials.

Technical
To determine the quality of the team's solution (app), please refer to all submission elements and test the source code.

Pitch
To assess how well a team presented (or pitched) their idea to you, please refe

[2019-10-22 20:28] rsgonzal commented on #2264
copy is here: https://docs.google.com/document/d/1OxmYxzSD7bBUnkWBevzuVtynAjUG2mS65FjefPFzXfg/edit

[2019-10-22 20:29] stenington commented on #2263
These look okay to me still, even with slightly more text.

<img width="961" alt="Screen Shot 2019-10-22 at 4 28 09 PM" src="https://user-images.githubusercontent.com/55319/67329554-0631e000-f4e9-11e9-858a-aba59f6536dd.png">
<img width="1281" alt="Screen Shot 2019-10-22 at 4 27 45 PM" src="https://user-images.githubusercontent.com/55319/67329555-06ca7680-f4e9-11e9-8213-58926d99fe26.png">

What do

[2019-10-22 20:34] stenington commented on #2264
This ticket **will** include help text changes, we're closing #2263 which would have removed that text.

[2019-10-22 21:03] rsgonzal commented on #1619
I'll work on a prototype this week.

[2019-10-22 21:09] stenington commented on #2224
Email title: "You're invited to be a mentor for a Technovation team!"

[2019-10-22 21:19] hellafitz commented on #2239
@rsgonzal please update

[2019-10-22 21:19] stenington commented on #2238
Closed in favor of #2234, which will handle both error pages.

[2019-10-22 21:19] #2238 closed

[2019-10-22 21:24] #2245 closed

[2019-10-22 21:30] hellafitz commented on #2194
@devincdillon please check with program folks about what date would make sense - and if it'd need to be different for different user groups. Please answer by Monday 10/28 EOD. Thanks!

[2019-10-22 21:51] hellafitz commented on #2276
Needs to be in place before judging starts

[2019-10-22 22:47] Allicolyer commented on #2209
thanks @stenington! Can you send me a .env file for the TC platform when you get a chance?

[2019-10-23 22:31] rsgonzal commented on #2239
This is happening on production as well. Checking in with program team to check severity.

Get this screen when I try to edit:
![Screen Shot 2019-10-23 at 3 28 44 PM](https://user-images.githubusercontent.com/22801026/67439081-21185900-f5aa-11e9-9810-308f2d05d9fc.png)

[2019-10-24 17:20] stenington commented on #2209
I would recommend trying to integrate  https://github.com/risuiowa/rails-jquery-autocomplete as a starting point.

[2019-10-24 17:21] rsgonzal commented on #1954
Mackenzie and Ophelie took a look and it fulfills their needs

[2019-10-25 13:04] stenington opened #2279 "Remove past year submissions and scores from the platform [20,8,2.5]"
From #2187, we've archived off old data as necessary and we're ready to actually remove data on production prior to doing our #2191 and #2192 epics.

We're talking about removing submissions (including business plans, pitch presentations, screenshots, and technical checklists) and removing past scores as well. It probably makes sense to do this on both staging and production.

There might be a com

[2019-10-25 13:18] stenington commented on #2176
I'm looking more closely at the code, and it looks like **we do restrict file type** for source code uploads. The upload dialog only accepts .zip, .aia, or .apk, so for instance a user can't upload a .pdf or .jpg file here, at least not without zipping it or just changing the extension.

So given that we already restrict the file extensions a user may upload, should I make the dialog only accept .

[2019-10-25 13:57] stenington commented on #2224
The problem is in `JoinRequest` which calls `notify_requested_team` on create and on `#pending!`, which for join requests from mentors is called immediately after creating the request, hence double emails.

[This commit](https://github.com/Iridescent-CM/technovation-app/commit/b6f260575e4e86c9e69795634d133d683558bdcf) introduced the `#pending!` call, saying it fixes a bug with reinstating deleted

[2019-10-25 14:26] stenington commented on #2224
One option would be to break the `find_or_create_by!` into separate pieces and call `pending!` only if the find succeeds. That would be a band-aid on the problem at least. The code for student join requests doesn't make the same call to `#pending!` so I'm not sure if that's a latent bug or if students and mentors need it to work slightly differently.

[2019-10-25 14:58] stenington commented on #2133
The admin provides a `Complete?` column on Submissions. We could add more for `team.qualified?` and `published?`. Admins could then export reports and filter for cases where submissions are either marked as incomplete or where the team isn't qualified but the submission is published, which would indicate that something has gone wrong.

The `published_at` field basically controls which submissions

[2019-10-25 16:44] stenington opened #2280 "Allow staff to find submissions that need publishing and publish"
Mentioned in #2133, last year there were several teams who thought they were done but never took the final step of publishing their submission. To fix that we might want to give admins the ability to find and publish these submissions on behalf of the team. We could add a column to Submissions for `only_needs_to_submit?` and possibly add controls to allow admins to publish on behalf of users, or r

[2019-10-28 15:20] stenington commented on #2133
There's some tricky semantics involved here. In the admin, the `Complete?` column tells you **both** if the submission has all required fields **and** it has been published. The `Complete` filter, however, is only filtering for submissions which have or have not been published. So it's possible to filter for "Complete" submissions and find ones that aren't "Complete?", which is very confusing at f

[2019-10-28 15:25] stenington commented on #2133
And just to note it here, the app **does allow** users to continue editing submissions after publishing, so it would be possible for a student to publish but then remove some required component of their submission after doing so. So there are two competing use cases pulling opposite directions on the idea of automatically un-publishing:

1. a user can publish but then remove required pieces of the

[2019-10-29 15:06] stenington commented on #2166
It turns out I can't do much here with an effort estimate of 5. There are dependencies to carefully untangle, and testing will either be "do everything and look for breakages" or I'll have to hunt through the app for where libraries are specifically used and check if it's covered with automated tests. I'd put this project at a 40, and it'll only get worse if we wait.

[2019-10-29 15:50] rsgonzal opened #2285 "Change slack link in mentor welcome email [5,2,2.5]"
The current link is incorrect.

Mackenzie sent new link: https://join.slack.com/t/technovationmentors/shared_invite/enQtMzE1MzIwMjAxNzY2LWEzNzI5ODkxODI3M2QzMjA2NmU2OGUxYzI4M2FkNjM4MzQ5NzU0MjVkN2MyZTkxZWYxNjI1MDg1ODI1MTVhNDE

Timeline: Thanksgiving

[2019-10-29 15:53] rsgonzal opened #2286 "Set up a staging site for Technovation.org"
Marketing would like to set up a staging site by EOY, but is a nice to have.

[2019-10-29 18:26] stenington commented on #2286
http://techstage19.wpengine.com/ already exists, although it's currently password protected. Ask me on Slack for credentials.

WPEngine changed how they offer staging environments, so the way our team is used to doing it is considered "legacy staging". The environment linked above is the new way of setting up staging, so part of this ticket may be helping the team get oriented to the differences?

[2019-10-29 18:33] stenington commented on #2285
The PR for this would let us set the link through config, `MENTOR_SLACK_SIGNUP_URL`, so link changes in the future could be done without code deployment.

[2019-10-29 18:40] stenington commented on #2286
This is a good article to start with to understand the new vs. legacy staging systems: https://wpengine.com/support/staging-environments-1-click-staging-different/

[2019-10-29 18:41] stenington commented on #2286
Also if nobody objects, I'll remove the password protection on staging. I believe that was put up to hide things prior to launching the rebrand.

[2019-10-29 21:10] devincdillon commented on #2176
For app inventor, I think we should restrict to .aia.

@amyiridescent do you see any issues with that restriction?

[2019-10-29 23:07] amyiridescent commented on #2176
So for Thunkable Classic they should turn in a .aia file also. (Thunkable will be a web link)

We should keep the .zip file open available since without is Swift and Java submissions won't be able to submit the source code.

I haven't seen a case of .aia file getting too large...

[2019-10-29 23:09] rsgonzal commented on #2176
From talking with Amy, it seems like we can just remove the .apk option for all of them.

[2019-10-30 07:51] rsgonzal commented on #2239
Team does not see this as an issue. They usually ask mentors to reset their own passwords

[2019-10-30 15:48] stenington commented on #2286
I should also say if there's a strong preference for a legacy staging site, we can try to set that up. WPEngine will be moving away from it eventually, but I don't know how fast that timeline is so we may be able to use legacy staging for a while yet.

[2019-10-30 17:05] rsgonzal commented on #1619
Started prototyping for students here: https://projects.invisionapp.com/freehand/document/5if8JR7Rk

Sent to program team for feedback and to see if this makes sense.

[2019-10-30 18:09] stenington commented on #2166
I tried to update to rails 5.2 and hit a snag where we're targeting a fork of `simple_form` aimed specifically at rails 5.1.

In general, we have some dependencies where we've forked the main project, and others where it's not our fork but we're targeting a specific branch instead of a versioned release. That's a skeleton in our closet that I wasn't expecting, and I think a first step here is unde

[2019-10-30 18:29] devincdillon commented on #2194
Hi Guys,

Sorry I'm just seeing this. Okay, I'm having some problems with understanding this issue.

So, on TG dashboard, students or mentors are logging in but seeing information from an old season? I guess you want me to pick a date that applies to the 2021 season, where if they login they no longer see 2020 information? Or are you wanting me to pick a date for the current season?

If we are tal

[2019-10-30 19:50] stenington commented on #2194
@devincdillon This issue isn't happening right now, it was happening just before we opened the 2020 season, and it'll start happening again as we approach the end of the 2020 season.

I think of it this way. The 2020 season started Oct. 10, 2019 and let's pretend 2021 starts Oct. 10, 2020.

- If I log in for the first time on Oct. 11, 2019 then getting an email that welcomes me to the 2020 season

[2019-10-30 20:07] devincdillon commented on #2194
Thanks Mike that helped a lot.

So I'm unsure if the key dates we show include judging information or not, which would change my answer (I think)

**If it shows judging dates**

- turn off welcome email June 1

**If it does not show judging dates**

- turn off April 20 (which is when submission closes)

[2019-10-30 20:43] stenington commented on #2285
QA: sign up as a mentor, ensure the link in the email is the same provided above

[2019-10-30 20:47] stenington commented on #2224
QA:

1. as a student with an email address you can check, start a team
2. log in as a mentor
3. request to join the team
4. confirm you only receive 1 email to the student

@rsgonzal Do the above steps seem right? Is that essentially what you did when you got 2 emails previously?

[2019-10-30 20:53] stenington commented on #2131
Note in the animated gif above that the sequence is something like...

**With a submission that only needs a demo video to be complete**
1. click "Demo video"
2. enter a link
3. click "Next"
4. notice "Demo video" checkbox is now checked, and "Review and submit" button is now enabled

What we want is to have the user click **Save** before showing them that their project can be submitted.

QA:

**W

[2019-10-31 16:51] mdancho commented on #2285
QA'd and the link is working. Thank you!!

[2019-11-01 01:16] Allicolyer commented on #2209
Hey @stenington I don't think I will work on this during this week or next, so I am going to move it back into backlog.

[2019-11-01 21:16] rsgonzal commented on #2131
I went through this one and looks good. Waiting for feedback from program team.

[2019-11-01 21:24] rsgonzal commented on #2285
Checked as well and seems to be working, yay!

[2019-11-01 21:24] rsgonzal commented on #2224
Yes this seems right.

Went through the steps and all looks good. Waiting for program team to do a run through

[2019-11-04 16:32] ophelieh commented on #2224
Note - You will need to have the mentor onboarding steps complete in order to be able to join a team. To mark the training as complete, you will need to use this link once you are signed in as a mentor - https://technovation-qa.herokuapp.com/mentor/training_completion.
You can also use an existing mentor account that has completed all the onboarding steps.

Tested and worked as expected - I only r

[2019-11-04 16:48] ophelieh commented on #2131
Note - All the students on your team first need to be fully onboarded in order to see the "submit for judging". Otherwise, you will see this.
![uploads/deefa6a8-5a2f-4810-b0f4-4aa4d0ccbd83/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fdeefa6a8-5a2f-4810-b0f4-4aa4d0ccbd83%2Fimage.png)

Tested - works as expected.

[2019-11-04 16:50] ophelieh commented on #2131
Side note - The email confirmation has the wrong judging opening date.

![uploads/17467312-d6dd-4f6c-b453-3e1805e64017/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F17467312-d6dd-4f6c-b453-3e1805e64017%2Fimage.png)

It now should read April 23. Than you!

[2019-11-04 17:11] stenington commented on #2133
I feel like my notes here are getting complicated, so here's another approach. [This documentation](https://docs.google.com/document/d/1BEHSSY9gSwKpUNJUZaVSwcixPC6HRPqNVy_33t9p7Ow/edit#) provides a lightweight description of the problem, and details the proposed steps an admin could take to help manage the issue this season. Comments in the document identify potential areas of work.

Ideally, the

[2019-11-04 18:15] rsgonzal commented on #2224
Thanks, @ophelieh for listing the link :)

[2019-11-04 18:20] stenington commented on #2131
Thanks for catching that @ophelieh, @rsgonzal is changing config to correct that date.

[2019-11-04 19:31] devincdillon commented on #2131
I did the steps that Roxana suggested and they worked as she said they would.

Noting that I don't understand exactly what I was checking for so can't really flag if anything is weird.

[2019-11-04 20:28] devincdillon commented on #2224
Reviewed, only received one email as a student.

[2019-11-05 22:09] ophelieh commented on #2133
Hi @stenington! I just reviewed the document and it all makes sense. I added a couple of comments.

[2019-11-08 18:52] Allicolyer opened #2288 "x Spike: Update styles used in curiositymachine/templates/deprecated_base.html to newer sass files"
Split from #2186 - clean up technical debt on TF site by updating styles used in curiositymachine/templates/deprecated_base.html to use the new sass files.

[2019-11-08 19:57] Allicolyer commented on #2288
Goal: Combine both sets of stylesheets so that they compile into the same base.css file that is used through the entire site.

Steps to accomplish this:
1. Migrate the .less files to .sass files
2. Compile a new `main.css` from the migrated Sass files
3. Match the variables names in both sets of Sass files
4. Reference the newer variables for both sets of Sass files
5. Find a way to look  for dupl

[2019-11-09 07:03] sha11n commented on #2239
I managed to recreate this bug locally. I think this is what's going on: the "Mentor Type" field is silently failing a validation check; so the page is being re-rendered. The error isn't being displayed b/c the "Mentor Type" field isn't setup correctly. Also, because it's not setup correctly, the drop-down isn't pre-selecting the value that is already set. :confused:

As a work-around, I found tha

[2019-11-10 03:08] sha11n commented on #2239
While looking at this bug and the code more (w/ about 0.4% more understanding of how everything works :blush: ), from what I'm experiencing locally, none of the form fields for the mentor's account (first name, last name, email, dob, gender) will be updated while "Mentor Type" is left as "Choose one...". Also, when I select a new 'Mentor Type', the new value isn't being saved. I wonder if it's b/c

[2019-11-11 19:18] Allicolyer commented on #2288
Files that use the depreciated template:  curiositymachine/templates/deprecated_base.html

**General Layout**: challenges/templates/challenges/edp/layout.html

**Plan**
* General Template
    * challenges/templates/challenges/edp/plan.html
* Preview
    * challenges/templates/challenges/edp/preview/plan.html
* In Progress
    * challenges/templates/challenges/edp/progress/family/plan.html
    * ch

[2019-11-11 23:41] Allicolyer commented on #2288
So I'm starting to think that rebuilding these templates would be better. There are many unused classes in the less files, and it's hard to tell which ones come from bootstrap and which ones are custom since they are all mixed in together. I think combing through these templates and rebuilding them will help reduce error and also allow us to remove unused code.

[2019-11-12 00:02] Allicolyer commented on #2288
I think this might work for each page:
1. Create a new template using the new base
2. Migrate each part over from the old template udapting old boostrap 3 convetions. For each custom class and id, find the relevant code in the .less file and migrate it to a new sass file that compiles into `base.css`.

[2019-11-12 16:27] stenington opened #2290 "RA invitation not working in some cases [5,20,0.25]"
**Describe the bug**
Sometimes we invite an RA to the platform, and when they click the link they receive the platform errors out. Typically our support staff are able to click the link and see the page just fine, making this one very hard to troubleshoot.

The best guess right now comes from the following logs:
[code]

That error suggests that the platform is seeing a signup token but not finding

[2019-11-12 21:25] stenington commented on #2239
Thanks @sha11n, I'm experiencing something like you were, where nothing was saving and I just kept seeing the edit page over and over. I suspect something else was going on in production though, because the "Uh oh, something went wrong" page is our 500 page, I believe.

This one may be tough to fully diagnose without access to production logs, although it's clear there are problems even *without*

[2019-11-12 22:59] stenington commented on #2133
QA: TBD

I owe a write-up on the starting point for QA here, but for now I'm going to summarize the actual work done.

In the admin, under **Submissions**...

**New columns**
* `Required fields`: reports "Complete" or "Incomplete" depending on whether the team has completed all required fields on their submission
* `Team qualified?`: reports "yes" or "no" depending on whether the team has students

[2019-11-13 07:08] sha11n commented on #2239
I updated the PR (#2289) to address your feedback, @stenington. Let me know what you think! :smiley:

I also ran into another issue. If an admin edits a mentor, and clicks "Save changes" and then uses the browser's back button, it goes back to the edit form, if the admin then clicks "Save changes" again, it will cause an error:
[code]
I wonder if this is what's causing the 500 in production? I not

[2019-11-13 15:59] stenington commented on #2133
**Only need to submit scenario**

1. log in as admin
2. go to **Submissions**
3. search for **Submitted: No, unsubmitted**, add column **Only needs to submit?**
4. find a team on the list that only needs to submit (or if necessary create a new team and complete a submission *except* for clicking the submit button)
5. log in as a team member
6. submit the project (you should only need to click the

[2019-11-13 17:49] rsgonzal commented on #1619
Sent to 6 RAs for feedback.

[2019-11-13 18:05] rsgonzal commented on #2133
Went through the two scenarios and all works as expected!

Have not shared with the program team

[2019-11-13 18:57] hellafitz commented on #2209
@Allicolyer if you want to move this forward before Friday, please do.

[2019-11-13 19:09] stenington opened #2292 "Theme: Resolve project dependencies pinned to branches [20,20,1]"
I tried to update to rails 5.2 and hit a snag where we're targeting a fork of `simple_form` aimed specifically at rails 5.1.

In general, we have some dependencies where we've forked the main project, and others where it's not our fork but we're targeting a specific branch instead of a versioned release. That's a skeleton in our closet that I wasn't expecting, and I think a first step here is unde

[2019-11-13 19:31] rsgonzal commented on #2175
Confirmed with @devincdillon that the text to be changed is the the highlighted blue text in the screenshot

[2019-11-13 19:32] stenington commented on #2286
@mjaris Let us know here if you feel the new style of staging site will suit your needs. Thanks!

[2019-11-13 19:44] stenington commented on #2280
Changing from "admin" to "staff" in the title. @ophelieh was concerned about too many people having this power, but we do need someone to have it, whether that's a software developer or someone else. This ticket should detail a solution for someone in the org being able to handle this situation when it arises.

[2019-11-13 20:20] stenington commented on #2176
So I think I'm seeing a request for 2 changes on this screen:

<img src="https://user-images.githubusercontent.com/55319/67224873-2afe5880-f400-11e9-9b39-36857c821964.png">

1. We say "File types allowed: *.zip or *.aia" and we only allow zip and aia
2. We change the copy and link referenced "get some help making your source code..." to "Help for submitting your source code is [here](https://iride

[2019-11-13 20:38] mjaris commented on #2286
Yes, the new style of staging site will work -- no need to create a legacy-style staging site!

[2019-11-13 22:42] #2286 closed

[2019-11-14 15:51] stenington commented on #2279
Step 1 here is for @rsgonzal to arrange a communications piece. The proposed plan is to let RAs know that we'll be removing this data on or after Friday, 11/22, so that would be their deadline for downloading anything they might want from the platform. **This will hold up deployments until 11/22** although we can continue to move tickets into Test.

Step 2 is then to do the data removal. A specifi

[2019-11-14 16:52] stenington commented on #2239
Thanks @sha11n, yeah we're essentially living with the idea that the back button is off limits for now. 🙁

I reread this ticket more carefully, and I'm seeing that the original description was the "page just keeps reloading" problem, and not the 500, so maybe it's okay not to worry about the 500 for now, as it could have been caused by some complicated sequence of clicks like you're suggesting.

Y

[2019-11-14 21:20] stenington commented on #2254
QA:

**As a student...**
1. log in as a student
2. start a submission, if you haven't already
3. go to **Dashboard**, confirm that the **Pitch** section does not say Demo video
4. click **Pitch**, confirm the screen has only Pitch video and Screenshot sections, not Demo video
5. Complete the submission and submit
6. View your completed submission, confirm that only the pitch video is shown on the

[2019-11-14 21:21] stenington commented on #2252
No QA for this ticket alone. If you're able to submit in #2254, then this ticket must be working.

[2019-11-14 22:31] stenington commented on #2255
QA:

**With a judging round turned on in the admin, and judge-able submissions...**
1. log in as a judge
2. begin judging a submission
3. confirm the "Review submission" section no longer shows a demo video near the pitch video
4. confirm the "Ideation" section has only the pitch video, not a demo video

[2019-11-15 01:01] rsgonzal commented on #2279
I've communicated with the program team. They will be sending out an email tomorrow (or soon). No complaints about the deadline so far.

[2019-11-15 06:41] sha11n commented on #2239
Well that's a bummer about mentors who don't have mentor types set, that would have made things easier! :blush: :smile: Anywho, I updated the PR #2289 to put back the "Choose one..." prompt, and to also display the error messages, which it wasn't doing before either. Let me know what you think! :smiley:  @stenington

[2019-11-15 07:30] rsgonzal commented on #1619
- Users are 'active' by default
- Add 'User Status' to more columns section

[2019-11-15 14:47] stenington commented on #2133
@rsgonzal What's the status on this? Is someone on the program team on the hook for QA?

[2019-11-15 15:19] stenington commented on #2253
QA:

1. log in as an admin
2. look at a submission
3. edit the submission (change the pitch video url or something) and save
4. confirm that you're able to edit it, and that the demo video field didn't show when viewing or editing

1. log in as an RA
2. look at a submission
3. confirm that demo video is not part of the page

[2019-11-15 16:06] stenington commented on #2279
It looks like `SubmissionScore.past.destroy_all` first, then `TeamSubmission.past.destroy_all` second will also remove screenshots and technical checklists. Not yet sure about business plans and pitch presentations, although it seems like we would be able to empty out those tables since all past submissions would be gone and current submissions aren't yet allowed.

[2019-11-15 17:24] rsgonzal commented on #2133
Yes! My bad, I sent it to them a little late. Ophelie said she will take a look either today or Monday.

[2019-11-15 17:55] rsgonzal commented on #2176
This looks right to me, I would add:

3. Remove the drop-down option of 'Other' when choosing a development platform

[2019-11-15 17:56] stenington commented on #2176
Good call, updated the list above.

[2019-11-15 22:39] devincdillon commented on #2133
I have looked. Both scenarios work as expected.

[2019-11-15 22:53] ophelieh commented on #2133
Hi all,

Only need to submit scenario - Everything worked as expected

Submitted but incomplete scenario - Everything worked as expected.

Question 1: Why does the submission still show as submitted on the admin side when a required field is removed but on the team's submission page it shows as incomplete? I just want to make sure I completely understand.
![image](https://user-images.githubusercon

[2019-11-15 23:23] rsgonzal commented on #2133
Hey @ophelieh! I'll try to answer your questions and maybe Mike can give his input Monday

Question 1: Why does the submission still show as submitted on the admin side when a required field is removed but on the team's submission page it shows as incomplete? I just want to make sure I completely understand.
I think this is the problem with the platform, once it's been submitted it won't be unsubm

[2019-11-15 23:29] ophelieh commented on #2133
Ohhh ok. I think Mike had mentioned something about not being able to un-submit. Thank you for confirming! :)

And haha I didn't even catch it was doing the same thing... Probably time to log off.

Thank you and have a great weekend everyone! :)

[2019-11-18 14:46] stenington commented on #2133
@ophelieh Good catch on the 75% thing! It looks like the percentage complete was cached, and when I made some code changes the numbers didn't update correctly. I think I just fixed that in staging, "Gargle Blaster 3000" was recalculated as 100% anyway.

In production we shouldn't have to worry about it, because there won't yet be any submissions when we deploy.

Roxana's answers are correct for th

[2019-11-18 14:48] stenington commented on #2133
@ophelieh Let me know when you have a chance if you're comfortable with this ticket, or if you have further questions. These sorts of questions are great!

[2019-11-18 15:36] ophelieh commented on #2133
Hi @stenington Everything makes sense and worked as expected. All good for now. :)

Thank you!

[2019-11-18 16:09] stenington opened #2297 "Update textacular dependency"
From #2292, we want to get the textacular dependency off of our fork and back onto the main repository.

Textacular is a library that has to do with full text search in Postgres, so that will be where we need to focus testing.

[2019-11-18 17:21] stenington opened #2298 "Update simple_form dependency"
From #2292, we want to get the simple_form dependency off of our fork and back onto the main repository.

It looks like we were on a branch for Rails 5.1 compatibility, presumably before that branch had been merged to the main project. It looks like the main project has compatibility through 5.2 now, so this shouldn't be too difficult.

[2019-11-18 18:21] stenington commented on #2279
@devincdillon I'll check in with you on Friday 11/22 to see if we're clear to do these data deletions the following week.

[2019-11-18 19:06] stenington commented on #2279
Question from an RA:

[2019-11-18 19:51] stenington opened #2301 "Update country_state_select dependency"
From #2292, we want to get the country_state_select dependency off of our fork and back onto the main repository.

[2019-11-18 20:54] stenington opened #2303 "Update city-state dependency"
From #2292, we want to get the city-state dependency off of our fork and back onto the main repository.

[2019-11-18 21:43] stenington commented on #2303
It looks like `city-state` is a library used to populate state/province and city with options in the admin. The original library comes packaged with a way to download an updated dataset, but hasn't been updated itself in 5 years. Our fork has seemingly updated the dataset twice, but I'm unclear on the process for that.

[2019-11-18 21:54] ophelieh commented on #2253
Tested as admin + RA - everything worked as expected.

[2019-11-18 22:06] ophelieh commented on #2254
Tested as a student and a mentor - everything works as expected while working on the submission and after submitting.

[2019-11-19 02:15] ophelieh commented on #2255
To validate judge training use this link - https://technovation-qa.herokuapp.com/judge/training_completion. Once you are on the judge profile, add this link and then refresh - it will mark the training as complete. :)

Tested and worked as expected. I only saw the pitch video on the main submission page, the ideation and pitch page.

[2019-11-19 16:39] stenington commented on #2298
`simple_form` is a library powering some of the forms throughout the platform. These forms seem to be powered by this library:
* editing a team submission as an admin
* the mentor background check form
* the consent waiver form
* ~~the mentor profile form for a judge creating their mentor profile~~
* mentor profile bio form
* the parental consent form
* the password reset form
* the password edit

[2019-11-19 16:44] stenington commented on #2297
The textacular library seems to power the name/email search in the admin for participants, judges, and teams.

For QA, I would suggest targeting those three search fields, and trying a variety of things, e.g.
* search only by name/email
* search by name/email with other filters as well
* sort your search results by different columns
* export your search results

You can give feedback about the qua

[2019-11-19 16:49] stenington commented on #2301
This library seems to power the admin pages where you're able to pick a country out of a dropdown. It provides that list of countries. I guess QA here is to make sure you can still filter by country in the admin where a Country filter is provided, and that it populates with a reasonable list of countries.

[2019-11-19 17:03] stenington commented on #2279
It does not appear that deleting a submission from the platform will delete the associated files stored in S3, those file links will continue to work until we address them specifically.

[2019-11-19 17:45] stenington commented on #2303
I think this dependency is okay to stay as-is, pointing to a git repo we forked. There are no updates from the main repo we're missing out on, so I'm inclined to leave this be for the time being.

[2019-11-19 17:45] #2303 closed

[2019-11-19 18:03] stenington opened #2304 "Update heroku-deflater dependency"
From #2292, we want to get the heroku-deflater dependency off of the master branch and back onto the main repository.

[2019-11-19 20:26] stenington commented on #2304
This is a production gem, so there's no QA on staging.

[2019-11-19 21:51] stenington commented on #2175
QA here is pretty simple:

1. log in as a senior division student
2. on your dashboard click "Your business plan" under "Business"
3. confirm the new help text

<img width="640" alt="Screen Shot 2019-11-19 at 4 50 36 PM" src="https://user-images.githubusercontent.com/55319/69189653-bbf24d80-0aec-11ea-852a-87f4707377ab.png">

[2019-11-19 22:05] ophelieh commented on #2297
**Participants**: Search is quick and works as expected. I tried searching by name, email, filtering results, adding more columns, and exporting.

**Judges**:
* Love the season filtering option!!
* Looks like the live judge filter for the previous season might not be working as all events are reset season to season.  It said there were 0 live judges, but from what I remember we had a few judges th

[2019-11-19 22:14] ophelieh commented on #2301
Works as expected on participants, teams, submissions, events, scores, and judges tabs.

[2019-11-20 15:40] stenington commented on #2297
@ophelieh I'm not too surprised that the live event filter doesn't work for past seasons, many filters only work correctly for the current season, unfortunately. #1739 is another example of that problem.

Yes, please feel free to add improving text search to the platform features spreadsheet. The way it works right now is that you have to type something like 30% of the thing being matched, so `thi

[2019-11-20 15:51] stenington commented on #2256
This ticket made modifications to the team submissions table, and the submission scores table, so I think QA should be something like:

1. create a new student account
2. create a submission
3. make sure you can fill out the submission and submit without errors
4. as an admin, confirm the new submission shows as complete and submitted

1. as a judge, log in and judge a submission
2. pay special at

[2019-11-20 17:34] mdancho commented on #2301
Confirming the country filter worked for students, mentors, judges, teams, submissions, and events.

[2019-11-20 18:29] mdancho commented on #2297
The participants search correctly found students, mentors, and judges by name and email and filtered and exported successfully.

**Judges:** I was able to search by name and email from this season and last season from the participant tab. However, when searching from the judging tab I was unable to generate a list without the site breaking and showing the  "oops something went wrong" page. Additio

[2019-11-20 19:33] stenington commented on #2297
@mdancho Can you get staging to give you the error page again and tell me what to do to reproduce that problem? I think I need to fix that.

[2019-11-20 21:15] mdancho commented on #2297
@stenington
1. click the judge tab
2. enter judge name in the name or email field
3. click search
4. page show the following
<img width="800" alt="Screen Shot 2019-11-20 at 1 15 21 PM" src="https://user-images.githubusercontent.com/52216992/69278774-d33a4500-0b97-11ea-8bbd-c3e4fa26e6b5.png">

[2019-11-20 21:47] stenington commented on #2297
Thanks @mdancho!

[2019-11-20 21:53] stenington commented on #2297
Ok, so updating this library did reintroduce the bug that caused us to fork in the first place. I guess we can either:

1. maintain a fork with the change we need,
2. try to get the patch we're using (or something similar) accepted into the main repo, or
3. stop using textacular to power search, at least on the problematic judges screen

[2019-11-20 22:04] ophelieh commented on #2297
Added a feature request regarding the search feature.

Regarding filters not working for past season, is there a way to fix that or at least add some text under about which filters only work for the current season?

Finally, regarding the bug Mackenzie found, which option do you recommend going with @stenington ?

[2019-11-21 16:10] stenington commented on #2297
@ophelieh I'll bring both of these things to @hellafitz & @rsgonzal and see how they want to handle it.

[2019-11-21 18:30] stenington commented on #2297
@ophelieh I think fixing filters to work with past seasons or adding text to the admin to signal where they won't work should also go on the feature request spreadsheet, with a link back to this ticket, please.

[2019-11-21 18:50] stenington commented on #2297
Also, for now I'll go back to the forked project and try to update our fork to get Rails 5.2 support so we can move on with our security upgrades in the short term. That maybe buys us some time to figure out a long-term solution later.

[2019-11-21 19:02] mdancho commented on #2298
1. Edit team submission is accurate/functioning
2. The mentor background check auto-populated my account information and looks accurate when submitting
3. Form for consent is accurate/functioning
4. Form for mentor bio is accurate/functioning
5. Changing the password form is accurate/functioning
5. If password is less than 8 character minimum, you are re-directed to a new change password form whic

[2019-11-21 19:03] stenington commented on #2298
Awesome, thanks @mdancho!

[2019-11-21 21:10] stenington commented on #2292
We're unable to go back to the main branch of `textacular` at the time being, but our fork should allow us to get to Rails 5.2 before we have to deal with that.

[2019-11-21 21:20] stenington opened #2310 "Spike: understanding student & mentor surveys [8,5,1.6]"
It's unclear whether setting up student and mentor surveys on TG is a developer task or an admin task, and what the level of integration is between Surveymonkey and the platform. The point of this ticket is to wrangle expectations from the program side with platform capabilities and try to settle on a plan that may or may not require development work to make happen.

[2019-11-21 23:03] nickiredescent commented on #2175
Can confirm that the business plan help box is working. Can also confirm that it will only let me upload the specified file types.

[2019-11-21 23:03] nickiredescent commented on #2256
Can confirm that the demo video is removed and everything else seems to work as intended.
 - Submission process went normally.
 - Can see the fully completed submission as an admin.
 - As a judge, the technical score seems to be correct/the demo video is not considered in the technical scoring.

[2019-11-21 23:20] nickiredescent commented on #2298
Handful of tests. Not really sure what a "form" is supposed to be, but the following processes seemed to have worked fine for me/didn't notice anything unusual:
 - editing a team submission as an admin
**Working**
- the parental consent form
**Working**
- password change form
**Working**
 - the password edit form shown if there are errors when changing it, and email wasn't changed
**Working**
- RA