[2019-01-24 00:50] kmorton2017 commented on #1940
@adrichey don't worry about amy's question. i told her that similar to social media we can just leave it as is and hidden if they were rejected. on social media it will always just say "add friend" or "requested" if someone did not accept your friend request.

[2019-01-24 14:51] adrichey commented on #1940
@kmorton2017 and @amyiridescent It sounds like you both sorted things out and that this functionality works. Is that correct? If so I will get this code out to production this morning.

[2019-01-24 17:52] kmorton2017 commented on #1940
Yes.

On Thu, Jan 24, 2019 at 6:51 AM Alan Richey <notifications@github.com>
wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
our children. Donate <https://iridescentlearning.org/donation-impact/> or
volunteer

[2019-01-24 18:12] adrichey commented on #1940
This is going through CI and will be deployed to production shortly.

[2019-01-24 18:13] #1940 closed

[2019-01-24 22:09] Allicolyer commented on #1937
Need to Katie to confirm if we actually want this feature.

[2019-01-25 16:48] Allicolyer commented on #1513
I would say this is stale

[2019-01-25 17:00] Allicolyer commented on #1724
interesting.  Not sure what this means.

[2019-01-25 17:01] Allicolyer commented on #1181
We have the ability to invite by email

[2019-01-25 17:15] #1786 closed

[2019-01-25 17:22] #397 closed

[2019-01-25 17:22] #718 closed

[2019-01-25 17:23] #1731 closed

[2019-01-25 17:24] #1112 closed

[2019-01-25 17:25] #889 closed

[2019-01-25 17:27] #857 closed

[2019-01-25 17:27] #1181 closed, assigned to nobody

[2019-01-25 17:29] #1161 closed, assigned to nobody

[2019-01-25 17:29] #1193 closed, assigned to nobody

[2019-01-25 17:32] #1320 closed

[2019-01-25 17:32] #1282 closed

[2019-01-25 17:34] #817 closed

[2019-01-25 17:35] Allicolyer commented on #1360
this was already decided

[2019-01-25 17:35] #1360 closed

[2019-01-25 17:36] Allicolyer commented on #1359
Context: This is Oracle's idea to help RAs. Create a map of where teams are located, and mentors are located to help RAs understand where people are.

This would probably not even work with the way we collect locations. We collect cities, not addresses.

[2019-01-25 17:36] #1359 closed

[2019-01-25 17:37] Allicolyer commented on #721
This still would be ideal feature since the way we do invitations is awkward.

[2019-01-25 17:42] Allicolyer commented on #1358
Conclusion: This could be a lot of work. We don't have a good way of doing it now. Each RA needs a way to mark something different for students. There might also be safety concerns.

[2019-01-25 17:42] #1358 closed

[2019-01-25 17:45] Allicolyer commented on #1414
Conclusion: Just make a suggestion that mentors put it in their bio. More complex, add a field to bio (meeting places, availability ect.)

[2019-01-25 17:46] #1414 closed

[2019-01-25 17:46] #1108 closed

[2019-01-25 17:48] Allicolyer commented on #1472
Conclusion: This is a UX anti pattern.

[2019-01-25 17:48] #1472 closed

[2019-01-25 17:51] #1513 closed

[2019-01-25 17:52] #1724 closed

[2019-01-25 17:53] #1665 closed

[2019-01-25 17:53] #1538 closed

[2019-01-25 17:55] Allicolyer commented on #1485
Context: How to make sure that your celebration event scores are not real scores. Virtual scores are what counts for students.

Might be related to how RAs get confused about celebration scores.

[2019-01-25 17:55] #1485 closed

[2019-01-25 17:56] Allicolyer commented on #1572
Context: If someone visits our app and they log in, we can track their cookies. But this isn't for the Wordpress. We need to have some Wordpress development work to make this happen.

[2019-01-25 17:56] #1572 closed

[2019-01-25 17:58] #1570 closed

[2019-01-25 17:59] #1626 closed

[2019-01-25 17:59] #1564 closed

[2019-01-25 18:00] #1616 closed

[2019-01-25 18:01] Allicolyer commented on #1619
Conclusion: Still a future feature request. This would still help a few different RAs.

[2019-01-25 18:05] Allicolyer commented on #1557
Conclusion: Let's start with a manual checkbox before creating an automatic system.

[2019-01-25 18:05] #1557 closed

[2019-01-25 18:13] Allicolyer commented on #1716
Conclusion:

This needs a lot more work. It would require complicating the location form and trying to get more information out of it. Whenever we are trying to match a student and an RA we are using latitude and longitude of the closest RA.

This would require an entire re-write of how we handle RA assignments. We probably don't want to work on this mid-season since it might affect everyone.

We

[2019-01-25 18:21] #1141 closed

[2019-01-25 18:24] Allicolyer commented on #1156
@stenington we would like to close this card out. Do you think it's still relevant?

[2019-01-25 18:27] #1198 closed, assigned to nobody

[2019-01-25 18:33] Allicolyer commented on #1362
Conclusion: RPEs leave feedback in other languages on purpose. Judging would be confusing. This card is probably about detecting foreign languages for submissions.

This would be a dream future feature for submissions. If we could detect submissions in other languages that would really help some teams. This would require a good API, so we need to do research and we also need pay for an API.

[2019-01-25 18:37] Allicolyer commented on #1522
Better related card #1202

[2019-01-25 18:37] #1522 closed

[2019-01-25 18:37] stenington commented on #1156
So I'll explain what this card was getting at, and then let you decide.

This is a clunky analogy but pretend you have some piece of machinery that you do not want turned on right now, and it's plugged into an outlet that can be turned on from 3 different light switches in the room. One way to try to prevent people from turning the machine on is to go around and cover up all the light switches tha

[2019-01-25 18:39] stenington commented on #1135
Same thing as #1156, just saying we should probably do it for all the actions controlled by season toggles.

[2019-01-25 18:44] Allicolyer commented on #1730
This seems pretty stale.

[2019-01-25 18:44] #1730 closed

[2019-01-25 18:45] Allicolyer commented on #1729
duplicate card.

[2019-01-25 18:45] #1729 closed

[2019-01-25 18:57] Allicolyer opened #1942 "All mentors need to be able to to switch to be judges"
**Description**
Program team has confirmed that all mentors are allowed to be judges in 2019. Mentors who have created a profile this year do not have a button to switch to judge mode. Mentors who already made judge profiles in past years do have that button to switch to judge mode.

**Solution**
We need new mentors who signed up into 2019 to also have the ability to create a judge profile and swi

[2019-01-25 19:02] Allicolyer opened #1943 "Create a new sign up link for judges"
**Description**
Alan will generate a new sign up token for judges for 2019.  When he does this all the links from 2018 will become invalid. Both admins and RAs have access to this link on their dashboards. The purpose is for them to invite judges to our platform.

**Next steps**
@kmorton2017 Please give us the exact date that we would create this link. Once created, RAs will be able to see and use

[2019-01-25 19:19] Allicolyer opened #1944 "RAs should not see scores from virtual judging until scores are released"
**Is your feature request related to a problem? Please describe.**
RAs can see scores from virtual judging in real time, before we have formally released scores to the public. This caused many customer service problems last year. RAs either complain to us about what they are seeing or tell the girls what their scores are.

- RAs should see scores from events
- RAs should *not* see virtual scores
-

[2019-01-25 19:28] Allicolyer opened #1945 "Ajax calls error reporting research"
**Description**
We would like to take a look at judging Ajax Calls to make sure error reporting (to user and to us) exists when they fail

**Solution**
Make sure user gets feedback when Ajax calls fail. Additionally, report failures to Airbrake.

**Additional Info**
Two bugs from last year inspired us to write this card

- Judges were unable to select numbers in some cases
- Some judges experience

[2019-01-25 19:34] Allicolyer opened #1946 "Virtual Judging will end before RPEs this year"
**Is your feature request related to a problem? Please describe.**
Program staff wants the RPE timeline to be longer than the virtual judging timeline this year. the season toggles only allow quarterfinals judging to be on or off. Additionally program staff wants virtual judging to happen in the beginning of quarterfinals, not the end.

Virtual judges will need to stop judging after 3 weeks, but n

[2019-01-25 19:39] Allicolyer opened #1947 "Add help text for submission page for videos"
**Description*
Add help text for videos telling users to make sure they are not private.

**What we need**
@kmorton2017 and @ophelieh pleas give us the exactly help text you would like. We will put it on the confirmation page for the videos.

[2019-01-25 19:45] Allicolyer opened #1948 "Implementing a cap for number of teams that can attend an RPE"
**Is your feature request related to a problem? Please describe.**
Problem: Too many teams will sign up for an event. More than can fit at a venue. This is frustrating for RAs because they can try to remove teams but the teams will keep signing up. This communication is really hard because each team member has access to sign up for the event. People might show up for an event where this is no spac

[2019-01-25 19:58] Allicolyer opened #1949 "Include incomplete scores on printable PDF for events"
**Description**
RAs should be able to download a PDF of scores for RPEs, including incomplete scores. Right now only complete scores show up. RAs use this printable PDF to print out before their event starts and hand to the judges there. The judges should in theory be able to finish a half complete score.

**Acceptance Criteria**

1. Turn on events as an admin
2. Log in as a RA (ra@ra.com)
3. Crea

[2019-01-25 20:02] Allicolyer opened #1950 "Change events so that it can only be one division"
**Is your feature request related to a problem? Please describe.**
Problem: You can't make only one division unofficial for an event. This means that an RA must create two events if they do not get at least 10 teams for each division. This leads to staff time asking to RAs to delete and remake events, the re-inviting the team to the events, ect.

**Describe the solution you'd like**
Change the che

[2019-01-25 20:04] Allicolyer commented on #1935
We might change the link this year.

[2019-01-25 20:09] ophelieh commented on #1946
Hi @Allicolyer @adrichey We actually discussed changing the dates so both open and close at the same time. I need to double check with RAs to make sure they haven't scheduled events after the 27th but otherwise we would have virtual and live judging open on April 27th and close on May 27th.

I will keep you posted!

[2019-01-25 22:35] adrichey commented on #1935
@Allicolyer I am going to go ahead and complete this ticket with the link in the description. Should we need to update the link later on, we can address that in another ticket. :)

[2019-01-26 02:18] Allicolyer opened #1951 "CSV Column for Scores that allows admins to see score discrepancies"
**Description**
Problem: Every year during judging, staff spends time calculating the range of scores for all submissions in a separate spreadsheet. You can see that work [here](https://docs.google.com/spreadsheets/d/1-CYXJEJwwIEW6WwYC-VrL_e78WMVKGFhagLPKXrnibw/edit#gid=824758563)

The purpose is to find submissions that have a big difference (more than 35 points) between their highest and lowest

[2019-01-26 23:51] ophelieh commented on #1947
We were thinking:

Please make sure your video's sharing settings are public!  If it is private, others will not be able to view it.

[2019-01-27 00:00] ophelieh commented on #1948
That's a great question! My first instinct is to say "this event is full" as if we just don't show the event, some teams might think it's a mistake and reach out to the RA or support@.

What do you think @kmorton2017 ?

[2019-01-27 00:10] ophelieh commented on #1716
I agree and I wouldn't want the location to get messed up again. I'll add it in the notes for next season.

[2019-01-27 13:50] kmorton2017 commented on #1948
Agreed. "This event is full."

On Sat, Jan 26, 2019 at 4:00 PM ophelieh <notifications@github.com> wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
our children. Donate <https://iridescentlearning.org/donation

[2019-01-28 16:32] nickiredescent commented on #1935
Tested, the link leads to https://iridescentlearning.atavist.com/technovation-judge-training

[2019-01-28 17:23] ophelieh commented on #1946
Hi all! Based on my conversation with RAs, we will have to go with option 3 & 4.

Draft Text: "Virtual judging is now closed! **Any score submitted after today (May 27th) will be removed.** Thank you for your help." --- this should be on the landing page when they log in and on the page for calling new submissions.

What do you think @kmorton2017? Do we want to keep the virtual judging to May 27th

[2019-01-28 19:24] ophelieh opened #1952 "Students with @alumno.fomento.edu email cannot create accounts"
**Describe the bug**
Students with the email ending with  **@alumno.fomento.edu**  cannot sign up on the platform. (this is a similar issue to students unable to create accounts with their @qq.com email - see ticket #1790).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a student account with NAME@alumno.fomento.edu
2. You cannot sign up

**Expected behavior**
All students are able t

[2019-01-28 20:20] adrichey commented on #1952
@ophelieh this is now ready for testing on QA. Once this is tested, I will cut another production release once the QA column is clear. I will try to get that done as soon as possible. Thanks!

[2019-01-28 20:39] ophelieh commented on #1935
Link works.

[2019-01-28 20:44] ophelieh commented on #1952
Works great. Thanks @adrichey !

[2019-01-28 20:44] #1952 closed

[2019-01-28 22:31] Allicolyer commented on #1946
@ophelieh Monitoring the virtual judging is a lot of work -- My recommendation is to go with option 2 and keeping the original dates.

[2019-01-28 22:42] Allicolyer commented on #1947
Thank you @ophelieh sounds great :)

Maybe add:

"Please make sure your video's sharing settings are public! If it is private, judges will not be able to view it, and you may lose points or not be judged at all."

[2019-01-28 23:00] ophelieh commented on #1947
Perfect!

[2019-01-30 18:19] Allicolyer commented on #1943
@adrichey I believe this will be February 1st.

[2019-01-30 18:24] Allicolyer commented on #1947
awesome!

[2019-01-30 18:30] Allicolyer commented on #1941
@RRios00 Would you have a recommendation on this? Any design principle we can follow? Our audience is telling us that 40 words is too long.

[2019-01-30 19:00] Allicolyer commented on #1156
Hey @stenington! Thank you for this quick response. This is a good analogy. I think we should keep these technical debt tickets around. They can inform us as we continue to improve the dashboards and other things on the site.

[2019-01-30 19:03] Allicolyer commented on #1874
@kmorton2017 and @ophelieh it might make sense to pull this card into this sprint. What do you think?

[2019-01-30 19:04] Allicolyer commented on #1898
@adrichey since we didn't make any progress on this, I think we should put it into the icebox. This is a UI fix.

[2019-01-30 19:08] Allicolyer commented on #1766
@amyiridescent do you have everything you need here? Perhaps we need to show Jess and Mackenzie how to access this information?

[2019-01-30 19:33] Allicolyer commented on #1633
There seems to already be a card in the icebox for this, so I am going to close this out.

[2019-01-30 19:33] #1633 closed

[2019-01-30 19:35] Allicolyer commented on #1645
still not ready to update these.

[2019-01-30 19:45] ophelieh commented on #1874
I agree!

[2019-01-30 19:46] Allicolyer commented on #1739
@adrichey This is still an issue. After playing around with it, I suspect that the "matched with a team" filter finds participants that are matched with teams registered to the 2019 season.

@kmorton2017 is this something that is very important to fix? Could you give us a sense of the urgency here. Is there any data reporting that will need this filter to work properly?

[2019-01-30 19:47] Allicolyer commented on #1783
I would say this is a pretty low priority. It would be nice to delete admins but it's not super pressing.

[2019-01-30 20:01] Allicolyer commented on #1788
@kmorton2017 since admins can already filter mentors by their company, I am changing this ticket to reflect the request that admins want a way to filter by Mentor Industry (ie parent, teacher, etc.).

[2019-01-30 20:11] Allicolyer opened #1954 "Ability to filter mentors by their industry (ie parent, teacher, etc.) [13,5,2.6]"
**Is your feature request related to a problem? Please describe.**
Admins would like the ability to filter mentors by their industry, parent, educator, industry professional. This is needed for grant reporting.

@kmorton2017 can you tell us how important this is? Is it okay to get to this next season?

[2019-01-30 20:14] Allicolyer commented on #1788
Actually created a new ticket #1954

[2019-01-30 20:14] #1788 closed

[2019-01-30 20:18] Allicolyer commented on #1780
Hey @adrichey so I wonder how many people are still logged in and haven't had to re-sign in. Here are some options.

1. Would it make sense to reset the cookies for everyone at some point? Right now many people are registering and it be frustrating to log them out. We could do something like this once registration is closed.
2. Could we set an expiration date for the cookies so that in 2 weeks peo

[2019-01-30 20:32] RRios00 commented on #1941
I would say following the Twitter character limit of 140 or 280 characters is safe since these standards are common practice now.

[2019-01-30 20:44] Allicolyer opened #1955 "Saved Searches throw an error messgae"
**Describe the bug**
Saved searches throw errors for both admins and RAs

**To Reproduce**
Steps to reproduce the behavior:
1. As an RA or an admin. Go to the participants panel.
2. Create a custom search
3. Click "save this search"
4. When revisiting this search you might get an error.

**Screenshots**
Here is an example of the saved search. This is a saved search on production that captures all

[2019-01-30 20:47] Allicolyer commented on #1838
Hey @ophelieh. This is because our site displays the profile picture as a square. This doesn't mean that the profile picture is getting cut, just that our site will display it in a square frame.

How important is this to fix. Would you be okay moving this to the icebox as a future UI fix?

[2019-01-30 20:49] Allicolyer commented on #1955
@ophelieh can you give us a sense of how urgent this would be to investigate?

[2019-01-30 20:50] Allicolyer commented on #1872
Hey @stenington can you give us a sense of how urgent this is?

[2019-01-30 21:01] Allicolyer commented on #1787
@adrichey thanks for the update.

 @kmorton2017 can you let us know if this is enough to solve your problem?

[2019-01-30 21:20] Allicolyer commented on #1941
Thanks @RRios00, so the average tweet is around 55 words. I think part of our problem is that we do not count 1 or 2 letter words as part of our 40 word minimum.

[2019-01-30 21:24] Allicolyer commented on #1202
Some updates on this as on February 2019:

I am not aware of any updates in the "opt out" system for public pages. I do not see a place for RAs and admins to access public pages.

Published URLs of submissions still exist, and this is what we were using as public pages in 2017: https://technovation-qa.herokuapp.com/student/published_team_submissions/heres-a-name-by-student-union#/

You must be log

[2019-01-30 22:00] Allicolyer commented on #1789
This appears to no longer be an issue. I will close this card.

[2019-01-30 22:02] Allicolyer commented on #1789
@ophelieh is this a big priority?

[2019-01-30 22:35] Allicolyer commented on #1799
@kmorton2017 We have a lot of issues with certificates right now. I don't think we're really ever be in a position to fix certificates from past seasons. However, we are hoping to build a more sustainable system for 2019.

In the meantime here is our suggested method of getting certificates to past participants who ask for them:

Here is a [Dropbox folder of certificates](https://www.dropbox.com/s

[2019-01-30 22:36] #1799 closed

[2019-01-30 22:40] Allicolyer commented on #1828
Hey @kmorton2017. Thanks for spotting this. I see a scenario where you might need this to work is when a student wants to join another team but cannot unless they leave their current one.

How common do you think this scenario is? Would it be okay to focus on this next season?

[2019-01-30 22:41] Allicolyer commented on #1707
Hey @adrichey I am going to move this into the icebox and give it the label wishlist. This seems like something that would be good to revisit during the registration sprint next season.

[2019-01-30 22:42] Allicolyer commented on #1794
This card seems stale.

[2019-01-30 22:42] #1794 closed

[2019-01-30 22:43] Allicolyer commented on #1920
Hey @kmorton2017 Is it alright if I put this in the icebox as something to revisit during registration next season? This is an awesome idea but requires UI work on the dashboards.

[2019-01-30 22:46] Allicolyer commented on #1797
I think this has signs of being corrupt account. @adrichey I don't think we necessarily need to investigate this right now, but does anything quick come to mind?

[2019-01-30 22:47] Allicolyer commented on #1798
Hey @kmorton2017 since this seems to be resolved, I will close this card.

[2019-01-30 22:48] Allicolyer commented on #1798
This might be a bigger issue with removing students from teams. I will test to see if I can reproduce.

[2019-01-30 22:48] #1798 closed

[2019-01-30 23:02] ophelieh commented on #1789
I don't think it's a priority but we will need to be able to download the team data including their country at the end of the season.

[2019-01-30 23:07] Allicolyer commented on #1789
Good point @ophelieh actually, this will be critical to haven selecting semi-finalist and finalists. Because of that I am going to pull this card into this sprint.

[2019-01-30 23:08] Allicolyer commented on #1828
@kmorton2017 I could not reproduce this error.

[2019-01-30 23:12] Allicolyer commented on #1828
When I leave a team as the only member, I can no longer find that team to rejoin. I can also no longer find that team in the admin or RA views.

[2019-01-30 23:13] #1828 closed

[2019-01-30 23:14] Allicolyer commented on #1955
Okay @ophelieh if it's not urgent, we are not likely to fix it before RPEs. Perhaps we should advise RAs not to use it?

[2019-01-30 23:59] Allicolyer opened #1956 "Static Page that contains Thunkable's promo code"
**Problem**

Thunkable wants a way to guarantee a person using their promo code has a Technovation account. Right now their promo code is in our curriculum, and our curriculum is an open web page. You can see that here: https://technovationchallenge.org/curriculum/coding-1/#act2

**Some Solutions**
1. Send the promo code in an email
- this will create an insane headache when people cannot find our

[2019-01-31 15:09] adrichey commented on #1955
It is probably due to the fact that we removed filters to combine them into the Onboarded Student and Onboarded Mentors. I have been seeing the logs come in and feel confident that is what is going on. There are a couple of solutions. We can either inform them to recreate any broken filters and delete the old ones. Or I can write a script in order to modify any saved searches in the system with th

[2019-01-31 15:12] adrichey commented on #1707
Sounds good.

[2019-01-31 15:14] adrichey commented on #1946
@kmorton2017 It sounds like we are ready to move forward with this. Can you take a look at the draft text @ophelieh put together and put your stamp on this so I can get started soon?

[2019-01-31 15:23] adrichey commented on #1874
@Allicolyer @ophelieh and @kmorton2017 the way the filters work is that you have to add a profile type to any of the filters. So you have to select Judge profiles for Onboarded Judges, Mentor profiles for Onboarded Mentors, etc. So this is working as intended. I think if we want to improve the way the filters work, that can be discussed, but I think that removing this would remove functionality th

[2019-01-31 15:37] joemsak commented on #1780
@adrichey on production you configure a new random token for the ENV var of the cookie you want to invalidate

https://github.com/Iridescent-CM/technovation-app/blob/qa/app/constants/cookie_names.rb#L3

`heroku config:set COOKIES_AUTH_TOKEN=random-string-here`

Easy way to get a random string:

`rails runner "puts SecureRandom.hex(12)"` - or whatever the current length of the ENV vars are

On deve

[2019-01-31 16:12] adrichey commented on #1797
I looked into this and it looks like bad data. She definitely has two accounts. They both were created mere milliseconds from one another, so my guess is some server issue caused two accounts to be created, with only one of them having a student profile. I think it might be good to delete the account without the student profile. I will have to do that manually since it is a corrupted account. Let

[2019-01-31 16:20] Allicolyer commented on #1956
1. On the submission page, if you choose Thunkable it will display the promo code
2. Static Page - figure out where this would live in the app.

Alan needs: Exact text that should be on the static page and where we want to link it

[2019-01-31 16:22] adrichey commented on #1780
@joemsak Thank you for saving me some time digging! You rock.

[2019-01-31 18:02] adrichey commented on #1942
After talking to @Allicolyer I want to expand on the scope of this work. Mentors should always have a "Switch to judge mode" link; Judges have the inverse version of this where they have a "Switch to mentor mode" link that logs them in as a mentor. When that "Switch to judge mode" link is clicked, a judge profile should be created and they should be switched to judge mode.

[2019-02-01 15:20] adrichey commented on #1943
The work for this has been completed. I have regenerated the judge signup link and it is now active. The link can be found in the Invite Users section of the admin dashboard. That link can be provided to your RAs so that they can share that link with judges. Please let me know if you have any questions.

[2019-02-01 15:31] Allicolyer commented on #1935
Thanks @adrichey!

[2019-02-01 15:35] Allicolyer commented on #1935
Works great!

[2019-02-01 15:35] #1935 closed

[2019-02-01 15:38] Allicolyer commented on #1874
Thank you for that information @adrichey. I think it's good that we just note this so that if any RAs any issues we can help them.

[2019-02-01 15:41] Allicolyer commented on #1942
@nickiredescent can you test this?

[2019-02-01 15:42] Allicolyer commented on #1943
This looks great. @KaiLokken would you be able to test this?

[2019-02-01 16:49] KaiLokken commented on #1943
Logged in as admin on the actual TC platform, clicked on "invite users" and the judge invitation URL popped up. And, the URL brought up the judge sign up page. So, I think it worked!

[2019-02-01 17:21] #1943 closed

[2019-02-01 17:46] nickiredescent commented on #1942
Tested and confirmed that as a mentor, I can be whatever I set my mind to (a judge).

[2019-02-01 18:10] ophelieh commented on #1941
Could we switch it to characters instead? And it be 200? This would include 1 or 2 letter words.
@adrichey

[2019-02-01 18:34] adrichey commented on #1947
@Allicolyer I just noticed that on the demo video uploader, we are linking to the following page: https://technovationchallenge.org/curriculum/pitch-2/

On this curriculum page, we say that a video can be "private or unlisted" which could be confusing to users. I think we should change that to just "unlisted" so that way they aren't setting their videos to private. Can you make that change on the

[2019-02-01 18:57] adrichey commented on #1936
@Allicolyer @ophelieh @kmorton2017 It is a pretty decent level of effort to get this done, but the code would be much more simple afterward if we were to remove the functionality, so I am okay with tackling this during this sprint. Additionally, tackling this **before** #1941 would make that development effort far easier.

[2019-02-01 18:59] adrichey commented on #1941
@Allicolyer @ophelieh and @kmorton2017, while it seems like a pretty easy fix, switching from words to characters would be a larger development effort unless we tackle #1936 first. The word count is a huge part of our sentiment and profanity analysis functionality, so I would want to address that ticket before this one. If we aren't going to be tackling #1936, then I would probably want to avoid s

[2019-02-01 19:51] ophelieh commented on #1936
If you are comfortable with removing it, then I would say let's do it!

I feel like it caused more issues than anything last year. It is true that we will have nothing to monitor negative feedback, but I don't know how much it actually did.

If @kmorton2017 also agrees, I think we can move forward with this.

[2019-02-01 19:54] ophelieh commented on #1941
Ohh that makes a lot of sense!

If it is easier to keep a word count, that's totally fine. We just want to make sure1 and 2 letter words are counted towards the total number of words. :)

[2019-02-01 20:13] adrichey commented on #1941
@ophelieh Making that code recognize one and two letter words is a low level of effort on my end. That works as well.

[2019-02-01 21:16] adrichey opened #1960 "Improve Admin UI for Teams view"
**Is your feature request related to a problem? Please describe.**
Right now, the sticky-cols functionality for the team roster views in the admin panel is jarring. When loaded, if the content is larger than the side navigation when viewing a team, the content gets cut-off and is hidden behind the other debugging information on that page.

**Describe the solution you'd like**
I would like to see t

[2019-02-01 21:16] adrichey commented on #1960
Dev note: Addressed by #1958.

[2019-02-01 21:40] ophelieh commented on #1941
Perfect! Let's do that then. :)

Thank you both!

[2019-02-02 01:29] nickiredescent opened #1961 "Participant seeing a Blank Account"
**Describe the bug**
A user on our platform is encountering an issue where their dashboard is blank. This could be due to email switching done in the process of creating the account. Here is a link to a google doc with the user's information: [link](https://docs.google.com/document/d/1yANf_dNX4-QPZ-SYIAepEtyRjIe_bWbuemsW6W2B_tY/edit?usp=sharing)

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-02-02 05:39] Allicolyer commented on #1961
Also thanks Nick!

[2019-02-04 15:45] adrichey commented on #1961
I looked into this a bit this morning and something more is going on here than just the parental consent. I think we might have some broken logic somewhere. I pulled the production data, removed the student's parental consent, and the bug remains. I will update this once I have made more progress.

[2019-02-04 16:04] adrichey commented on #1961
I have found the issue. There is a problem with the logic block for email confirmations in the UI so it isn't displaying the way it should. I will let you know once the fix is deployed to QA for testing. For now, I would recommend that you tell the user that they must confirm their email account via the email we sent them when they made that change, @nickiredescent. They will not be able to access

[2019-02-04 16:39] adrichey commented on #1961
This is now ready for testing.

[2019-02-04 17:18] adrichey commented on #1951
@ophelieh and @kmorton2017 I have a questions on this. I looked at the CSV export to see what the column data should look like. Can we elaborate a bit more on what the column, or potentially columns, should look like? Here are things I need insight on:
1. Should there be two columns for range, official and unofficial range? Or should official and unofficial be lumped into one range?
2. Additionall

[2019-02-04 19:08] nickiredescent commented on #1961
Tested and works.

Created accounts recreating the scenario to the best of my knowledge. When changing the emails associated with the accounts, both profile types produced a screen where I could not proceed until the new email was confirmed. I also received all confirmation emails. Upon confirmation, the accounts could be used as normal.

![image](https://user-images.githubusercontent.com/45576078

[2019-02-04 19:59] adrichey commented on #1789
This is now ready for testing. This was also a bug in other sections of the admin UI, so I fixed those while I was in there as well. You will want to make sure Country and State columns work for Participants, Judges, Events, Submissions and Teams views as well. Thanks!

[2019-02-04 20:00] adrichey commented on #1961
@nickiredescent Great! Thanks for testing this. I will roll this out to production as soon as we can get through the rest of the Test column on Huboard. Marking this as closed.

[2019-02-04 20:00] #1961 closed

[2019-02-04 20:00] nickiredescent commented on #1947
Tested, both demo and pitch videos lead to a screen that asks to review my video submissions along with helper text. Screenshots attached.
![image](https://user-images.githubusercontent.com/45576078/52233575-4de9dc00-2874-11e9-899f-950ab06ba978.png)
![image](https://user-images.githubusercontent.com/45576078/52233606-622dd900-2874-11e9-9e46-67f18d787456.png)

[2019-02-04 20:06] nickiredescent commented on #1960
Tested, viewing teams is clean. I have no observed overlapping panels.

![uploads/d31ae160-1a4b-4e81-a618-f51c224d8766/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fd31ae160-1a4b-4e81-a618-f51c224d8766%2Fimage.png)

[2019-02-04 20:18] nickiredescent commented on #1789
Tested: State and Country are visible columns for Participants, Judges, Events, Submissions and Teams views

[2019-02-04 21:09] #1789 closed

[2019-02-04 21:40] adrichey commented on #1942
Thanks @nickiredescent!

[2019-02-04 21:40] #1942 closed

[2019-02-04 21:41] adrichey commented on #1947
@nickiredescent Thanks for testing!

[2019-02-04 21:41] #1947 closed

[2019-02-04 21:41] adrichey commented on #1960
@nickiredescent Thanks for testing!

[2019-02-04 21:41] #1960 closed

[2019-02-05 15:08] Allicolyer commented on #1951
Hey @adrichey!

1. Let's only count official scores in the range
2. It's okay for it to appear on multiple lines

As long as we all know how this is working I think it will be okay.

[2019-02-05 15:09] adrichey commented on #1951
Sounds good! Thanks @Allicolyer. I will mark this as unblocked.

[2019-02-05 15:18] Allicolyer commented on #1937
@kmorton2017 I am trying to look for an issue that would answer our question about if this feature is on purpose. I can't really find one but I do suspect this we built this on purpose.

[2019-02-05 15:20] Allicolyer commented on #1946
Since we're doing the database surgery option, it might make sense to make another card for that to remind ourselves when the time comes.

[2019-02-06 01:20] kmorton2017 opened #1965 "Admin Searching for Mentor"
**Describe the bug**

I type in the mentor's name, season and participant type (mentor). When I click to view the mentor, it gives me an uh oh page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to participant page.
2. Type in the name of a mentor. Select 2018 as the season. Select Profile type, mentor.
3. Click on a specific user to view their profile.
4. See error

**Expected behavior

[2019-02-06 01:49] kmorton2017 opened #1966 "XAdmin Searching for Unmatched Mentors in CA"
**Describe the bug**
I am having trouble finding mentors from California that are unmatched.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Participant page
2. Click 2019 season
3. Click on Profile Type--Mentor. Use United States, and California as location filters.
4. Use Team Matching (Unmatched) filter
5. Select Company name as column.
6. Sort company name by ascending order.
7. G

[2019-02-06 15:35] adrichey commented on #1941
@ophelieh Just to confirm, the solution to this is to start counting one and two letter words, and leave all other functionality in place. Is that correct?

[2019-02-06 18:16] kmorton2017 commented on #1954
it would be ideal if we could get to this feature by june 1st. we need to submit a report to salesforce with the # of educators.

right now amy's csv files/data clips are sufficient in the short-term, but it would make it a lot easier to have this feature built!

as an admin i would like the ability to go to the participant's page and use a filter for Mentor Industry to select: "Industry Professio

[2019-02-06 18:17] kmorton2017 commented on #1787
sign up date is sufficient. the inactivity logs on ra dashboards are very helpful.

[2019-02-06 18:17] #1787 closed

[2019-02-06 18:18] kmorton2017 commented on #1920
that's fine we can revisit during registration next sprint.

[2019-02-06 18:27] kmorton2017 commented on #1936
Yes move forward with removing the judge sentiment detector for detecting negative words.

[2019-02-06 18:27] kmorton2017 commented on #1941
yes switch to recognizing 1-2 letter words as part of the word count.

[2019-02-06 18:44] #1874 closed

[2019-02-06 18:48] kmorton2017 commented on #1797
i responded to this over slack

[2019-02-06 19:39] adrichey commented on #1936
Awesome. I will try to get to this once we work through what is currently in the To Do column. I think this is doable. @stenington this is a front-end ticket that I am rather familiar with, so I will tackle this one.

[2019-02-06 21:57] kmorton2017 commented on #1946
sorry guys! if you have reached a consensus feel free to go ahead. i  don't want to be a bottleneck.

confirming dates and text for virtual judging:

April 27th-May 20th
Virtual judging is now closed! Any virtual score submitted after today (May 20th) will be removed. Thank you for your help.

[2019-02-06 22:24] kmorton2017 commented on #1956
Static Page Text will be the following:

1. Go to https://x.thunkable.com/event/5bc11dbb1c9d440000725286
2.  Log in with your gmail account. If you don’t have one, you should make one now.
3. Type in the code in this picture:

This code will give you a free trial of Thunkable PRO. Thunkable PRO allows you to create private projects, that way you can keep your apps secret during the Technovation Ch

[2019-02-06 22:34] ophelieh commented on #1941
Correct. I think that just doing that would help a lot. Once we do that, when we do QA, we might want to add something about what the person thinks about the number of words and maybe reduce it based on feedback, IF that works for you. Otherwise, we can just keep the number of words the same.

[2019-02-06 22:37] adrichey commented on #1941
@ophelieh Of course, I am okay with reassessing this later on if we find the word count is still to high. We can create another ticket for that work and prioritize it if it still feels like too much. :)

[2019-02-06 22:42] ophelieh commented on #1941
Awesome! :)

[2019-02-06 22:47] adrichey commented on #1945
This is a developer testable ticket. I will be testing this shortly and will close it if things look okay on the platform.

[2019-02-07 15:22] adrichey commented on #1945
This has been tested on QA. I was able to receive an Airbrake notification without issue and it was labeled properly within Airbrake. I have added testing notes here: https://docs.google.com/document/d/1rs0zQBWeV3XxGq9NHVWGCTMSXnsKOLWtrDSH_6R89mI/edit?usp=sharing

[2019-02-07 15:22] #1945 closed

[2019-02-07 16:43] stenington commented on #1946
@ophelieh Can you confirm if these are the two spots you're thinking of where the messaging should go?

Judge dashboard:
<img width="1276" alt="screen shot 2019-02-07 at 11 27 30 am" src="https://user-images.githubusercontent.com/55319/52427136-5ee15a00-2acd-11e9-9bce-fc35ed211d48.png">

Screen after you finish judging a submission:
<img width="1276" alt="screen shot 2019-02-07 at 11 39 42 am" src

[2019-02-07 16:58] stenington commented on #1946
@adrichey Can you check my thinking on the following?

I think there may actually be a way to disable the `Start a new score` and `Start another score` buttons rather than just putting some text next to them. Both use the `CanStartNewScore` module as a check, which I think is specifically checking that the user can start a new **virtual** score.

I think the hardest part of doing a full fix here i

[2019-02-07 17:43] adrichey commented on #1946
@stenington I think the first part about `CanStartNewScore` seems correct. I think the approach sounds good. Honestly, I cannot think of a cleaner solution and really like that. I think that override check that comes from the `.env` is the way to go, and it makes toggling it much simpler. I am not seeing any issues with it after looking around a bit.

To your second point, I think we should start

[2019-02-07 17:45] ophelieh commented on #1941
@jessicabryan  & @nickiredescent Could you both test this today or tomorrow?

To test you will need to:
- log in as a judge,
- get a submission,
- write feedback
- see if it is counting 1 and 2 letter words (I, be...)
- tell us if you think 40 words is too much

Thank you!

[2019-02-07 18:10] adrichey commented on #1941
Just found an issue with this card while doing the sentiment detector work. Please refrain from testing until the fix is deployed to QA. Thanks!

[2019-02-07 18:26] adrichey commented on #1941
This is once again ready for testing! Sorry for the delay. :)

[2019-02-07 18:49] ophelieh commented on #1941
No worries. All ready @nickiredescent @jessicabryan

[2019-02-07 19:30] stenington commented on #1946
Looking into the messaging piece, I found [this](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/technovation/season_toggles/judging_round_toggles.rb#L10) which is a little worrying. It seems like some parts of the app will look to `SeasonToggles` to see if we're in the quarterfinals or semifinals or whatever, while other parts will compare the current date to these hardcoded dates i

[2019-02-07 19:42] adrichey commented on #1946
Mike has raised some really important concerns. I think we need to think of a way to test this logic and do more exploratory QA. My recommendation would be to move these variables to `ImportantDates` so that we can set these variables at the environment level and test before those dates come. @stenington what do you think of this approach? Should we create another ticket to get that put into place

[2019-02-07 19:53] adrichey commented on #1936
Something to note once this work has been completed is that we will no longer be using Algorithmia for TC after this code is removed. @stenington are you using that service for CM? If not, we may want to delete that account, or at the very least, regenerate the current API key.

[2019-02-07 20:10] adrichey commented on #1951
This is now ready for testing. Thanks @stenington for knocking this out!

[2019-02-07 20:17] adrichey commented on #1939
@ophelieh and @kmorton2017 Alli outlined a couple of potential solutions for this ticket. My solution would be to approach this ticket from the second solution: "Have development platform option for Thunkable Classic and have it behave the same way as the App Inventor option." I think that makes the most sense from a data collection standpoint and isn't just a work around. If that works, I will ge

[2019-02-07 20:54] stenington commented on #1946
@adrichey Yeah I think that's probably a pretty good idea.

It also appears with the hardcoded dates that the system can already handle RPE quarterfinals ending later than virtual quarterfinals. It looks like last year RPEs ended 2 days later than virtual judging?

[2019-02-07 21:24] stenington opened #1971 "Make all judging dates configurable"
**Description**

Some dates that describe when judging rounds start and stop are hard-coded in the app. This is a potential problem because exploratory QA of judging was conducted outside of these dates, and so it wouldn't not have fully simulated what the actual judging season looks like, despite being able to toggle quarterfinals and semifinals judging through the admin.

**Solution**

Instead o

[2019-02-07 21:25] stenington commented on #1946
@adrichey I opened #1971, and propose we do that ticket and then do another round of exploratory QA before coming back to this ticket. Sound okay?

[2019-02-07 21:45] adrichey commented on #1971
Thank you for creating this ticket, Mike.

[2019-02-07 21:48] adrichey commented on #1946
Sure. I think that is a good way to go. I will move #1971into To Do, and move this one behind it in To Do and mark it as blocked until that work is complete.

[2019-02-07 22:35] stenington commented on #1936
@adrichey Nope, CM doesn't use Algorithmia.

[2019-02-08 01:14] nickiredescent commented on #1941
Tested.

Single/double letter words registered. Random characters also were counted as words (I could submit "e" 50 times).

I think 40 words is fine, considering the number of times judges would need to do this, this should help with burn out while still providing valuable and meaningful feedback. I felt I could say generic stuff and get up to 30, but I'd need to at least think of something relev

[2019-02-08 01:16] nickiredescent commented on #1941
Never mind, the prohibited word trigger was just slow. It's working.

[2019-02-08 15:13] adrichey commented on #1941
@nickiredescent that prohibited word functionality will be removed with #1936 which should be rolling out today, so some of that slowness will be alleviated soon. Thanks!

[2019-02-08 15:27] ophelieh commented on #1939
Hi @adrichey i agree that this might be the best option. Thank you!

[2019-02-08 16:23] adrichey commented on #1939
@ophelieh and @kmorton2017 I am going to get started on this now since this will block students from uploading their source code potentially.

[2019-02-08 16:31] adrichey commented on #1950
This is now ready for testing. Please note that this change does not convert RPEs already in the system to one division. The reason why this was done is so that live events already created in the system are still able to function as before. If you edit an event that has both junior and senior divisions it will show them as neither being selected when the edit form loads because of this compromise.

[2019-02-08 16:58] ophelieh commented on #1939
Totally fine!

[2019-02-08 17:00] stenington commented on #1946
Another point of clarification will be needed on this one. When we say "virtual judging stops before live" does that mean creating new scores, finishing in progress scores, and editing old scores? Or is it just creating new ones, but finishing or editing can happen for a while longer?

[2019-02-08 17:10] kmorton2017 commented on #1949
update from meeting on 02/08 do not prioritize this

[2019-02-08 17:10] kmorton2017 commented on #1944
update from meeting 02/08: do not prioritize this

[2019-02-08 17:13] ophelieh commented on #1950
@nickiredescent Could you test this today?

[2019-02-08 18:05] adrichey commented on #1956
The proposed solution for this is to create a static information page within the platform with the copy Katie referenced previously. This page will only be accessible if the user is signed in. On the WordPress site, we will remove the promo code and add a link to the static information page within the platform. When a user clicks this link, they will be prompted to log in if they have not already

[2019-02-08 19:41] adrichey commented on #1936
This is now ready for testing.

[2019-02-08 19:46] ophelieh commented on #1950
Question - what happens for events that have already been created and have both divisions? (I just checked on the platform and we currently have 2 with 2 divisions)

[2019-02-08 19:49] ophelieh commented on #1950
Otherwise, it works as expected - I can only select one division.

_Side note - I was able to create an event that starts at 14:00 (2pm) and ends at 7:00. Not really important but wanted to bring it up just in case_

[2019-02-08 19:52] adrichey commented on #1950
@ophelieh they will still be set for two divisions. This only affects new events.

As for the other issue, we have noticed that and talked about validating the inputs of the start and end time in the past, but it has never been a high priority. We may want to make a note of that somewhere and maybe address it later if we have some quiet time.

[2019-02-08 19:57] ophelieh commented on #1936
@nickiredescent Could you test this today as well? Basically, as a judge, you should be able to enter any word and nothing happens.

Thanks!

[2019-02-08 19:58] ophelieh commented on #1950
Ok. Good to know!

And should I add it to the icebox maybe?

[2019-02-08 20:36] adrichey commented on #1950
It might be a good one for the icebox. Sure!

[2019-02-08 21:27] ophelieh commented on #1941
We might want to change where the note about 40 words is written. I didn't even see it at first.

![uploads/806dedd4-1bbe-42b1-abd9-eb6a14d28cdb/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F806dedd4-1bbe-42b1-abd9-eb6a14d28cdb%2Fimage.png)

Could we put it after the highlighted portion?

Also, we need to remove the portion about negativity (see my beautiful circling).

[2019-02-08 21:28] ophelieh commented on #1941
Other than that it works great. 40 words isn't too hard and forces you to actually think through your feedback and not just write generic things.

[2019-02-08 21:32] ophelieh commented on #1941
One last thing, I noticed it counts numbers. Not sure if we want it to do that.

[2019-02-08 21:34] nickiredescent commented on #1936
Tested, the negative sentiment detector is no longer there. The message about keeping the feedback "less than 20% negative" is still around. Not sure if the wording of that should be changed. "Remember to give positive and constructive feedback!" for example.

[2019-02-08 21:37] nickiredescent commented on #1950
Also confirming that RA event creation can only be done with a single division selected.

[2019-02-08 21:43] ophelieh opened #1975 "Validating Times for RPES"
As an RA, I was able to create an event that starts at 14:00 (2pm) and ends at 7:00.

Expected behavior:
It gives an error message if the end time is before the start time.

[2019-02-08 21:43] #1950 closed

[2019-02-08 22:16] adrichey commented on #1941
@ophelieh I will make those changes and let you know when this is ready for testing once again. Thanks! As for not counting numbers, I think we should leave those in and counting toward the count. It is a decent amount of effort to filter those out and we have always counted numbers in the past. Hopefully that is okay! I will move the required word count and remove the negativity text now in any c

[2019-02-08 22:20] ophelieh commented on #1941
Totally fine. :)

[2019-02-08 22:33] adrichey commented on #1941
@ophelieh In order to keep the code simple and to keep the word count helper text closer to the actual count, I moved the helper text to the spot where you see "0 prohibited words" in your screenshot above. I will let you know when this is deployed to QA for testing, and hopefully you will find that works for you.

[2019-02-08 22:47] adrichey commented on #1936
@nickiredescent That will be removed shortly. There is a conversation on #1941 about this very thing. I will let you know when that has been removed so that you can take another look.

[2019-02-08 22:55] adrichey commented on #1941
This is once again ready for testing @ophelieh! Thanks again for your feedback.

[2019-02-08 22:56] adrichey commented on #1936
@nickiredescent that text is now removed and the 40 word count text is now located under the word counter. You can take another pass at this now. Thanks!

[2019-02-08 23:19] adrichey commented on #1939
This is now ready for testing. It functions similarly to the "Java or Android Studio" or "Swift or XCode" selection in that you can choose Thunkable Classic and then upload your code on the Source Code Upload step. Thunkable Classic uses .aia files, so our uploader is set up to handle them properly. Please reach out with any questions.

[2019-02-09 00:21] Allicolyer commented on #1946
Hey @stenington

All virtual judging will stop. So no more creating new ones, editing, or finishing any virtual scores after that date. We will be selecting the semifinalists right after that date, so we do not want an "unfinished" score to be finished and submitted.

[2019-02-09 14:25] stenington commented on #1946
Okay, so that reduces the effectiveness of the database surgery option. We can remove scores created after the deadline but we can’t un-edit edited scores.

[2019-02-11 15:26] adrichey commented on #1946
It is starting to sound like we are going to have to just lock this down somehow based on dates so people cannot edit scores after that date. 😬 Mike, I will bring this up during our prioritization meeting today.

[2019-02-11 17:03] ophelieh commented on #1941
Looks great. Thanks Alan!

[2019-02-11 17:03] #1941 closed

[2019-02-11 17:04] ophelieh commented on #1936
Looks good!

[2019-02-11 17:04] #1936 closed

[2019-02-11 17:09] ophelieh commented on #1939
Works great!

[2019-02-11 17:09] #1939 closed

[2019-02-11 17:22] ophelieh commented on #1951
I selected "quarterfinal range" to add to the spreadsheet, however, once I downloaded it, it did not show.

![uploads/cd82f678-3cea-4179-a102-882bc4984e0e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fcd82f678-3cea-4179-a102-882bc4984e0e%2Fimage.png)

Also, I chose to focus on 1 team and it is really weird, because that teams shows both as virtual and live. Not sure how

[2019-02-11 17:22] ophelieh commented on #1951
@kmorton2017 Can you test today?

[2019-02-11 17:43] stenington commented on #1951
I'll take a look at the CSV export problems.

[2019-02-11 18:03] stenington commented on #1951
The scores page uses two totally separate datagrids for page display and CSV export, so that seems like a pre-existing bug to me prior to this ticket. I tried to do the quick-fix of simply having both use the same grid, and I get a 500 when I try to export so unfortunately it's not a quick fix.

I think we probably want to open a separate ticket asking for the page and export to use the same datag

[2019-02-11 19:14] nickiredescent opened #1978 "Admin Participant Search by Onboarding Students Produces Error"
**Describe the bug**
As an admin, filtering participant search by still onboarding students results in an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an admin
2. Go to "Participants"
3. Under the "Onboarded Students" search filter, choose either option.
4. Click Search
5. Error Appears

**Expected behavior**
I expect the participants to be filtered to whatever onboarded

[2019-02-11 19:40] stenington commented on #1951
With a little more effort I figured out how I can make the export have the same columns as you see on screen. @ophelieh would that be a good fix here?

[2019-02-11 20:29] amyiridescent commented on #1946
Just fyi data from last year. We had 685 teams be judged virtually in quarter finals last year. Only 15 of those teams had more than 8 scores. Average was 3.6 scores per team.

[2019-02-11 21:12] adrichey commented on #1978
@nickiredescent I don't believe this is a bug. You need to select "Students" from the Profile Type selector in order for that filter to work. You have to select "Mentors" when using the "Onboarding Mentors" filter as well. Maybe an improvement could be made to this UI so that the onboarding filters don't show up until a profile type has been selected? One future improvement I have had on my mind w

[2019-02-11 21:23] ophelieh commented on #1951
That would be great! :) I'm not sure I can see the range either on the platform though, I would need to recheck.

[2019-02-11 21:43] nickiredescent commented on #1978
Ah I see that it works that way now. Thanks for clarifying that with me @adrichey. Throw it into the future box it is then!

[2019-02-11 22:03] stenington commented on #1946
I think I have a PR that will allow us to have virtual judging and live judging end at different times for the quarterfinals without worrying about database surgery or relying on users to follow instructions. The way it would work is that we would set two dates in the environment: a virtual QF end date and a live QF end date. Then, even if quarterfinals are turned on in the settings, the platform

[2019-02-11 22:20] kmorton2017 commented on #1946
can we clarify 2 questions? These will inform our decision.

1) Is it possible to test these dates this year during exploratory QA? or no?
2) At what point does a judge receive the message that there are no more submissions left to score (ie when 100% of virtual teams have received X# of scores)

[2019-02-11 22:36] stenington commented on #1946
Sure, answers below:

1. Yes, I could have explained that better. I've already made a change so the dates that were hardcoded can now be changed by a developer in the environment. That means that during exploratory QA, with a developer's help you'll be able to see what the platform will look like before and after those deadlines by having us change the deadline dates for you.

2. I'm not sure I un

[2019-02-11 22:39] amyiridescent commented on #1946
Alan, checked this for me earlier. Each submission can only get 9 scores at the max. That is how it is written in the platform which means if every team received 9 scores, there will be no more to be judged.

One thing to note is that any judging that started (i.e. not completed) counts towards these 9. I remember this because some of the judges didn't finish the scoring and it was an issue last y

[2019-02-11 22:43] adrichey commented on #1978
Welcome. It is a little odd in any case. Hopefully we can prioritize some improvements in that section one day soon. 🙂

[2019-02-11 23:29] adrichey opened #1981 "Update TC site to reflect Thunkable info page changes"
**Is your feature request related to a problem? Please describe.**
This is a follow up ticket to #1956.

**Describe the solution you'd like**
We need to link to https://my.technovationchallenge.org/general_info/get_started_with_thunkable instead of displaying the promo code information on the following page of our TC website: https://technovationchallenge.org/curriculum/coding-1/#act2

**Additiona

[2019-02-11 23:30] adrichey commented on #1956
This is ready for testing. The way you get to the informational page is by visiting: https://technovation-qa.herokuapp.com/general_info/get_started_with_thunkable. You can also get to the page by selecting Thunkable as your development platform (see first screenshot below).

![uploads/ba24be14-ad55-4473-a71b-ca6794f1b0e7/link_to_thunkable_page.png](https://s3-us-west-2.amazonaws.com/prod.huboard.c

[2019-02-13 16:53] adrichey commented on #1948
@ophelieh or @kmorton2017 for the cap field, is there a maximum we want to put on the event, or should we allow the user to set the cap at any number?

[2019-02-13 17:15] ophelieh commented on #1948
Each user should be able to set their own cap as each location has different capacities.

Thank you! :)

[2019-02-13 17:16] ophelieh commented on #1956
@KaiLokken Could you test this today or tomorrow?

Thank you!

[2019-02-13 19:49] adrichey commented on #1948
Great, thanks!

[2019-02-13 21:56] kmorton2017 commented on #1956
i confirm that i was able to access this splash page from the link you provided. Using the "go back" button I was able to navigate back the dashboard.

I am also able to view the code in the development platform section.

[2019-02-13 23:25] kmorton2017 commented on #1946
If everyone is comfortable, let's proceed with exploratory QA to determine if there are bugs/complications with two separate dates.

[2019-02-13 23:51] kmorton2017 opened #1983 "Bug: Copying/Pasting Email into Development platform [1,1,1]"
**Describe the bug**
I've been encountering some issues with the development platform component of the submissions. It appears that if I copy and paste an email address into the development platform field, it marks it as invalid. Specifically, this field: WHAT IS THE GMAIL ADDRESS OF THE APP INVENTOR ACCOUNT THAT YOUR TEAM IS USING?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "

[2019-02-14 19:02] kmorton2017 opened #1984 "Code Checklist-Paper Prototype and Pseudocode"
**Describe the bug**
I tried to upload a file called "paper-prototype" into the prototype section of the code checklist. I also tried to upload a file called "pseudocode" into the pseudocode section of the checklist. The first time it happened, it selected a random screenshot on my computer for both (see thunkable logo). I tried again to choose the correct file for both the prototype and pseudocod

[2019-02-15 16:18] ophelieh opened #1985 "Admin Events Page - Seeing the Wrong Number of teams"
**Describe the bug**
As an admin, when I look at an event, I can see the numbers of teams. However, when I click on that event, sometimes the number of teams is different than on the main page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Events'
2. Look at team count
3. Click on 'View' under Action
3. Look at number of teams
4. See actual number of teams

**Expected behavior**
A c

[2019-02-15 22:02] adrichey commented on #1948
**QA Testing Acceptance Criteria**

Scenario 1:
- Log in as an RA
- Navigate to the Events section in the RA dashboard
- Create an Event, checking the "Set a cap on the number of teams that can attend" checkbox and set a numeric cap (do something small like 3).
- Save the event
- Now click "Manage Teams" and try to add more than 3 teams to the event. Assert that you can only add teams up to the ca

[2019-02-19 15:45] stenington commented on #1951
Okay, the CSV should now have the same columns shown on screen.

[2019-02-19 16:21] ophelieh commented on #1948
We can test that in between exploratory QA. Let me know when would be a good time @adrichey. :)

[2019-02-19 16:58] adrichey commented on #1948
Will do @ophelieh. I am waiting on @stenington to review my pull request for that work before I can merge it in to be tested. I will update this ticket as soon as it is ready to be tested. Thanks!

[2019-02-19 22:54] #1956 closed

[2019-02-20 19:49] adrichey commented on #1948
This is now ready for testing.

[2019-02-20 19:51] ophelieh commented on #1951
@kmorton2017 Can you help test that this week?

[2019-02-20 22:35] adrichey opened #1987 "Force users to enter a location and data agreement"
Right now, users who have been invited to the platform without going through the registration form do not have to enter a location or adhere to the data agreement when they log in. After speaking with Katie and Ophelie, it is desirable to have all users fill out the data agreement and enter a location for data collection and event/workshop matching purposes.

**Proposed Solution**

We create a rou

[2019-02-20 22:36] adrichey commented on #1987
Marking as blocked since we need copy.

[2019-02-21 15:31] ophelieh commented on #1951
Looks great and works as expected.

I'm going to be annoying and ask:
* In the more columns, would it be possible to add if it's a score from a live event or virtual?
* *Katie* are you ok with just seeing the average score, or do we want to see all the scores for each team? @kmorton2017

Thank you!

[2019-02-21 16:31] stenington commented on #1951
@ophelieh Each line of the results is a team instead of a single score, so I can't put if a score was live or virtual, but I think I could put whether or not that team was at an official RPE during quarterfinals. Would that work?

I think I'm going to wait for @kmorton2017 to respond about scores though, because of we need to go back to showing one score per line instead of one team per line, I'll

[2019-02-21 19:16] ophelieh commented on #1987
Hi @adrichey! Here is the text Katie and I agreed on: "You have been brought to this page because your location is missing. After you enter your location, you will be brought back to your dashboard. Thank you!"

[2019-02-21 19:20] adrichey commented on #1987
Awesome! Thank you both for putting that together! I will mark this as being unblocked.

[2019-02-21 19:48] jessicabryan opened #1988 "TC 2019 Current # of Judge Report"
**Describe the bug**
When I login to the website and go to "participants" and search for our current judges for this season that are currently onboarded it displays the "uh, oh something went wrong"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'technovation platform"
2. Click on 'participants'
3. Click the drop down menu "onboarded judges" and select "yes, fully onboarded"
4. Click

[2019-02-21 19:56] adrichey commented on #1988
@jessicabryan Our filters are a little odd. They don't work unless you select a profile in addition to the other filters. It is a limitation of the way we are querying. I would love to improve that one day so that the Participants views is split up according to what you are querying for (judges/mentors/students/RAs instead of just Participants) so that you didn't have to select a profile type, but

[2019-02-21 22:10] jessicabryan commented on #1988
[image: yoda.jpeg]

On Thu, Feb 21, 2019 at 11:56 AM Alan Richey <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>M: 310-968-6881Tomorrow belongs to
our children. Donate <https://iridescentlearning.org/d

[2019-02-21 22:28] adrichey commented on #1988
Haha, sounds like this worked for you! I will go ahead and close this ticket @jessicabryan. If that isn't the case, feel free to comment on this ticket and I will reopen it for you. 🙂

[2019-02-21 22:28] #1988 closed

[2019-02-21 23:15] ophelieh commented on #1951
That would be great - to see if teams were at official RPE. :)

And I think it would be fine to just see scores on 1 line, especially if it would cause more work.

Thank you @stenington!

[2019-02-21 23:23] ophelieh commented on #1948
Because we are in the middle of testing judging, I could only test scenario 1, but it works great. We will need to test the other scenarios as soon as we are done with our exploratory QA.

[2019-02-21 23:56] jessicabryan commented on #1988
Works perfectly! Thank you!

Jess

On Thu, Feb 21, 2019 at 2:28 PM Alan Richey <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>M: 310-968-6881Tomorrow belongs to
our children. Donate <https://iridescent

[2019-02-22 00:02] nickiredescent opened #1989 "Receiving "team not fully onboarded" warning even though all members have completed their registration"
**Describe the bug**
A team is receiving a warning that they are not qualified to compete because a student has not completed their registration. However, no student name is listed and every member has completed their onboarding. Further information can be seen in [this doc](https://docs.google.com/document/d/12I4fsYk4vu4z60wjAZX774KToIAufa3GFC6EnPp0CvU/edit?usp=sharing).

**To Reproduce**
Steps t

[2019-02-22 14:31] stenington commented on #1988
@adrichey This is something I've encountered and know how to fix, I just actually don't know what the right behavior is. If I select multiple profile types and then choose an onboarded judges filter, should I only see judges in my results? Or is that the only judges in the results should have that onboarding, and other profiles should remain unaffected?

[2019-02-22 15:32] adrichey commented on #1988
@stenington I think that is a question for the program team. In all honesty, I would like to see the populations segmented to the point where we aren't mixing results at all. But I am not sure if that would complicate the program team's job. We should all touch base on that at some point. Personally, I don't think this is a priority at this point, so that is why I haven't pushed for answers on thi

[2019-02-22 15:55] stenington commented on #1971
@adrichey Do you feel any particular QA is needed here? I think the exploratory QA happening now is evidence that this change is working, right?

[2019-02-22 15:59] adrichey commented on #1989
@nickiredescent this has been fixed for that team. For some reason, the team's "all students onboarded" flag did not get set properly. I simply had to make a change to the team's summary, save, and then revert that change and save again to get that flag updated. They are good to go now.

[2019-02-22 15:59] adrichey commented on #1989
@nickiredescent I will close this ticket once you have had a chance to look at that team again and confirm that the fix worked. This is ready for testing.

[2019-02-22 16:12] adrichey commented on #1971
@stenington I am okay with calling this good. My main thing was that I wanted to make sure that I could get to the between rounds screen using the dates, which I was able to reproduce. So in my opinion, this can be closed. I updated the production dates to match those confirmed by Katie as well. So I will close this.

[2019-02-22 16:12] #1971 closed

[2019-02-22 18:03] nickiredescent commented on #1989
Thanks @adrichey ! I've notified the team, this ticket can be closed now.

[2019-02-22 19:42] #1989 closed

[2019-02-22 20:02] stenington commented on #1951
Okay, the scores page now has an optional "Quarterfinals official judging" column that tells you whether the virtual or live scores are being considered as the official scores for each team. It should only say "live" or teams that were at official RPEs.

<img width="541" alt="screen shot 2019-02-22 at 3 00 47 pm" src="https://user-images.githubusercontent.com/55319/53267964-c5ac6900-36b2-11e9-952d

[2019-02-25 17:34] stenington commented on #1985
Ok, this should be fixed. QA suggestions:

1. Go to 'Events'
2. Look at team count
3. Click on 'View' under Action
4. Look at number of teams
5. Confirm that the two counts match
6. Remove a team
7. Confirm that the team count updates correctly
8. Add a team back
9. Confirm that the team count updates correctly

[2019-02-25 17:48] stenington commented on #1944
I know this was de-prioritized, but I'm going to see if I can do it while waiting for the results of judging exploratory QA.

[2019-02-25 17:56] adrichey opened #1993 "Scores & Feeback shows up as disabled, despite being enabled in dashboard"
**Describe the bug**
Once Scores and Certificates have been enabled in the Admin UI, students and mentors should have access to that section on their dashboard. Right now, they have access once that feature has been turned on, but it shows up as being disabled and displays an incorrect tooltip when visiting that section on a mentor or student profile. Please see screenshot below.

**To Reproduce**

[2019-02-25 18:07] adrichey opened #1994 "Scores section on dashboard needs styling work"
**Describe the bug**
Right now, when a mentor or student views their Scores & Feedback section within their dasboard the scores are scrunched up to 50% of the view width when they should be extended the full 100%. See screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in a mentor with scores
2. Click on Scores & Feedback in the dashboard
3. Observe that the scores only tak

[2019-02-25 18:23] adrichey opened #1995 "Improve links for scored submissions in various UI spots"
**Is your feature request related to a problem? Please describe.**
Right now, users can have trouble navigating between team, score, and submission in the UI when trying to look at scores data. We would like to have links to help navigate back and forth whenever a user visits any of those pages.

Basically for all scenarios below, we need links to the team when team name is displayed, and submissi

[2019-02-25 19:29] stenington commented on #1944
I believe these are the two places, along with the CSV download, that RAs would see scores: the scores page and score details page.

![technovation-qa herokuapp com_regional_ambassador_scores](https://user-images.githubusercontent.com/55319/53362687-b7f02100-3908-11e9-9b4c-4fd3b1d268a1.png)

![technovation-qa herokuapp com_regional_ambassador_score_details_59](https://user-images.githubusercontent

[2019-02-25 19:56] stenington commented on #1944
@adrichey can you give me a gut-check on whether the proposed solution above would fix this issue?

[2019-02-25 20:39] adrichey commented on #1944
I believe that sounds like a good solution, Mike. That was essentially what I had proposed with Alli when this ticket was created. That we basically lock things down for RAs based on whether the Score & Certs Available toggle was turned on.

I am going to tag @ophelieh and @kmorton2017 for one of them to look at the solution as well.

[2019-02-25 20:53] adrichey commented on #1987
This is also an issue for accounts without a data agreement. So the proposed solution needs to be expanded to cover accounts without a data agreement.

If the end-user doesn't have a data agreement, they should be rerouted to a form with the data agreement checkbox and information and not be able to continue until they have agreed to that.

From here they will be redirected to the dashboard if the

[2019-02-25 21:09] adrichey commented on #1987
@kmorton2017 and @ophelieh, can you please let me know if this copy is okay to display for the end-user who needs to agree to the terms for to use the site?

"You have been brought to this page because you must agree to the data use terms before participating in Technovation. After you agree to these terms, you will be brought back to your dashboard. Thank you!"

[2019-02-25 21:58] adrichey opened #1996 "Update the season results WordPress page link on the platform after results are in"
**Is your feature request related to a problem? Please describe.**
Right now, once the season is over, Judges receive the following copy if they did not complete any scores:
![screen shot 2019-02-25 at 3 55 31 pm 2](https://user-images.githubusercontent.com/1534554/53371429-da3c6b80-3915-11e9-9b76-1f05a9b58fc9.png)
Once judging is over, we will want to make sure that the following page shows the c

[2019-02-25 23:04] stenington opened #1997 "Test score deletion scenarios"
It appears that there are various scenarios where a team's scores or a judge's scores will be deleted, based on them being invited to or removed from an RPE. I want to double-check on the intended logic, and then confirm that the important scenarios are properly tested.

I also kind of want to raise the question of whether score deletion is necessary, given that we now split scores out as official

[2019-02-26 05:12] kmorton2017 commented on #1951
i am touching base with ophelie over slack to understand her question. ^^

[2019-02-26 06:10] kmorton2017 commented on #1985
i wasn't able to do steps 8 and 9 with exploratory QA settings enabled (cannot add teams back with these settings) , but i was able to do 1-8 and confirm that the count updated

[2019-02-26 06:11] kmorton2017 commented on #1981
just want to check in and see if this can be pushed to the to do column since 1956 is deployed!

[2019-02-26 16:15] stenington commented on #1985
RAs can add teams even when judging is enabled, can't they? I know teams or mentors can't add themselves, but I believe RAs can change their event teams and judges at any time.

[2019-02-26 17:37] stenington commented on #1997
@kmorton2017 confirmed that there are scenarios where deleting scores is appropriate, and I see now that scores are marked as official or not when they are created, so if we didn't delete them we'd have to re-categorize them appropriately each time a change was made to an RPE's line up.

I'm still a bit suspicious of a few things but I really don't know how likely they are to occur, so our best op

[2019-02-26 17:37] #1997 closed

[2019-02-26 17:46] kmorton2017 commented on #1985
hmmm it was telling me there were . no more teams left for me to add even tho there were definitely LA teams i could add to my event

[2019-02-26 20:03] stenington commented on #1985
Oh, okay, let me look in to that @kmorton2017. I was working locally, not on staging, so let me see if there's an explanation for that.

[2019-02-26 20:51] stenington commented on #1985
@kmorton2017 I don't see anywhere obvious that the season toggles would be preventing you from adding teams back. Which event and which team was it?

[2019-02-26 22:36] ophelieh commented on #1987
Perfect. Thank you @adrichey

[2019-02-26 22:37] ophelieh commented on #1944
Seems like a good solution to me as well. Thank you @stenington and @adrichey

[2019-02-26 22:48] ophelieh commented on #1985
This works great! Thank you! :)

[2019-02-26 22:48] #1985 closed

[2019-02-27 14:57] adrichey commented on #1981
@kmorton2017 the test column needs to be completely clear in order for me to deploy to production, so this code is not live. We have a lot going out this release and exploratory QA has been holding us back. I will move this conversation to Slack this morning.

[2019-02-27 17:13] jessicabryan opened #1999 "Judge Sign Up - Need description text"
**Describe the bug**
It appears that the same issue we were having with mentors signing up and choosing companies at random and also adding their company when it already exists is happening for the judges. When judges need to enter their company it is unclear that they should type in their company if they don't see it. Also, if they aren't at a company and maybe at a school, there isn't an option

[2019-02-27 17:20] adrichey commented on #1999
@ophelieh I am pulling this into the sprint as it is a pretty easy to do item and involves judge registrations. It sounds similar to the work we did for mentors in regard to adding helper text to their school or company name drop down.

@jessicabryan This should be done sometime soon. I cannot give you a time frame as we are working on some bigger issues right now, but I will try to prioritize it

[2019-02-27 17:45] ophelieh commented on #1948
@nickiredescent and @KaiLokken Could you both test this today or tomorrow?

I would recommend using an RA that has a few teams in their region, but let's try someone other than the ra@ra.com account for diversity. :) Thank you!!

[2019-02-27 17:46] ophelieh commented on #1951
Awesome. Thanks @stenington! @kmorton2017 Do you feel ok with this? If so, we can close this ticket.

[2019-02-27 19:54] KaiLokken commented on #1948
@adrichey @ophelieh @nickiredescent
Nick and I divided up the scenarios- I'm testing the student scenarios and Nick is testing the mentor scenarios.
For scenarios 1, 2, and 4- everything worked great!  And, I didn't use Neil as my RA. I used Big Bird.

[2019-02-27 21:05] adrichey commented on #1987
@ophelieh @kmorton2017 and @amyiridescent, do we need to force RAs to agree to the data use agreement terms? I am forcing mentors, students, and judges to agree right now, but since RAs don't sign up in the same way as our other users, do we need this?

[2019-02-27 21:12] stenington commented on #1949
Grabbing this one because it was at the top of the backlog (despite the do not prioritize note)

[2019-02-27 21:16] ophelieh commented on #1944
**Scenario 1**
As an admin, set judging mode. Set quarterfinals then finals.
For each round, log in as an RA and check that you:
* Can see scores from events
* Cannot see virtual scores

**Scenario 2**
As an admin change settings to Scores and Certificates. Log in as an RA and check that you can now see all scores

@nickiredescent @kmorton2017 Could both of you test this? Thank you!

[2019-02-27 21:22] amyiridescent commented on #1987
I think there might be language regarding this in the RA agreement then sign. @ophelieh can you confirm? If it is already on the agreement they sign, I don't think we need to force it again on the platform.

[2019-02-27 22:11] ophelieh commented on #1987
It is included in the MOU so @adrichey you don't need to worry about the RAs. :) Thanks for checking!

[2019-02-27 22:21] #1797 closed

[2019-02-27 22:22] ophelieh commented on #1739
@kmorton2017

[2019-02-27 22:27] ophelieh opened #2001 "Remove General Judge certificate"
Is your feature request related to a problem? Please describe.

We will only have 3 types of certificates this season:
* Certified Judge - Review at least 5 submissions
* Head Judge - Review 6-10 submissions
* Judge Advisor - Review more than 10 submissions

Acceptance Criteria
Part 1

* Turn on judging in the admin (admin@admin.com)
* Log in as a judge
* Judge less 3 submissions

Part 2

* Turn o

[2019-02-28 00:49] nickiredescent commented on #1948
Logged in as Jade Green
Scenario 1 - did not find any issue.
Scenario 3 - did not find any issue.
Scenario 5 - did not find any issue.

Looks good to me!

[2019-02-28 01:01] nickiredescent commented on #1944
Scenario 1
Works fine when Quarterfinals are on.
When Semifinals are on, I am still and only seeing quarter final scores (the list is the same, only teams who attended my event)
Also attached screenshot's team quarterfinal average score is at 0 for some reason.

![image](https://user-images.githubusercontent.com/45576078/53533751-e3157480-3ab0-11e9-82a6-40966be0c61f.png)

Scenario 2
As an RA, I am

[2019-02-28 03:53] jessicabryan commented on #1999
Thanks Alan! I know there are billion things going on, just wanted to catch
this before we officially launched on March 8th. Thank you for all that you
do to keep us alive and thriving!

Jess

On Wed, Feb 27, 2019 at 9:20 AM Alan Richey <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<h

[2019-02-28 16:11] stenington commented on #1944
@ophelieh @nickiredescent I understood this one a little differently. My understanding was that for an RA:
* when **Content & Settings > Scores & Certificates > Scores & Certificates accessible** is off, RAs should only see live event QF team scores, and they shouldn't see any semifinals columns or data on the details page
* when **Content & Settings > Scores & Certificates > Scores & Certificates

[2019-02-28 16:59] ophelieh commented on #1948
Awesome. Thank you @KaiLokken and @nickiredescent!

[2019-02-28 16:59] #1948 closed

[2019-02-28 22:18] ophelieh commented on #1951
Just tested it again. Looks good to go. Thank you @stenington

[2019-02-28 22:18] #1951 closed

[2019-02-28 22:21] ophelieh commented on #1944
@nickiredescent Could you re-test with the scenarios mentioned by Mike?

Thank you!

[2019-02-28 22:21] ophelieh commented on #1944
@KaiLokken If you have some time today or tomorrow could you also test this? See the last comment from Mike.

Thank you!

[2019-02-28 22:41] ophelieh opened #2003 "Edit size/remove trophy on admin UI (for judges only)"
**Describe the bug**
Trophy on judge profile in admin UI is huge and needs to be resized and/or removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a judge profile
2. Scroll down to the bottom of the page
3. See the oversized trophy

**Expected behavior**
The trophy is proportional to the page or removed

**Screenshots**
![image](https://user-images.githubusercontent.com/32206421/

[2019-02-28 22:59] ophelieh opened #2004 "Update certificate templates for mentors, students, judges"
Need to update PDF certificates for:
* mentors - pending
* students - pending
* judges - https://www.dropbox.com/sh/mm2wdk84d1kk2d2/AAAb556-firnrw5X7fs_43eZa?dl=0

**Acceptance Criteria**

Scenario 1 - Students
* Step 1 Log in as a student who did not complete submission - you should see a "participation certificate"
* Step 2 Log in as a student who completed a submission but did not make it to se

[2019-02-28 23:08] ophelieh opened #2005 "Certificate Override - Can break account"
**Describe the bug**
Certificate overrides: You can break an account by giving them a bad certificate override type such as mentor appreciation.

For Judge Judy, alli+j7@iridescentlearning.org, I gave a judge only a mentor appreciation certificate and it breaks the account (you cannot view or log in at all).

Developer note: The fix is to manually remove the override on the account in the database

[2019-02-28 23:15] ophelieh opened #2006 "UI - Make sure titles are consistent - every profile should say “open certificate”"
User - One thing to note is that on production it says “generate certificate” and not “open certificate.” I think it is fine to use “open certificate” on the button.

* Mentors and judges have different titles.
* Mentor and judge buttons should both be rounded buttons for consistency, judge buttons are rectangles right now. Judge buttons also have a large amount of whitespace around them.

Develop

[2019-02-28 23:34] KaiLokken commented on #1944
With Scores & Certificates accessible off
_RA_

1. Log in as an RA-Logged in as Big Bird RA
2. Confirm that only teams at live events in the quarterfinals show
_-Confirmed, only teams at live events in the quarterfinals show_
3. Confirm that trying to select _semifinals_ as the round forces it back to _quarterfinals_ after running the search (the crappy UX we can work to improve on later)
_-Confir

[2019-03-01 16:16] ophelieh opened #2007 "UI - Edit box location on admin view of mentor/judge profile"
**Describe the bug**
After the large trophy there is a box which says what team the mentor is on. This should be in the mentor section of their profile, rather than after the trophy. See below.

![image](https://user-images.githubusercontent.com/32206421/53605434-1faea200-3b7d-11e9-8483-7459d6d19fd4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a judge who is also a mentor
2

[2019-03-01 16:22] ophelieh opened #2008 "UI - Consolidate Certificate location"
**Describe the bug**
There are currently 2 locations to open certificates, which can lead to confusion on admin side.

Example: https://technovation-qa.herokuapp.com/admin/participants/93#/

* This person has correct mentor certificates for 2018 in the Certificates box with the white background. They also have a 2019 certificate that should show up as a mentor certificate as well as they are a men

[2019-03-01 16:33] ophelieh opened #2009 "Dashboard for admin/RAs does not work as expected"
**Describe the bug**
When clicking on the student or mentor pie, admin/RA is brought to an error page.

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin go to Dashboard
2. Click on any of the information in the student or mentor pies
4. See error

**Expected behavior**
When clicking on either of the pies, I should see the appropriate information. For example students with parental

[2019-03-01 16:36] ophelieh commented on #2009
Hi @stenington! Could you look into this when you get a chance?

[2019-03-01 16:39] stenington commented on #1944
Yeah, the page is confusing, and it doesn't help that our test data is set up in a way that can't happen for real in that some teams only have semifinals scores. So here's how I understand the page. Let's look at team Hotdogs.

They have 2 QF scores, and 1 SF score:

![technovation-qa herokuapp com_admin_score_details_23](https://user-images.githubusercontent.com/55319/53651989-d3637080-3c15-11e9-

[2019-03-01 16:41] stenington commented on #2009
Sure @ophelieh, I'll start on it today.

[2019-03-01 16:49] ophelieh opened #2010 "Mentor getting wrong certificate"
**Describe the bug**
As a mentor for multiple teams, I am getting different certificates for teams that submitted. I should only get a certificate of mentoring. See video (log in as King Arthur or Professor Oak) - https://drive.google.com/file/d/1sN8Y3f76IEveFEvTY-mFnG0JH9k7LbsH/view

**Expected behavior**
I should only see mentoring certificate for each team.

[2019-03-01 17:19] stenington commented on #2009
@ophelieh It looks like ticket #1915 asked for the parental consent filter to be removed, which is part of the reason why the graph links are now broken. So I have some options on how to solve this:

* bring back the parental consent filter, including adding it back to the participants page
* bring back the parental consent filter, but try not to show it on the participants page (it only gets used

[2019-03-01 17:22] stenington commented on #2009
Oh, since mentors are broken too I guess the options are basically the same as above, but with the background check and consent waiver filters as well as parental consent.

[2019-03-01 19:15] stenington commented on #1993
I'm unassigning myself and leaving this one for @adrichey. I'd need to learn vuex and vue-router, and then the specifics of how TC uses those tools, and he already knows that stuff.

[2019-03-01 19:21] ophelieh opened #2011 "Admin - Judges getting wrong certificate"
**Describe the bug**
In some cases, judges receive the wrong certificate. Example - a virtual judge that reviewed 2 submissions should be a general judge (as of last year, this year they wouldn't receive a certificate) but received a certified certificate.

See video - https://drive.google.com/file/d/1uF0dW_gJOL5fbjpWpWFskq05OfD8D9FH/view

Note: This might actually get fixed when we upload the new

[2019-03-01 19:29] ophelieh opened #2012 "Admin (bug) - Issue with mentor vs judge certificate"
**Describe the bug**
Right now, when a judge is also a mentor, as an admin when we open their mentor certificate - it shows either the judge certificate or the team certificate.

See gif - https://drive.google.com/file/d/1W_vtOPKG8Wx4dV3hjQjYKv3H6e4w2YXC/view

**Expected behavior**
As an admin when clicking on the mentor portion of the certificates, we should only see the mentoring certificates. A

[2019-03-01 19:59] stenington commented on #1995
The proposed PR also links the team name when viewing a score as an admin:

<img width="958" alt="screen shot 2019-03-01 at 2 56 52 pm" src="https://user-images.githubusercontent.com/55319/53663057-a1143c00-3c32-11e9-9320-419e2bed8b98.png">

[2019-03-01 20:02] ophelieh commented on #1944
Thank you @KaiLokken for testing and @stenington for the feedback.

"it shows quarterfinals AND semifinals teams/scores for both live and virtual, even though the round is designated as quarterfinals"
* this will not be a problem is "real life" as when we are in quarterfinals there will not be any semifinals scores unlike on QA.

"when i select semifinals as the round, semifinals teams do not show

[2019-03-01 20:02] #1944 closed

[2019-03-01 20:10] ophelieh commented on #2009
Hi @stenington I think option 3 (_update the graph to show onboarded vs. not onboarded, since that's what #1915 was asking to replace those filters with_) might make the most sense, especially for consistency. That might also make the mentor graph a little cleaner and if people want more detail they can use the "more columns" on the participants' page.

[2019-03-01 20:15] stenington commented on #1995
Looks like judge and RA pages now have a link too.

[2019-03-01 20:34] stenington commented on #1995
Deleted my previous comments about other user types seeing this link, now it should only be mentors.

[2019-03-02 00:55] kmorton2017 commented on #1984
@ophelieh  @adrichey @stenington this same issue was brought up by a user today on zendesk.(Text below)  Since we are encouraging students to start submitting, can we move this into the to do column?

We seem to be having problems with uploading our flowchart and paper prototype. We originally had a paper prototype and flowchart uploaded. We then uploaded a better version we had created of our pap

[2019-03-04 17:44] adrichey opened #2015 "Explore Vue routing for scores"
During Judging exploratory QA, several of our users noticed that the back button doesn't always work as intended when you land on a Vue app within the platform. For example, sometimes when you open up a new submission to score as a judge, the application will load a blank page, put you on the last step that you visited, or when pressed multiple times will take you back to your previous submission.

[2019-03-04 18:01] stenington commented on #1949
Use the Acceptance Criteria in the initial description as QA steps (although feel free to find an existing event where there are both complete and incomplete scores).

[2019-03-04 18:18] adrichey opened #2016 "Make Overall Impression UI match that of other scoring steps"
**Is your feature request related to a problem? Please describe.**
The Overall Impression page when scoring a submission as a judge looks different than the other scoring steps (see Ideation) and requires the judge to scroll all the way down and back up to put in their comments.

**Describe the solution you'd like**
The look and feel of the Overall Impression page should match that of the Ideation

[2019-03-04 18:18] stenington opened #2017 "Admin scores page counts mismatched"
**Describe the bug**
Pretty minor but on the admin side, looking at the list of semifinals scored, it says “5 submissions scored” but also “Exports 6 semifinal scores”. I guess the count for export also includes the header line?

![pasted image 0](https://user-images.githubusercontent.com/55319/53753726-f42efe80-3e7f-11e9-9d57-d8bcdcf63a15.png)

[2019-03-04 18:21] stenington commented on #2017
I wrote this issue up as reported in exploratory QA, but when I go to the admin here's what I see:

![screen shot 2019-03-04 at 1 15 59 pm](https://user-images.githubusercontent.com/55319/53753791-1e80bc00-3e80-11e9-99d9-2335cae4fc53.png)

What's happening is the first number is the number of **submissions**, which can have more than one score, and the second number is the actual **number of score

[2019-03-04 18:27] adrichey opened #2018 "Update Judging dashboard copy"
**Describe the bug**
We need to update the Online Judging information box text to display the correct start and end dates for quarterfinals judging. We need to replace the text "Quarterfinals judging begins on April 27, 2019", with "Quarterfinals judging begins on April 27 and ends on June 2, 2019".

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a judge
2. Navigate to your dashboa

[2019-03-04 18:44] adrichey opened #2020 "We need to update all of the dates/copy for judging to their actual dates"
**Describe the bug**
Recently we did exploratory QA, which changed the dates and copy of quarterfinals and semifinals throughout the system. We need to update the environment variables so that the dates reflect the actual calendar dates found on the master calendar. Once we have updated the dates, we need to confirm that the copy in various spots throughout the UI is correct for the season.

**Pla

[2019-03-04 18:47] adrichey commented on #2020
@ophelieh @kmorton2017 @KaiLokken @nickiredescent Let me know if I missed any spots for copy in the UI. I think this covers everything that was mentioned in the exploratory QA.

[2019-03-04 20:43] ophelieh commented on #2017
That makes sense and that works for me. Thank you!

[2019-03-04 20:44] ophelieh commented on #1984
@stenington or @adrichey Would you be able to look into this?

Thank you!

[2019-03-04 22:02] stenington commented on #1995
Acceptance criteria:

1. With **Scores & Certificates > Scores & Certificates accessible** turned on in the admin
2. Log in as a mentor
3. Visit Scores & Feedback on your dashboard
4. Confirm that the submission name (*Go Run* in the screenshot in the initial description) links to the non-editable submission page.
5. Visit Scores & Feedback on your dashboard again
6. Click View Details
7. Confirm

[2019-03-04 22:18] stenington commented on #1984
I can start looking at this one.

[2019-03-04 22:21] adrichey commented on #1984
Thanks for getting to this @stenington. Sorry, email got away from me today.

[2019-03-04 22:34] stenington commented on #1946
Acceptance criteria:

Using [this document](https://docs.google.com/document/d/1bFN0yf2M0RrpdxBaq4tudNfhcvGetifY3v1gnHvkV20/edit#) as a guide, confirm that the "Configuration expectations" table on page 2 is accurate.

Advanced QA:

Check that transitions are enforced. E.g. put the app into quarterfinals, start judging and leave the page open just before submitting. Put the app into between rounds

[2019-03-04 22:39] adrichey commented on #1984
There have been some Airbrake JS errors today around this area. I am not sure if they are directly related, but it might be a good idea to check there when you start this @stenington.

[2019-03-05 01:46] kmorton2017 commented on #1946
quick clarification point (you may have just used may 20th as an example) but the following dates are:

Quarterfinals (both live and virtual): April 27th-June 2nd
Semifinals --June 8th-June 17th

I'm not sure the technical answer to your question @stenington but we were thinking of manually switching off judging the morning of Monday June 3rd since we know that several events are happening that we

[2019-03-05 03:41] stenington commented on #1946
Thanks @kmorton2017, that's good clarification. I don't think what you describe is possible with the current code or the changes I made for this ticket, so that may be something to revisit.

[2019-03-05 05:19] amyiridescent commented on #1946
If we need to have a hard date coded into the platform, I suggest that be June 3rd and we still tell everyone judging ends on June 2nd. We know from past experiences we are going to have late scores coming in from RPEs.... my two cents.

[2019-03-05 13:58] stenington commented on #1946
That’s not currently possible either, @amyiridescent. If we put in June 3rd the site will say June 3rd.

What I want to do at this point is add an option to the judging round admin setting for “Between rounds” so that all date configuration is for display only, and all actual changes in judging rounds happens from the admin settings. It’s easier to understand, it’s easier to use on staging, and it

[2019-03-05 16:11] adrichey commented on #1999
The fix for this will be similar to that of #1921 (Pull request #1930).

[2019-03-05 16:17] stenington commented on #1946
Digging in a little bit it looks like what we'd actually need to completely free judging phase logic from dates would be 5 judging round options, something like:
* off
* quarterfinals
* between rounds
* semifinals
* finished

[2019-03-05 16:28] ophelieh commented on #2020
Hi Alan, looks good to me!

One thing to note is that we will need to update the number of countries and submissions for the between rounds text
![image](https://user-images.githubusercontent.com/32206421/53820443-6875aa80-3f31-11e9-855a-f5835756ee99.png)

Thanks!

[2019-03-05 17:21] adrichey commented on #1999
@jessicabryan Your second request is going to be a larger undertaking, and I have a couple of questions on before I begin the implementation on this:

This is going to require me to query and pull some 4000+ companies we have in the database and put them into that drop-down. Which I can do, but we need to keep a couple of things in mind:
- One, it will be a slower experience for our end users duri

[2019-03-05 17:45] adrichey commented on #2020
@ophelieh if you can get me those numbers, I can update those numbers as I address these other spots.

[2019-03-05 18:51] adrichey commented on #1994
Pull request opened and assigned to @RRios00 for review: #2024.

[2019-03-05 18:51] adrichey commented on #1993
Pull request opened and assigned to @stenington: #2023.

[2019-03-05 22:03] stenington commented on #2009
@ophelieh or @kmorton2017 As I'm doing this ticket and working on the mentor part, I'm finding some conflicting definitions of what it means for a mentor to be onboarded. Can you help clarify?

One source says they have to have:
* email confirmed
* training complete or not required
* consent signed
* background check complete, if US
* their bio isn't blank
* their type isn't blank (Industry profes

[2019-03-06 18:06] ophelieh commented on #1999
Hi @adrichey! I would say for this season, we should just stick to adding the same text that we did for the mentors. + Adding School next to company to read "Company/School Name" above the input box.

The second request would be a feature for next season, we might need more time to see how it would work in real life. I don't think Jess meant it to be a drop down, but rather an autofill option. Tha

[2019-03-06 18:18] ophelieh commented on #2020
We won't have that until later. Maybe we should start a new ticket for that one.

[2019-03-06 18:19] ophelieh commented on #1995
Hi @nickiredescent  and @KaiLokken could you both test this today or tomorrow?

Thank you!

[2019-03-06 18:20] ophelieh commented on #1949
Hi @kmorton2017 could you test this today or tomorrow?

Thank you!

[2019-03-06 18:26] adrichey commented on #1981
This WordPress work has been completed and can be found here: https://technovationchallenge.org/curriculum/coding-1/#act2

[2019-03-06 18:34] adrichey commented on #1999
That makes sense to me. Thanks @ophelieh. I will go ahead and hold off on the second request and finish up the work based on what we did for mentors in #1921.

To test:
1. Log in as an admin and enable judge sign ups.
2. Go to "Invite users" in the Admin UI and copy the Judge Invitation URL.
3. Log out and browse to the Judge Invitation URL.
4. Make sure that the following text appears near the sc

[2019-03-06 18:34] jessicabryan commented on #1999
@Alan Richey <alan@iridescentlearning.org>  Yes exactly what Ophelie said.
I think we can add it to our next years wishes and dreams. The end goal is
for us to be able to search mentors by company. Really helpful to have the
background on what it looks like on the back end. Maybe we can think of an
easier solution.

Jess

On Wed, Mar 6, 2019 at 10:06 AM ophelieh <notifications@github.com> wrote:

[2019-03-06 18:58] adrichey commented on #2020
I think an additional ticket sounds like a good idea Ophelie, we can just keep the scope of this one to the stuff in the screenshots in the ticket description in that case. Thanks!

[2019-03-06 19:25] stenington commented on #1946
I'm actually going to close this ticket and write up a new one with the above proposal.

[2019-03-06 19:25] #1946 closed

[2019-03-06 19:32] stenington opened #2025 "Make judging rounds settings-based only"
**Is your feature request related to a problem? Please describe.**
Judging rounds are currently configured through a blend of dates and toggles in a way that's hard to explain and understand. We thought we needed that when live and virtual QFs were going to end at different times, but that created difficulties at a program level so we backed away from it.

**Describe the solution you'd like**
It w

[2019-03-06 19:35] stenington commented on #2025
@kmorton2017 @ophelieh @adrichey This is my proposal for changing how the judging round setting works so that admins would have full control over the various judging phases. Off, QFs, and SFs would basically be the same as we already have. Between rounds would show that special between rounds page, and Finished would basically be the same as Off but could be used in the future to show a thank you

[2019-03-06 20:06] adrichey commented on #2025
I think it makes sense. If we ever want to go down the road of having separate end dates for virtual and live judging, that should be a bigger conversation that will definitely require a more major rework; so I like this solution now that we aren't going down that road for now. I think these states all make sense to me based on what I have seen for our various states and screens that our end users

[2019-03-06 20:36] ophelieh commented on #1946
Hi @stenington! For the date, we could keep June 2nd and just push it to 11:59 PM PST. Would that work?

For your last point, do you need dates from us?

[2019-03-06 20:44] stenington commented on #1946
@ophelieh Take a look at #2025 and let me know what you think.

[2019-03-06 21:10] stenington commented on #1984
Acceptance criteria:
1. Start a submission.
2. Click on code checklist.
3. Scroll down to paper prototype and select a file.
4. Scroll down to flowchart or pseudocode and select a different file
5. Click Save checklist
6. Click on code checklist.
5. Confirm that the correct images uploaded in the correct spots.

[2019-03-06 21:49] ophelieh commented on #2025
Makes perfect sense.

To have it documented -
* In between round is when QFs is still turned on and we are waiting on semifinals to start - admins do not have to change any settings.
* When semifinals are ready to start, an admin will change toggle from QFs to semifinals.

[2019-03-06 21:50] ophelieh commented on #1984
@kmorton2017 and @nickiredescent  Could you both test this today or tomorrow?

Thank you!

[2019-03-06 21:54] ophelieh commented on #2009
haha, of course, we would have 3 different ways of doing it...

I feel like the first one might be the most accurate, as from what I remember they are not able to join a team unless all those things are done.

[2019-03-06 22:09] stenington commented on #2025
@ophelieh Well with the change I'm suggesting, an admin **would** change from *Quarterfinals* to *Between rounds* when you wanted QF judging to end and the between rounds page to display. That way we'll have 100% control over it, and the platform won't surprise us by turning off quarterfinals early because of some mistake we made with date configuration or whatever.

[2019-03-06 22:21] kmorton2017 commented on #1981
can we do the following? the below is approved by our partners at Thunkable:

- remove 1 and 2 since those are redundant (same text is on the static page already) and could be confusing

- change #3 to say : visit the following link to receive a promo code for Thunkable PRO: https://my.technovationchallenge.org/general_info/get_started_with_thunkable/

[2019-03-06 23:09] adrichey commented on #1987
This is now ready for testing. I have created three accounts to test this with:
- alan+missinglocationandterms@iridescentlearning.org
- alan+missinglocation@iridescentlearning.org
- alan+missingterms@iridescentlearning.org

For alan+missinglocationandterms@iridescentlearning.org:
1. Log in as the user (Do not log in through admin, please see our QA Slack channel for passwords)
2. Assert that you a

[2019-03-06 23:13] adrichey commented on #1981
@kmorton2017 I didn't have time to get to this today. I will work on this once I get back on Tuesday. If it needs to be done before then, Maggie should be able to make those changes to that page for you.

[2019-03-07 05:30] kmorton2017 commented on #2009
i wasnt aware that the type couldn't be blank, BUT i agree it should be the first case you mentioned.  this is the most comprehensive and true.

[2019-03-07 15:27] ophelieh commented on #1999
Perfect. @jessicabryan and @nickiredescent Could you both test this?

Jess, let me know if you need any guidance to test this on the Heroku site. Thank you!

[2019-03-07 15:29] ophelieh commented on #1987
@nickiredescent and @KaiLokken Could you both test this today or tomorrow?

Thank you!

[2019-03-07 15:59] stenington commented on #2009
Ok thanks! I'll try to standardize towards the first definition.

[2019-03-07 20:09] ophelieh commented on #2025
Oh so we would add another toggle? Am I understanding that right?

Thank you!

[2019-03-07 20:25] stenington commented on #2025
Yeah, it would probably look like this:

![screen shot 2019-03-07 at 3 22 36 pm](https://user-images.githubusercontent.com/55319/53986757-09f52b80-40ed-11e9-8074-d5357f19e089.png)

When QFs should end, we'd switch it to "Between rounds". When SFs should start, we'd switch it to "Semifinals", and when they're done we'd switch it to "Finished".

[2019-03-07 20:31] nickiredescent commented on #1995
Tested. Can confirm that both scenarios have appropriate links.

[2019-03-07 20:48] ophelieh commented on #2025
Perfect. Thank you for the image. I get it now. :)

[2019-03-07 20:59] nickiredescent commented on #1984
Tested. The uploaded pictures are appearing in the correct places for me.

[2019-03-07 21:01] nickiredescent commented on #1999
Tested. Can confirm that the text appears below the school/company name field.

[2019-03-07 21:08] nickiredescent commented on #1987
Tested. All accounts work as described.
alan+missinglocationandterms@iridescentlearning.org
 - works as intended; I cannot proceed without agreeing to the terms and then inputting my location data. Message appears to inform me why I cannot proceed to my account.

alan+missinglocation@iridescentlearning.org
 - works as intended; I cannot proceed without inputting my location data. Message appears t

[2019-03-07 21:55] jessicabryan commented on #1921
I tested it and it works. I'm wondering if we could add the sentence directly below school or company name heading. When you are typing the company name, where it currently is, gets blocked. You can see it from the beginning, but then disappears.

![screen shot 2019-03-07 at 1 55 02 pm](https://user-images.githubusercontent.com/47198665/53992005-a8c75b00-40e0-11e9-8525-349efb43d00a.png)

[2019-03-08 05:58] KaiLokken commented on #1995
Tested it. Links to the team when team name is displayed worked, and submission links when the app name is present worked.

[2019-03-08 06:17] KaiLokken commented on #1987
Tested it- I think that since Nick tested it first, the first two email addresses went directly to the account. The last email address, I had to complete the parent consent form before it would allow access to the account.

[2019-03-08 15:03] ophelieh commented on #1987
Great. Thank you both! :)

[2019-03-08 15:03] #1987 closed

[2019-03-08 15:04] #1995 closed

[2019-03-08 15:06] ophelieh commented on #1921
Oh that's a good point, Jess. @stenington Do you think you would have time to look at this today? Otherwise, we can wait for Alan to get back.

Thank you!

[2019-03-08 15:07] #1984 closed

[2019-03-08 15:09] ophelieh commented on #1999
From Jessica - I tested it and it works. I'm wondering if we could add the sentence directly below school or company name heading. When you are typing the company name, where it currently is, gets blocked. You can see it from the beginning, but then disappears.

![screen shot 2019-03-07 at 1 55 02 pm](https://user-images.githubusercontent.com/47198665/53992005-a8c75b00-40e0-11e9-8525-349efb43d00a.

[2019-03-08 15:09] #1921 closed

[2019-03-08 15:10] ophelieh commented on #1999
Oh that's a good point, Jess. @stenington Do you think you would have time to look at this today? Otherwise, we can wait for Alan to get back.

Thank you!

[2019-03-08 16:00] stenington commented on #1999
@ophelieh I'll take a look

[2019-03-08 16:16] stenington commented on #1999
@ophelieh I have a PR that does this:

![screen shot 2019-03-08 at 11 14 23 am](https://user-images.githubusercontent.com/55319/54040490-7e82a580-4193-11e9-8611-68afd4f1df75.png)
![screen shot 2019-03-08 at 11 14 27 am](https://user-images.githubusercontent.com/55319/54040486-7cb8e200-4193-11e9-8fa2-35e7ef084bdc.png)

But I want @adrichey to review the code next week before I merge it to QA. It wa

[2019-03-08 16:27] ophelieh commented on #1999
Looks great and sounds good.

Thank you, Mike!

[2019-03-08 22:19] ophelieh opened #2029 "Update copy for judge in between rounds"
Update number of teams and countries in the first sentence. @kmorton2017  or @ophelieh to provide text when have it.

![53754652-35bcab00-3e7a-11e9-8c85-a3ebbcf600a3](https://user-images.githubusercontent.com/32206421/54059158-c5859080-41bd-11e9-941a-680357d35259.png)

[2019-03-08 22:19] ophelieh commented on #2020
Done. See ticket #2029

[2019-03-12 05:02] kmorton2017 commented on #1949
This is a scenario that will likely not happen often in the real world but thought I would share.

As an RA (katie+ra7@iridescentlearning.org) I created an event in China and added 2 judges. I logged in as Alicia Keys and completed score for the first team and left incomplete scores for the other team.

I logged in as the other judge (Dolores Umbridge) who unbeknownst to the RA was already judging

[2019-03-12 19:17] stenington commented on #1949
Thanks @kmorton2017, that sounds to me like another bug with judges in multiple events. 😢

Let me see if I can address it easily for these printable PDFs though.

[2019-03-13 15:37] stenington commented on #1999
Okay, this fix should appear on staging today. That help text will appear above the field with the dropdown menu in the standard registration, and all the special registration forms you see when responding to an invite.

[2019-03-13 15:39] stenington commented on #1949
Ok @kmorton2017 I was actually able to account for this scenario, thanks for finding it! These printable pages should only show scores for submissions in the event now.

[2019-03-13 16:41] stenington commented on #2009
This is headed to staging.

@kmorton2017 @ophelieh How much QA do you want to do here? At the easy end, someone can just check that clicking the pie chart links you to a page that makes sense. At the more thorough end of the spectrum, we can get into lots of specific data scenarios and checking whether students and mentors are correctly categorized as onboarded or not.

How important is it for tha

[2019-03-13 17:02] stenington commented on #2017
QA steps:

1. Log in as admin
2. Go to scores
3. Confirm that the message below the Search button and the message above the Export button make sense together and show the same count

[2019-03-13 18:12] ophelieh commented on #2017
@nickiredescent Could you test this? Thank you!

[2019-03-13 18:13] ophelieh commented on #1949
@kmorton2017 Could you retest?

[2019-03-13 18:16] ophelieh commented on #1999
Looks good!

[2019-03-13 18:16] #1999 closed

[2019-03-13 18:18] ophelieh commented on #2009
I just tested this and it seems to work great. I like how it selects the filters for us and we can still have the "more columns" information to see what is still missing from the profile. I tested mentors and it worked great.

@kmorton2017 Could you test this as well?

[2019-03-13 18:22] nickiredescent commented on #2017
Tested.

The number of submissions scored and number to export show the same count. Changing search filters and exporting csv's also show the correct count.

[2019-03-13 18:26] ophelieh commented on #2017
Perfect. Thanks Nick!

[2019-03-13 18:26] #2017 closed

[2019-03-13 19:52] stenington commented on #2025
[Here is some documentation](https://docs.google.com/document/d/1bFN0yf2M0RrpdxBaq4tudNfhcvGetifY3v1gnHvkV20/edit#) I tried writing to explain the judging phases. You can see the version for blended dates and toggles in the doc history.

[2019-03-14 15:38] adrichey commented on #1981
This is once again ready for testing @kmorton2017

[2019-03-14 15:45] stenington opened #2032 "Data access for score monitoring"
**Is your feature request related to a problem? Please describe.**
In past years, during judging we've had people who want to monitor scoring progress in a very detailed way off the platform. [This is an example](https://docs.google.com/spreadsheets/d/1-CYXJEJwwIEW6WwYC-VrL_e78WMVKGFhagLPKXrnibw/edit#gid=1649385589) of what that kind of monitoring can look like.

**Describe the solution you'd like

[2019-03-14 15:46] stenington commented on #2032
@amyiridescent I think you can help with the documentation piece. If you can describe the types of questions you're trying to answer and maybe the pieces of data necessary to do so, @adrichey and I can start making sure all of that stuff is accessible in some relatively convenient way.

[2019-03-14 15:50] #2009 closed

[2019-03-14 15:51] ophelieh commented on #1949
@nickiredescent Could you test this?

Thank you!

[2019-03-14 15:52] ophelieh commented on #1993
@nickiredescent  and @KaiLokken Could you test this today or tomorrow? Thank you!

[2019-03-14 15:53] #2020 closed

[2019-03-14 15:54] ophelieh commented on #1981
@nickiredescent and @kmorton2017 Could you test this?

Thank you!

[2019-03-14 16:18] KaiLokken commented on #1993
Worked as expected for mentor. Will test for student, now.
![Image 3-14-19 at 9 17 AM](https://user-images.githubusercontent.com/45576084/54373244-25ef5480-463a-11e9-801d-96b08e9e66cb.jpg)

[2019-03-14 16:24] nickiredescent commented on #1993
Tested. Can also confirm that both student and mentors are working as expected. There is no "This feature is disabled text" appearing.

[2019-03-14 16:24] KaiLokken commented on #1993
Student: I was able to to access my own score and cert for the quarterfinals.  the Scores & Feedback navigation link is disabled and shows a tooltip.
<img width="1409" alt="Screen Shot 2019-03-14 at 9 23 59 AM" src="https://user-images.githubusercontent.com/45576084/54373688-f42abd80-463a-11e9-9af7-9d926f5fd32b.png">

<img width="1335" alt="Screen Shot 2019-03-14 at 9 20 46 AM" src="https://user-i

[2019-03-14 16:41] nickiredescent commented on #1981
Tested. The link shows in the curriculum and can only be followed if I log into the platform.

[2019-03-14 16:45] adrichey commented on #1993
@KaiLokken I believe they are accessible since Scores & Certificates are turned on in the admin. I think I might be confused as your comment says "navigation link is disabled and shows a tooltip" but the screenshot shows otherwise.

[2019-03-14 16:46] #1981 closed

[2019-03-14 16:58] nickiredescent commented on #1949
Tested. Looks good to me.

I ran through Katie's initial testing again. I can still see both the complete and incomplete scores done by Judge Alicia Keys. While Judge Dolores Umbridge is still listed as a judge for this event on the platform, she is not listed as a judge on the pdf. An important note: Umbridge has also not started or completed any scoring for the China event in question.

I also t

[2019-03-14 17:56] kmorton2017 commented on #1949
i retested this. i expect we'll be talking about judges at different events today @stenington so won't address that in depth here.

I created scores for teams using Umbridge's account. She is appearing on the pdf with scores.

this appears to be working now.

[2019-03-14 19:27] stenington opened #2035 "Score deletion monitoring"
**Is your feature request related to a problem? Please describe.**
As a corollary to #2032, I want to keep an eye on deleted scores throughout the judging rounds, and make sure scores showing up as deleted were either deleted by us, or have good reason to have been deleted.  I'm suspicious of [this bit of code](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/technovation/invalidate_e

[2019-03-14 19:37] stenington commented on #2032
Chatted with @amyiridescent, who raised two concerns we've heard raised before, so I'm commenting here.

In the past we've seen the algorithm that finds a valid submission make two mistakes:
1. assigning the same submission to lots of judges before moving on to assign a new submission
2. letting a submission get "stuck" with 10 pending scores, none of which are ever completed

Looking at the code,

[2019-03-14 19:37] stenington commented on #2032
Actually, I'm going to open two tickets for those tests.

[2019-03-14 19:39] stenington opened #2036 "Test that a submission with no scores will be assigned before one with pending scores"
Add a test or tests to `spec/technovation/find_eligible_submission_id_spec.rb` that tests that an otherwise valid submission with no scores, pending or complete, will be assigned before a valid submission with a pending score.

[2019-03-14 19:40] stenington opened #2037 "Test that a submission with 10 pending scores can still be assigned to a judge"
Add a test or tests to `spec/technovation/find_eligible_submission_id_spec.rb` that tests that a submission with `SCORE_COUNT_LIMIT` pending scores can still be assigned to judges if all other submissions have `SCORE_COUNT_LIMIT` completed scores.

[2019-03-14 19:48] stenington opened #2038 "Let judges see all their events on the dashboard"
**Is your feature request related to a problem? Please describe.**
Judges can be assigned to judge multiple events, but only see one event on their dashboard.

**Describe the solution you'd like**
Show them all of the events they have been assigned to on their dashboard.

**Additional context**
Judges being in multiple events is something the platform allows, but handles poorly. We're going to wor

[2019-03-14 19:50] stenington commented on #2038
This ticket should include a bit of a survey of the codebase, and begin `TODO`ing or otherwise deprecating code that assumes a judge is in only one event.

[2019-03-14 19:53] #1949 closed

[2019-03-14 19:55] stenington commented on #2038
Nope disregard the previous comment, at a glance there are some bits that are too scary to handle that way. I'm opening a ticket for an initial conversion of single-event to multi-event, even though it may not be perfect.

[2019-03-14 19:58] stenington opened #2039 "Platform wrongly assumes judges are in one event"
The platform allows judges to be put into multiple events, but was written assuming that's impossible. The problem is that we don't want to have to wait to discover all the bugs this will cause the hard way, so this ticket is about digging through the codebase a bit and starting to fix things that way.

[2019-03-14 19:58] stenington commented on #2039
Find lurking bugs and either fix or `TODO` or otherwise deprecate them in the code.

[2019-03-14 21:17] stenington opened #2040 "RPE team cap prevents addition of judges too"
**Describe the bug**
If an RPE is at its team cap, you cannot add more judges.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA with events
2. Find or create and event with a team cap, and add teams until at the cap
3. Try to add a judge
4. Selecting a judge will be prevented, and the checkbox tool tip says you have reached the team cap

**Expected behavior**
The team cap shou

[2019-03-14 21:27] adrichey commented on #1993
I spoke with @KaiLokken earlier and it sounds like she was confused by my screenshot and that things are working as intended. Kai, can you confirm this so that we may mark this as closed?

[2019-03-14 21:42] KaiLokken commented on #1993
@adrichey Works as intended!

[2019-03-15 13:46] stenington opened #2043 "Printable event page can show judges no longer in the event"
**Describe the bug**
The RA events view and printable view can show a different set of judges for an event.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as Neil Degrasse Tyson
2. Go to events
3. Look at Judge Test Cap, note the 3 teams and 1 judge
4. Click the "Print for live event" icon
5. See only 2 teams and 4 judges

**Expected behavior**
@ophelieh @kmorton2017 Can you help fill

[2019-03-15 14:22] #1993 closed

[2019-03-15 20:35] stenington commented on #2025
QA:

* open [this document](https://docs.google.com/document/d/1bFN0yf2M0RrpdxBaq4tudNfhcvGetifY3v1gnHvkV20/edit#)
* make sure the expectations laid out in the "Configuration expectations" section are true for each Judging round setting

[2019-03-15 22:50] jessicabryan opened #2046 "Current Judge Registration Numbers"
**Describe the bug**
When I'm on the TC dashboard and I go to "participants" and and search for current judges registered and onboarded it's a very different number than when I go to the "judges" section. When I use the "participants" it shows 1,430 registered and 404 onboarded, but when I got to the "judges" section 4,988 registered and 1,791 onboarded. The "participants" section seems more more

[2019-03-16 01:06] ophelieh commented on #2025
@nickiredescent and @kmorton2017 Could you test this on Tuesday or Wednesday?

Thank you!

[2019-03-18 00:04] amyiridescent commented on #2032
I think this is the ticket where I should document what raw data we need in order to monitor scoring. (I plan on training @KaiLokken this week using old spreadsheets.)

Here is the raw data Alli pulled directly from the server last year for Quarter Finals (https://docs.google.com/spreadsheets/d/1-CYXJEJwwIEW6WwYC-VrL_e78WMVKGFhagLPKXrnibw/edit#gid=1649385589 ) and Semi Finals (https://docs.google.

[2019-03-18 15:30] stenington commented on #2038
QA steps:

1. log in as an RA with two events (or create them)
2. add the same judge to both events
3. log in as a different RA with an event
4. add the same judge to an event
5. log in as the judge
6. confirm the "Regional Pitch Events" section of your dashboard shows all 3 events

[2019-03-18 15:33] stenington commented on #2039
#2038 has a testable scenario, this one less so. @adrichey any particular testing you think we should do here? I think maybe it's a combo of #2038 QA and then just keeping an eye out for bugs around judges in multiple events in general.

[2019-03-18 15:40] stenington commented on #2046
On the participants page, if I add all seasons the numbers match exactly. I believe the judges section is returning results for all seasons, not just 2019.

[2019-03-18 15:52] jessicabryan commented on #2046
ahh that makes sense... so Judges is all time and Participants is this
season. Thank you!

Jess

On Mon, Mar 18, 2019 at 8:40 AM Mike Larsson <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>M: 310-968-6

[2019-03-18 16:03] stenington commented on #2046
Yeah, well to be pedantic Participants lets you select seasons whereas Judges only shows all seasons:

![Screen Shot 2019-03-18 at 12 02 24 PM](https://user-images.githubusercontent.com/55319/54544325-ba78f000-4975-11e9-97cd-3a79e0efe187.png)

I'm not sure why it's set up that way, but it seems to be the case.

[2019-03-18 16:47] stenington commented on #2032
@amyiridescent Back in January we did ticket #1951 which did two things:
* it added columns showing the min/max score range for QFs and SFs, **but**
* it also took away the ability to export each individual score

It looks like the raw data export you need is exactly the thing we took away in January, so we will find a way to bring that back. My question is whether you also want me to add the pre-

[2019-03-18 16:50] amyiridescent commented on #2032
Sorry I didn't know about that ticket. :(

As for calculation, I run it with only the "completed" scores by using a filter. I think I will just use my spreadsheet for this year. Thanks!

[2019-03-18 16:54] jessicabryan commented on #2046
Yes exactly! That's why I got confused because participants allows you to
pick seasons, but judges doesn't seem too... Very interesting!

Jess

On Mon, Mar 18, 2019 at 9:03 AM Mike Larsson <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org/> & Technovation
<htt

[2019-03-18 20:56] stenington commented on #2035
"Score deletions" dataclip can be used and expanded upon for this.

[2019-03-19 15:22] ophelieh commented on #2043
Expected behavior - As an RA, I only see judges currently assigned to my event. I should also see their partial or completed scores.

[2019-03-19 15:26] ophelieh commented on #2018
@nickiredescent Could you test this?

Thank you!

[2019-03-19 15:27] ophelieh commented on #2038
@kmorton2017 and @KaiLokken Could you test this? Thank you!

[2019-03-19 17:22] KaiLokken commented on #2038
Tested it. It worked as expected.

[2019-03-19 19:07] stenington commented on #2001
@ophelieh Are we just removing the certificate, or the certificate and the badge? What do you want this screen to look like after this ticket is done?

![screencapture-localhost-3000-judge-dashboard-2019-03-19-15_06_44](https://user-images.githubusercontent.com/55319/54634504-bd98dc80-4a58-11e9-9dad-d50373d50b45.png)

[2019-03-19 20:37] ophelieh commented on #2001
Hi Mike!

We want to remove both, basically, we are getting rid of General Judges. So anyone who judges under 5 submissions doesn't get a certificate or badge.

[2019-03-19 21:25] nickiredescent commented on #2025
Tested and seems to work. In particular, the "finished stage" is a bit jarring. Functional, but jarring.

Screenshot of the finished stage.
![Screen Shot 2019-03-19 at 2 21 20 PM](https://user-images.githubusercontent.com/45576078/54642839-c8507300-4a52-11e9-8635-487b42c9f9fa.png)

[2019-03-19 21:36] nickiredescent commented on #2018
Tested and I can see the text as a virtual judge.

[2019-03-19 21:46] stenington commented on #2025
@nickiredescent I totally agree, but I didn't see any evidence that we had a nice thank you page or anything last year. It wouldn't be very hard to add that though. @ophelieh Feel free to open a new ticket for adding a final page for after judging if you want one.

[2019-03-20 16:24] adrichey commented on #2039
Honestly, I think that might be the way to go. Use #2038 QA steps and then monitor. I think we have to address issues as they come up for the most part since there are so many spots that weren't fleshed out for this feature. One thing we might want to think about on this would be to implement daily backups so that if bugs come up and scores get removed or something, we have the ability to restore

[2019-03-20 18:15] adrichey opened #2048 "Remove RPE live event cards if judging for the season has finished"
**Is your feature request related to a problem? Please describe.**
The event card still shows even when certificates are turned on. We want to hide RPEs after judging is over. It would be outdated at this point in the season. See screenshot below.

**Describe the solution you'd like**
When judging is turned off for the season after judging is closed, we should hide any live event RPE cards from th

[2019-03-20 18:16] #2036 closed

[2019-03-20 18:16] #2037 closed

[2019-03-20 18:28] stenington commented on #2048
@adrichey Was the judging round set to **Off** or **Finished**? Finished should hide them. You basically get a blank screen (https://github.com/Iridescent-CM/technovation-app/issues/2025#issuecomment-474590652)

[2019-03-20 19:34] adrichey commented on #2048
Yep, that is what was going on. Closing the ticket as this is not an issue.

[2019-03-20 19:34] #2048 closed

[2019-03-20 19:34] #2035 closed

[2019-03-20 19:56] #2018 closed

[2019-03-20 20:19] ophelieh commented on #2038
@nickiredescent Could you test this?

[2019-03-20 20:20] ophelieh commented on #2040
@KaiLokken and @nickiredescent Could you test this? Merci!

[2019-03-20 22:00] stenington commented on #2008
Technical note: mentor certificates are displayed as part of the `_mentor_debugging` partial, whereas the code displaying judge certificates and badges lives right in the `show` template. I think the solution here is to move the mentor certificate code out of the debugging partial and group it with the judge certificate/badge code, probably where the judge certificate/badge code currently is.

[2019-03-20 22:02] stenington commented on #2007
Technical note: [the same code](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/views/admin/participants/show.html.erb#L174) is used to show teams for both mentors and students but moving that block up to [line 154](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/views/admin/participants/show.html.erb#L154) before the judge debugging partial should look better for mento

[2019-03-20 22:07] stenington commented on #2005
Can we document the actual use case here for overriding certificates? Is it only the judge certificates that need overriding, or do student and mentor certificates sometimes need to be forced to something different? @ophelieh do you know?

[2019-03-20 22:08] stenington commented on #2005
Oh, I just read the potential solutions more carefully, it sounds like this is only relevant for judges?

[2019-03-21 14:09] ophelieh commented on #2040
From Kai: Tested it. I was not able to add any more teams after hitting the team cap. I was able to add a judge to the event.

[2019-03-21 14:19] #2040 closed

[2019-03-21 15:33] stenington commented on #2039
I believe we have a daily backup running, `heroku pg:backups:schedules -a technovation` to see the schedule. `heroku pg:backups -a technovation` does show gaps, but I wonder if it can detect that the data didn't actually change during that time?

[2019-03-21 16:51] stenington commented on #2032
@KaiLokken @amyiridescent There's now a menu option in the admin for **Score exports** underneath Scores that should let you export the data you need for your spreadsheets. Can you QA that it plugs in to your spreadsheets ok?

[2019-03-21 16:52] adrichey commented on #2039
Yeah, I saw those gaps, hence the question. Didn't even think to check the schedule. I will look into those backups more to confirm.

[2019-03-21 17:16] stenington opened #2050 "Confirm/create rake task for setting semifinalists"
The idea here is that the program team would provide us a spreadsheet listing all of the teams/submissions that are moving on to the finals, and we'd have a rake task to read that file and update each submission's contest rank in the database.

Step 1 is probably figuring out what that spreadsheet might look like, and whether it has team IDs or submission IDs.

The task should **complain very loud

[2019-03-21 17:17] stenington commented on #2032
@KaiLokken says it's working as expected

[2019-03-21 17:22] amyiridescent commented on #2032
This looks good to me also! thx

[2019-03-21 17:23] #2032 closed

[2019-03-21 19:45] adrichey opened #2052 "Remove judge badges from dashboard and admin UI"
**Is your feature request related to a problem? Please describe.**
Last year, we had judge badges in addition to the certificates that they received. Now the program team wishes to remove that feature.

**Describe the solution you'd like**
We would like to remove the judge badges from the judge dashboards, and also the admin participants UI.

**Notes**
We will probably want to rethink the judge da

[2019-03-21 19:48] adrichey commented on #2052
@ophelieh and @kmorton2017 here is the ticket for removing the badges this year. Question, do we want badges from 2018 to still appear for judges, or should we hide those as well?

[2019-03-21 20:06] stenington commented on #2010
So there's really two things going on here. Somehow, the wrong certificate got generated for Professor Oak in relation to DancingintheDark. That certificate is now gumming up the works when the system is trying to find the right certificate Professor Oak should have gotten. So there are two parts:
1. How did the wrong certificate get generated in the first place?
2. Now that the wrong certificate

[2019-03-21 23:01] ophelieh opened #2053 "No thank you page for judges in Finished Stage"
**Describe the bug**
Once we close judging, there isn't any thank you page. It's just blank.

![image](https://user-images.githubusercontent.com/32206421/54790106-fb396900-4c02-11e9-8af6-d25dd25b4833.png)

**Expected behavior**
It would be nice to have a sort of thank you page after judging is in the "finished" phase.

Something along the lines of "Thank you for your help scoring and giving valuab

[2019-03-21 23:03] ophelieh commented on #2025
Created ticket #2053. Feel free to edit as needed.

[2019-03-21 23:03] #2025 closed

[2019-03-21 23:04] #2038 closed

[2019-03-21 23:05] ophelieh commented on #2016
@nickiredescent Could you test this? Thanks!

[2019-03-21 23:06] ophelieh commented on #2005
I believe so. @kmorton2017 ?

[2019-03-22 01:59] stenington opened #2054 "Admin scores page round selection doesn't handle new rounds"
**Describe the bug**
If you put the platform into "between rounds" or "finished" for the judging round and try to view the scores page, it errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin, go to Content & Settings > Judging
2. Select Finished
3. Review and save the setting
4. Click on Scores in the nav menu
5. See the error

**Expected behavior**
You should see the sco

[2019-03-22 02:00] stenington commented on #2054
[This block of code](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/controllers/admin/scores_controller.rb#L34) is the culprit, I think.

[2019-03-22 14:11] adrichey commented on #2053
@ophelieh Should we pull this in now since it will pop up for our end users this season and might be jarring? I can just add that text to their dashboard for now. It won't take long to knock that out.

[2019-03-22 15:25] ophelieh commented on #2052
We can remove all of them. I don't believe they were even used last year.

[2019-03-22 15:41] adrichey commented on #2043
@ophelieh and @kmorton2017 I have a question about this. For the particular event that is listed in the description, we have various other judges that have judged the teams at some point due to the ever-shifting way we do our QA, so if you look at the Scores section for that RA, we get results that don't match the printable view if I put a fix in place.

Print out:
[printable_scores.pdf](https://g

[2019-03-22 20:08] ophelieh commented on #2053
Works for me! Thank you!

[2019-03-25 13:38] ophelieh commented on #2043
Should we create a new event to get some better data? @kmorton2017 Could you create an event, add some teams and have Nick and Kai score some submissions? At least 1 partial and 2 complete would be good.

Also, I noticed that there are a lot of blank pages on the PDF, is that normal?

[2019-03-25 13:46] ophelieh commented on #2010
HI @stenington! That makes a lot of sense. I like the idea of having 3 sections. Based on our conversation last week, do you think that will be doable?

Thanks!

[2019-03-25 15:19] adrichey commented on #2039
QA steps:
- log in as an RA with two events (or create them)
- add the same judge to both events
- log in as a different RA with an event
- add the same judge to an event
- log in as the judge
- confirm the "Regional Pitch Events" section of your dashboard shows all 3 events
- confirm that you can "View details" of each event separately

[2019-03-25 15:32] adrichey commented on #2043
The blank pages is not normal, I planned on tackling that, I just wanted to get this in front of you both so you could provide feedback on the scenarios I mentioned previously. Thanks! 🙂

[2019-03-25 15:57] ophelieh commented on #2043
Perfect. Thank you!

[2019-03-25 16:14] nickiredescent commented on #2016
#2016
Tested. Can confirm that the Overall Impression Page and other judging sections have similar design styles. Can also confirm that looking at team "Barbacoa is delicious" this early makes me hungry.

[2019-03-25 16:14] nickiredescent commented on #2039
Tested. It seems to work but something's odd. Details below:

- RAs with events used to test: Neil Degrasse Tyson, Jade Green, Hong Kong RA.
     - All have different events with capacity to add a new judge.
     - Assigned John Jonah Jameson to various events by each judge.
           - Neil assigned 2 events
           - Jade Green assigned 2 events
           - HK RA assigned 1 event
- Logged i

[2019-03-25 16:14] nickiredescent commented on #1994
Tested.
For mentors, the scores take up 100% of the page width. Screenshot below:
![image](https://user-images.githubusercontent.com/45576078/54934774-49d55480-4edc-11e9-9c76-a737a9606697.png)

For students, I suppose this also fulfills the criteria? A part of the score is still only 50% of the page width but it makes sense for me that this is not stretched out. If it's possible, perhaps center th

[2019-03-25 16:19] adrichey commented on #1994
@nickiredescent, that second issue for students on #1994 isn’t actually an issue, you will see additional scores pop up in that summary page that will fill up the right hand column, so this all seems to be working appropriately from my perspective.

[2019-03-25 16:59] stenington commented on #2039
Ok, thanks @nickiredescent! I will look at that error.

[2019-03-25 17:30] adrichey commented on #2016
Time to hit up Chipotle @nickiredescent! Thanks!

[2019-03-25 17:30] #2016 closed

[2019-03-26 20:03] stenington opened #2056 "Remove on-demand generation of season certificates"
This ticket gets us started on a transition from on-demand certificate generation to batch generation, which we're expecting to be easier to write and less buggy.

This ticket's work includes:
* pulling out FillPdfs calls from controllers or other places it's called on-demand right now
* stop using the CertificateButton Vue app in favor of querying in the controller and rendering what's found
* ~a

[2019-03-26 20:05] stenington commented on #2039
@nickiredescent It turns out the bug would happen when a judge tried to view an event that was at capacity, which in this case was the Jade Green event. A fix is on the way to staging now and should be there soon for retesting.

[2019-03-26 20:32] adrichey opened #2057 "Certificates: Implement certificates datagrid in the Admin UI"
**Is your feature request related to a problem? Please describe.**
We need to build a new datagrid page in the admin UI so that any certificates existing in the system can be searched for, downloaded, or deleted.

**Describe the solution you'd like**
This will function similarly to the Participants page view in the admin UI where we can view information about various student, mentor, and judge acc

[2019-03-26 20:45] adrichey opened #2059 "Certificates: Create a rake task to generate all certificates for the season"
**Is your feature request related to a problem? Please describe.**
We want to generate ALL of the appropriate certificates for the season after semifinals ends but before we turn on certificates and scores availability for our end users.

**Describe the solution you'd like**
This will be a rake task that generates a batch of `Jobs` that will handle `Certificate` generation using `FillPdfs`. The ra

[2019-03-26 20:56] adrichey opened #2060 "Certificates: Add certificate section to admin UI participant pages"
**Is your feature request related to a problem? Please describe.**
We need to add a certificates section when viewing a participant in the admin UI.

**Describe the solution you'd like**
This section should appear when you click on a student, mentor, or judge in the Participants section of the admin UI. This section should display what certificate(s) the user has and give the admin user the abilit

[2019-03-26 21:21] adrichey opened #2061 "Certificates: Add ability to generate certificates for a participant"
**Is your feature request related to a problem? Please describe.**
Add the ability for an admin user to generate a different certificate for an end user on a Participant's page.

**Describe the solution you'd like**
After clicking on an account in the Participants page datagrid in the admin UI, you should see a certificates section (created in #2060) where you can both view currently generated cer

[2019-03-26 21:21] adrichey commented on #2060
Ability to generate a certificate in this view will come in the work for #2061.

[2019-03-26 21:33] adrichey opened #2062 "Certificates: Make sure judge Certificates for mentor/judges don’t have teams"
Right now, judge certificates take a team parameter in our `FillPdfs/Certificates` code. We should ensure that Certificates generated for judge profiles that have both a judge and mentor profile associated with the account don't have a team attached to them.

**This is a developer ticket that can be closed on pull request approval and deployment to staging/QA.**

[2019-03-26 21:53] adrichey opened #2063 "Implement better logging and error handling for Jobs"
**Is your feature request related to a problem? Please describe.**
Right now we don't have adequate logging or status updates when jobs fail. For example, if an export Job fails, we are not able to set its status to "failed." This has UI implications as failed jobs just stay in progress forever and to the end user it looks like the export is still running, even though it has failed. Another place

[2019-03-26 21:57] #1994 closed

[2019-03-26 22:06] nickiredescent commented on #2039
Tested. I've assigned other judges to full capacity events and was able to view details of the events.

[2019-03-26 22:22] #2039 closed

[2019-03-27 14:22] adrichey commented on #2005
Stale ticket to be addressed when #2061 is complete. Closing the ticket.

[2019-03-27 14:22] #2005 closed

[2019-03-27 14:24] adrichey commented on #2004
Tagging @RRios00 on this. Ruby, I believe you were working on 2019 templates for certificates already. Can you give us insight into your progress on that? Thanks!

[2019-03-27 14:26] adrichey commented on #2008
Stale ticket to be addressed when #2057, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:26] #2008 closed

[2019-03-27 14:26] adrichey commented on #2007
Stale ticket to be addressed when #2057, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:26] #2007 closed

[2019-03-27 14:27] adrichey commented on #2003
Stale ticket to be addressed when #2052 is complete. Closing the ticket.

[2019-03-27 14:27] #2003 closed

[2019-03-27 14:27] adrichey commented on #2006
Stale ticket to be addressed when #2057, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:27] #2006 closed

[2019-03-27 14:29] adrichey commented on #2012
Stale ticket to be addressed when #2057, #2059, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:29] #2012 closed

[2019-03-27 14:29] adrichey commented on #2011
Stale ticket to be addressed when #2057, #2059, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:29] #2011 closed

[2019-03-27 14:31] adrichey commented on #2010
Stale ticket to be addressed when #2057, #2059, #2060 and #2061 complete. Closing the ticket.

[2019-03-27 14:31] #2010 closed

[2019-03-27 15:21] adrichey commented on #2043
@ophelieh and @kmorton2017 I am also a bit confused as to what this page is supposed to be. Right now it is a page where any scores for a team show up. This is not the functionality desired according to this ticket description. That being said, I am confused on how to actually fix this. Do we want to display a scoring page for each judge/team combination? That way they can record scores on the she

[2019-03-27 21:47] stenington commented on #2054
QA steps:

1. log in as admin
2. set Judging Round to "Finished"
3. click Scores in nav menu
4. confirm the scores page loads without error

[2019-03-27 21:50] adrichey opened #2066 "Add Cisco option to school/company name drop down"
**Describe the solution you'd like**
@kmorton2017 has asked that we add a Cisco team to the school/company name drop-down for mentors and judges. They are signing up a specific team and it will help with tracking purposes this season. Katie will provide the exact text that for the drop-down as it won't be just "Cisco" but rather a specific internal team for their organization.

**Additional contex

[2019-03-27 23:28] kmorton2017 commented on #2066
Cisco Customer Experience (CX)

[2019-03-28 15:38] adrichey commented on #2066
Awesome, thanks Katie. I will have this done quickly.

[2019-03-28 16:09] adrichey commented on #2029
@kmorton2017 and @ophelieh can you get us numbers for this ticket so that we can update that text? Thanks!

[2019-03-28 16:12] adrichey commented on #1898
Marking as closed as this was addressed in another update.

[2019-03-28 16:12] #1898 closed

[2019-03-28 16:14] adrichey commented on #2046
It sounds like there isn't any work to be done on this ticket. Is that correct? @jessicabryan can we go ahead and close this?

[2019-03-28 16:39] jessicabryan commented on #2046
Correct! Thank you team!

Jess

On Thu, Mar 28, 2019 at 9:14 AM Alan Richey <notifications@github.com>
wrote:

--

*Jessica Bryan M.EdSenior Director of Volunteer EngagementIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>M: 310-968-6881Tomorrow belongs to
our children. Donate <https://iridescentlea

[2019-03-28 17:02] #2046 closed

[2019-03-28 17:49] kmorton2017 opened #2068 "Change newsletter link on registration page"
The general newsletter list has been migrated to MailChimp. Note: this does **not** affect any current students, mentors, RA's, or judges. **Only general newsletter signups.** The registration page's link needs to change for those who want to sign up for our general newsletter.

"Please sign up for our newsletter" should be hyperlinked to this address: http://eepurl.com/gk5J_

![Screen Shot 2019-0

[2019-03-28 18:09] adrichey commented on #2066
@kmorton2017 This is ready for testing now. Once approved, I will hotfix this into production since it is necessary for April 1st.

[2019-03-28 18:11] adrichey commented on #2068
Thanks @kmorton2017, I will start on this now. Does this need to be on production by any given timeframe?

[2019-03-28 18:32] kmorton2017 commented on #2068
No it does not need to be deployed within a certain time frame.

On Thu, Mar 28, 2019 at 11:11 AM Alan Richey <notifications@github.com>
wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
our children. Donate <h

[2019-03-28 19:35] adrichey commented on #2068
@kmorton2017 Thanks! Is it supposed to link to this page? This seems odd to me, but maybe it is because it hasn't been built out yet?

![uploads/5511f3c1-43a2-4971-bbd7-15b72294cb6c/Screen Shot 2019-03-28 at 2.33.36 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5511f3c1-43a2-4971-bbd7-15b72294cb6c%2FScreen+Shot+2019-03-28+at+2.33.36+PM.png)

[2019-03-28 19:42] kmorton2017 commented on #2068
Hmm i also get that same link when I click on it from Huboard. However, when I click on the link that Maggie sent me I am directed to the right page. see gif below

![uploads/095dc66e-6c49-4848-9447-a02d7a0fc407/newsletter link.gif](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F095dc66e-6c49-4848-9447-a02d7a0fc407%2Fnewsletter+link.gif)

[2019-03-28 20:08] adrichey commented on #2068
@kmorton2017 Weird. Can you forward Maggie's email with that link in it to me?

[2019-03-28 20:29] kmorton2017 commented on #2066
I confirm that I see this as a company listed while registering.

[2019-03-28 20:37] adrichey commented on #2066
Great! I am hotfixing this to production now.

[2019-03-28 20:39] adrichey commented on #2052
This is now ready for testing.

[2019-03-28 21:11] #2066 closed

[2019-03-28 21:11] adrichey commented on #2066
This has been hotfixed to production. Closing the ticket.

[2019-03-28 21:37] adrichey commented on #2068
Correct URL is: http://eepurl.com/gk5J_D
I have pushed up a fix for this now.

[2019-03-28 22:00] adrichey commented on #2068
This is now ready for testing. :slightly_smiling_face:

[2019-03-29 12:53] ophelieh commented on #2029
Hi @adrichey We won't have those until submission closes, we can give them to you on the 24th. Does that work?

[2019-03-29 13:12] ophelieh commented on #2052
@KaiLokken and @nickiredescent Could you both test this?

Thank you!

[2019-03-29 13:13] ophelieh commented on #2054
@nickiredescent and @kmorton2017 Could you both test this please?

[2019-03-29 13:14] ophelieh commented on #2068
@kmorton2017 and @KaiLokken Could you both test this? Thank you!!

[2019-03-29 14:15] adrichey commented on #2029
Yep, that is fine @ophelieh. I will move this to the backlog in the mean time then!

[2019-03-29 18:11] nickiredescent commented on #2054
Tested. Can confirm that the score page is loading correctly when either the "Between Rounds" or "Finished" status is turned on.

[2019-03-29 18:16] nickiredescent commented on #2052
Tested. Can confirm that my judge dashboard no longer shows the badge of great honor. It is also not visible on the admin UI.

Judging set to **off.**
![image](https://user-images.githubusercontent.com/45576078/55253859-ace42580-5213-11e9-965e-5cbd75c94ab0.png)

Judging set to **finished.**
![image](https://user-images.githubusercontent.com/45576078/55253891-bf5e5f00-5213-11e9-8f25-0f25ae63aa70.pn

[2019-03-29 19:32] KaiLokken commented on #2068
Tested it. Works as expected!

[2019-03-29 20:06] KaiLokken commented on #2052
Tested it. With "judging finished", the same message appeared as with Nick's account.
<img width="1412" alt="Screen Shot 2019-03-29 at 1 02 52 PM" src="https://user-images.githubusercontent.com/45576084/55259542-30f1d980-5223-11e9-9d6b-23606facb51e.png">

[2019-03-29 20:22] stenington opened #2073 "Certificates: Add ability for admin to delete certificates"
**Is your feature request related to a problem? Please describe.**
Add the ability for an admin user to delete a certificate for an end user.

**Describe the solution you'd like**
I'd like the ability for admins to delete certificates from the system. There's a chance that we already have bad certificates in the system, or that the wrong certificate could be generated for someone, and admins shoul

[2019-03-29 20:27] adrichey commented on #2053
This is now ready for testing.

Testing Scenario 1:
1. As an admin, turn Judging round to "Finished", make sure that "Scores & Certificates Accessible" is left unchecked and save these settings.
2. Log in as a Judge account.
3. Confirm that a message is displayed informing the user that certificates will be available on June 24th.

Testing Scenario 2:
1. As an admin, turn Judging round to "Finishe

[2019-03-29 20:28] stenington commented on #2054
I just noticed this bug exists on the scores export page too. 😭

I'm knocking this back into "In progress" to fix that page as well.

[2019-03-29 21:50] stenington commented on #2054
QA steps for second fix (same thing but with Scores export page):

1. log in as admin
2. set Judging Round to "Finished"
3. click "Scores export" in nav menu
4. confirm the scores export page loads without error

[2019-03-29 21:52] stenington commented on #2056
@adrichey I don't feel like this ticket needs QA by itself. It's the groundwork for a bunch of other tickets that will all get QA'd so I think we're better off moving on to those tickets. What do you think?

[2019-03-29 21:54] stenington commented on #2057
I'm not sure what the acceptance criteria is here, although I did notice that the datagrid should probably include the user's first and last name, as that's what ends up on the certificate.

[2019-03-29 22:12] adrichey commented on #2060
This is ready for testing.

[2019-03-30 00:16] nickiredescent commented on #2054
Tested. Can confirm that the "Score export" page loads without error. Could be just me, the page loads a bit slowly, especially when I switch to quarterfinal scores.

[2019-03-30 12:15] ophelieh commented on #2068
Thank you Kai! @kmorton2017 Could you test this on Monday?

Thanks!

[2019-03-30 12:16] ophelieh commented on #2052
Thank you both!

[2019-03-30 12:16] #2052 closed

[2019-03-30 12:17] ophelieh commented on #2053
Hi @KaiLokken and @nickiredescent Could you test this?

Merci! :)

[2019-03-30 12:18] ophelieh commented on #2060
@nickiredescent and @kmorton2017 Could you both test this? Thanks!

[2019-03-30 12:18] ophelieh commented on #2054
@kmorton2017 Could you test both of those steps? Merci! :)

[2019-04-01 13:16] stenington opened #2076 "Rework drop lowest scores task"
During semifinals we plan to drop the lowest score for each team, but the dropped score should not count against that judges judged submission total when it comes to certificate levels. Previously we would try to detect that scenario in the rake task and set a certificate override. I think we should move to a solution where we add a `dropped` field or something to that effect that the rake task ca

[2019-04-01 13:50] ophelieh commented on #2029
Perfect. Thanks!

[2019-04-01 14:03] adrichey commented on #2056
I think you are correct. My assumption on this work would be that it would be a developer ticket that would be closed on pull request. I feel like the new UI and functionality will cover the actual QA testing.

[2019-04-01 14:05] adrichey commented on #2057
I will update the description with acceptance criteria now.

[2019-04-01 14:20] adrichey commented on #2076
I think this sounds like a sound approach. Tracking dropped scores will be really useful for data collection, so I like this approach.

[2019-04-01 14:33] adrichey commented on #2073
@stenington I was thinking that I might put the certificate deletion on the participant view in the certificate list, but it dawned on me that this would only be displaying 2019 certificates. So I am thinking it might be better if it is added to the datagrid at this point. Where did you envision this being added? If you can let me know, I will get started on this.

[2019-04-01 15:08] stenington commented on #2073
Well, I was hoping to copy a deletion pattern from somewhere else in the admin, but the only one I've seen is for suspicious scores where you get the buttons at the bottom of the score page:

![Screen Shot 2019-04-01 at 11 06 19 AM](https://user-images.githubusercontent.com/55319/55338248-4ad32c80-546e-11e9-9147-46660763e3c7.png)

Is it overkill to create an entire `show.html.erb` template just fo

[2019-04-01 15:38] adrichey commented on #2062
@stenington I am having a little trouble conceptualizing where the fix for this ticket needs to be. I was going to put a check for the judge profile in the `FillPdfs` initialize function, the `CertificateJob` perform function, and `CertificateRecipient` initialize function. But then I realized that mentors will still need a team passed in, so I am debating on how this check should work. Because a

[2019-04-01 15:45] adrichey commented on #2073
Hmmm. Maybe not? It could always be improved later on to display the PDF in the browser as a preview or something. I think that is a good approach. I can work on that page. I will basically just provide a link or download button for the certificate on that page and an additional deletion button as well. If that sounds good, I think I will stop work on #2062 as it is a bit more nebulous and start i

[2019-04-01 15:51] stenington commented on #2073
Sounds good to me

[2019-04-01 15:55] adrichey commented on #2062
@stenington sounds good. I have moved this to To Do in that case. Thanks!

[2019-04-01 18:44] kmorton2017 commented on #2060
I confirm that I can see the Certificate Section on the Participant's profile for student, mentors, and judges.

[2019-04-01 18:46] kmorton2017 commented on #2068
I confirm that I am directed to the new newsletter link.

[2019-04-01 18:46] #2060 closed

[2019-04-01 18:46] #2068 closed

[2019-04-01 18:52] kmorton2017 commented on #2054
Confirm that the scores page loads without error.
Confirm that the scores export page loads without error. I agree with Nick though, the scores export page was slower to load though.

[2019-04-01 21:16] kmorton2017 commented on #2057
I confirm that I am able to view and download all certificates from this page. Quick reminder that the RPE winner filter is not needed since RPE winners receive the same semifinalist certificate as everyone else.

[2019-04-01 21:17] kmorton2017 commented on #2056
are there any action items for the program team on this ticket @adrichey and @stenington

[2019-04-01 21:22] adrichey commented on #2056
@kmorton2017 No, this is basically all "under the hood" work. I will go ahead and close it since this work is now on QA and other work we are doing is dependent on it. Thanks!

[2019-04-01 21:22] #2056 closed

[2019-04-01 21:32] stenington commented on #2054
Ok, it looks like it might be slow because the country column hits the Google API, and while our API requests are being rejected that slows things down pretty badly.

[2019-04-01 21:36] #2054 closed

[2019-04-01 21:36] nickiredescent commented on #2053
Tested the scenarios.
Can confirm that Scenario 1 provides a message saying that certificates will be available June 24th.
Can confirm that Scenario 2 has either a certificate available or if no certificate is available, a message is displayed.

[2019-04-01 21:50] #2053 closed

[2019-04-02 01:40] stenington commented on #2062
Resolved by #2078

[2019-04-02 01:40] #2062 closed

[2019-04-02 15:05] adrichey commented on #2073
This is now ready for testing. Acceptance Criteria:
1. Log in as an Admin
2. Browse to Certificates in the dashboard side-navigation
3. Click the PDF icon in the View column for a certificate
4. Confirm that you are brought to a screen where you can view the certificate, and delete it
5. Deleting a certificate should provide you with a confirmation pop-up where you can confirm or cancel the confir

[2019-04-02 19:57] adrichey commented on #2001
@ophelieh and @stenington How do we envision this working for judges that have received certificates in the past? Should I remove General Judge certificates entirely, removing them for people who have received them previously? Or do we leave certificates in place if a judge received them previously and limit the general judge functionality to the 2019 season onward? The latter leaves code in place

[2019-04-02 19:58] stenington commented on #2001
@adrichey the lazy solution here is probably to leave `general_judge` in the certificate types and just make `gets_general_judge_certificate?` return false like [`gets_rpe_winner_certificate?`](https://github.com/Iridescent-CM/technovation-app/blob/qa/app/technovation/determine_certificates.rb#L165) does.

Removing it completely will actually remove the ability to search for past general judge cer

[2019-04-02 20:01] stenington commented on #2001
Ha, I think I was answering your question as you were typing it @adrichey. I say leave it in place but just default it to never issue. Figuring out how to handle certificates changing throughout seasons is a much bigger problem I think.

[2019-04-02 20:09] adrichey commented on #2001
That is great haha. I was thinking the same thing. Okay. I will approach it from that angle then. Thanks!

[2019-04-02 20:14] stenington commented on #2057
Yeah, good catch @kmorton2017. I'm going to change the filter to only show values that are already in the database.

[2019-04-02 20:28] stenington commented on #2059
@adrichey Can you help me think through QA on this one? It will take some collaboration with the dev team because we'll need to run the rake task by hand. I was thinking something like the following:

1. Developer deletes all of this year's certificates
2. Developer runs one of the rake tasks to generate this year's certificates
3. QA team use Certificates admin page to look through and try to ver

[2019-04-02 21:09] kmorton2017 commented on #2057
let me know if this ticket is ready to close out or you need it to be tested again!

[2019-04-02 21:12] kmorton2017 commented on #2073
I confirm the steps outlined above @adrichey

[2019-04-02 22:32] adrichey commented on #2059
@stenington I think that makes sense. I think we will want to go through and set up a scenario for each certificate type. Including General Judge, even though that functionality will be removed soon. Actually, I am almost wondering if we should wait to run this until after we remove General Judge? That might give us a more realistic testing example.

So the test cases in Step 3 become:

- General

[2019-04-03 14:05] stenington commented on #2059
I agree about waiting until General Judge is gone. I would also add the test case of

* Judge + Mentor Appreciation: a Judge who qualified for a judge certificate and qualified for 1+ mentor certificates (make sure they received all)

[2019-04-03 15:47] stenington commented on #2057
@kmorton2017 Can you just look at the available filters one more time and confirm they make sense to you? RPE winner shouldn't be in there anymore.

[2019-04-03 16:11] stenington commented on #2063
@adrichey Can you give me more details on the export job failures you saw recently? I want to replicate that failure locally as a starting point for acquainting myself with job error handling options.

[2019-04-03 16:13] adrichey commented on #2001
This work has been completed. Previously generated tickets will still be searchable and available. 2019 general judge certificates are no longer a thing.

[2019-04-03 17:28] adrichey commented on #2043
@ophelieh and @kmorton2017 I thought I would tag you again so that you could take a look at my questions from before about this ticket so we can get started on it again. Any light you can shed would be appreciated. Thanks!

[2019-04-03 17:44] adrichey commented on #2063
Sure. First I log in as an admin user and browse to "Background Jobs" in the dashboard. From here, under Dead Jobs, I basically look up an "ExportJob" in the job column for another user in the system. This will give me feedback similar to the following, where __ACCOUNT_ID__ is the actual account id of the person who ran the export:
[code]
This basically shows me that I need to run a Participants e

[2019-04-03 20:58] stenington commented on #2061
QA steps:

For each of the following types of users (**Student**, **Mentor**, **Judge**, **Judge & Mentor**) do the following:

1. log in as an admin
2. look up the user in the **Participants** page
3. scroll down to the **2019 Certificates** section
4. confirm the appropriate controls are available for the profile type in the **Manually award certificate** section, e.g. student has student certif

[2019-04-04 02:09] stenington commented on #2063
Ok, I've learned a few things about Sidekiq, jobs, and our admin export notifications.

Sidekiq has retries built in to the system. If a job fails, it will retry a configurable number of times with a longer wait before each subsequent retry. Once all retries fail, the job is moved to the dead jobs list.

Our admin export notifications work by first looking for a `Job` in queued status. If it finds

[2019-04-04 14:20] adrichey commented on #2063
I think that is reasonable Mike. I think that at least storing the dead state will help us troubleshoot faster and keep the end-users from asking us to clear out that download generation spinner all the time. That tends to be a decent amount of my one-off issue calls. And I believe Airbrake monitoring can help, but I don't know how much work we need to put into that up front. I feel like that can

[2019-04-04 14:29] adrichey commented on #2076
@stenington What should the QA steps look like for this? I think it is a little hard to test this one until we are ready to actually drop the scores on QA. Unless we want to backup the database, run this and test, and then revert back. But that takes a good amount of coordination. I did thorough testing on my end and things seemed to look okay. Do you maybe want to test this and assert that lowest

[2019-04-04 14:59] stenington commented on #2063
Ok cool, I'll put up a PR for that then!

[2019-04-04 15:55] adrichey commented on #2004
Update: Ruby is finalizing designs now and will link them here once they are done.

[2019-04-04 16:34] stenington commented on #2076
Yeah, I'll test locally and approve.

[2019-04-04 17:05] RRios00 commented on #2004
Hi Alan, thank you for your patience!
Here are the completed and approved certificates.

<a href="https://www.dropbox.com/s/6jfiho4k4hja4cn/Certificate-Mentoring_2019.pdf?dl=0">Certificate of Mentoring</a>

<a href="https://www.dropbox.com/s/wgdyievl1uh6ixo/Certificate-Participation_2019.pdf?dl=0">Certificate of Participation</a>

<a href="https://www.dropbox.com/s/00csuq3f0e09hva/Certificate-Part

[2019-04-04 19:05] adrichey commented on #2076
This is now ready for testing. Please note that this will be tested by Mike as we need a developer to run the task and approve/deny it works since it runs in the background.

[2019-04-04 19:10] adrichey commented on #2004
Thank you @RRios00! I appreciate all of your work on this. I will get to work on uploading these templates now @ophelieh.

[2019-04-04 19:47] stenington commented on #2076
This passes QA. Before using in production, I'll do a trial run with a copy of the db and do some manual sanity checking with the program team to be safe.

[2019-04-04 19:47] #2076 closed

[2019-04-04 20:54] adrichey commented on #2004
@RRios00 and @ophelieh It looks like the mentor appreciation certificate is not working as intended. I think this is because the text box underneath the Full Name field only allows for one line of text. I think we will want to expand this text box to allow for multiple lines, similar to how the Completion certificate text box works. Hopefully that makes sense.

Here you can see the problematic gen

[2019-04-04 21:03] adrichey commented on #2004
@RRios00 Additionally, could you change all of the "First Name Last Name" combinations to "Full Name"
(without quotation marks)? That would be helpful so we don't have to change our code for the edge cases. Thank you!

[2019-04-04 21:37] RRios00 commented on #2004
@adrichey I've changed all the certificates to "Full Name" (with out the quotation marks) and @ophelieh  the copy of the RPE certificate.

<a href="https://www.dropbox.com/s/6qy6gbafk80grnb/CertificateofMentor_2019.pdf?dl=0">Certificate of Mentoring</a>

<a href="https://www.dropbox.com/s/u0auk1s36f6mvqn/Certificate-Participation_2019.pdf?dl=0">Certificate of Participation</a>

<a href="https://ww

[2019-04-04 21:47] adrichey commented on #2063
This has been tested by me during the pull request review stage. You can see my testing steps on pull request #2084. I am going to mark this ticket as closed now that the code has gone through CI and is deployed to QA.

[2019-04-04 21:47] #2063 closed

[2019-04-04 21:50] adrichey commented on #2004
Thanks Ruby! I will give those a shot and let you know if anything else needs tweaking.

[2019-04-05 19:35] adrichey commented on #2004
**QA Testing Steps**

Perform the following steps for each of the following certificates:
- <a href="https://www.dropbox.com/s/6qy6gbafk80grnb/CertificateofMentor_2019.pdf?dl=0">Mentor Appreciation</a>
- <a href="https://www.dropbox.com/s/u0auk1s36f6mvqn/Certificate-Participation_2019.pdf?dl=0">Participation</a>
- <a href="https://www.dropbox.com/s/zql3ey05xbccrb6/Certificate-ParticipantCompletion

[2019-04-05 19:36] adrichey commented on #2004
This is now ready for testing using the above steps.

[2019-04-05 21:25] ophelieh commented on #2061
@KaiLokken & @nickiredescent Could you test this for student, judge, and judge & mentors

[2019-04-05 21:27] ophelieh commented on #2057
@ophelieh to check

[2019-04-05 21:27] ophelieh commented on #2073
@nickiredescent Could you test this?

[2019-04-05 21:28] ophelieh commented on #2001
@ophelieh to test

[2019-04-05 21:28] ophelieh commented on #2004
@KaiLokken and @nickiredescent Could you both test? Feel free to split the work. Thank you!

[2019-04-08 14:49] adrichey commented on #2050
I went ahead and tested this ticket since it does not have an associated UI element. It is working as intended. Closing the ticket.

[2019-04-08 14:49] #2050 closed

[2019-04-08 17:08] nickiredescent commented on #2073
Tested. Works as described. Can confirm that as an admin, I am able to delete certificates with a warning prior to confirmation.

[2019-04-08 17:38] nickiredescent commented on #2061
Tested. Can confirm that certificate generation works as described for all participants listed.

[2019-04-08 17:39] ophelieh commented on #2073
@nickiredescent Did you try to say don't delete (or no/yes) when getting the warning? Just want to make sure we have that covered as last season when deleted a student, if you pressed that button by accident and tried to cancel, it would still delete the student. Thank you!

[2019-04-08 17:52] nickiredescent commented on #2073
I've tried the delete button out, both yes and no. This works as intended and the profile was not deleted from the platform.

[2019-04-08 18:07] nickiredescent commented on #2004
Tested for all certificate types. All are working as described and are not editable.

[2019-04-08 18:10] adrichey commented on #2061
Thank you @nickiredescent! I will mark this as closed in that case.

[2019-04-08 18:10] #2061 closed

[2019-04-08 18:11] adrichey commented on #2073
Thanks @nickiredescent! Marking this as closed then. 🙂

[2019-04-08 18:11] #2073 closed

[2019-04-08 20:45] ophelieh commented on #2057
Everything works great, but the RPE winner certificate is still there.

![uploads/9d8997f6-f1a3-4dc0-bdbc-56eaa7ef9070/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9d8997f6-f1a3-4dc0-bdbc-56eaa7ef9070%2Fimage.png)

[2019-04-08 20:52] ophelieh commented on #2001
This works great. Checked a judge who only had one score and did not see a certificate.

Even if this won't happen, I just wanted to mention that judge - Hamzeh Rimawi - who was a General judge for 2019 before we made the change, is still receiving a General judge certificate.

![uploads/098f371a-c1cc-483e-8e3f-290e2c7660a7/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0

[2019-04-08 20:52] adrichey commented on #2057
Ah, it looks like you uncovered an actual bug with the code @ophelieh. The issue is that the certificate types got renumbered in our application, but not in the database. @stenington or I will need to address this tomorrow.

@stenington let me know when you have had a chance to look at this and either one of us can implement the solution once we have agreed upon a fix.

[2019-04-08 20:56] adrichey commented on #2057
Quick follow up for devs. This appears to be happening in: `app/constants/certificate_types.rb`.

[2019-04-08 21:03] ophelieh commented on #2004
@nickiredescent Do you remember which people you tested that on? Thanks!

[2019-04-08 21:05] nickiredescent commented on #2004
I tested a few. I remember for sure using jjj as one of the judges and
"example student" as one of the students

On Mon, Apr 8, 2019, 2:03 PM ophelieh <notifications@github.com> wrote:

[2019-04-09 16:48] adrichey opened #2088 "Inviting judges via RPEs is not working"
An RA recently sent this to @ophelieh:

[2019-04-09 21:13] adrichey commented on #2057
Beginning work on this again. Will try to get this done asap.

[2019-04-09 21:42] stenington commented on #2001
Yeah, @ophelieh it's important for you to know that this change won't try to fix any certificates that have already been generated. So the Participation certificate and the General Judge certificate you see there may be from messy staging data, or may actually also be related to the bug found in #2057.

But when this gets to production, I don't think 2019 users should have any certificates already

[2019-04-10 14:47] stenington commented on #2088
For QA, it's going to be hard to try to force the error to occur, but I would suggest the following:

1. log in as RA
2. create an event if needed
3. select Add Judges
4. use the pop-up to enter an email address that doesn't have an account (you can use the plus trick, e.g. mike+noaccount1@iridescentlearning.org)
5. click Save Changes
6. refresh the page and confirm the same email address is shown

[2019-04-10 16:26] adrichey commented on #2057
@ophelieh This bug has been fixed and you should be able to see the correct certificates again. This is once again ready for testing. Thanks!

[2019-04-10 16:35] adrichey commented on #2001
@ophelieh That issue you received where a mentor earned a participation certificate when they shouldn't have should be fixed by the code Mike mentioned in the comments above. So this should be good to go now.

[2019-04-10 16:53] ophelieh commented on #2004
ok thanks.

[2019-04-10 16:53] #2004 closed

[2019-04-10 16:54] ophelieh commented on #2088
@nickiredescent and @ophelieh to test.

[2019-04-10 16:55] ophelieh commented on #2001
Ok great. Thank you!

[2019-04-10 16:55] #2001 closed

[2019-04-10 16:57] ophelieh commented on #2057
Looks good now! :)

[2019-04-10 16:57] #2057 closed

[2019-04-10 17:01] ophelieh commented on #2088
Seems to be working fine for me. I can close the ticket once Nick validates it works for him too.

[2019-04-10 18:39] nickiredescent commented on #2088
I can also confirm that this works for me.

[2019-04-10 19:49] kmorton2017 commented on #2043
Hi Alan,

Here is some context for this ticket. The printable score sheets serve as a way for judges who inputed their draft scores in already online to easily reference them during the event, and for them to mark up/edit their scores. Some people prefer to have a paper sheet for them to write on and organize their thoughts quickly. Others may struggle connecting to the Internet in low bandwidth a

[2019-04-10 21:10] stenington commented on #2059
Here's a doc where I parse the rake task output a bit to help guide QA: https://docs.google.com/document/d/1oGqMcUb-Xu3QO6q1UU24QNCx1lvcYOtVN93igwOWV54/edit#

[2019-04-10 21:16] adrichey commented on #2059
To test:
1. Log in as an admin
2. Open the above Google Doc.
3. Pick one or two accounts from each section.
4. On the Participants view in the Admin UI, make sure that those users received the certificate indicated in the section you are looking at.

Do this for the following certificates:
- Certified Judge
- Head Judge
- Judge Advisor
- Completion
- Mentor Appreciation
- Participation

[2019-04-10 21:21] stenington commented on #2059
I would add in step 4 that you confirm the user you chose **should** receive that certificate.

[2019-04-10 21:31] stenington opened #2091 "Add student names and mentor names columns to submissions datagrid"
An RA has requested that a column for student names and a column for mentor names be added to the submissions datagrid, which will help in preparing event certificates.

[2019-04-10 21:36] stenington commented on #2059
Also, we caught 1 bug while setting up data. Students who have become mentors received both student and mentor certificates when they should only get the mentor one.

[2019-04-10 21:52] adrichey commented on #2043
@kmorton2017 Okay, got it. This is very helpful.

[2019-04-10 22:56] nickiredescent commented on #2059
Can confirm that this works as described. I randomly selected 2-3 participants of each list and checked for their certificate receipt. Certificates were found and they were the appropriate certificate for each participants.

[2019-04-11 14:41] stenington opened #2093 "Duplicate emails allowed in accounts table by DB index [5,5,1]"
**Describe the bug**
Every now and then, we get duplicate Accounts in the system that then prevent the person from accessing either one. The strange thing is that they have the same email address which I thought would be prevented by a unique index in the database itself. It turns out [this change](https://github.com/Iridescent-CM/technovation-app/commit/d2526f0fa7250871c28cf3a7117379c0842e065a) r

[2019-04-11 14:46] stenington commented on #2059
https://github.com/Iridescent-CM/technovation-app/pull/2092 fixes the student/mentor bug. I will regenerate certificates for these users only and confirm they just get the mentor certs.

[2019-04-11 14:51] adrichey commented on #2043
@kmorton2017 I am still confused on this. When you say:

Are you referring to a blank scoring sheet for that team, or an omitted score sheet?

[2019-04-11 14:57] stenington commented on #2043
Blank scoring sheet.

I kind of remember this now. I think the use case is that the web app doesn't always work well at RPE venues, and judges need to judge fast. So if each judge can have a printout of a scoring sheet to use, that's easier. And then if the judge started or even completed a score ahead of time, it's nice for them to have a printout showing the previous numbers they chose for them

[2019-04-11 14:58] adrichey commented on #2043
Right on. I don't think the logic ever accounted for that. It was only displaying the sheet if they had already started or completed a submission. So I am going to have to suss out the best way to do this in that case.

[2019-04-11 15:00] stenington commented on #2043
Yeah, plus some events assign judges and others don't and have all judges judge all submissions, so you need to account for that too.

[2019-04-11 15:00] adrichey commented on #2043
Yeah, I am going to address the easier of the two scenarios where there are no assignments and then circle back to that. Thanks Mike.

[2019-04-11 15:49] stenington commented on #2059
Ok, I confirmed that account ophelie+s2@iridescentlearning.org on staging went from showing a student and mentor cert to just the mentor cert, as expected.

[2019-04-11 16:31] stenington commented on #2093
There are currently 23 accounts we will have to de-dupe before a fix for this could be put in place.

[2019-04-11 18:25] kmorton2017 commented on #2043
yes @stenington is correct. small correction-RA's are not allowed and the system does not permit them to enter scores but it is useful for judges to use to input afterwards on their account.  If you would like an RA's perspective Jean Weiss would be a good person to ask.

If this is becoming too much of a beast though then don't worry. we don't have to prioritize it. i'm seeing a lot of back/forth

[2019-04-11 18:41] ophelieh commented on #2059
Awesome! Thank you, everyone! :)

[2019-04-11 18:41] #2059 closed

[2019-04-11 20:58] adrichey commented on #2093
Thank you for finding this. I have encountered the duplicates on occasion before, and I have just been manually fixing them as I couldn't locate how they were getting in.

[2019-04-12 22:32] danielahager opened #2097 "Adding Judges to RPE through event invite"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Go to log in to the technovation platform, keep the tab open, go to add another judge but see there is already random people and their email addresses already added that shouldn't be. We have deleted them but then more keep appearing as judges.

**Expected behavior**
There sh

[2019-04-15 13:37] stenington commented on #2097
@danielahager or @kmorton2017 Can you clarify the steps to reproduce a bit more? I need something detailed enough that I can follow it step by step and see the error happening, preferably on staging.

If the error is something you're seeing on production but can't figure out how to cause on staging, please include some screenshots or videos demonstrating the issue. Thanks!

[2019-04-15 13:42] stenington commented on #2088
@kmorton2017 Did you reopen this because you saw problems on staging or on production? The fix was just deployed to production today.

[2019-04-15 16:48] kmorton2017 commented on #2088
on production

[2019-04-15 17:40] stenington commented on #2088
@kmorton2017 Ok, it should be fixed on production as of today. If you already have strange invites in an event, delete them and re-invite the judges you actually want. From today forward, those invites should no longer randomly switch to a different email, but let me know if you're still seeing that problem and I'll re-open this or a new ticket.

[2019-04-15 17:40] #2088 closed

[2019-04-15 18:46] kmorton2017 commented on #2088
I can confirm that I no longer see random emails for judges on my events as
an RA.

Thanks!

On Mon, Apr 15, 2019 at 10:40 AM Mike Larsson <notifications@github.com>
wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belon

[2019-04-15 18:51] stenington commented on #2097
@kmorton2017 Is this ticket the same as #2088, or a separate problem?

[2019-04-15 19:44] stenington commented on #2043
@kmorton2017 This is in staging, but I'm having trouble putting together QA steps because I realized I don't actually know what's supposed to happen for teams in an event marked as "Submission in progress" or "not qualified". Can I leave this to you to write QA steps for, or do we need to talk further about how the printable view feature is supposed to work?

[2019-04-15 20:09] stenington commented on #2043
On second thought, here's some basic QA steps that would get us started. It may not catch all the edge cases though.

1. Log in as an RA
2. Go to events
3. Create a new event
4. Add 3 teams
5. Add 3 judges
6. Click the "Print for live event" icon
7. Confirm that each judge has a score sheet for each team (9 score sheets total)
8. If any of the judges have already judged any of the teams, ensure th

[2019-04-15 20:26] stenington commented on #2091
QA:

1. Log in as RA
2. Go to Submission page
3. Add student names and mentor names as "More columns"
4. click Search
5. Confirm that student names and mentor names show in results
6. Confirm for a team or two that the correct student and mentor names are showing

[2019-04-15 20:29] stenington commented on #2093
@kmorton2017 @ophelieh My proposal here would be to delete all but 1 duplicate for each account with duplicates. There's not a ton of them, so I can try to check each to see if one has more information than the others, but by and large I think having a duplicate prevents the user from getting very far so they should basically be the same.

I can just go ahead and do this with your approval, but my

[2019-04-15 20:32] stenington commented on #2043
I tried following my own QA steps on events that already existed in staging, and the results seemed very messy. However when I created new events it seemed to work much better, so I have a suspicion that some of our old events have gotten a bit messed up over time (judges assigned to the event multiple times and the like) and I'm hoping our production data will be cleaner.

[2019-04-15 21:37] ophelieh commented on #2093
Hi Mike! Thanks for bringing this up. It seems that when there are duplicate accounts, users are stuck and cannot move forward with their account. Keeping just one account sounds good to me, that's what we've been doing so far and it seems to work. :)

It would be great to get a list, if that's not too much work, but that would be more for us in case a user reaches out to us.

Thank you!!!

[2019-04-16 14:45] stenington commented on #2093
Ok! I can keep a list of duplicate accounts, not a problem.

[2019-04-16 15:18] stenington commented on #2093
Notes for myself:

I think the plan here is:

1. wait until after the next deployment
2. remove the unique index on deleted account email addresses
3. deploy
4. look up duplicate accounts with [this dataclip](https://dataclips.heroku.com/zcnsnrabmblbnvctxzcwhhuzmzmx-TC-account-duplicates)
5. for each, note the email address
6. use the id with the older last login to `Account.find(<id>).destroy` th

[2019-04-16 17:53] ophelieh commented on #2043
@nickiredescent Could you test this? I'll try to test as well. Thank you!

[2019-04-16 17:59] ophelieh commented on #2091
@nickiredescent could you test this? Thanks!

[2019-04-16 22:37] nickiredescent opened #2098 "Unable to change the images submitted for Paper Prototype and Flowchart"
**Describe the bug**
As a student working on their submission, I am unable to change the image submission for the Paper Prototype and Flowchart section.

**To Reproduce**
1. Log in as a student who is able to begin submissions.
2. Navigate to "Code Checklist"
3. Under the "Pictures of your process" section, attempt to change the images by clicking the "Replace with a file from your computer" butto

[2019-04-16 23:35] nickiredescent commented on #2091
Tested. Can confirm that there are column settings for mentor and student names and that searching with them also produces their names in the search results. There name displayed in the search results are correct.

[2019-04-17 01:01] stenington commented on #2098
I think what's happening here is that the new images are getting uploaded, but the old image is cached in the browser and continues to be shown until the cache expires, which does not happen quickly.

One way to confirm this is to follow the steps above but add step 6:
6. [Refresh your browser cache](https://www.refreshyourcache.com/en/home/) and see that now the newly uploaded image is shown as e

[2019-04-17 19:35] ophelieh opened #2099 "Mentors with judge profiles cannot be added to events"
**Describe the bug**
People who have a dual profile (mentor/judge) cannot be added to events even if they are not mentoring a team this season.

In the event tab, you cannot find mentor-judges when trying to add judges to your event. See error message.

![image](https://user-images.githubusercontent.com/32206421/56315630-d2cb5e80-611d-11e9-87a4-4a73bf2c4227.png)

**Expected behavior**
As an admin

[2019-04-17 20:00] stenington commented on #2099
@ophelieh Just double-checking: would you have any concerns about a mentor-judge being added to an event as a judge, and then choosing to join a team as a mentor after that?

[2019-04-17 20:36] #2091 closed

[2019-04-17 21:28] nickiredescent commented on #2043
Tested both scenarios. Can confirm that this feature works as described, including previously existing scores showing up on the printable sheet.

[2019-04-17 22:00] kmorton2017 opened #2101 "Fix copy on judge scoring page"
I notice that the copy on the left hand side needs updated because there is a typo. "Even after finishing a score you have until to make changes."

This is the text I see during the QF. It should say: "Even after finishing a score you have until June 2nd to make changes."

![Screen Shot 2019-04-17 at 2 52 18 PM](https://user-images.githubusercontent.com/32206427/56323671-7ff3a600-6121-11e9-8835-a7

[2019-04-17 22:26] kmorton2017 commented on #2043
Everything works as expected for both scenarios.

[2019-04-17 22:28] #2043 closed

[2019-04-17 22:30] ophelieh commented on #2099
I don't think this would happen as submissions are due Tuesday and then mentors won't be able to join teams.

[2019-04-18 00:56] stenington commented on #2099
What about future seasons?

[2019-04-18 01:37] ophelieh commented on #2099
For future seasons, I guess if the mentor decides to mentor a team after signing up as a judge at an event, it would drop him/her from the event. If that's doable.

Another way, would be having a mentor who signed up as a judge for an event not be able to add teams anymore.

What do you think is best?

[2019-04-18 01:44] ophelieh commented on #2029
@kmorton2017 and @ophelieh to review copy

[2019-04-18 02:59] stenington commented on #2099
I'm not sure, maybe it's best to rely on RAs to choose their judges carefully and let them choose mentors as judges if they want to? If a mentor was really determined to also judge at an event they could just create a second account so it's not like the way the platform works now is foolproof. What do you think about removing any restrictions on judges also having mentor accounts whether they're o

[2019-04-18 14:22] ophelieh commented on #2099
Touche!

From what I have heard in the past, there has been some shady things going on with judges, so I would recommend keeping the restriction on mentors on teams, but if @kmorton2017 feels like we could remove the restriction altogether, then I am fine with that.

I just don't want us to end up with a case of an RA is not being "fair" and allowing mentors on teams to be judges. But then again,

[2019-04-18 16:16] stenington commented on #2098
QA steps:

1. Log in as a student who is able to begin submissions.
2. Navigate to "Code Checklist"
3. Under the "Pictures of your process" section, if no images have yet been uploaded, select an image for each, click "Save checklist", and then navigate back to the Code Checklist
4. Under the "Pictures of your process" section, attempt to change both the paper prototype and flowchart or pseudocode

[2019-04-18 16:18] stenington commented on #2098
As extra QA, I made sure I had an account on staging where I was experiencing the caching problem before deployment as well, and the deployment fixed it for that account. But I'd still like someone to do the above steps and double-check it for me. Thanks!

[2019-04-18 19:12] ophelieh commented on #2098
@KaiLokken Could you test this today?

[2019-04-18 19:36] KaiLokken commented on #2098
Tested it. Worked as expected. The newly uploaded images were shown.

[2019-04-18 19:39] stenington commented on #1506
Here are some related notes about the codebase, and I think @kmorton2017 is going to work on confirming some things from the admin side.

Submission scores have a field to record whether they're considered official or unofficial. In the admin in the Scores section, the **Complete scores** are **Incomplete scores** columns are showing official scores only. The score detail page shows the official a

[2019-04-18 22:08] #2098 closed

[2019-04-19 13:13] stenington commented on #1920
@kmorton2017 I don't see a problem with doing this. I'm thinking it would show the configured message if there is one, or "Hey! Welcome back!" if there isn't one.

[2019-04-19 13:17] stenington commented on #1590
Adding some notes from a discussion: What we could start thinking about is having some way to "archive" a summary of the teams' scores at the end of one season, and making that summary available to them as they go on to the next season.

The difficulty with doing something more robust is that as we tweak things year to year, we would start having to maintain a lot of legacy code for the system to

[2019-04-19 13:22] stenington commented on #1619
Ah, @kmorton2017 @ophelieh I didn't realize this ticket already starts to specify the behavior about what happens when you're marked inactive.

A few comments on the initial description:

I would rather make a filter that defaults to active, but lets admins and RAs choose active, inactive, or either, and then have the CSV pay attention to that filter. I don't like the idea of the CSV export export

[2019-04-19 13:44] ophelieh opened #2103 "Create live/virtual judge filter for 2019 season"
**Describe the bug**
At this time, we have no way of telling if a judge from the 2019 season is a live or virtual judge.

Two possible solutions:
* Add live/virtual filter on the “participants’ page” for judges
* Filter judges by year on the “judges” tab

**Expected behavior**
We can filter judges to see which ones are attending a live event and which ones are virtual judges.

[2019-04-19 14:38] stenington commented on #2101
QA:

1. log in as a judge
2. start a score
3. confirm the message in the sidebar is correct

@kmorton2017 I just noticed it looks like this right now (I have the date configured as April 10):

![Screen Shot 2019-04-19 at 10 36 45 AM](https://user-images.githubusercontent.com/55319/56428932-214c3a80-628f-11e9-877f-08e07ffffd19.png)

Do you think the **(US/Pacific time)** makes sense to leave, or sh

[2019-04-19 15:08] stenington commented on #2103
The PR adds a few things:

As an admin, on the **Participants** page:
* There's now a **Virtual or Live** filter
* There's now a **Virtual or live** option under **More Columns**
* Also, selecting an option from the **Virtual or Live** filter or from the **Onboarded Judges** filter without first selecting Judge as a **Profile Type** should no longer cause an error!

On the **Judges** page:
* There

[2019-04-19 19:59] ophelieh commented on #2101
I feel like that makes sense, especially for countries who are a day ahead or behind. It kinda sets the expectation but I don't think it would hurt anything to remove it either. @kmorton2017 what do you think?

Tested it. Works as expected.

[2019-04-19 20:06] ophelieh commented on #2103
@kmorton2017 @KaiLokken Can you both test this? Thank you!

[2019-04-19 20:58] KaiLokken commented on #2103
Situation 1: TESTED IT
-It worked as expected once applying the "filter by virtual judges" or "filter by live judges"

log in as an admin
go to Participants
select Virtual or live under More columns and click "Search"
make sure the results make sense-IT INCLUDED ALL PARTICIPANTS (i.e. STUDENTS)
filter by Virtual judges and click "Search"
make sure the results seem to make sense-WORKED AS EXPECTED

[2019-04-19 21:03] KaiLokken commented on #2103
Situation 2: Tested it.
33 judges for 2019 season.
10 judges for 2018 season
Zero judges for 2015-2017 season

[2019-04-19 21:12] stenington opened #2105 "Thunkable share url help text"
The share url has to be [generated a certain way](https://iridescentsupport.zendesk.com/hc/en-us/articles/360019590314-How-do-I-submit-source-code-from-a-Thunkable-X-project-), but many users are trying to put in the project url. Details being hashed out in Slack.

[2019-04-19 21:31] kmorton2017 commented on #2103
Situation 1:

I think the reason why Kai got all participants in her search results is because she did not select "judges" as a profile type. I selected judges as a profile type and only saw judge accounts.

Comments:
- I would like the ability to sort by ascending/descending on my screen view. Currently when I add "Virtual or live" as a column I am not able to do so.

Situation 2:
I confirm what

[2019-04-19 21:31] kmorton2017 commented on #2101
confirm. Leave as US/Pacific time.

[2019-04-19 21:40] stenington commented on #2103
@kmorton2017 I don't think I can give you sorting on the "Virtual or live" column. Sorting relies on the database to do the ordering of records, but virtual or live is not stored in the database directly, it's something we calculate once we've pulled their profile data out of the database. Sorry!

[2019-04-19 21:44] kmorton2017 commented on #2103
No worries. We can always sort it on spreadsheet. thanks!

[2019-04-19 21:51] kmorton2017 commented on #2105
The help text is not appearing for me yet.

![uploads/05ec7836-e172-43a7-a632-c694e230fb30/Screen Shot 2019-04-19 at 2.48.13 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F05ec7836-e172-43a7-a632-c694e230fb30%2FScreen+Shot+2019-04-19+at+2.48.13+PM.png)

[2019-04-19 21:54] #2103 closed

[2019-04-19 21:55] #2101 closed

[2019-04-19 21:56] amyiridescent commented on #2105
Me either. I don't see the help text that should appear. I changed the platform away from thunkable and back to thunkable and only see the one blue box...

[2019-04-19 21:57] stenington commented on #2105
Yeah you're both too fast today! I moved the ticket into test before it was technically on QA. Tests are running, then it will auto-deploy. There will be a message in #dev-robots once that happens.

[2019-04-19 21:58] stenington commented on #2105
Also apparently I wrote my QA steps in the wrong spot:

QA:

1. log in as a student
2. edit your submission
3. select Thunkable as your development platform
4. confirm you have help text for finding your shareable URL, and the link works

[2019-04-19 22:00] stenington commented on #2105
Ok it just deployed!

[2019-04-19 22:05] amyiridescent commented on #2105
Yeap I see it now when I select Thunkable as a platform. But not when i select other platforms (including Thunkable classic.) The "this article" link takes me to the correct zendesk ticket.

![uploads/46bdfd98-cb6f-4cbb-8cb9-0106ca47b4d5/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F46bdfd98-cb6f-4cbb-8cb9-0106ca47b4d5%2Fimage.png)

[2019-04-19 22:08] #2105 closed