[2018-09-27 19:16] Allicolyer commented on #1691
@adrichey the bug with pressing back to the Basic Profile page and having it re-selects "Student" despite explicitly selecting mentor is fixed

[2018-09-27 19:26] #1704 closed, assigned to joemsak

[2018-09-27 19:27] Allicolyer opened #1710 "Add "review and submit" button to dashboard"
Give students the ability to review and submit from their dashboards

[2018-09-27 19:28] Allicolyer commented on #1696
@kmorton2017 thanks!

[2018-09-27 19:28] Allicolyer commented on #1696
I think we can close this since we have card #1709

[2018-09-27 19:28] #1696 closed

[2018-09-27 19:35] Allicolyer commented on #1647
@joemsak @adrichey we are good go to on all of this copy. do you guys need help formatting it?

[2018-09-27 20:34] adrichey commented on #1653
This has been addressed in pull request #1711. Once that pull request is deployed to QA, I will move this ticket to the test column.

[2018-09-27 21:56] Allicolyer opened #1712 "Find all instances of April 25th -- make it say 23rd instead"

[2018-09-27 21:57] Allicolyer opened #1713 "Confirmation page after you sign the aren’t consent copy is outdated -- needs to say April 23rd"

[2018-09-27 21:59] #1663 closed

[2018-09-27 22:00] Allicolyer opened #1714 "Screenshot uploader needs to validate type of files"
As a student
When I try to upload a screenshot
And I try to upload a file type that is not .gif, .jpg, .jpeg, or .png
Then the site should show me a friendly validation message
And the files should not be uploading (or uploaded)

As a mentor
When I try to upload a screenshot
And I try to upload a file type that is not .gif, .jpg, .jpeg, or .png
Then the site should show me a friendly validation me

[2018-09-27 22:10] joemsak opened #1715 "Setup QA Data for RA Multiple Region exploration"
THIS CARD IS BEING TESTED BY @ophelieh as part of #1716 - if there is any issue with the RA accounts themselves, she should report them here

The QA database should be set with two RA accounts:

One RA account is based in Maryland, Virginia, and Washington DC
The second RA account is based in Hong Kong and China

Joe to provide login details on card #1716

[2018-09-27 22:14] joemsak opened #1716 "Exploratatory testing on QA for multiple-region RAs"
Note: you will need to sign up various students/mentors/judges, set up teams, and create submissions to test the data in multiple locations

As an RA in 3 regions: Maryland, DC, and Virginia
login/password: ophelie+ra-maryland@iridescentlearning.org

Please test the search functionalities of:
Participants, Teams, Judges, Submissions
Report what does not work as you expect it to
Please test that th

[2018-09-27 22:26] adrichey opened #1717 "Discuss submissions charts"
Discuss submissions charts to be implemented at a later date for the admin dashboard.

Known charts that we need:
- Top 10 countries in terms of number registered girls
- Top 10 countries number of completed submissions in terms of countries

We will discuss other potential charts and admin filters that will help with data analysis.

Acceptance criteria:
Alan and Katie to discuss these charts and

[2018-09-27 22:31] Allicolyer opened #1718 "Source code file validation"
As a student

Make sure your development platform is not set to Thunkable
When I try to upload source code
And I try to upload a file type that is not .aia or .zip or .apk
Then the site should show me a friendly validation message
And the files should not be uploading (or uploaded)

If I upload .aia or .zip or .apk  it will work

As a mentor --

Make sure your development platform is not set to Th

[2018-09-27 22:35] #1662 closed

[2018-09-27 22:36] kmorton2017 commented on #1717
Admin dashboard:
In addition to mentor and student pie graphs, could we have a pie graph with the total # of complete vs. incomplete # of submissions? This could be modeled after the student pie graph "with parental consent vs. no parental consent."

Top countries tab:
Submissions per country should show top 10 countries. Each country's bar should show the total # of submissions with a break down

[2018-09-27 22:36] Allicolyer opened #1719 "Checkmark when you successfully upload business plan and it is red --- make it green"
As a student--

When I try to upload a business plan
I get a green check mark once it is uploaded

As a mentor --

When I try to upload a business plan
I get a green check mark once it is uploaded

[2018-09-27 22:38] kmorton2017 commented on #1646
we will not have the survey link be ready by oct. 1st. is it possible to disable it until the pre-survey links are ready to go live? (i think thats an admin capability right?)

[2018-09-27 22:40] Allicolyer opened #1720 "Code checklist counter updates when I enter text for description"
As a student

When I check a box on the code checklist
The counter should not update until I've entered a description

As a mentor

When I check a box on the code checklist
The counter should not update until I've entered a description

[2018-09-27 22:42] Allicolyer opened #1721 "Code Checklist Point Counter for Pictures of Process"
As a student
With a submission
That already has two uploaded screenshots
When I go to edit my code checklist
And I attach the two pictures of my process (before pressing save)
Then I should see the counter award 3 out of 3 points

As a mentor
With a submission
That already has two uploaded screenshots
When I go to edit my code checklist
And I attach the two pictures of my process (before pressing

[2018-09-27 22:43] Allicolyer opened #1722 "Code Checklist -- pictures of progress is not showing dynamically"
Pictures of progress is not showing dynamically?

[2018-09-27 22:45] Allicolyer opened #1723 "Find Scenarios where RA/Admin search is difficult"
Admin/RA search for submissions is very difficult

-- Please document pain points here

[2018-09-27 22:45] Allicolyer opened #1724 "Add link a zendesk article for how to upload source code"
Once this is done add this link to submission page

[2018-09-27 22:45] #1635 closed

[2018-09-27 22:48] #1637 closed

[2018-09-27 22:49] joemsak opened #1725 "Submissions Demo Video: Add a review step"
As a student
With a submission
When I go to add my Demo Video URL (youtube, vimeo,  or youku)
And I click Save
I should see an intermediary review step
With the video embedded in the page
And a message imploring me to check that the video is working
So that I can verify if it is working properly
And I should be able to click "back" and re-do it
Or click "Save" and move on

As a mentor
With a submi

[2018-09-27 22:51] joemsak opened #1726 "Submissions Pitch Video: Add a review step"
As a student
With a submission
When I go to add my Pitch Video URL (youtube, vimeo, or youku)
And I click Save
I should see an intermediary review step
With the video embedded in the page
And a message imploring me to check that the video is working
So that I can verify if it is working properly
And I should be able to click "back" and re-do it
Or click "Save" and move on

As a mentor
With a submi

[2018-09-27 22:55] Allicolyer opened #1727 "Add submit button to dashboard"
As a student
With a submission
Once I complete my submission
But I have not submitted it for judging
When I go to my dashboard
I see a button to submit my submission for judging
When I click the button
I am taken to the review submission page

As a mentor
With at least one team
With a submission
Once I complete my submission
But I have not submitted it for judging
When I go to my dashboard
I see a

[2018-09-27 22:55] joemsak opened #1728 "Uploading an unsupported business plan file for submissions is difficult to remove"
As a student
With a submission
When I go to upload a business plan, but use an unsupported file
The broken file should be easy to remove without anything in the way of the remove link

As a mentor
With a submission
When I go to upload a business plan, but use an unsupported file
The broken file should be easy to remove without anything in the way of the remove link

[2018-09-27 23:01] Allicolyer opened #1729 "Review submission page needs design"
Review submission page needs design

 - Would be nice if it were laid out nicer
 - Could double as a public page (without code checklist)

[2018-09-27 23:02] Allicolyer opened #1730 "Final review page for congratulations could use design"

[2018-09-27 23:02] Allicolyer opened #1731 "If you are viewing the submission as a admin or RA you cannot click on screenshots"

[2018-09-27 23:04] #1722 closed

[2018-09-27 23:47] joemsak opened #1732 "RA participant search bug"
Original report by @kmorton2017 on slack:

I am an RA in Jersualem, Palestine. There are 2 students and a team based in Bethlehem. Neither the participants nor the team or submission is showing up on my dashboard

---

Acceptance Criteria:

As an approved RA

When I search participants
I should get all results for participants in my same region

When I search teams
I should get all results for tea

[2018-09-28 00:16] joemsak commented on #1732
@kmorton2017 @ophelieh I have run through several tests on this issue and I wrote an automatic update for the existing data so that it fixes the issue. I hope you come to the same conclusion!

[2018-09-28 14:10] joemsak commented on #1634
hey @Allicolyer I'm gonna have to ask that we trade this card out of this sprint in order to do whatever work we will decide on today for the mentor training situation. All the other cards should be good to go on QA now (except email copy, but we will still do that too) Thanks!

[2018-09-28 15:06] adrichey commented on #1691
@Allicolyer I created #1707 to serve as a discussion ticket, so you shouldn't have to create that discussion ticket. Thanks!

[2018-09-28 15:48] joemsak commented on #1647
@Allicolyer besides the consent waiver copy (I have asked for the specific changes on that one) I have updated all of these

[2018-09-28 16:59] joemsak opened #1733 "Create a Mentor "completed training" URL"
As a mentor
When I visit the "completed training" URL
Then I should be marked as having completed that step
I will only know about this URL at the end of the training ebook
(it will not be displayed or clickable on the platform or marketing site, etc)

[2018-09-28 17:01] joemsak opened #1734 "Configure the end of the mentor ebook site to take the mentor to the "completed training" URL"
As a mentor
When I visit the ebook training
And I make it to the final slide
Then I should see a link instructing me to click through
So that my training step will be marked as completed

As a Technovation staff member (most likely Amy)
I should get this URL from technovation dev team (most likely joe)

As a staff member (amy)
I should give the public starting URL for the training site to Joe

[2018-09-28 18:02] joemsak commented on #1647
@kmorton2017 confirmed no change to consent waiver, this is ready for QA!

[2018-09-28 19:00] joemsak commented on #1646
I have removed the existing survey link settings for now (yes @kmorton2017 this is something an admin can do, but i did it just now anyway)

[2018-09-28 19:04] joemsak opened #1735 "Monday: Admin settings"
To be open for registration
And team building
And submissions
An admin must enable the following settings:

Registration: Mentors, Students
Teams & Submissions: Team building, Editing submissions

And MUST turn off:
Scores & Certificates

[2018-09-28 19:05] joemsak commented on #1735
Probably would be best to turn off scores & certs now, *before* Oct 1, because that is when the automatic switch happens and certificates will be broken until they're turned off

[2018-09-28 20:27] joemsak commented on #1647
@madhavitechnovation thank you, that is all expected, because the emails are coming from QA, however our marketing site has been hardcoded into the email

@kmorton2017 yes, every single time you ever see the year in any page, any email, any anywhere, yes it will change to correct season year automatically

as for the link, okay, I copied the one that was linked in the google doc so if that wasn't

[2018-09-28 20:29] joemsak commented on #1647
@kmorton2017 sorry, i understand you now, it is not linked at all. fixing ASAP please be ready to come back to QA this card again

[2018-09-28 20:31] madhavitechnovation commented on #1705
so @joemsak how will we make this change?

[2018-09-28 20:32] joemsak commented on #1688
@kmorton2017 I checked the team debugging info as an admin and confirm that this team has disabled their visibility to mentors searching for teams

[2018-09-28 20:33] joemsak commented on #1705
@madhavitechnovation you don't. i did. it's done, please verify that the dates are correct

[2018-09-28 20:35] joemsak commented on #1647
@kmorton2017 this is ready for QA again

[2018-09-28 20:37] kmorton2017 commented on #1732
please test using katie+ra2@iridescentlearning.org

You should see the following mentors:
Bart Simpson
Rawan
Hamzeh

Students:
Lama Hussein
Miriam Al-Qrinawi

Teams:
Kitaab

Submissions:
Kitaab

[2018-09-28 20:40] joemsak commented on #1732
@kmorton2017 bart simpson is located in missouri, I cannot confirm that it is expected for this mentor to appear in palestine participant results

[2018-09-28 20:42] kmorton2017 commented on #1732
edited out bart simpson. he is located in missouri. sorry

[2018-09-28 20:44] adrichey commented on #1732
I had changed Bart Simpson previously when testing another location form ticket earlier in the sprint. Sorry about that. I had to test in a non-local environment to confirm code was deployed as I wanted to test networking logs.

[2018-09-28 20:47] ophelieh commented on #1732
Logged in as katie+ra2@iridescentlearning.org - I am able to see all mentors, students, teams and submissions

[2018-09-28 20:48] madhavitechnovation commented on #1705
Thanks @joemsak it looks good. I checked with Katie and she is fine not to have 2019. So this card is all good.

[2018-09-28 20:51] kmorton2017 commented on #1658
yep looks good. i'm unable to use symbols now. can you add "no spaces" in the little red box that pops up when it's incorrect?

[2018-09-28 20:51] kmorton2017 commented on #1713
looks good

[2018-09-28 20:53] joemsak commented on #1658
the validation says "can only have letters, numbers, and underscores"

I think that should be enough for someone if they try to use a space since
spaces aren't in the list of what's allowed

On Fri, Sep 28, 2018 at 3:51 PM kmorton2017 <notifications@github.com>
wrote:

[2018-09-28 20:59] joemsak commented on #1688
@kmorton2017 so if you could either test this card with another team or enable that team's visibility to mentors, that would be the next step to push this card through QA

[2018-09-28 21:04] ophelieh commented on #1732
When creating a new student in Palestine, I can see the RA Milo and when logging in as the RA, I can see the new student. Anything else I should be testing out for this card?

[2018-09-28 21:05] kmorton2017 commented on #1715
i would like to change this if possible for one RA account based in Maryland, Virginia and Washington DC. instead of Massachussetts/Rhode Island.

This is a more complicated use case but occurred in real life.

[2018-09-28 21:08] kmorton2017 commented on #1709
the example URL did not work in the field "WHAT IS THE SHAREABLE URL OF YOUR THUNKABLE PROJECT?"

it shows as invalid.

[2018-09-28 21:12] joemsak commented on #1709
@kmorton2017 what happened with your original comment saying it was invalid? I ran the URL through my tests and they passed

[2018-09-28 21:13] kmorton2017 commented on #1709
it was doing a weird thing at first where i would copy/paste the link and another https:// was added on in front (making it two https://)

i wasn't sure if it was my error with copy/pasting too fast. i have been unable to replicate so i think it was my own error.

[2018-09-28 21:15] joemsak commented on #1709
@kmorton2017 okay thanks for clarifying - i have updated the test for this URL and the validation (and the https thing) and it passed, so yeah I'm not sure either

[2018-09-28 21:17] ophelieh commented on #1658
Looks good! I tested with all kinds of characters and spaces.

[2018-09-28 21:19] #1709 closed

[2018-09-28 21:19] #1705 closed

[2018-09-28 21:20] #1658 closed

[2018-09-28 21:20] adrichey opened #1736 "Email input validation is erasing input"
The email input field in registration is erasing input on slow network connections.

To reproduce:
1. Fill out registration forms until you get to the Sign In step.
2. Type an email address repeated very quickly, erasing and inputting text, watching for characters to disappear.

Expected behavior:
Text typed at whatever speed is not erased from the email input.

Developer note: This is due to a ra

[2018-09-28 21:30] #1713 closed

[2018-09-28 21:31] adrichey commented on #1736
This will most likely need to be tested at a high priority and cherry-picked into production so that people are not running to this while signing up.

[2018-09-28 21:34] kmorton2017 commented on #1688
you were right about the team Hong Kong's Awesome Team.

However, Fun Times Team IS enabled for mentors to find it. I am unable to see it as available teams near me.

[2018-09-28 21:34] adrichey commented on #1732
I believe that should cover it @ophelieh. Can @kmorton2017 or @joemsak confirm?

[2018-09-28 21:36] #1732 closed

[2018-09-28 21:36] kmorton2017 commented on #1732
no that's it.

[2018-09-28 21:36] joemsak commented on #1688
Okay thanks katie, could I get you to test the scope of this card though?
Try to make a join request with a team that you can find. If this is
another bug, it's another card

[2018-09-28 21:38] kmorton2017 commented on #1688
yes i was able to request to join Hong Kong's Awesome Team. As a student I approved this join request.

[2018-09-28 21:39] kmorton2017 commented on #1647
When someone receives a join request email, it currenlty says:

"Please take a minute to approve or decline the mentor request within the next week so that Layla can reach out to another team if needed."

It should say "within the next two weeks."

[2018-09-28 21:39] joemsak commented on #1688
okay and as a mentor could you verify that you could still go find more  teams after sending out a join request?

[2018-09-28 21:41] kmorton2017 commented on #1688
i could still go and find more teams "anywhere."

I was not able to find more teams "near me" although Fun Times is located in my region.

[2018-09-28 21:42] joemsak commented on #1647
@kmorton2017 you're right, and I had totally checked that and completely overlooked it. it will be fixed ASAP - please be ready to QA again

[2018-09-28 21:42] joemsak commented on #1688
That's fine, as long as you had the button to go there, that was alli's
last bug

[2018-09-28 21:44] ophelieh commented on #1653
Seems to be working, but it's taking a long time to generate so I can't tell if it opens the right certificate. Will need to be retested.
![uploads/7bf2eba8-39e2-4e36-bf5b-eef6f51d2138/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7bf2eba8-39e2-4e36-bf5b-eef6f51d2138%2Fimage.png)

[2018-09-28 21:46] joemsak commented on #1653
@ophelieh the QA server has had 3 or more deploys back to back, it's probably just been rebooting right in that moment.

[2018-09-28 21:58] #1688 closed

[2018-09-28 22:09] joemsak commented on #1653
The link works now, but for past teams, the certificate is wrong

https://technovation-qa.herokuapp.com/admin/participants/11#/

I propose that supporting certificates before 2018 season can wait and is not critical for Oct 1

[2018-09-29 00:42] joemsak opened #1738 "Admin Dashboard bug in top countries chart: country names not displayed"
As an admin
When I log in to the dashboard
I should be able to see the Top Countries chart
And I should see each bar labeled with the full country name

[2018-09-29 00:45] joemsak commented on #1712
i think this card is outdated now, all instances were found and replaced with a reference to a piece of code that makes it so the change is in one place

[2018-10-01 17:20] joemsak commented on #1646
Any action left for this card?

[2018-10-01 18:30] kmorton2017 opened #1739 "XPast Season Filters are not working correctly with the Matched with team filter [20,13,1.54]"
I am logged in as an admin.

I went to participants--Mentors-->signed consent form
It is only showing 11 accounts
I am only searching 2018 season results. The 2018 filter is on.

I expected there to be a complete list of 2018 season mentors with signed consent forms appearing (probably 3,000-5,000 results)

**Desktop (please complete the following information):**
 - OS: X El Capitan, Version 10.11

[2018-10-01 18:59] amyiridescent commented on #1734
Thanks @joemsak I am going to use the TESTING link into presentation now. Can we leave this ticket open until we put in the live link later? Thx.

[2018-10-01 19:00] joemsak commented on #1734
Wait another 5 to 10 minutes before trying the URL, the code is still
uploading (we usually say deploying) to QA right now

Thanks!

[2018-10-02 19:47] joemsak opened #1740 "Mentor dashboard UI: Background check is complete, not required for US mentor who has not submitted"
Mentor dashboard UI: Background check is shown as complete, and not required for a US mentor who has not submitted one

**To Reproduce**
Steps to reproduce the behavior:
1. register as a mentor in the US
2. See that the background check is marked complete and says not required at this time

**Expected behavior**
I expected it to say I must submit one, because I am from the US and I haven't done it

[2018-10-02 19:52] joemsak opened #1741 "Dashboard header UI: avatar is showing the old kitten missing placeholder instead of the new default random icons"
**Describe the bug**
When I visit the dashboard (mentor and student)
My profile picture shows up as the old kittens from 2017
Even though my real avatar is one I uploaded or a randomly assigned icon during sign up

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up as a new mentor
( not confirmed: if a returning mentor logging in has this bug, or if any students have this bug)

2. look a

[2018-10-02 19:53] ophelieh commented on #1647
When a student or mentor are asked to join a team, this is what I get:

![uploads/678a1ce1-9702-449f-b400-693d2d33d007/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F678a1ce1-9702-449f-b400-693d2d33d007%2Fimage.png)

Does that mean we removed the time frame?

[2018-10-02 20:01] joemsak commented on #1647
@ophelieh the copy being checked is for when a mentor asks to join a team - so send a join request as a mentor to a team, then check for the 'two weeks' line. thanks!

[2018-10-02 20:04] joemsak opened #1742 "Mentor training 1556 addendum: ensure it affects 'onboarding' status (scope, etc)"
Admin/RA feature in AC deleted, doesn't exist

As a student
On a team
When I search for a mentor
The results do not include mentors who have not completed the training
They do include mentors who registered for the season before the training requirement date,
  even if they didn't complete the training

Test Plan:

1. Tell Joe to set the QA training date to tomorrow (or the future, doesnt matter)

[2018-10-02 20:07] joemsak opened #1743 "Mentor training 1556 addendum: Onboarding status affected by training completion"
As a mentor
When I have not completed the training
And I registered for the season (signed up, or logged in again from the past - please test both)
  * on or after the training requirement date

Then I must complete that training
In order to access:

 *  creating a team
 *  joining a team
 *  searching for teams
 *  responding to invites from teams
 *  making join requests (asking to join teams)

[2018-10-02 21:08] ophelieh commented on #1647
OK. Looks good!

[2018-10-02 21:10] ophelieh commented on #1736
Works great now! Tried typing quickly, slowly and deleting then retyping. No issues. :)

[2018-10-02 21:12] ophelieh commented on #1733
Works great!

[2018-10-02 23:23] kmorton2017 opened #1744 "Mentor Background Check --Foreign Born in the US"
This is a question from Zendesk that we also got last year:

"I wanted to submit my data for the background check but I don’t own an SSN number nor US drivers license. I am currently studying in the US and would love to act as a mentor."

What is the best way we can move forward with this?

Should we change use their home country for the background check and mentor on-boarding, and once that is co

[2018-10-03 15:08] joemsak commented on #1740
@adrichey we dont have defect priority policies yet, but this one seems high enough to patch up, if you think you could return to coding by looking at this one? i'm not 100% sure but I think it should all be getters/store logic. Let me know right away if you need rails/ruby support.

[2018-10-03 16:20] joemsak opened #1746 "Developers to fix Google form script for Bug Report form"
Script for bug report form is not working :(

https://gist.github.com/bmcbride/62600e48274961819084

Script: https://script.google.com/a/iridescentlearning.org/macros/d/MbHLZZyxSlQQjRYO9Q814EOvuoh0XTmry/edit?uiv=2&mid=ACjPJvHvhjhUisTn6ejDzK4c_rfDFlZ5QeGbK2mu5PgfCzmhvWmv60DnENW2bO727qoxpyF_lMnwkeFhoOEfb_LHolvVXT9wfFlKWW_ctDifP9WXP6r-QF2I50izKmvKFfr0VnlM2AhuTg

[2018-10-03 16:29] kmorton2017 commented on #1739
This is a related issue.

I am logged in as an admin. I went to Participants--Mentors--Season 2018-->Matched with a team.

Only 10 accounts were found. I expected there to be a complete list of 2018 season mentors matched with teams appearing.

OS: X El Capitan, Version 10.11.6
Browser--Chrome

[2018-10-03 16:30] adrichey commented on #1740
I believe the logic is in the front-end. I will get started on this and let you know if I get caught up somewhere.

[2018-10-03 19:08] #1647 closed

[2018-10-03 19:09] amyiridescent commented on #1736
@ophelieh If you are happy with this ticket, can you close it? thx

[2018-10-03 19:30] amyiridescent commented on #1743
As a new mentor signing up before the training requirement date, I still see the mentor training as an option on the dashboard. And when clicking on the "mentor training" this pops up.

![uploads/eba97460-5166-4d56-90fb-2d46c7c4966c/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Feba97460-5166-4d56-90fb-2d46c7c4966c%2Fimage.png)
And I can still ask to join a team.

Will te

[2018-10-03 19:30] amyiridescent commented on #1556
From Joe:
#1556 Test plan
In this testing session, you will perform your actions as two kinds of mentors:
1. Sign up as a new mentor
Log in as a returning mentor from a past season
Past mentor account login: amy+past-mentor@iridescentlearning.org (password is same)
Test a new mentor before the training date is available:
Tell Joe to set the training date to a day in the future
2. Sign up as a new

[2018-10-03 19:43] amyiridescent commented on #1556
1. As new mentor BEFORE training date, I am not required to take the training.
3. As returning mentor BEFORE training date, it asks me to sign the consent waiver but not required to be background check or update personal statement. I can request to join a team or start a team. I can do all of this WITHOUT taking the training.

Will do 2 & 4 after training data is reset.

[2018-10-03 19:54] joemsak commented on #1556
![uploads/a3301344-b4c1-4696-89cd-b49c0deddb97/Screen Shot 2018-10-03 at 2.53.44 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa3301344-b4c1-4696-89cd-b49c0deddb97%2FScreen+Shot+2018-10-03+at+2.53.44+PM.png)

[2018-10-03 20:19] amyiridescent commented on #1556
4. For a returning mentor AFTER training date, it does not let me join a team without doing training.

![uploads/dd86de28-ca9c-4b45-8fb3-181b1491f4bd/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fdd86de28-ca9c-4b45-8fb3-181b1491f4bd%2Fimage.png)

So then I click on "mentor training" (where the mentor training link will live in the future), a green pop up shows up saying

[2018-10-03 20:30] amyiridescent commented on #1556
Ok case #2 is fine also. I just had to do the background check.

![uploads/673a553a-09a2-438c-8cb0-be0eb5a62c0f/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F673a553a-09a2-438c-8cb0-be0eb5a62c0f%2Fimage.png)

[2018-10-03 20:31] #1556 closed

[2018-10-03 20:32] amyiridescent commented on #1743
Ignore earlier comment. It was a bug with background check which is being addressed already. This ticket is good to go.

[2018-10-03 20:32] #1743 closed

[2018-10-03 20:55] amyiridescent commented on #1721
I am not sure if I am following instructions well here. So I am awarded the 3 out of 3 points (from the total of 10 points available under "code check section", when I add two picture to the "pictures of your process" category. I do see that. As long as two screen shoots were already uploaded.

![uploads/b55bac11-6a89-494d-ae13-e5edb4bbf654/image.png](https://s3-us-west-2.amazonaws.com/prod.huboar

[2018-10-03 21:05] joemsak commented on #1721
good looking out @amyiridescent you were right to approach the test from another angle, and we can fix this too.

[2018-10-03 21:49] amyiridescent commented on #1721
Well I didn't do it on purpose. I didn't read Alli's instructions careful and ended up having to do it from both angles. And that is how I found the difference. hehe :)

[2018-10-04 15:47] #1736 closed

[2018-10-04 16:55] joemsak opened #1750 "Mentors take training on dashboard (embedded google slides)"
As a mentor
I can take the training on the dashboard
And I can complete my training on the final slide

[2018-10-04 19:56] amyiridescent commented on #1719
It works. For student & mentor.

![uploads/65301326-63e7-4e0c-8c84-c5516215fd46/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F65301326-63e7-4e0c-8c84-c5516215fd46%2Fimage.png)

So when I am on a team as a mentor with no students, it doesn't let me upload a business plan. (Like it should since it doesn't know if you are in junior or senior division.) That message doesn't

[2018-10-04 20:02] amyiridescent commented on #1728
@joemsak I don't know how to QA this. So I am trying to replace the .docx file already uploaded under business plan to test this.

![uploads/75c3f77c-fc57-411d-98a5-6ae0ec58a1b8/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F75c3f77c-fc57-411d-98a5-6ae0ec58a1b8%2Fimage.png)

But the file uploader will only show me doc and pdf files as options to be uploaded. So I can not

[2018-10-04 20:03] amyiridescent commented on #1728
Ok actually, I tried to drag and drop a ppt file and it worked.

![uploads/b85bdf6f-4a69-4cfa-a542-b9cceb5b236b/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb85bdf6f-4a69-4cfa-a542-b9cceb5b236b%2Fimage.png)

I can easily remove the wrong file format by hitting remove file.

[2018-10-04 22:10] amyiridescent commented on #1742
On step 8. Where can I filter for onboarded mentors only? I see the option for Judges... but not for mentors.

![uploads/6dfeac5d-b451-44b0-9858-3ea6dc8fad26/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F6dfeac5d-b451-44b0-9858-3ea6dc8fad26%2Fimage.png)

[2018-10-04 22:15] amyiridescent opened #1753 "Admin feature to filter for "onboarded mentors""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Want to be able to filter just the fully onboarded mentors on admin site under "participants"

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Create a filter option like we have for "onboard

[2018-10-04 22:30] joemsak commented on #1719
@amyiridescent it is true, a mentor can submit without students on the team, but without students we can't know the division, so it's the same as not being required to upload the business plan. they also cannot actually publish for judging until they have students with parental permission on the team. at this point, the submission would check if it needs the business plan or not, based on the stud

[2018-10-04 22:31] amyiridescent commented on #1742
YES. All interaction between student and mentor did work for all these steps. (There was a few seconds lag between mentor completing training and student being able to see that mentor but it did work.)

[2018-10-04 22:31] joemsak commented on #1719
the only scope of this card is the check mark when you uploaded the file: was it green?

[2018-10-04 22:34] amyiridescent commented on #1719
Yes Sir! Closing the ticket now.

[2018-10-04 22:34] #1719 closed

[2018-10-08 14:37] joemsak commented on #1721
@amyiridescent I checked into this and it seems like your issue is that the points do not update dynamically on the left-side menu when you upload screenshots. We didn't design the code to ever do that, updating it dynamically has not been a requirement as of yet, and it does update the 3 points when you load any page that has that menu on it. We'll have to consider this card passing the original

[2018-10-08 15:17] joemsak opened #1755 "Investigate admin new/returning student/mentor numbers"
As an admin
When there is a new student
Or a new mentor
When I visit the admin dashboard
I should see an accurate count of returning vs. new students and mentors

Repeat AC for RAs

[2018-10-08 15:31] ophelieh commented on #1725
As a mentor - Works great.
As a student - I uploaded a vimeo link but omitted a couple of numbers. It did not show me the big red error message as it happened to be the link to another video. It did show me that the video was set to private. I then changed the numbers again and this time it told me "video does not exist".

Either way, it works. :)

[2018-10-08 15:35] ophelieh commented on #1750
It seems I get the old training - https://iridescentlearning.atavist.com/technovation-mentor-training.

Does one of us need to update the link?

[2018-10-08 15:37] joemsak commented on #1750
You're opening the old training link in the resources menu - we should remove that - try the mentor training link in the team building menu

[2018-10-08 15:40] kmorton2017 commented on #1750
When I got to the end of the training, I pressed "Push this button" and got a "sorry we couldn't find that page" message

[2018-10-08 15:45] ophelieh commented on #1720
As a mentor - works great. It won't let me save the page until I have entered a description for each.

As a student - I entered an extra mobile feature and got some extra points. I saved it and went back, it still shows the extra points even though it doesn't count them - I still have 7/10.

![uploads/229afa29-29d4-4d36-96b6-a72fe038cc9a/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.c

[2018-10-08 15:47] #1755 closed

[2018-10-08 15:50] ophelieh commented on #1726
That's awesome! :)

[2018-10-08 15:52] joemsak commented on #1750
@kmorton2017 that is because @amyiridescent didn't update the URL to the testing URL (and now she SHOULD NOT DO THAT anymore because we plan to go live) so just change the host of the URL you went to from the live site to the QA site host

[2018-10-08 16:06] #1735 closed

[2018-10-08 16:13] amyiridescent commented on #1721
Sounds perfectly reasonable to me. We can think about dynamic update (?) features next year. Closing the ticket now.

[2018-10-08 16:13] #1721 closed

[2018-10-08 16:19] amyiridescent commented on #1742
@joemsak as long as I don't need to test this as an admin, this ticket is good to go.

[2018-10-08 16:20] #1728 closed

[2018-10-08 16:28] amyiridescent commented on #1740
As a new US mentor, it is telling me the background check is required.

![uploads/a0824d8e-8434-453b-bc2c-d6d62397ec6e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa0824d8e-8434-453b-bc2c-d6d62397ec6e%2Fimage.png)

Is this how I should test this ticket? @adrichey

[2018-10-08 16:28] amyiridescent commented on #1740
![uploads/9a7a222f-1a8e-4f7b-86dd-4221c569f323/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9a7a222f-1a8e-4f7b-86dd-4221c569f323%2Fimage.png)

[2018-10-08 16:37] kmorton2017 commented on #1720
As a student, it did not allow me to save my checklist until i entered a description. It did not count my points until i entered a description.

[2018-10-08 16:44] kmorton2017 commented on #1726
Update copy (minor edits) for both pitch video and demo video submission:

"Review the area above this message. If there is a problem with viewing your video, you should GO BACK and fix the pitch video link."

[2018-10-08 16:44] #1725 closed

[2018-10-08 18:50] joemsak commented on #1740
looks correct @amyiridescent can we close?

[2018-10-08 18:51] joemsak commented on #1750
seems like we all agree this is working, and the URL was already tested in another card. @amyiridescent can you confirm that the last slide only has ONE link and it's to the LIVE url?

[2018-10-08 18:51] #1742 closed

[2018-10-08 18:51] joemsak commented on #1742
ok

[2018-10-08 18:52] joemsak commented on #1742
okay @amyiridescent thanks please close the cards when they pass QA

[2018-10-08 18:55] amyiridescent commented on #1750
Yes I checked and it should be good.

[2018-10-08 18:55] #1750 closed

[2018-10-08 18:56] amyiridescent commented on #1740
yes sir.

[2018-10-08 18:56] #1740 closed

[2018-10-08 19:14] joemsak commented on #1726
@kmorton2017 the text should now be updated

[2018-10-08 19:35] amyiridescent commented on #1714
I get the warning sign. As student & mentor

![uploads/ce9b3970-22dd-4604-941f-1650249d366e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fce9b3970-22dd-4604-941f-1650249d366e%2Fimage.png)

[2018-10-08 19:35] #1714 closed

[2018-10-08 19:40] amyiridescent commented on #1726
Text is updated. ("P" in pitch video is upper case but that is fine. :) )

[2018-10-08 19:40] #1726 closed

[2018-10-08 20:16] #1734 closed

[2018-10-08 20:43] adrichey commented on #1720
@ophelieh and @kmorton2017 I will be working on those issues now.

[2018-10-08 22:07] adrichey commented on #1720
@ophelieh and @kmorton2017 this is once again ready for retesting. Please note that the fix is on the front-end, so if you use the same accounts you tested with last time, you will need to do the following:

1. Delete the description from each input box, and then uncheck the box.
2. Save the form.
3. Test the form as you would normally.

Thanks!

[2018-10-09 14:01] joemsak opened #1760 "RA account not appearing in search or dashboard intro"
**Describe the bug**
This is Jean Weiss. You might want to put an email on this form so you know who is submitting it. I am an RA and a mentor. I do not show up on the participant list. I should also be the one that shows up on the mentor dashboard. We have 2 mentors in MN and I would be the one to show up if there is only one. Christina is a backup.

**To Reproduce**
Go to participants and pull a

[2018-10-09 14:13] adrichey commented on #1646
Just following up since it has been about a week. Is there anything left to do for this card?

[2018-10-09 14:35] joemsak commented on #1720
I was able to confirm that the points add up correctly - I signed up as a new student on a new team with a new submission

[2018-10-09 15:12] joemsak commented on #1716
@kmorton2017 @ophelieh the login info has been set up and posted in this card - remember this is EXPLORATORY QA, so you are reporting what we will work on in the next sprint - please use Alli's templates from previous exploratory QA - it should be easy to find in your email or google drive

[2018-10-09 15:52] #1710 closed

[2018-10-09 15:52] joemsak commented on #1710
duplicate card

[2018-10-09 15:53] #1712 closed

[2018-10-09 15:53] joemsak commented on #1712
this should be done now

[2018-10-09 22:36] amyiridescent opened #1766 "collecting google analytics on mentor training"
With training google slide deck being embedded, can we collect some information? Such as how long people are staying on the training? And if they go back to the training during the year?

[2018-10-09 22:37] amyiridescent commented on #1646
@kmorton2017 Do we have the final survey links and has that been passed onto dev team? thx

[2018-10-10 01:18] ophelieh commented on #1720
Hi! I noticed that if I select one of the databases options (local or external), I then cannot change my choice - the other choice becomes unclickable unless I save the checklist and come back to it. This one makes sense.

It does the same for mobile features, but it's possible that some team have more than one feature (even if they only get points for one) or am I wrong?

Otherwise, the points ad

[2018-10-10 13:55] joemsak commented on #1646
Dev team doesn't need the links, staff can enter the information themselves

[2018-10-10 13:56] joemsak commented on #1720
@ophelieh if you mean that the other checkboxes are disabled, but you could still uncheck your choice and choose a new one, yes that is by design: there is a maximum amount of points they can earn, there is no need for them to select everything that they used, only enough to get maximum points

[2018-10-10 14:00] joemsak commented on #1634
@Allicolyer no worries, the sprint still had enough room for this card, picking it up now

[2018-10-10 20:21] joemsak opened #1769 "Adjust the mentor training slide speed from 3000ms to 6000ms"
The devs must change this value in the code
QA tester can time it with a stopwatch to verify

As a mentor
When I visit mentor training
If I use the play button
It takes 60 seconds to transition to the next slide

[2018-10-10 20:36] amyiridescent opened #1771 "Add mentor training as required onboarding steps on debugging information"
When clicking on mentor profile as an admin, we should see training under the "debugging information" section.

![image](https://user-images.githubusercontent.com/10034578/46764528-82b4a080-cc91-11e8-8c83-29048bcbd0b7.png)

[2018-10-10 20:43] joemsak commented on #1771
@amyiridescent i dont see that this issue has followed our templates can you please use the feature request template and follow it exactly

https://github.com/Iridescent-CM/technovation-app/issues/new?template=feature_request.md

[2018-10-11 04:57] amyiridescent commented on #1738
Ok. I am not sure if this is working. On QA, this is what I see under "top countries".

![uploads/cbd0c6e9-8ec7-40a4-a69e-f04f27d2d483/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fcbd0c6e9-8ec7-40a4-a69e-f04f27d2d483%2Fimage.png)

But when I check the countries of all participants for 2019 season, it does show that there are some from Hong Kong and India registered. May

[2018-10-11 05:01] amyiridescent commented on #1769
YES! It works. Thanks!

[2018-10-11 05:01] #1769 closed

[2018-10-11 05:06] amyiridescent commented on #1634
I am not a 100% certain how to QA this or what this exactly was trying to solve but this is what I did.

As admin, I went to teams, I picked a team, and on their team page, I do see the submission progress bar under "debugging information". When I click on the name of the app, I can see the full submissions.

![uploads/7a1a13fe-adef-4433-a899-70f5798cdaeb/image.png](https://s3-us-west-2.amazonaws.

[2018-10-11 05:07] amyiridescent commented on #1715
@kmorton2017 you might need to QA this one. :)

[2018-10-11 13:38] joemsak commented on #1715
Actually it's @ophelie

[2018-10-11 13:39] joemsak commented on #1634
@amyiridescent the scope of this card was to connect it to the admin page with the link and progress - if you're concerned about whether an RA can see it or edit submissions, you should log in on QA as an RA and investigate that. Then, if you want something changed, you must submit a new feature request

[2018-10-11 16:08] joemsak commented on #1738
@amyiridescent the data was right but the labels were wrong - I ran some more tests and figured out the issue there. It's back on QA today

[2018-10-11 21:16] ophelieh commented on #1741
I am in the process of working on this card (I'll finish later today). Just wanted to note that as I am creating a new mentor profile, it is deleting my information if I stop typing (at least in last name). Also, if I don't select a company from the droplist, it doesn't record my company name unless I press enter.

[2018-10-12 01:11] ophelieh opened #1774 "Text deleting when slowly entering name"
Signing up as a new mentor or student, as I type in my first name or last name - happens with school name too - , a letter or multiple letters randomly get erased.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sign up new mentor or student, step 5 "Basic profile"
2. Click on 'first name" or "last name" --- slowly enter data, some letters might disappear
3. For students only - slowly

[2018-10-12 01:12] ophelieh commented on #1741
Right. Let me do that!

[2018-10-12 01:13] ophelieh commented on #1741
Signed up as a new mentor - random avatar is what I saw next to my name when first logging in and on my profile.

[2018-10-12 01:32] ophelieh opened #1775 "Text not displaying correctly"
**Describe the bug**
Some of the text on the submission business page ends up on the banner. When scrolling, some of the text gets back to its normal spot but makes banner titles not clickable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My team submission"
2. Click on 'submit business plan'
3. Upload business plan
4. Save business plan
5. See error

**Expected behavior**
Text to

[2018-10-12 01:46] ophelieh opened #1776 "Submission - Development Platform - Data is not saving except for App inventor"
**Describe the bug**
When choosing a development platform, except for App Inventor, you cannot save the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Submission page
2. Click on 'Development Platform'
3. Scroll down to either selection other than App Inventor
4. Click on 'Save this development platform selection'
5. See error

**Expected behavior**
When clicking the save butto

[2018-10-12 01:56] ophelieh commented on #1727
As a student - submit button works as expected
As a mentor - submit button works as expected

** Note when I was testing this card, the Submission pages were not working properly (see bug #1775).

[2018-10-12 02:01] ophelieh commented on #1720
Noted. However, if I select an option then unselect it, I am unable to select anything else. The other checkboxes are still disabled for both 'Database Features' and 'Mobile Features'. Basically, even after unselecting an option, that is the only one I can reselect.

![uploads/7ef79d6a-7184-43f5-9835-6de957ccaa74/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7ef79d6a-718

[2018-10-12 15:33] joemsak commented on #1741
Great! Thank you, @ophelieh! If you could close the cards (as the tester you are permitted to do that) that would be a great final step to the QA task. Cheers!

[2018-10-12 15:36] joemsak commented on #1727
Okay, @ophelieh thank you so very much for taking the time to report the bug, and using the template! Once we have decided together as a team on a defect priority matrix (here is just one example, you are welcome to find others, https://www.softwaretestinghelp.com/how-to-set-defect-priority-and-severity-with-defect-triage-process/) we will be able to prioritize it accordingly. You may close the ti

[2018-10-12 15:37] joemsak commented on #1720
@ophelieh okay thank you for clarifying. you are right, that is a defect preventing the acceptance of this card. I will work on it today. Thanks again!

[2018-10-12 16:20] #1741 closed

[2018-10-12 16:21] #1727 closed

[2018-10-12 20:31] joemsak commented on #1776
hi @ophelieh I currently have this bug marked as a priority 1 (1 is the highest) because it is a potentially "Confusing UX" that potentially affects "more than 10% of users" - however I may down grade the priority because I think the issue is that you used to have App Inventor (or thunkable?) selected with the extra fields filled out. Now that you're trying to change it, it's failing due to trying

[2018-10-15 14:29] joemsak commented on #1760
Fixed in the short term by having the user log out and back in (they were logged in before the season switched over, meaning they didnt get registered for the new season yet)

[2018-10-15 14:29] #1760 closed

[2018-10-15 15:58] joemsak opened #1780 "Returning (and already logged in) users are not marked for the current season [13,8,1.6]"
**Describe the bug**
If a user is still logged in before the new season starts (Oct 1, 2019 for example), then their account is not marked for the new season, as that happens during the SignIn procedure

**To Reproduce**
Steps to reproduce the behavior:
1. As a developer, set the season switch date to a future date
2. Log in as an existing user
3. Change the season date to today or the past
4. Rev

[2018-10-15 16:27] #1720 closed

[2018-10-15 16:34] ophelieh commented on #1774
Works as expected for students and mentors.

[2018-10-15 16:34] #1774 closed

[2018-10-15 16:37] ophelieh commented on #1738
Looks great!

[2018-10-15 16:37] #1738 closed

[2018-10-15 16:55] ophelieh commented on #1718
As a mentor and student, when choosing a file to upload I am unable to see any file that's not .aia or .zip or .apk.

[2018-10-15 16:55] #1718 closed

[2018-10-15 17:07] ophelieh commented on #1634
Looks good as an admin and RA.

[2018-10-15 17:07] #1634 closed

[2018-10-15 19:57] kmorton2017 opened #1781 "CSV File add registration date"
Can we add a field on the CSV file for the participant's registration date and last sign in? This will help eliminate confusion for RA's and admins on newly registered participants and allow admin users to easily keep track of new participants.

@ophelieh @joemsak

[2018-10-15 21:38] joemsak commented on #1781
Hi @kmorton2017 thank you for your request - have you had a chance to bookmark this link for new feature requests?

https://github.com/Iridescent-CM/technovation-app/issues/new?template=feature_request.md

Please edit your request, copy this template into it, and fill it out and follow the final instruction. Thank you!

[2018-10-16 14:29] ophelieh commented on #1776
I believe you are correct, it is possible that I had previously filled it out. I am fine downgrading it to a priority 3.

Thank you! :)

[2018-10-16 14:30] joemsak commented on #1776
Thank you for your understanding on the nature of the issue, @ophelieh! I am sure we will still get to this bug, as we are on schedule and don't have many bugs :)

[2018-10-16 14:46] ophelieh commented on #1776
Awesome! :)

[2018-10-16 15:04] joemsak commented on #1716
Hey @ophelieh since you're active on huboard lately, I just want to remind you of this card, where you can log in as the RAs and check if you can search / filter the data of multiple regions as you might expect to be able to (reminder: You will need to set up some participant / team / submission data in the regions you're testing) -- and to let you know I fully expect you to find some issues here

[2018-10-16 15:17] ophelieh commented on #1716
@joemsak I started working on that yesterday, but then emails took over. I will make sure to get it done as soon as possible, hopefully, tomorrow!

[2018-10-16 18:52] joemsak opened #1783 "Unable to delete an Admin from admin/admins"
**Describe the bug**
While on the Admins page (where Admins manage the admin accounts - what a mouthful this issue is) if you go to delete an existing one, the site shows page not found

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an admin
2. Go to "Admins"
3. Add one if one does not exist
4. Click to delete them
5. See page not found

**Expected behavior**
I expected the page to

[2018-10-16 19:51] joemsak commented on #1766
@amyiridescent yes, the google analytics script is already tracking this, you'll want to look at activity for the page referenced by `/mentor-training` https://analytics.google.com/analytics/web/#/report/content-pages/a4055471w105362134p109648134/explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.pagePath:~2Fmentor-training

[2018-10-16 19:52] joemsak commented on #1766
Oops, should have said in my original comment, but if that works, please confirm if we can close this card. Thanks!

[2018-10-16 23:34] amyiridescent commented on #1766
Can I take a day or two to make sure I understand this information being collected on the analytics? I want to make sure I don't need help setting up anything additional.

Also, I assume it is hard to know which mentor (user ID) is spending how long on the training, but want to make sure that is not a false assumption I am making.

[2018-10-17 13:34] ophelieh opened #1784 "Convert student to mentor button is not working"
**Describe the bug**
As an admin, I try to convert a student to a mentor. It tells me that the student is now a mentor, but the student still shows as a student. Profile doesn't convert.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Participant', look up 'Dasha Tabunshchyk'
2. Click on 'Convert to a mentor'
3. Click on 'Yes, do it'
4. See message confirming she is now a mentor
5. Go

[2018-10-17 15:05] ophelieh commented on #1784
Thank you!!

[2018-10-17 15:05] joemsak commented on #1715
hi @ophelieh you mentioned you are working on #1716 - is it safe to close this card then, as I assume the logins are working as expected? Thank you!

[2018-10-17 16:37] joemsak commented on #1716
@ophelieh you know what, I bet creating / listing Events will need some work for sure, so be sure to explore that - i think event locations are set automatically by the RA's primary region and I suppose we'll need to support RAs with secondary regions to select the region for the event

[2018-10-18 14:07] joemsak commented on #1784
This is ready now but keep in mind the student must be at least 14 for the button to appear and work

thanks!

[2018-10-18 19:09] #1781 closed

[2018-10-18 19:11] kmorton2017 opened #1786 "Collecting # of Hours on the platform"
Corporate partners require their mentors to track their hours. This has been difficult for our partners to track because mentors are bad at self reporting and sending in this info to the employers.

If mentors have a better way to track their hours, it also means more $$ for us because many employers match volunteer hours with cash for the non profit.

Is there a way to explore tracking mentor hou

[2018-10-18 19:13] kmorton2017 opened #1787 "Adding CSV file"
RA's and admins often struggle with determining which participants are new as they track sign ups. The current CSV file does not allow you to view the registration date or last login. Sometimes RA's create their own separate registration process to keep better track of this information which is not ideal.

Can we add a field on the CSV file for the participant's registration date and last sign in?

[2018-10-18 19:31] kmorton2017 commented on #1784
does this need tested or no because it was a bug?

[2018-10-18 20:56] ophelieh commented on #1716
Hi Joe,

For the RA in 3 regions (Maryland, DC, Virginia):

- I created a student in Washington DC - Cathy McFluffy
I cannot see that student on the RA dashboard.
On the student dashboard, I see the RA from Los Angeles - Neil Degrasse Tyson.

- I created a student in Richmond, Virginia - Anna Taboo
I cannot see that student on the RA dashboard.
On the student dashboard, I see the RA from Los Angel

[2018-10-25 18:49] kmorton2017 opened #1788 "Filtering for Mentors"
I would like to have the ability to go to the participants page for mentors and filter by:

Mentor Industry (ie parent, teacher, etc.)
Mentor Company

This will allow us to easily see how many educators we have, mentors from a specific company etc for data collection.
An alternative is adding the mentor industry as a column to easily sort information (since company is already available for columns

[2018-10-31 17:58] ophelieh opened #1789 "Country data missing from Teams section"
**Describe the bug**
I was looking at teams from 2018, and then 2019 but the country doesn't show. I can see everything else though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Teams'
2. Go to 'Seasons'
3. Select '2018' or '2019'
4. Add 'country', 'city' in More Columns
5. Click Search
6. See error - countries do not show up (except for Hong Kong it seems)

**Expected behavior**
I

[2018-10-31 20:08] Allicolyer commented on #1715
Hey @ophelieh is there anything left to do here?

[2018-10-31 20:30] joemsak commented on #1717
@Allicolyer could I get you to do a quick test for me? Just @ me here so I can make sure the correct email is receiving notifications. Thank you!

[2018-10-31 20:54] Allicolyer opened #1790 "Students cannot create accounts using @qq.com emails"
Students cannot create accounts with @qq.com emails. This will affect approx. 200 accounts, or around 1% of our users.

Acceptance criteria
As a student
I can create an account with a @qq.com email

![uploads/8279e7a0-237b-4dce-991a-23910f011e60/unnamed.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F8279e7a0-237b-4dce-991a-23910f011e60%2Funnamed.png)

[2018-10-31 21:00] Allicolyer commented on #1646
Katie and I are doing this tomorrow.

[2018-10-31 21:02] joemsak commented on #1717
@Allicolyer scratch that, I got a notification in the correct inbox in another ticket. Thank you!

[2018-10-31 21:04] Allicolyer opened #1791 "Admins cannot see which mentors have completed their onboard"
Acceptance Criteria:

As an admin
I can view a mentor's profile
and see if they have completed their mentor training or not

As an RA
I can view a mentor's profile
and see if they have completed their mentor training or not

[2018-10-31 21:05] Allicolyer commented on #1716
@joemsak can you set up these accounts?

[2018-10-31 21:08] joemsak commented on #1716
sure can, will notify you and @ophelieh when it is done

[2018-10-31 21:11] Allicolyer commented on #1717
okay great! Thanks @joemsak

[2018-10-31 21:12] Allicolyer commented on #1784
@ophelieh could you test this? Thank you!

[2018-10-31 21:29] Allicolyer commented on #1694
@joemsak would it be possible to tackle this card?

[2018-11-01 14:30] ophelieh commented on #1784
The button works now! :) However, if the student was already in a team, that student still shows in the team as a student. I don't see this case really happening, but wanted to note it here.

![uploads/9ba69277-d46b-4f73-bdf1-d01cf2563966/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9ba69277-d46b-4f73-bdf1-d01cf2563966%2Fimage.png)

![uploads/efa09fdb-243f-4400-9a02-a10

[2018-11-01 14:32] ophelieh commented on #1715
Yes, so far I was only able to explore participants. I still have Teams, Judges, Submissions. I am hoping to work on this a little this afternoon and tomorrow.

[2018-11-01 15:47] joemsak commented on #1784
Okay @ophelieh thank you. If you think a bug should be filed, please let me know

[2018-11-01 15:48] joemsak commented on #1715
Okay, it sounds like as far as this card is concerned, you can login with the accounts provided. The card for exploratory QA is #1716 @Allicolyer I think you can feel free to close this one, but do let me know if there is something else I haven't considered or explained clearly enough. Thank you!

[2018-11-01 16:07] joemsak commented on #1790
hi @Allicolyer can you please send me a short list of some actual emails that  people are trying to validate? Is the one in the screenshot a real one?

It seems that plenty of people are signing up with a qq.com email address, and I can *sometimes* get the one in your screenshot to work and sometimes not. I would just like a confirmed short list of real emails that actually should work so that I c

[2018-11-01 16:08] joemsak commented on #1791
@Allicolyer do you also want the admin to be able to filter the search by a mentor who has completed training? If so, simply update the acceptance criteria and I will be happy to include that. Thanks!

[2018-11-01 16:30] joemsak commented on #1791
@Allicolyer Also, I just realized, do you want this on the RA view too? Again, if so, just update the AC and I will happily include it in the work for this card.

[2018-11-01 16:59] joemsak commented on #1694
@Allicolyer can you explain more for me, what you mean by "tackle this card"? Do you mean to do work on it, or to write AC? Maybe both? I can't work on this card until it has clear and defined AC. Thank you!

[2018-11-01 17:01] joemsak commented on #1653
@Allicolyer is this card still something you want to prioritize, or could it wait until users actually make requests for older certificates? I think that supporting older certificates will require collaboration with the wider staff due to needing assets for the old seasons. Thank you!

[2018-11-01 17:03] Allicolyer commented on #1694
@joemsak. Okay I wrote out some AC. Would it be possible to do some work on this card?

[2018-11-01 17:10] Allicolyer commented on #1791
@joemsak yes that makes sense! I can write another card for the filtering and I'll add the RA acceptance criteria here.

[2018-11-01 17:15] Allicolyer opened #1793 "Admins can filter mentors who have not completed the mentor training"
Acceptance Criteria:

As an admin
I can go to the participants page
I can filter the search results for mentors based on who has completed the mentor training

As an RA
I can go to the participants page
I can filter mentors based on who has completed the mentor training

[2018-11-01 17:36] joemsak commented on #1793
@Allicolyer would you like this functionality to exist for RAs as well?

Should mentors who are not required to take the training be included as being "complete" or should there be a separate option to filter mentors not required to take the training?

I'm noticing that we are starting to have a bit more back and forth over the AC now, concerning common use cases that might be captured in these ca

[2018-11-01 18:04] Allicolyer commented on #1790
Hey Joe

Here are some real emails:

1455872389@qq.com
szjuliet@qq.com
972447885@qq.com
2672824978@qq.com
1285423999@qq.com
pengmengyangmmwy@qq.com

[2018-11-01 18:07] Allicolyer commented on #1694
sure

[2018-11-01 18:09] Allicolyer commented on #1791
Can you merge it to QA? Thanks!

[2018-11-01 18:14] joemsak commented on #1790
Excellent! Thank you! I will follow up with you as soon as I can with my findings and the next steps being taken.

[2018-11-01 18:18] joemsak commented on #1694
Okay, thank you Alli!

[2018-11-01 18:18] joemsak commented on #1791
I will do that now and I will move the card to test when QA is updated. Thank you Alli!

[2018-11-01 18:29] joemsak commented on #1790
@Allicolyer @amyiridescent I ran a few of these addresses through Mailgun's testing form and they come back as not valid. So, I have created a support ticket on your behalf with mailgun: https://app.mailgun.com/app/support/869604

[2018-11-01 18:31] joemsak commented on #1790
Oops, I should have added: Please let me know if you'd like me to deal with this issue in any other way in the meantime. For example, I mentioned that we could bypass the validation and allow anything @qq.com - I would recommend not to take this route, and to wait on official support from mailgun, but I will defer the decision to you. Thank you!

[2018-11-01 19:17] joemsak commented on #1716
Hmm, it seems @ophelieh was able to create the data she needs to do her testing. Is that accurate, Ophelie? Is there any specific data you would prefer that I create for you? (Teams, Submissions, Events, something else that I'm missing?)

also, I think there's been a miscommunication about the goal of this card. It is for exploratory testing to create more cards later in a future sprint. I did rec

[2018-11-01 20:22] Allicolyer commented on #1790
Okay we can wait for support.Thanks Joe!

[2018-11-01 20:42] joemsak commented on #1793
Oh sorry, I got the original version of your comment that ended with "I think" and I completely misinterpreted you. Sorry about that

So, I am sure it's okay with you to work on these cards now, and it's okay with me too, but what I'm asking is: if we can take some time together to write the AC out to consider some of the more common use cases? I'd like to avoid us going back and forth in comments

[2018-11-01 21:22] Allicolyer commented on #1646
@joemsak it looks like the staff is going to need some help setting up some variables for Survey Monkey. Do you have some time to talk next week about this?

[2018-11-01 21:33] joemsak commented on #1646
Absolutely! Just send a meeting invite to me at work@joesak.com and I am sure I will be available

[2018-11-02 00:54] kmorton2017 opened #1794 "Password reset/changing email"
Several participants emailing Zendesk are reporting problems with the following. Could we double check that everything is running ok with these two features?

1) Resetting password (Ticket #6022, #5969, #5951)
2) Creating a new email address  (#6015)

[2018-11-02 18:04] joemsak commented on #1790
Hi everyone - in the interest of keeping you all informed, I am updating this ticket to say that I am still waiting for a response from Mailgun.

[2018-11-02 20:05] Allicolyer commented on #1790
Thanks @joemsak !

[2018-11-02 20:06] Allicolyer commented on #1793
Sure that works for me. Thanks for catching that these cards should also apply for RAs.

Do you want to discuss this card further or just write out AC together for new features? I don't think we will be adding any other new cards before the sprint.

[2018-11-02 20:24] kmorton2017 opened #1797 "Deleting Participant"
**Describe the bug**

A student was having trouble resetting their password and obtaining parental consent. She created a new account because she was having difficulties. She requested that I delete her old account.

As an admin, I saw that there were 2 accounts with her email. One did not have parental consent, and the other did, but did not have any parent information. I was able to successfully

[2018-11-02 20:31] kmorton2017 opened #1798 "Removing member from a team"
**Describe the bug**
I tried to remove Momoka Nakamura from team Bloomers but received a "sorry we couldn't find this page" message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  Momoka Nakamura's profile. #/
2. Click on her team Bloomer
3. Remove this member
4. See "sorry" message

**Desktop (please complete the following information):**
 - OS X El Capitan, Version 10.11.6
 - Chrom

[2018-11-02 20:45] kmorton2017 commented on #1798
When I went back to Momoka's profile I saw that she was no longer on Bloomer.

[2018-11-02 20:49] kmorton2017 opened #1799 "Generate Certificate"
**Describe the bug**
I went to a student account  (anifiona@yahoo.com) to generate her 2018 certificate. When I opened it, it said 2017. She participated in 2017 and 2018 but the 2017 certificate was the only one that was opening for both seasons.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://my.technovationchallenge.org/admin/participants/26346#/
2. Click on "Open your Certi

[2018-11-02 21:27] kmorton2017 opened #1800 "Uploading parental consent form PDF"
The PDF copy of the parental consent form has last year's date. This is the consent form that is available for download on students' accounts.

**Describe the solution you'd like**
When students go to "download the permission form" they should see the attached copy with 2019's date.

[2019 Technovation Parent Consent Form.pdf](https://github.com/Iridescent-CM/technovation-app/files/2544167/2019.Te

[2018-11-02 21:36] kmorton2017 opened #1801 "Insert Slack link into Mentor Welcome Email"
The copy of the Welcome Email to mentors should include a link to join Slack and slightly different text. It should say:

[Click this link](https://join.slack.com/t/technovationmentors/shared_invite/enQtMzE1MzIwMjAxNzY2LTRjMjlmMzcwYTkzNDFmN2ViOWIwMjgzNjllZGVjMjRhNTBiZTExMDQ0ZGZhODE1NzUyN2ZiZDFlZDUwMzRmNjQ) to join our online Slack community to meet mentors from around the world.

This way mentors

[2018-11-05 14:22] joemsak commented on #1793
Ah, okay, I think I understand you better now. Thanks for providing some clarification into your process.

For these cards, it's no trouble, and I would like to offer my recommendation that if we have a future period of adding cards outside of a regular sprint planning meeting, that we consider an AC writing meeting for such cards. Let me know if you like that idea, or if you have another preferen

[2018-11-05 15:09] joemsak commented on #1790
Good morning @Allicolyer and @amyiridescent - Mailgun has verified there is a bug on their side and they have created a report for their dev team to fix it, but cannot give an ETA on when we can expect that to be fixed.

Let me know what is the next plan of action that you expect from me, and I will do so. Thank you!

[2018-11-05 15:33] adrichey commented on #1746
@joemsak Has there been any movement on this at all? I saw that Katie had asked about hooking up a form to post directly to GitHub so things weren't lost. I was wondering if I should take a crack at this as a result.

[2018-11-05 15:37] joemsak commented on #1746
@adrichey hey thanks for checking into this. no, there hasn't been any movement on it. I was hoping to get some help from you, in fact :) Do you need a screensharing session to get oriented on how it's supposed to work, what I've done so far, and what the errors are? Thanks!

[2018-11-05 15:49] adrichey commented on #1746
I have my notes from before when we had spoken about this previously @joemsak, so I should be able to poke around with it knowing that information. I will let you know if I run into any hurdles.

[2018-11-05 16:39] joemsak commented on #1746
Okay thank you Alan! I am here if need be

[2018-11-05 16:39] joemsak commented on #1746
Oh and by the way I would really love to know what the solution was, if you find it. Thanks!

[2018-11-05 16:41] adrichey opened #1802 "Update RPE new event form date picker to use 2019 dates"
**Describe the bug**
As an RA, visit /regional_ambassador/events. When attempting to select an event date using the Date field date picker, only May 2018 dates are available for selection. We need to update this picker for the 2019 season dates.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA. Go to the Events section of the dasboard (/regional_ambassador/events).
2. Click on

[2018-11-05 16:42] adrichey commented on #1802
<img width="1068" alt="screen shot 2018-11-05 at 10 33 16 am" src="https://user-images.githubusercontent.com/1534554/48012405-8815d700-e0e7-11e8-959f-49f9ee11fbfa.png">

[2018-11-05 16:43] adrichey commented on #1802
This is blocked until I have dates for what the datepicker range needs to be set to. Thanks!

[2018-11-05 17:02] amyiridescent commented on #1790
Is there something that we can do right now to manually approve these email addresses while Mailgun addresses the bug? Or will that cause issues later once the bug has been fixed?

[2018-11-05 17:05] joemsak commented on #1790
If you recall in my comments above, we can bypass validation by detecting `@qq.com` in the email address and letting it look "valid" to the code that's doing the check.

[2018-11-05 20:43] joemsak commented on #1790
Confirmed in 11-5 sprint planning: bypass validation for qq.com emails

[2018-11-05 20:49] joemsak opened #1804 "RAs cannot select teams & judges for their event"
**Describe the bug**
When I create an event as an RA, and I go to manage teams or judges, trying to pull up the list of teams / judges to choose just spins. It appears that the server is having a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an RA
2. Create a new event
3. Go to Manage Teams or Judges
4. Click to add teams
5. See that it spins / web developer console say

[2018-11-05 21:01] adrichey opened #1805 "Header is cutting off content on the scores sections for submissions"
**Describe the bug**
Header is cutting off content on the scores sections for submissions.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a Judge able to score a submission.
2. Browse to a submission to begin scoring.
3. Notice that the header now cuts off the content (white navigation bar with the scores).

**Expected behavior**
Header does not cut off the content on the page.

[2018-11-05 21:15] Allicolyer commented on #1802
@adrichey I will get those for you

[2018-11-05 21:23] Allicolyer opened #1806 "Activity tracking for presentation slides just says “updated their”"
As a student
on a team
who has started a submission
and is attending an RPE
I update my presentation slide

Then as an RA
I can log in and see this activity in their activity tracking

Currently, the activity tracking for presentation slides just says “updated their...”

Needed for events. Absolute deadline is in March.

[2018-11-05 21:27] Allicolyer opened #1807 "Wizard UI does not allow for judges and RAs to sign up through the wizard UI"
Find out if we should remove the sign up toggle options for RAs and Judges

Wizard UI does not allow for judges and RAs to sign up in the "normal way". They are using the old sign up forms, which are enabled through Admin Invitations

[2018-11-05 21:30] Allicolyer opened #1808 "Outdated dates and copy the judge dashboard"
Here are some examples

<ul>
<li>Quarterfinals judging begins on May 1st, 2018.</li>
<li>
Revise & review your finished scores until May 20th (US/Pacific time)
</li>
<li>
When you finish a score it says: You can review your score and make changes through May 20th (US/Pacific time)
</li><li>
For semifinals it says: Revise & review your finished scores until June 17th (US/Pacific time)
</li>
</ul>

[2018-11-05 21:32] Allicolyer commented on #1807
More from Joe:

The judge sign up uses a token that can be activated and deactivated through the Heroku console.

Staff doesn't have control over this token which means that judges could still be using it in the summer or for as long as they can access the URL.

Because of this, staff does not have a way to truly turn off judge sign ups, which can cause issues later.

[2018-11-05 21:39] Allicolyer commented on #1808
Problem:

Dates are hard-coded onto platform.
Question: should this be a staff setting to decide which dates get displayed?

[2018-11-05 21:54] Allicolyer opened #1809 "Suspicious Scores has a 500 error and is not showing up"
Suspicious Scores has a 500 error and is not showing up

[2018-11-05 21:54] joemsak opened #1810 "XConfigure all "copy-based" dates in Admin Settings"
As an admin
When I go to Content & Settings
Then I should be able to set the following dates:

https://docs.google.com/spreadsheets/d/1dpBRY98aZztg5R5PRhe5IazqbYPX-sT0GOVWLhoYvK8/edit#gid=944257961

And the setting of these dates *only* affects the copy on pages and emails
In other words, changing these settings will not make these things happen automatically

As the admin
I expect to find each da

[2018-11-05 21:57] #1809 closed

[2018-11-05 22:01] adrichey commented on #1805
When there are no more submissions to judge, no message is showing (just a blank screen). The message that should normally appear is under the header.

[2018-11-05 22:01] joemsak opened #1811 "Judging a submission made with thunkable"
As a judge
When I am scoring a submission
Which has its Development Platform set to "Thunkable"
When I view the 'Source Code' portion
Then I should see a link to the Thunkable project
And it should open in a new window

[2018-11-05 22:07] joemsak opened #1812 "Reviewing a submission after completing it, for Thunkable submissions"
As a student or mentor
On a team
With a submission
Which has its Development Platform option set to "Thunkable"
When I complete and submit the submission
Then I should see the "reviewable" version of it
And in the 'Source Code' portion
I should see a link to the Thunkable project
And it should open in a new window

[2018-11-05 22:12] joemsak commented on #1808
This work is dependent on #1810 and when the admins can change the copy settings for dates, then these dates should be fixed with this dynamic solution

[2018-11-05 22:14] Allicolyer opened #1813 "Suspicious Scores has a 500 error and is not showing up"
Suspicious Scores has a 500 error and is not showing up

Steps to reproduce the behavior:
1. As an admin, turn on Quarterfinals Judging
2. Log in as an on-boarded judge who is not a mentor and who has not already judged any teams
3. Judge and submission and give the lowest score possible
4. Log in as as admin and confirm that the score did not show up under "suspicious scores"

I would expect this

[2018-11-05 22:23] Allicolyer opened #1814 "Mentor Certificates do not work on their dashbaord"
The mentor certificates do not work on the mentor dashboards.

Steps to reproduce the behavior:
1. As an admin, turn on scores and certificate
2. Log in as a mentor who has at least one team with a complete submission
3. Try get your certificate
4. Your certificate will not load

![uploads/f2e278ff-92e5-466f-b602-a648707f25ac/Screen Shot 2018-11-05 at 3.58.44 PM.png](https://s3-us-west-2.amazonaws

[2018-11-05 22:27] Allicolyer opened #1815 "On the judge dashboard there is contradicting text when certificates are available."
On the judge dashboard there is contradicting text when certificates are available.

“Online Judging
You are currently set to judge submissions online.

You may be expecting an invitation to a live event from a Regional Ambassador. In that case, just wait for the email. Most judges are online and will not attend a live event.

Quarterfinals judging begins on May 1st, 2018.”

[2018-11-05 23:40] Allicolyer commented on #1784
Thank you @ophelieh !

[2018-11-05 23:40] #1784 closed

[2018-11-05 23:54] Allicolyer commented on #1791
Hey Joe!

This works as expected. However I am having a hard time testing this card since I can't complete the mentor training using the link that is in the presentation. I takes you to the production site.

[2018-11-06 00:03] Allicolyer opened #1816 "Mentors who have not completed their mentor training are still searchable"
Mentors who have not completed their mentor training are still searchable

Steps to reproduce the behavior:
1.Find a mentor who has not completed their mentor training
2.Go to a student account who is on a team
2. Search for the mentor who has not completed their mentor training
3. Send an invite for them to join your team.

Mentors who have not completed their training should not be searchable by

[2018-11-06 00:04] Allicolyer commented on #1816
@kmorton2017 I believe this is a bug. Can you confirm if it is?

[2018-11-06 00:06] Allicolyer commented on #1698
Hey @kmorton2017, as Joe mentioned, we already have this feature. Please let me know if you want me to show you how to use it.

[2018-11-06 00:07] Allicolyer commented on #1766
Hey @amyiridescent, do you want to continue this conversation?

[2018-11-06 00:09] Allicolyer commented on #1744
@kmorton2017 do you still want to discuss this further?

Here is my input:

I think it would be better for them to put their home country. They can search for teams near where they live using the search filter. It will not work for them to change their country back to the US after onboarding -- the site will ask for a background check again.

[2018-11-06 00:10] Allicolyer commented on #1723
@ophelieh  and @kmorton2017 would you mind if I schedule some time for us to do this?

[2018-11-06 00:10] Allicolyer commented on #1633
Hey @kmorton2017 was there more to discuss here?

[2018-11-06 00:13] Allicolyer commented on #1794
Hey @kmorton2017! Could you put the details of what is not working here?

[2018-11-06 00:14] Allicolyer commented on #1641
Hey @kmorton2017 I am going to add this as a "wishlist feature".

[2018-11-06 14:56] joemsak commented on #1766
For now, you can already use google analytics to see how long the average user is staying on that page. I am not so sure that event tracking will work for what you're hoping: tracking individual users. Because event tracking requires an action, such as clicking on something. It's not meant for keeping track of time spent on a page. But I am not a google analytics expert, perhaps someone else knows

[2018-11-06 15:54] stenington commented on #1766
This is your best bet. It's a bit complicated, but we have it set up on CM. https://support.google.com/analytics/answer/3123662?hl=en&ref_topic=3123660

[2018-11-06 16:00] joemsak commented on #1766
Very cool, thank you Mike!

[2018-11-06 18:52] kmorton2017 commented on #1641
Sure no problem.

[2018-11-06 18:54] kmorton2017 commented on #1744
Got it. That makes sense Alli. It only affects <10 mentors (rough estimate based on those who reach out to Zendesk).

[2018-11-06 18:55] #1698 closed

[2018-11-06 20:31] adrichey opened #1817 "Google Form Integration Test"

[2018-11-06 20:32] #1817 closed

[2018-11-06 20:32] adrichey commented on #1817
This was a test from the Google Form to check our integration. It doesn't appear to be working as intended.

[2018-11-06 21:22] adrichey opened #1819 "This should appear on Github."
This is a end-user generated bug report from the Technovation Bug Report Google Form.

**Describe the bug**
Testing the google form integration

**Steps to reproduce the behavior**
1. Go to google form.
2. Fill it out.
3. Hope this works.

**Expected behavior**
This should appear on Github.

**Additional context**
Hello world.

[2018-11-06 21:33] adrichey opened #1820 "This should appear as an issue on Github."
This is a end-user generated bug report from the Technovation Bug Report Google Form.

**Describe the bug**
TEST - Google Form Integration Issue

**Steps to reproduce the behavior**
1. Go to Technovation Bug Report Google Form.
2. Fill out all fields.
3. Hit Submit.
4. This should go to Github as an issue,

**Expected behavior**
This should appear as an issue on Github.

**Additional context**
Thi

[2018-11-06 21:34] adrichey commented on #1820
Closing because it is not a real issue.

[2018-11-06 21:34] #1820 closed

[2018-11-06 21:45] adrichey opened #1821 "This should appear on Github."
This is a end-user generated bug report from the Technovation Bug Report Google Form.

**Describe the bug**
FINAL TEST - Google Form Integration

**Steps to reproduce the behavior**
1. Open Google Form
2. Fill out fields
3. Submit

**Expected behavior**
This should appear on Github.

**Additional context**
Third attempt with final settings in place.

[2018-11-06 21:46] adrichey commented on #1821
Sorry for all of these showing up in people's emails.

[2018-11-06 21:46] #1821 closed

[2018-11-06 21:48] adrichey opened #1822 "User Submission - Testing the Google Form Integration"
This is a end-user generated bug report from the Technovation Bug Report Google Form.

**Describe the bug**
User Submission - Testing the Google Form Integration

**Steps to reproduce the behavior**
1. Open Google Form
2. Fill out fields
3. Submit

**Expected behavior**
This should appear on Github.

**Additional context**
Please close.

[2018-11-06 21:50] adrichey commented on #1822
Closing.

[2018-11-06 21:50] #1822 closed

[2018-11-06 21:58] adrichey commented on #1746
This has been completed. The following Github issue was created using the Technovation Bug Report Google Form. After I filled out the Google Form, this issue showed up with the `bug` label: https://github.com/Iridescent-CM/technovation-app/issues/1822.

This should now be ready for testing!

@joemsak The fix was basically that you were using the e.values which is a Google Sheets thing, and not a F

[2018-11-06 22:03] adrichey commented on #1746
@Allicolyer Let me know if you need assistance testing!

To test:
1. Go to the Technovation Bug Report Form (https://docs.google.com/forms/d/e/1FAIpQLSfbbAeQrNyf4_xbaOjULkD6MWLhPYxcxBBgS2UqNrD4zz45Eg/viewform) and submit a bug, filling out all fields.
2. Browse to the Technovation Challenge Github Repo issues section and confirm that your bug appears in this list: https://github.com/Iridescent-CM/

[2018-11-06 22:17] ophelieh commented on #1723
Not at all! We have some availability Thursday, Friday or Monday.

[2018-11-06 23:09] joemsak commented on #1746
Wow, awesome! Thank you! Yeah you know what, I did follow instructions that required google sheets, which is no longer true with latest version of google forms. Problem was, people commenting in the gist I found said "just" to use the script as I was trying to use it and that it "worked for them" welp - thank you again!

[2018-11-07 00:03] kmorton2017 commented on #1723
Found a sample pain point. I was on the Submissions page looking for a team called "The Pinks and Purples"

I could not remember the full name so I searched purple but appeared in the search.

[2018-11-07 14:27] adrichey opened #1824 "Hello, we a problem in Spain with geolocation."
This is a end-user generated bug report from the Technovation Bug Report Google Form.

**Describe the bug**
Hello, we a problem in Spain with geolocation. Since we have a high number of participants, and we are 5 ambassadors, we need to filter by State (each ambassador have a different state). Last year, we were able to do so very easily, the State was filled out by everybody (either automatically

[2018-11-07 15:52] joemsak commented on #1816
@Allicolyer can you confirm the sign up date of these mentors? Mentors who signed up before the training was available are not required to complete it

[2018-11-07 15:55] joemsak opened #1826 "RA creating event: Time select is broken"
**Describe the bug**
As an RA when I am creating a new event, and go to select start / end times, there is no menu to pick from times

**To Reproduce**
Steps to reproduce the behavior:
1. Login as an approved RA
2. Click on "Events"
3. Add a new event
4. Focus the mouse in the start / end time fields
5. See that no menu appears to pick times

**Expected behavior**
I expected a dropdown menu to sel

[2018-11-07 16:11] joemsak commented on #1804
@adrichey just a quick update for you, this is not a 500 server error, the javascript is not executing properly. Do you want to screenshare and look at it together? Let me know what you prefer. Thanks!

[2018-11-07 16:40] adrichey commented on #1826
@joemsak I can address this issue. What format should the time be in when it comes to the backend? 24-hour time (17:00), for example.

[2018-11-07 16:43] joemsak commented on #1826
Hey Alan, thanks for taking an interest in this bug. For what it's worth, since it's brand new and wasn't discussed in sprint planning, I'm not sure what the priority would be for it just yet, but I will leave that decision up to everyone else. ANYWAY to answer your question regardless, the menu was previously working with 24 hour time. It's my belief that you ought to find existing code that simp

[2018-11-07 16:47] adrichey commented on #1804
I will take another look at this as time allows today then. Can you please put the details of the error and what you think the issue is in this thread for tracking? Thanks!

[2018-11-07 16:55] joemsak commented on #1804
Sure! Thank you, I really appreciate that. I'd hate to leave you on your own, mostly due to how poorly I wrote this code, so if you do feel like a screensharing session would be more productive please don't hesitate to ask.

Anyway, the main starting point of the bug seems to be with this bit:

https://github.com/Iridescent-CM/technovation-app/blob/qa/app/javascript/ra/events/EventsTable.vue#L219

[2018-11-07 18:11] Allicolyer commented on #1790
@ophelieh could you QA this?

[2018-11-07 18:21] ophelieh commented on #1615
Hi @adrichey @Allicolyer ! Does that mean it's when mentors have been referenced by an RA? If so, could we extend that to people being able to choose the RA they see in their area (when we have multiple close to each other)? For example in Ireland, we have two RAs that are only 30 mins apart and they are planning on working together, but all the mentors and students only see one of the RAs althoug

[2018-11-07 18:39] adrichey commented on #1804
@joemsak I have fixed the front-end issue of this ticket in branch `1804-error-when-managing-events`. I have created the following pull request for it: https://github.com/Iridescent-CM/technovation-app/pull/1827

The 500 error remains, even with the correct JSON endpoints in there due to the `AttendeesSerializer` not getting an ID attribute needed for the fastJSON API. Can you please take another

[2018-11-07 20:07] adrichey commented on #1826
Noted! I will talk to Alli and see if we can make some time for this soon. I will take a look into the previous functionality soon. Thanks for making this card and putting visibility on this!

[2018-11-07 20:20] joemsak commented on #1826
Sure thing, I discovered it while trying to fix the critical bug :)

[2018-11-07 20:50] adrichey commented on #1804
@Allicolyer The 500 errors we were receiving when attempting to manage teams and judges for an event should now be alleviated. This is ready for testing on QA. Once this is tested and closed, we should be able to go through the events section again for exploratory QA. Thanks!

[2018-11-08 00:53] kmorton2017 commented on #1790
i tested all but one email as a student. I tested one as a mentor (2675138206@qq.com).
i also tested out some of these addresses as a +1@qq.com in the parent email. it said an email was sent to the parent.

all 3 use cases worked fine (student, mentor, parent)

[2018-11-08 01:06] kmorton2017 opened #1828 "QA Bug --Removing self from team"
**Describe the bug**
I am logged in as katie+s1@iridescentlearning.org on QA which is a student account.
I received a sorry page after trying to remove myself from a team on QA. I am the only member on this team.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "My team"
2. Click on '"Remove this team member"
3. See Sorry page

**Expected behavior**
I expected to be able to remove mysel

[2018-11-08 01:17] kmorton2017 commented on #1791
yes this performs as expected for both use cases.

[2018-11-08 17:06] Allicolyer commented on #1790
Thank you @kmorton2017 and @ophelieh

[2018-11-08 17:06] #1790 closed

[2018-11-08 17:19] joemsak commented on #1824
On first attempt to resolve this, I am already seeing that sometimes google geocoding returns a state and sometimes it doesn't - I'm so far not sure what to do to guarantee consistent results. I can't require 'state' as an input in the form because not all places have a "state" (or province) - I'm open to and hoping for better suggestions, if anyone has something

@adrichey @Allicolyer

[2018-11-08 17:21] joemsak commented on #1824
@stenington copying you as well, if you happen to have any ideas.

In the meantime, I can make sure 'reverse_geocoding' always runs which should help but is not a guarantee

[2018-11-08 17:31] Allicolyer commented on #1805
Thank you @adrichey! This is working well now.

[2018-11-08 17:31] #1805 closed

[2018-11-08 17:32] #1791 closed

[2018-11-08 17:38] adrichey commented on #1824
Hmmm. I think doing the `reverse_geocoding` sounds like a good plan, but I honestly can't think of a great solution for this considering that we can't control the responses we are getting from a third party service. :/

[2018-11-08 17:54] joemsak commented on #1824
So, on a local copy of production, I was able to confirm:

[code]

I am going to add a rake task to do this on all current accounts (not just Spain ones)

[2018-11-08 18:08] kmorton2017 commented on #1746
do ophelie and i need to test this card?

[2018-11-08 18:10] joemsak commented on #1746
For what it's worth, I confirm that the bug I'm working on came directly
from the google form

[2018-11-08 18:15] joemsak commented on #1824
On my local copy of production database that takes it down from 1,244 to 402

[2018-11-08 18:28] Allicolyer opened #1831 "As an RA I cannot save teams or judges that I invite to my event"
**Describe the bug**
As an RA I can select a team to add to my event, but I can't save them

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as Ra@ra.com
2. Click on Events
3. Find an event and click on 'manage teams'
4. Invite a team and try to click 'save teams'
5. Nothing happens
6. When the page is refreshed the teams have not been added

**Expected behavior**
I expect to be able t

[2018-11-08 18:35] Allicolyer opened #1832 "As an RA, I cannot select more than one team to add to an event"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Click on events
3. Click on 'manage teams'
4. Select a team to add to your event
5. Once one team is select the other options disappear and I cannot 'unselect' that team
6. I am are unable to select another team to add to the event or 'unselect' the team

[2018-11-08 18:40] Allicolyer commented on #1802
Hey Alan,

Regional Pitch events can be held on any day starting April 27th 2019 and ending June 2nd 2019.

[2018-11-08 18:46] Allicolyer commented on #1810
I just added the spreadsheet that shows all the important calendar dates. I think this is a cool feature that we should tackle after we have gotten all the event bugs sorted out.

[2018-11-08 18:52] Allicolyer opened #1833 "School or company name filter for the participants page"
**Is your feature request related to a problem? Please describe.**
Very often admins need to report numbers based on how many mentors or judges signed up from a certain company.

**Describe the solution you'd like**
Create a filter on the participant pages that allows admins to filter search results based what participants have in their "School or company name"  field. This filter should be a drop

[2018-11-08 18:52] Allicolyer commented on #1833
@joemsak I talked to Katie and Ophelie yesterday and this is one of the needs they outlined for an admin feature.

[2018-11-08 19:00] adrichey commented on #1831
I believe I have a fix for this. Assigning to myself and beginning work.

[2018-11-08 19:00] Allicolyer opened #1834 "Add CSV Column options to participants page"
**Is your feature request related to a problem? Please describe.**
Admins would like these CSV column options added to the participants search page

**CSV Columns to add**
- Date that on-boarding was fully completed (signed consent form, completed training, and background check cleared)
- Returning participant (yes or no field)

**Acceptance Criteria:**

As an admin
I can go to the participants pa

[2018-11-08 19:00] adrichey commented on #1832
I believe I have a fix for this. Assigning to myself and beginning work.

[2018-11-08 19:09] Allicolyer opened #1835 "Add CSV Columns options to Teams page"
***Is your feature request related to a problem? Please describe.***
Admins would like these CSV column options added to the teams search page

**CSV Columns to add**
- Number of students on that team
- Number of mentors on that team
- Parent emails for all team members

**Acceptance Criteria:**

As an admin
I can go to the teams page
I can add a column to the CSV report called "number of students

[2018-11-08 19:14] Allicolyer opened #1837 "On a team page, make pending students clickable to view their profile pages"
**Is your feature request related to a problem? Please describe.**
Admins cannot click on a pending student's or mentor's profile from a team page

**Describe the solution you'd like**
Admins would like to be able to click on a pending students and mentor from their team pages, if their profile exists.

![screen shot 2018-11-08 at 11 13 52 am](https://user-images.githubusercontent.com/11083917/482

[2018-11-08 19:18] ophelieh opened #1838 "XUI Fix: Profile picture is displayed as a square"
**Describe the bug**
I tried uploading a logo for one of our RAs and in the preview, it shows the whole logo then when it saves, the logo is cut.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Amy Sailor'
2. Click on 'Log in as Amy Sailor'
3. Click on 'My account'
4. Click on 'Change Image'
5. Upload the attached logo
![wislogo](https://user-images.githubusercontent.com/32206421/4822

[2018-11-08 19:18] Allicolyer opened #1839 "Link Team Page to Submission Page"
**Is your feature request related to a problem? Please describe.**
Admins would like the team page to be easily found from the team's submission page

**Describe the solution you'd like**
Admins would like the team name to be clickable on the team's submission page. The link should lead to the team's page

![screen shot 2018-11-08 at 11 17 01 am](https://user-images.githubusercontent.com/11083917/

[2018-11-08 20:33] adrichey commented on #1746
I think this should be good to go. Since Joe is currently working on an issue that came from the form and confirms it works, I am okay with calling this good.

[2018-11-08 20:36] adrichey commented on #1802
Thank you @Allicolyer! I will work on getting that dropdown updated soon.

[2018-11-08 20:38] Allicolyer commented on #1804
Great thanks Alan and Joe!

[2018-11-08 20:38] #1804 closed

[2018-11-08 20:53] adrichey commented on #1824
Forgive my naiveté as I don't know how possible this is, but when we run that rake task, is there anyway we can record the accounts affected by this so that we can have a record in case something goes awry? I don't expect problems, but it might be good to cover our bases.

[2018-11-08 20:55] joemsak commented on #1824
Sure, absolutely we could do that. Good thinking. I’ll update the branch
with a solution. Thank you Alan!

El El jue, 8 de noviembre de 2018 a la(s) 14:53, Alan Richey <
notifications@github.com> escribió:

--
Joseph M. Sak
+1 312 945 6317
+52 1 33 23 10 69 05
work@joesak.com

[2018-11-08 21:21] adrichey commented on #1824
Thanks Joe! Also, I edited your comment because it had personal information in there and I assumed that wasn't intended.

[2018-11-08 21:23] joemsak commented on #1824
Oh yeah, good ol' email reply - thank you

[2018-11-08 21:46] adrichey commented on #1824
@Allicolyer Joe just wrapped up a solution for this issue in the form of the following PR: https://github.com/Iridescent-CM/technovation-app/pull/1830. We were wondering if this should be hotfixed into production now, or if we should just wait until the next release. Since you are our priorities master, I thought I would ask before we did anything.

[2018-11-08 23:14] adrichey commented on #1826
After speaking with @Allicolyer we have decided to pull this into the sprint. Beginning work now. :)

[2018-11-09 15:43] joemsak commented on #1824
At first glance, I'm thinking to ONLY change records which add a state and dont change the city / country

[2018-11-09 17:18] adrichey commented on #1824
Thanks for being thorough with this Joe. I think only changing the records to add a state and not changing the city/country as you stated above sounds like a good idea. You may want to reach out to @Allicolyer and/or @ophelieh on this to talk about potential impacts.

[2018-11-09 17:44] joemsak commented on #1824
Yep, and I think this worked well, here is my log for the rake task being ran on a local copy of production data

https://drive.google.com/file/d/1sl8wHqy1Mo010nwhkysyT-JNu7z1ROTP/view?usp=sharing

For the "CHANGES TOO DRASTIC" notes, I have since changed the task to log "would have gone from" instead of "went from" since nothing is changed or saved in that case

You'll want to peruse the results

[2018-11-09 19:46] adrichey commented on #1824
I think this looks good. The changes are consistent based on the city/country combinations, so if something goes haywire, that helps. But I checked on all the Spain city/country combinations and it looks like the data is correct. I am comfortable with this data migration. @Allicolyer, @kmorton2017, or @ophelieh I would feel more comfortable if one of you could take a look at this so we know if we

[2018-11-09 19:50] Allicolyer commented on #1824
@adrichey sure I can take a look.

[2018-11-09 19:56] Allicolyer commented on #1824
@joemsak and @adrichey thanks for working on this. So looking through the data and it looks correct.

The cities in Spain only get a state some of the time. Do we know why that is?

[2018-11-09 21:07] ophelieh commented on #1789
I just checked and country is actually missing for all years, even the current one.

[2018-11-09 21:13] adrichey commented on #1789
It appears that the county is set for the teams (this can be confirmed by clicking through to view the team), but it just isn't appearing in this view.

[2018-11-09 23:53] kmorton2017 opened #1843 "Login Issues"
**Describe the bug**
Student creates an account. Attempts to login for the first time gets a "Sorry we do not recognize this name and password" message. Resets password. Is able to login successfully after resetting password.

Two real accounts guachen908@busd.net and pawlettegc@gmail.com by the same student had this issue.

This was reproduced by Jennifer our intern.

**Steps to reproduce/test**

[2018-11-10 00:56] Allicolyer commented on #1843
So to be clear, the students were still able to log in, but they had to reset their passwords first?

[2018-11-10 01:11] kmorton2017 commented on #1843
Yes.

On Fri, Nov 9, 2018 at 4:56 PM Alli Colyer <notifications@github.com> wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
our children. Donate <https://iridescentlearning.org/donation-impact/> or
volunteer

[2018-11-12 15:23] adrichey commented on #1843
I am able to confirm this bug locally. I wonder if it has something to do with password salting or something. @joemsak Do you know what would cause this off the top of your head? I plan on digging around a little bit this morning, but maybe you have a quick answer.

[2018-11-12 16:16] adrichey commented on #1843
@Allicolyer @kmorton2017 I am not sure what is going on here so I think I am going to have to lean on @joemsak for the fix to this. Or @stenington next week if he has time to take a look at it as I know Joe has a lot on his plate right now. In any case, since this is a little bit higher priority, do you think we should pull this into the sprint?

[2018-11-12 16:53] joemsak commented on #1824
@Allicolyer Yeah, as I mentioned in an earlier comment on this issue, sometimes geocoding returns a state and sometimes it doesn't. There's not much I can do to control how a 3rd party service behaves. It's why I'm thinking Alan could build a form that uses the GeoNames API to populate country and state select fields instead.

Also it's possible that the rake task just performs geocoding too rapid

[2018-11-12 17:00] joemsak commented on #1843
Please don't take this with a bad tone, but was there any problem with using the bug report template for creating this issue? I'd be happy to address or help alleviate any issues with it, so please let me know.

I would appreciate it a lot if the team could take a little extra time to put in the effort toward a more predictable process, as that helps to scale communication across remote teams. Tha

[2018-11-12 17:03] kmorton2017 commented on #1843
Hi Joe,

Sorry I'm confused. I thought that I gave an accurate description for this bug report. Do you need additional information?

Katie

[2018-11-12 17:04] joemsak commented on #1843
I cannot confirm this bug locally. Can someone please put the steps to reproduce?

Yes @kmorton2017 I would prefer that everyone uses the template and at least fill out the following pieces:

* Describe the bug
* Steps to reproduce
* Expected behavior

[2018-11-12 17:15] joemsak commented on #1843
I have tried signing up with both of those email addresses on my local copy and I cannot confirm this bug. @adrichey what specifically are you seeing to confirm it? Thanks!

[2018-11-12 17:31] joemsak commented on #1843
Aha I got it. If you *paste* the password it works, but if you type it, it doesn't

So, FWIW we now know that step 1 now ought to include "type the password manually"  - which, to be fair, is a more common practice than pasting one, but I think we all got in the habit of testing that way.

@adrichey I'm thinking it might be related to the Vue app then, with the whole race condition thing. What do

[2018-11-12 17:43] ophelieh commented on #1789
Good to know! :)  But we do need to be able to see the country when we download the cvs. Do you have an idea of why it might not be showing up?

Thank you!

[2018-11-12 17:43] adrichey commented on #1843
It definitely could be related, but I am honestly not sure. I will take some time and try to dig into this more, but with retreat travel today, I may not have a ton of time to work on this.

[2018-11-12 17:44] joemsak commented on #1843
Gotcha. Sorry, I forgot you're traveling. I will dig deeper as well, then. Thanks Alan and safe travels!

[2018-11-12 17:55] joemsak commented on #1843
Oh no.... I found it :( It's bad, it's very bad. We should discuss this one over a video call.

[2018-11-12 19:21] adrichey commented on #1843
Just saw the issue @joemsak. I have merged in your fix.

[2018-11-12 19:21] adrichey commented on #1843
@joemsak Can we force a password reset somehow?

[2018-11-12 19:31] Allicolyer commented on #1843
@joemsak I just checked in with @kmorton2017. She will be sending us all an email shortly.

[2018-11-12 19:35] #1746 closed

[2018-11-12 20:03] adrichey commented on #1789
No clue at the moment, but I can look into it for you. I agree that having that data appear is important. As soon as this bug is prioritized and brought into a sprint, I will look into it. :)

[2018-11-12 20:44] Allicolyer commented on #1843
@joemsak this is working now

[2018-11-12 22:02] kmorton2017 commented on #1843
yes i was able to create an account and logout for both students and mentors.

i used a different password than my email address.

[2018-11-12 22:11] kmorton2017 commented on #1812
is there a test URL we can use for a Thunkable project?

[2018-11-12 22:12] #1646 closed

[2018-11-12 22:12] kmorton2017 commented on #1801
@alli just wanted to check and see if we could update this in the mentor welcome email

[2018-11-12 22:13] kmorton2017 commented on #1800
@alli just wanted to circle back on this card as well

[2018-11-12 22:14] kmorton2017 commented on #1794
@alli this is most likely because of the current bug we are addressing in #1843

[2018-11-12 22:16] #1744 closed

[2018-11-12 22:18] Allicolyer opened #1846 "Add fields to collect for survey"
Hi @kmorton2017 and @ophelieh, can you tell me if this is all the fields that we need to collect for the pre-survey?

First and Last Name,
*School
City
State / Providence
Country
Email Address
*Team Name

The ones that have a star* are the ones that Joe and Alan need to add functionality for. Are there any other new fields that you need this year?

[2018-11-12 22:44] kmorton2017 commented on #1814
I am able to load my certificate as a mentor.

[2018-11-12 22:51] ophelieh commented on #1846
Looks right to me. We could possibly add age. This could tell if age makes a difference in filling out the survey or not.

[2018-11-12 23:42] kmorton2017 commented on #1846
@Allicolyer just noticed a typo it should be "State / Province"

For mentors it should gather:
First and Last Name,
**Company**
City
State / Province
Country
Email Address
*Team Name

[2018-11-14 00:13] #1843 closed

[2018-11-15 16:42] joemsak commented on #1816
@kmorton2017 I can fix the searchability bug pretty easily, what would you like me to do if any mentors have gotten invites or have already joined teams? That could be a pretty bad experience for the users, to have mentors / invites suddenly go missing. Let me know what you want. In the meantime, I'm putting in a pull request to Alan for the searchability fix, which not only fixes the logic but al

[2018-11-15 23:55] kmorton2017 commented on #1824
hi all! just seeing if there was any update on this issue. spain is expecting about 500 sign ups within the next week @alan @joemsak @alli

[2018-11-16 18:13] adrichey commented on #1824
@kmorton2017 There has been a reverse geocoding fix that has been put into the system that should help with the state population overall, but because we are using a third-party service for validation, it may be difficult to absolutely guarantee that a state will be populated into that field. @joemsak do you think there is anything left to do here?

[2018-11-16 19:55] joemsak commented on #1824
Here's a brief recap of all the important bits as I understand them surrounding this issue:

* The problem stems first from the fact that "state" is not a required field on the platform
  * That is because not all people in various countries have anything to put for a state, so the field doesn't make much sense to them, and has generated customer support issues in the past

* The next problem is t

[2018-11-16 20:07] adrichey commented on #1824
Thank you for sharing this run-down and a potential alternative solution, Joe!

I think the GeoNames API might be a good way to approach the problem. We would need to prioritize that work, but in looking at the API and seeing that example, I think that it would be a pretty robust solution. It does of course come with potential rate limiting issues that the other solution currently has. But there m

[2018-11-16 22:37] adrichey opened #1849 "Update the registration age verification to 10 by WPE"
**Is your feature request related to a problem? Please describe.**
RA's are having trouble signing up their girls who will be 10 by World Pitch. Right now, the application logic is such that if a student is 9 years old at the time of registration, they cannot sign up. @ophelieh has asked that we instead check that the student will be 10 by World Pitch in order to register as a student.

**Describe

[2018-11-16 22:39] adrichey commented on #1849
After talking with @ophelieh this appears to be a high priority. @Allicolyer how do you feel about pulling this into the current sprint? I feel like we should get this into production soon since it is affecting sign ups. But I also don't want to completely overload QA.

[2018-11-19 15:17] ophelieh opened #1850 "State won't save the first time it is entered (for some locations)"
**Describe the bug**
Trying to add the state for Madrid in Spain, but it won't save the first time I add it. I have to do it a second time and then it saves (as an admin, as a user I tried multiple time and wasn't able to save it).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign up'
2. Create a new account in Madrid
3. It will show you it saved with city, state, country
4. When y

[2018-11-19 15:25] ophelieh opened #1852 "RAs are able to see how "heard about Technovation""
**Is your feature request related to a problem? Please describe.**
We have more RAs in the same area/city now, and it is difficult for them to keep track of who they brought on and are managing.

**Describe the solution you'd like**
The RAs can easily tell who was referred to TC by them, limits the work on their part and potential friction.

**Describe alternatives you've considered**
An idea was

[2018-11-19 15:47] #1852 closed

[2018-11-19 17:12] adrichey commented on #1824
Technical notes for @stenington and @joemsak so they don't get lost in email.

Having spent a little more time with this, I think the wrench in any rewrite we do of this is the fact that we use the `Carmen::Country` gem throughout the application. Because we are grabbing the location from Google/Bing location APIs, but are filtering everything through Carmen before storing it in the system, we may

[2018-11-19 17:22] adrichey commented on #1850
I think this is probably the crux of the issue:

The state is being passed to the back-end from the front-end properly after hitting the Google/Bing API on the location form, but then the location controller sets the state to `nil` because it isn't in the country subregions populated by Carmen. If you look at `/app/controllers/registration/locations_controller.rb` line 14, you can see how Carmen i

[2018-11-19 17:25] #1814 closed, assigned to closuresandcoffee

[2018-11-19 17:34] Allicolyer commented on #1802
Hey @adrichey ! This looks great and is working as expected.

Is there anyway to fix this issue? When the date picker opens up, I am in the month of April. All the dates in May are "grayed out" , so for instance, it looks like I can't select May 4th. However, If I change the month to May, I can now see that these dates are not grayed out. I can see this being confusing fro some of our RAs.

![uplo

[2018-11-19 17:37] Allicolyer commented on #1826
@adrichey this is working great.

1. If I try to make my event start after it ends, the time picker will adjust itself.
2. The times I select get converted to 24 hour time.

@kmorton2017 Could you check this out? I know that most of our RAs probably don't use AM & PM, but I think this is a good solution.

[2018-11-19 17:41] Allicolyer commented on #1831
@adrichey this is working great now! I will test it out futher to find more bugs and then file more bug reports.

[2018-11-19 17:41] #1831 closed

[2018-11-19 17:42] Allicolyer commented on #1832
@adrichey this works now! Thank you!

[2018-11-19 17:42] #1832 closed

[2018-11-19 17:43] adrichey commented on #1802
@Allicolyer I suppose I could make the styles for those valid May dates when viewing April a little darker. You can see a slight color variation between the disabled dates in April and the enabled dates in May on the April calendar, though they are slight. I can toy around with that color saturation a bit and see if I can make it more obvious. How does that sound?

[2018-11-19 17:45] adrichey commented on #1826
@Allicolyer and @kmorton2017 I can also set the time pickers to 24-hour time if that works better. Let me know if that is desired and I can do that!

[2018-11-19 18:00] Allicolyer opened #1853 "Confusing menu for selecting teams to RPEs"
**Describe the bug**
The menu for selecting teams is a bit confusing, it does not update after clicking "save selected teams".

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Create an event
3. Add some teams to your event
4. Click "Save Selected Teams"
5. Click "Add Teams"
6. Observe that this menu has not changed since you clicked "save selected teams"

**Expected behavi

[2018-11-19 18:08] Allicolyer opened #1854 "RA: Link to the submission page does not work the team page when accessing the team page from an event"
**Describe the bug**
Link to the submission page does not work the team page when accessing the team page from an event

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Click on one of the teams attending an event
3. On the team page, scroll down to the submission
4. Get an error when you click on the link to the submission

**Expected behavior**
I would expect to be linked

[2018-11-19 18:11] joemsak commented on #1826
Just a note in support of 24 hour time, I won't say which RA but when we had AM/PM time, one of our RAs picked their times in the very early morning when they meant to pick them in the afternoon, so I would advocate for 24 hour time

[2018-11-19 18:16] Allicolyer commented on #1826
Thanks @joemsak! I think @kmorton2017 and @ophelieh should make the final call!

[2018-11-19 18:16] Allicolyer commented on #1802
That sounds great! Thank you @adrichey!

[2018-11-19 18:17] Allicolyer commented on #1854
@joemsak and @adrichey would this be easy to fix?

[2018-11-19 18:44] Allicolyer opened #1856 "RPEs - The print event rooster button leads to a blank PDF"
**Describe the bug**
The print event rooster button leads to a blank PDF

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Create an event
3. Invite teams and judges to your event
4. Click "print for live event"
5. Click "print your event rooster"
6. Download the event rooster as a PDF PDF and see that it is blank

**Expected behavior**
I would expect to see an event rooster

[2018-11-19 18:56] Allicolyer commented on #1856
@adrichey would you be able to look into this?

[2018-11-19 20:16] joemsak commented on #1856
@Allicolyer have the teams you invited completed their submissions? also, i think this printout is only for when an RA assigns judges specifically to teams, so make sure you have 15 (i think it's 15, might be 10) teams with assigned judges

[2018-11-19 23:18] kmorton2017 commented on #1846
@alli just checking in to see if there is an update here! @joemsak

[2018-11-19 23:42] Allicolyer commented on #1846
Hi @kmorton2017 and @ophelieh! We can move this into to-do. Do we want to collect age?

[2018-11-20 15:15] Allicolyer opened #1858 "Need a way to complete mentor training on QA"
Hi @joemsak and @adrichey !

When creating new mentor accounts, there isn't a way to complete the mentor training on QA. This makes it hard to create new accounts and test them. Could you help create a work around for us?

[2018-11-20 15:22] Allicolyer commented on #1854
Hey @joemsak and @adrichey I tried this again today and it did not work, I was still redirected to the home page with a "you don't have permission to go there" message.

[2018-11-20 15:24] Allicolyer commented on #1812
this works! thanks!

[2018-11-20 15:24] #1812 closed

[2018-11-20 15:30] adrichey commented on #1854
I am also seeing that error message. I will look into that today @Allicolyer.

[2018-11-20 15:43] adrichey commented on #1854
This code works for me locally, so I am assuming that it didn't get deployed to QA properly. There are also tests written around this that passed, so my guess is that the code just hasn't been deployed properly, or that there is a caching issue. Continuing to investigate, but I don't think any new code needs to be written.

[2018-11-20 16:04] adrichey commented on #1854
Turns out it didn't get deployed yesterday to QA. I have deployed that manually. This is once again ready for testing. Thanks!

[2018-11-20 16:10] joemsak commented on #1858
Visit this URL manually while logged in as the mentor

http://technovation-qa.herokuapp.com/mentor/training_completion

This question has actually come up repeatedly, so again I will suggest all testers add this URL to their bookmarks.

[2018-11-20 21:01] adrichey commented on #1802
@Allicolyer This should be ready for testing once again. I darkened up those valid dates. Hopefully that is enough contrast.

[2018-11-20 22:21] Allicolyer commented on #1854
Thanks Alan! It's working great now!

[2018-11-20 22:21] #1854 closed

[2018-11-20 22:24] stenington opened #1861 "Better database pooling configuration options"
**Is your feature request related to a problem? Please describe.**
The problem is that Heroku imposes a hard limit on the number of database connections we can have, but as we fiddle with `WEB_CONCURRENCY` or the number of dynos or things like that, we can end up configuring our software to think it's allowed to have more connections than it really is.

When that happens, you start to see `could n

[2018-11-21 15:53] Allicolyer commented on #1802
Hey @adrichey this looks great!

[2018-11-21 15:53] #1802 closed

[2018-11-21 16:01] Allicolyer commented on #1816
Thanks @joemsak this is now working as expected.

Let's honor all invitations already sent and just apply this logic to new invitations

[2018-11-21 22:55] ophelieh commented on #1846
Yes, please! @Allicolyer :)

Thank you!!!!

[2018-11-21 22:57] ophelieh commented on #1826
I would recommend the 24 hour time as only a few countries actually use the AM/PM time.

Thank you @joemsak @adrichey @Allicolyer!

[2018-11-26 14:05] Allicolyer commented on #1826
Thanks @ophelieh. @adrichey Could you put the time pickers to 24 hours?

[2018-11-26 16:59] adrichey commented on #1826
@Allicolyer Done! This is once again ready for testing.

[2018-11-26 21:20] adrichey commented on #1850
This will most likely become a non-issue, or at the very least need to be reevaluated once the location form rework comes in for issue #1824. That work is currently in progress.

[2018-11-26 21:47] Allicolyer commented on #1816
@joemsak let me know if you need any more information here.

[2018-11-26 21:57] #1715 closed

[2018-11-26 22:07] joemsak commented on #1816
I don't think so, sounds like it's good to go

[2018-11-26 22:20] Allicolyer commented on #1816
@joemsak do you need another card written out to honor any old invitations?

[2018-11-26 22:20] Allicolyer commented on #1826
@adrichey this looks great!

[2018-11-26 22:21] Allicolyer commented on #1826
I still see AM/PM in the top summary bar:

![uploads/95347556-e98f-4c43-98f3-00f18910957e/Screen Shot 2018-11-26 at 5.21.05 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F95347556-e98f-4c43-98f3-00f18910957e%2FScreen+Shot+2018-11-26+at+5.21.05+PM.png)

[2018-11-26 22:45] adrichey commented on #1826
@Allicolyer The acceptance criteria doesn't cover that section. Can we create another ticket for that update? That way I can focus on getting a production release out sometime this week (hopefully).

[2018-11-26 23:37] adrichey commented on #1826
@Allicolyer Actually, I am going to knock that out. It is a really simple fix and I have time to get it done tonight. :slightly_smiling_face:

[2018-11-27 15:54] Allicolyer commented on #1858
Thanks Joe!

[2018-11-27 15:54] #1858 closed

[2018-11-27 15:55] #1856 closed

[2018-11-27 16:18] #1484 closed

[2018-11-27 16:56] Allicolyer commented on #1846
Hey @joemsak can you work on this ASAP? The program team needs the following fields added to the student and mentor surveys:

Student Survey:
<ul>
<li> Team Name </li>
<li> Age </li>
<li> School </li>
</ul>

Mentor Survey:
<ul>
<li> Team Names </li>
<li> Company Name </li>
</ul>

[2018-11-27 16:57] #1816 closed

[2018-11-27 16:57] Allicolyer commented on #1826
Thanks @adrichey :) checking it out now

[2018-11-27 17:00] Allicolyer commented on #1826
Works great now! Thank you @adrichey !

[2018-11-27 17:00] #1826 closed

[2018-11-27 17:02] Allicolyer commented on #1837
@adrichey I updated the acceptance criteria with a caveat.

[2018-11-27 17:02] adrichey commented on #1846
@joemsak This would actually take priority over the location form. @Allicolyer and I spoke this morning and since this is a more straightforward fix and needs to be in our next production release -- which I have planned for this week once this is done -- it takes priority. Thanks in advance for being flexible on this. :slightly_smiling_face:

[2018-11-27 17:03] adrichey commented on #1837
Thanks @Allicolyer! That is helpful.

[2018-11-27 17:34] joemsak commented on #1846
No prob, I will get on it once I return from the dentist. Got half my mouth
feelling like there’s a baseball in it right now haha

--
Joseph M. Sak
+1 312 945 6317
+52 1 33 23 10 69 05
work@joesak.com

[2018-11-27 18:51] joemsak commented on #1846
@Allicolyer can you please tell me how each of those variables are named in survey monkey?

[2018-11-27 19:00] joemsak commented on #1846
@Allicolyer Actually, let me amend my request: make sure all the variables are set as we walked through before, create the web collector URL and copy that into this card. That will be the most accurate representation of what the software should expect to replace with real data

[2018-11-27 21:31] adrichey commented on #1846
@Allicolyer and @joemsak I just poked around on Survey Monkey since Alli is out for the afternoon. I think we are still missing the `Age` field on the Student survey and the Mentor survey has not been updated with any of the fields in Alli's previous comment. I think we will need someone to update those forms and produce that collector URL. I am not sure if that responsibility falls on Alli, @ophe

[2018-11-27 21:50] adrichey commented on #1846
@joemsak I think I found the student collector URL. The custom fields are in there. Let me know if anything is missing from this, or if it is what you need. I will look into the mentor piece next.

https://www.surveymonkey.com/r/HFHWZGY?name=[name_value]&school=[school_value]&city=[city_value]&state=[state_value]&country=[country_value]&email=[email_value]&team=[team_value]&age=[age_value]

Taggin

[2018-11-27 21:52] joemsak commented on #1846
Hey @adrichey nice work, thank you! Yes that URL looks like it has all the variables as outlined in this card.

[2018-11-27 21:56] adrichey commented on #1846
Great! Glad that works for you @joemsak. It looks like the mentor survey doesn't have a collector, nor the additional `Team Names` or `Company Names` custom variables set up. So I am going to lean on our awesome program staff to get you that information. Hopefully @Allicolyer @ophelieh or @kmorton2017 can assist on that front soon. :slightly_smiling_face:

[2018-11-27 22:14] joemsak commented on #1846
Good call @adrichey in the meantime check PR #1865 for the work done so far (not ready for merge)

[2018-11-27 23:31] kmorton2017 opened #1867 "Deleting an Admin"
Madhavi (madhavi+admin@iridescentlearning.org)
is still listed as an admin on my.technovationchallenge.org. I tried to delete her but get a "Sorry this page does not exist" message.

FYI it says that she has a temporary password and has never logged in. I am not sure if this relates to the bug or not.

**Describe the solution you'd like**
I would like to be able to delete Madhavi.

[2018-11-28 16:12] adrichey commented on #1846
Marking as blocked until we can get the mentor variables and the collector set up.

[2018-11-28 21:33] kmorton2017 commented on #1846
Hi Everyone!

I edited the mentor survey. Thanks for making sure we are on top of everything. Here is the web collector URL for mentors:  https://www.surveymonkey.com/r/Z9M7RZD?email=[email_value]&country=[country_value]&state=[state_value]&name=[name_value]&city=[city_value]&age=[age_value]

Do I need to change the custom variables on survey monkey for both surveys after I have the exact names fr

[2018-11-28 21:41] adrichey commented on #1846
@kmorton2017 I believe we still need to add the following custom variables/fields to the survey form:

- Team Names
- Company Name

If we can get those added, then you should be able to send the collector to us again with those fields added to the URL. Once we have that we can wrap up the back-end. Unless you no longer need the team names or company name, in which case we can finish the work with

[2018-11-28 23:08] Allicolyer commented on #1846
Thanks @kmorton2017!

- For students I added team and age.
- For mentors I added company and team for mentors, and removed age.

He @adrichey! Here are some updated links

**Student:**
https://www.surveymonkey.com/r/ZYBG3WD?name=[name_value]&school=[school_value]&city=[city_value]&state=[state_value]&country=[country_value]&email=[email_value]&team=[team_value]&age=[age_value]

**Mentor: **
https:

[2018-11-29 01:51] kmorton2017 commented on #1846
Hi Guys,

Just to confirm, all of the survey questions on the form now match the criteria. What I have a question about is naming the custom variables. On my end on survey monkey, I need to name each custom variable in the "logic" section. See screenshots for an example. (FYI here is a survey monkey article i've been referencing as a program person--you guys have probably already seen it: https://

[2018-11-29 15:22] adrichey commented on #1846
Hi @kmorton2017! I went in and edited the variable names to what they should be according to the collector URLs @Allicolyer posted in this thread yesterday (Thank you for getting those collector links to us @Allicolyer!). So we should be good to go! But for your records, here are the variable names:

- **Label / Variable Name**
- EmailAddress / email
- Country / country
- StateProvince / state
- F

[2018-11-29 15:54] adrichey commented on #1813
I have a fix for this. So after speaking with @Allicolyer we have decided to pull this into the To Do column. I should have a pull request in for this today.

[2018-11-29 18:05] Allicolyer commented on #1846
Thank you @adrichey. @kmorton2017 would you have time to test this with me today?

[2018-11-29 20:52] kmorton2017 commented on #1846
A few initial findings:
- The copy should be the same for both mentors and students. right now it also says "post survey". The correct text should say: (Help us improve! TAKE THE PRE-PROGRAM SURVEY!) for both mentors and students.
- The survey says it's closed. But on survey monkey it is listed as open and collecting responses for both mentors and students.

Other questions:
 Is it possible to fea

[2018-11-29 20:58] joemsak commented on #1846
@kmorton2017 the copy is something admins can control, and there is logic for a modal popup which should come up once 2 weeks after the link / text has changed and again in 2 weeks if the person hasn't completed the survey. You're also supposed to be configuring your surveys to redirect to the survey completion URL at the end when the person finishes it.

[2018-11-29 20:58] joemsak commented on #1846
changing the survey does not change the links, however those questions are for survey monkey, not the technovation dev team

[2018-11-29 20:59] joemsak commented on #1846
also, don't quote me on the exact logic of when the modal appears as staff has requested it to be changed a number of times and I can't remember off the top of my head - you can try looking back through closed issues or meeting notes to find out what was most recently discussed and agreed by staff

[2018-11-29 21:05] joemsak commented on #1867
This is already a reported bug

https://github.com/Iridescent-CM/technovation-app/issues/1783

Katie, if you could, I would like for you to please search the open issues reporting a bug, and also I will remind you again to please use the full bug report template, and please do not skip the following sections:

"Describe the bug" - please try to use more than one sentence
"What steps to take to rep

[2018-11-29 21:05] #1867 closed

[2018-11-30 01:08] Allicolyer commented on #1846
@adrichey and @joemsak so Katie and I just QAed this. Everything is working as expected with the variable collectors and this is good to go.

[2018-11-30 15:20] adrichey commented on #1846
Awesome! Thanks to you both for taking time out of our hectic schedules to QA this, @Allicolyer and @kmorton2017! Alli, do you want to leave this open for now and I can let you know when I am done pushing this up to production so you can do any configuration on production that needs to happen? Or can we close this now? As soon as I get the go ahead from you, I will cut our production release this

[2018-11-30 16:28] stenington opened #1872 "Initial test run fails in new dev environment"
**Describe the bug**
While following the README, running `rake` produces test failures not seen in existing dev environments. I think it comes down to needing to have assets precompiled.

**To Reproduce**
Steps to reproduce the behavior:
1. `rake assets:clobber`
2. `rake`

**Expected behavior**
My expectation is that tests will pass if I have followed the instructions correctly. If precompilation

[2018-11-30 16:48] stenington commented on #1872
I'm wrong, the default task in `Rakefile` is run, although rspec tests are being run some other way (probably from `rspec-rails`?). The `bin/rspec` part fails with `/Users/mlarsson/.asdf/installs/ruby/2.5.1/bin/rake: No such file or directory - bin/rspec`

[2018-11-30 17:07] adrichey commented on #1834
@Allicolyer I have a couple of questions on this. For the onboarding date, are we only covering mentors, or would you want the logic to cover students as well? If so, what pieces of data dictate when a student is onboarded (i.e. parental consent signed and email validated)?

[2018-11-30 17:59] adrichey commented on #1834
@Allicolyer because we don't store the date users were onboarded in the database, this date will only be populated for newly onboarded mentors when this functionality is completed. Is that going to be useful? It seems like we won't have an accurate view of onboarding dates since we will be starting from whenever this work goes to production. Tagging @joemsak in case I am missing something here.

I

[2018-11-30 18:16] Allicolyer commented on #1846
I think we can close this now. Thank you @adrichey

[2018-11-30 18:16] #1846 closed

[2018-11-30 20:10] stenington opened #1874 "Remove Onboarded Judges filter in admin and RA Participants page"
**Describe the bug**
The Onboarded Judges filter doesn't work as expected if Judge isn't selected as a profile type, but rather than fixing we can remove the filter since there's a separate Judges page with an Onboarded filter.

**To Reproduce**
If you want to reproduce the error:
1. Go to the admin or RA Participants page
2. Select "Yes, fully onboarded" under the "Onboarded Judges" filter
3. Cli

[2018-11-30 21:05] adrichey commented on #1834
Developer note: I have started work for this in the branch `add-csv-columns-for-participants`. I will continue work on this once we get feedback and this becomes unblocked.

[2018-11-30 22:11] adrichey commented on #1837
This is now ready for testing!

[2018-11-30 22:12] adrichey commented on #1839
This is ready for QA!

[2018-11-30 22:12] adrichey commented on #1813
This is now complete and ready for QA!

[2018-12-03 15:22] adrichey commented on #1808
@Allicolyer can you please supply the dates that we need to change and what they need to be changed to in order to complete the work on this ticket?

[2018-12-03 15:34] joemsak commented on #1808
@adrichey I think possibly `ImportantDates` has been updated (or should be) to reflect these new dates - and then of course, `ImportantDates` right now is based on ENV vars but could be based on redis/db Admin Settings if that other feature is worked on instead - possibly removing `ImporantDates` in favor of a new API in `SeasonToggles` - totally up to you in the end, though

[2018-12-03 15:43] adrichey commented on #1808
Noted. Thanks Joe. I think we are holding off on #1810 for now in favor of other things, so I think this will just use `ImportantDates` when we do the fix for this.

[2018-12-03 16:41] adrichey commented on #1815
@Allicolyer can you please supply the date when quarterfinals judging will begin to unblock this ticket? Thanks a ton!

[2018-12-03 17:38] Allicolyer commented on #1837
Thank you @adrichey. Would you be able to add this for RAs too? Should I make a new card for that or should we keep it on this card?

[2018-12-03 17:38] Allicolyer commented on #1839
Thank you @adrichey. Would you be able to add this for RAs too? Should I make a new card for that or should we keep it on this card?

[2018-12-03 17:46] adrichey commented on #1839
This is also available for RAs, so you should be able to test that functionality now @Allicolyer. Usually when a feature is rolled out for admins, it gets rolled out for RAs as well, but in the future if you could put that on the card as well, I would appreciate it. Thanks!

[2018-12-03 17:46] adrichey commented on #1837
This is also available for RAs, so you should be able to test that functionality now @Allicolyer. :slightly_smiling_face:

[2018-12-03 18:00] adrichey commented on #1793
This is ready for testing!

[2018-12-03 18:01] adrichey commented on #1861
@stenington do we need to update our production environment variables once this code makes it to production?

[2018-12-03 18:57] ophelieh opened #1878 "Participants seeing the wrong RA"
**Describe the bug**
People in Ottawa or near are seeing Joanne Atlee (who is based in Waterloo -- which is 5 hours away), instead of Jennifer Francis (who is based in Ottawa).

**To Reproduce**
Steps to reproduce the behavior:
1. Log in a Malee Phankhao (student in Ottawa)
2. See wrong RA

**Expected behavior**
Students in Ottawa should see Jennifer Francis.

**Screenshots**
If applicable, add sc

[2018-12-05 17:08] #1837 closed

[2018-12-05 17:08] #1839 closed

[2018-12-05 17:09] Allicolyer commented on #1835
Thank you!

[2018-12-05 17:09] #1835 closed

[2018-12-05 20:42] Allicolyer commented on #1793
this works!

[2018-12-05 20:42] #1793 closed

[2018-12-05 22:52] Allicolyer commented on #1815
Quarterfinals Judging begins on April 27th

[2018-12-05 23:03] Allicolyer commented on #1808
Here are the updates dates

<ul>
<li>Quarterfinals judging begins on April 27th, 2019.</li>
<li>Revise & review your finished scores until May 20th</li>
<li>For semifinals it should say: Revise & review your finished scores until June 17th (US/Pacific time)</li>
</ul>

Actually the only date that changed is the start date of quarterfinals.

[2018-12-06 01:20] kmorton2017 opened #1882 "Downloading parental consent form"
**Describe the bug**
Students are having issues downloading the parental consent form on their dashboard. When you go to "Download the permission form" you get this screen (attached)

**To Reproduce**
Steps to reproduce the behavior:
1. Login as daniela.bodiu.06@gmail.com
2. Click on download the permission form
3. See "this page cannot be found"

**Expected behavior**
I would expect to be able to

[2018-12-06 02:34] Allicolyer commented on #1807
@adrichey not sure how important this is. We can always just tell Staff not to use those toggles.

[2018-12-06 15:11] adrichey commented on #1882
The issue was that the Parental Consent Form on Zendesk was updated to a new version and the dev team was not notified of the change (See https://iridescentsupport.zendesk.com/hc/en-us/articles/115002731034-How-do-I-submit-the-consent-forms-). Therefore the link broke when the old form was removed. I have since updated it to a newer version and we should be good to go! This is ready for testing! T

[2018-12-06 15:15] adrichey commented on #1833
Work for this is currently in the following pull request: #1881. Once approved I will merge that in and move this ticket to QA.

[2018-12-06 18:21] adrichey commented on #1833
This is now ready for testing. :raised_hands:

[2018-12-06 18:31] kmorton2017 commented on #1882
Works as expected!

[2018-12-06 18:31] #1800 closed

[2018-12-06 18:36] adrichey commented on #1882
Awesome! Since this wasn't a code change, but an environment variable change, I have rolled the solution out to production as well now that the fix was tested. @Allicolyer this ticket can be closed whenever convenient. Thanks for jumping on that QA so quickly @kmorton2017, you rock!

[2018-12-06 19:35] adrichey commented on #1808
This is now ready for testing! Thanks for the feedback that unblocked this ticket, @Allicolyer!

[2018-12-06 19:35] adrichey commented on #1815
This is now ready for testing! Thanks for the feedback that unblocked this ticket, @Allicolyer!

[2018-12-06 19:49] kmorton2017 commented on #1833
This is performing as expected. I confirm that i'm able to search for a company. To clarify, I see two different versions of Iridescent. One with a capital and one with a lowercase.

When we want to search for a specific company, we will need to select each variation (Ie Adobe Systems Ltd., Adobe India) etc to make sure all results come up.

[2018-12-06 19:56] adrichey commented on #1833
That is correct @kmorton2017. The filter pulls every school/company that exists in the database. Unfortunately, we cannot control what people type into that field, so we may have to select multiple schools and companies in order to get a full picture of the data.

[2018-12-06 20:23] kmorton2017 commented on #1833
got it! that's what i thought. also you may hate me but i have a few more questions!

1) can we make sure that the mentor company search feature is available for RA's as well?

2)  is it possible to have this feature so that you can search for a student's school? I am just envisioning the RA's who may use the "school" feature for students more often than we need it as HQ admin. They may ask why yo

[2018-12-06 20:30] adrichey commented on #1833
@kmorton2017 No hate on this end haha. The feature is already available for RA's, so you are good to go there! I think if we want to implement this feature for student schools we can, but I would rather us put that into a new issue ticket since it is outside of the acceptance criteria for this issue.

[2018-12-07 16:44] #1882 closed

[2018-12-07 16:45] kmorton2017 commented on #1833
@alan this card is good to go. I wiil make a new card for students and schools.

[2018-12-07 18:10] kmorton2017 commented on #1808
@Allicolyer can i talk to you off huboard on key dates? i want to make sure copy isn't confusing for judges this year since we are doing things a bit differently with virtual judging vs. RPE's this year.

[2018-12-07 20:03] adrichey commented on #1808
If you need me to update any of these dates after your discussion, please
let me know. I can work with you all. :)

[2018-12-07 21:47] stenington commented on #1878
As the code stands, if it finds any regional ambassadors whose country and state/province match the student, it just picks the first one the database returned (not the one nearest the student).

If that method doesn't return any regional ambassadors and the student isn't in the US, *then* it looks for the nearest RA in that country, ignoring state/province, assuming the student has put their locat

[2018-12-07 22:04] adrichey commented on #1811
This is now ready for QA testing! :slightly_smiling_face:

[2018-12-07 22:10] adrichey commented on #1806
Pull request for this has been created: #1885.

[2018-12-10 15:41] ophelieh commented on #1878
Hi @stenington!

Thank you for the update! I was under the impression that the system always picked the closest RA based on location. How long do you think it would take to change this logic so that students see the RA closest to them?

Thank you!

[2018-12-10 16:42] adrichey commented on #1806
This is now ready for testing!

[2018-12-10 17:02] adrichey commented on #1776
@Allicolyer I am going to go ahead and pull this ticket into the sprint since I am done with my current workload until we have the location form discussion this afternoon.

[2018-12-10 17:03] Allicolyer commented on #1833
Thank you @kmorton2017 and @adrichey !

[2018-12-10 17:05] #1833 closed

[2018-12-10 17:12] Allicolyer commented on #1815
Hey @KaiLokken can you test this card?

Here's how to test.

Go to https://technovation-qa.herokuapp.com/
Log in as a judge: judge@judge.com
Confirm that you see "Quarterfinals Judging begins on April 27th" on your dashboard.
April 27th is the correct date and May 1st is the incorrect data. Confirm you don't see May 1st anywhere on the dashboard.

Thank you!

[2018-12-10 17:13] Allicolyer commented on #1808
sure @kmorton2017 please let me know when you want to talk.

[2018-12-10 17:24] Allicolyer commented on #1811
@nickiredescent could you test this card?

Here is how to do it:

Go to https://technovation-qa.herokuapp.com/
Log in as a student who has a team: student@student.com
For their submission, choose Thunkable as their submission platform
Put this link for source code: https://x.thunkable.com/copy/1662094357d248e0c5c5bba5bc5d64b4

Now log in as an admin: admin@admin.com
Go to the "Content & Settings"

[2018-12-10 20:48] nickiredescent commented on #1811
Tested and works!

[2018-12-10 21:48] nickiredescent commented on #1806
Tested and works!

[2018-12-11 00:00] adrichey commented on #1815
@KaiLokken If you are unable to submit a comment here on Huboard, you should be able to click the #1815 beside the title on this card to be taken to Github. You may be able to comment there. Thanks for testing this!

[2018-12-11 19:16] Allicolyer commented on #1811
Great! Thanks @nickiredescent!

[2018-12-11 19:16] #1811 closed

[2018-12-11 19:16] Allicolyer commented on #1806
Awesome thanks @nickiredescent !!

[2018-12-11 19:16] #1806 closed

[2018-12-11 19:20] Allicolyer commented on #1813
@nickiredescent thank you for the throughout QA! We should look into some of these discrepancies for the scoring sprint.

[2018-12-11 19:20] #1813 closed

[2018-12-11 19:20] Allicolyer commented on #1815
Awesome thank you @KaiLokken!

[2018-12-11 19:21] #1815 closed

[2018-12-11 19:21] Allicolyer commented on #1808
@kmorton2017 I am going to close this card for now, and we can schedule a time to go through the dates on the platform.

[2018-12-11 19:21] #1808 closed

[2018-12-11 22:07] adrichey commented on #1776
@ophelieh I cannot replicate this issue anymore. Can you please take a look again and let me know if it is still an issue? If you can replicate this problem, can you list the steps you took in a comment? Thanks!

[2018-12-12 16:37] adrichey opened #1888 "Add Lat/Long Geolocation column to the admin participants page"
**Is your feature request related to a problem? Please describe.**
Recently we had to change our API keys for the application and they need to be tested. In order to do so, we will need to confirm that Lat/Long data matches the City/Region/Country combination that was entered into the location forms throughout the site.

**Describe the solution you'd like**
We need a CSV column added to the Admin

[2018-12-12 16:56] stenington commented on #1878
@ophelieh @kmorton2017 Does this logic look right for the regional ambassador assignment strategy? (This is *not* including things like DC/Maryland/Virigina where I know we need to make improvments, but that will have to happen separately.)

** In the US **
* Find the nearest regional ambassador in the same state
* If the student/mentor doesn't have location details, pick any RA in the same state

[2018-12-12 17:10] ophelieh commented on #1878
@stenington That looks great! :)

Thank you!

[2018-12-12 17:22] adrichey commented on #1861
I am currently deploying this configuration options code to production. Pending a successfully run on CI, I will update the configuration variables in our Heroku production settings and close this ticket.

[2018-12-12 17:38] adrichey commented on #1861
I have updated the Heroku variables according to the suggestions that @stenington provided previously. I am going to close this ticket as a result. I will monitor Airbrake and Heroku for potential issues with these changes. Thanks for all of your work on this, Mike!

[2018-12-12 17:39] #1861 closed

[2018-12-12 17:47] stenington commented on #1861
🎉

On Heroku, we should see Memory Usage creeping back up to the 1GB threshold, but Postgres connections shouldn't surpass the 40 connection limit. Maybe keeping half an eye on Sidekiq to make sure it's not bottle-necking on db connections or something would also be good.

[2018-12-12 21:06] stenington commented on #1878
Okay, I updated the code. A before and after comparison of RA assignments shows that this would change the RA for about 714 students. Would you want a chance to look over those changes to make sure they seem correct?

[2018-12-12 21:54] adrichey commented on #1853
This is ready for testing. Clicking `Save selected teams` should save the teams you have selected and remove them from the search and select modal window for the next time you click `+ Add teams` for a more coherent experience.

[2018-12-12 21:55] adrichey commented on #1888
This is ready for testing!

[2018-12-12 21:55] adrichey commented on #1888
**Developer note:** Once this is tested and we cut a production release with this code, we should update the production API keys in Heroku.

[2018-12-13 15:47] stenington commented on #1878
Doing some QA of my own, it looks like 2 main things are happening:
* @kmorton2017 you're getting assigned as RA for a bunch of people. Is that appropriate? I'm guessing we should be filtering staff better.
* Some users with messy location data are losing RAs. For some people, this is probably appropriate (It looked like some South American users had an RA in Palestine?). For others, we probably w

[2018-12-13 16:47] kmorton2017 commented on #1878
Hi Mike,

I am actually considered an RA for SF because I help match teams with our
corporate sponsors and organize RPE's. So that is actually approproiate for
me to show up as the RA for the the Bay Area.

Katie

On Thu, Dec 13, 2018 at 7:47 AM Mike Larsson <notifications@github.com>
wrote:

--

*Katie MortonDirector of Program-Technovation Iridescent
<http://iridescentlearning.org/> | Curiosity

[2018-12-13 17:11] stenington commented on #1878
Okay good. @ophelieh @kmorton2017 it looks like 125 students would lose an RA assignment because their location data is bad. Would you want to dig in to that more, or just deal with it if users complain?

Also I'm realizing I've only investigated students. Should I be investigating what would change for mentors too? Do mentors have RAs in the same way?

[2018-12-13 19:10] ophelieh commented on #1878
Hi @stenington!

It would be fine if 125 students lost RA assignment. They would reach out to us if they noticed.

It does work the same way for mentors, and if mentors didn't see an RA, they would probably reach out to us.

Thank you!!!

[2018-12-13 22:26] stenington opened #1892 "Have RegisterToCurrentSeasonJob do location checks"
**Is your feature request related to a problem? Please describe.**
We have users with bad location data, and it's unclear where they're coming from. If they're returning users, it would be nice to have some notice of how bad the problem is.

**Describe the solution you'd like**
RegisterToCurrentSeasonJob could log if a user returns with location data we know is likely to lead to problems with RA a

[2018-12-13 22:32] stenington commented on #1716
This card seems pretty stale to me. It sounds like exploratory QA was done and there would be work to do to support multiple-region RAs. Can someone write up a feature request with details on how that would need to work? @ophelieh @kmorton2017 @Allicolyer

[2018-12-13 23:55] kmorton2017 commented on #1878
@stenington just to clarify, for participants outside the US it says:
--- Find the nearest regional ambassador in the same country and state

This would mean that moving forward, students in Ontario, Canada (who have multiple RA"s in their state) would see RA's closest to them. Is that right?

[2018-12-14 01:11] nickiredescent opened #1893 "Unable to add student"
Hi guys,

Got a zendesk support ticket. I've cc'ed Alli through Zendesk.
Sakshi Bhatnagar (sakshibhtngr1989@gmail.com) is a mentor trying to add Sneha Sharma (sanjay.tandi10@gmail.com) onto team"Raghav Global School,Noida".
As far as I can tell, Sneha has completed all necessary steps to complete her profile and has even accepted the team invitation. However, she is still listed as pending when I

[2018-12-14 02:34] stenington commented on #1878
@kmorton2017 That's the intent, but you definitely shouldn't just take my word for it. I'm emailing a spreadsheet that shows the student RA reassignments that would have happened as of a few days ago. Look that over and make sure it seems appropriate.

[2018-12-15 21:17] KaiLokken commented on #1888
Just tested it! The exact coordinates came up for both profiles.

[2018-12-17 19:20] Allicolyer opened #1894 "RAs can create events without a date"
**Describe the bug**
As an RA I can create an event without choosing a date, the date will default to today's date
**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Create an event without choose a date
3. Save your event
4. Your event has today's date

**Expected behavior**
We would expect an error message and we should not be able to save the event

**Desktop (please comple

[2018-12-17 19:28] Allicolyer opened #1895 "Change EventBrite URL label text"
Change the label for the Eventbrite URL field to just say "Event URL (optional)"

[2018-12-17 19:30] Allicolyer opened #1896 "Change Helper Text for deleting an event"
Helper message currently says "Regional pitch event was successfully destroyed."

Change them message to be more user friendly and to say "Regional pitch event was successfully deleted."

To test:
1. Log in as an RA: ra@ra.com
2. Create an event
3. Delete the event
4. Read the helper text, make sure it doesn't say "destroyed", but instead "deleted"

[2018-12-17 19:52] Allicolyer opened #1897 "Selecting events is hidden for both students and mentors on their dashboards"
This card might get split into multiple cards

**Describe the bug**
When admins turn on events, there is no change in the student or mentors' dashboard to show that they can now select events. However, they can click on judging and they will be able to see the event they are attending or see the option to select an event.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on Events as an A

[2018-12-17 19:56] Allicolyer opened #1898 "RPE Summary Text is awkward"
After I create an event, the text is awkward. The headers alternate from top to bottom and some of them don't make a lot of sense.

How could we improve this UI to be more user-friendly and symmetrical?

![uploads/02dff443-18a4-4119-904c-7efc977f67dd/Screen Shot 2018-12-13 at 2.07.15 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F02dff443-18a4-4119-904c-7efc977f67dd%2FScreen

[2018-12-17 19:58] Allicolyer opened #1899 "Judges have the same bug when being assigned to events as teams did with card #1853"
**Describe the bug**
Judges have the same bug when being assigned to events as teams did with card #1853. The same behavior happens.

[2018-12-17 20:02] Allicolyer opened #1900 "Events look awkward on Judge Dashboard"
A judge who is assigned to an event sees the event on their dashboard. The UI needs some improvement, the event might need some sort of wrapper or div.

In addition, for a judge who is not fully on-boarded, the judge profile required steps should appear above the RPE details. The RPE details should stylistically match the on-boarding steps.

To test:
1. Log in as a judge who is attending an event

[2018-12-17 20:06] Allicolyer opened #1901 "Judges invited by email to an event need to complete at least 1 on-boarding item before seeing RPE details"
As an invited by email judge to an event, I had to complete at least one of my on-boarding pieces before I could see the event which is a little bit awkward. It appears once you do that.

@ophelieh can you weigh in here? Do you think judges should complete all of their on-boarding before seeing the event? Alli and Alan both think you should see the event from the start, even if you have no on-boar

[2018-12-17 20:07] Allicolyer opened #1902 "Typo - for judge on-boarding the “L” in location is uppercase"
Typo - The “L” in location is uppercase here:

![uploads/67335b62-cdbf-4139-a35a-f276f6cfc315/Screen Shot 2018-12-13 at 2.19.38 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F67335b62-cdbf-4139-a35a-f276f6cfc315%2FScreen+Shot+2018-12-13+at+2.19.38+PM.png)

[2018-12-17 20:08] Allicolyer opened #1903 "Is this judge survey still relevant?"
@ophelieh @kmorton2017 This is required for judge on-boarding. Do you want to to update these questions, is it even still relevant? Did we use this data in anyway last year?

![uploads/73b2e387-4bec-4f9e-8f9e-d09c1cb184e2/Screen Shot 2018-12-13 at 2.23.25 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F73b2e387-4bec-4f9e-8f9e-d09c1cb184e2%2FScreen+Shot+2018-12-13+at+2.23.25+P

[2018-12-17 20:12] Allicolyer opened #1904 "Judge Search by Email"
How do we want it to work?
How do we expect RAs to use this?

Schedule a time with Katie and Ophelie to talk about this.

Demo the CSV Exports to confirm that this is what they want.

[2018-12-17 21:20] ophelieh commented on #1901
Hi @Allicolyer! I agree with both of you, I think the judge (especially one invited to an event) should be able to see the event right away. They will need to complete onboarding before being able to score the teams, so they will be prompted to do that eventually.

[2018-12-17 21:21] ophelieh commented on #1903
That's a great question. I am not sure. @amyiridescent do you know?

Do we ask for their company name? I can't remember.

[2018-12-17 22:41] Allicolyer commented on #1903
Hey Ophelie! I scheduled some time on Thursday for You, Katie, Alan and I to figure this out.

[2018-12-17 23:12] Allicolyer commented on #1888
Thanks @KaiLokken !

[2018-12-17 23:12] #1888 closed

[2018-12-17 23:13] Allicolyer commented on #1896
@nickiredescent could you test this?

[2018-12-17 23:22] Allicolyer commented on #1853
Thanks! @adrichey this is working great.

[2018-12-17 23:22] #1853 closed

[2018-12-17 23:39] Allicolyer commented on #1878
Hey @adrichey and @stenington. What are the next steps with this? How can I test this?

[2018-12-17 23:42] Allicolyer commented on #1776
@ophelieh can you replicate this error? If not, I think we can close this card.

[2018-12-18 05:44] amyiridescent commented on #1903
Hi Guys, so I don't think we did much with this data last year but it will be helpful. Can we please add company name as one of the questions? That will help so much with end of year reporting to companies on judge recruitment.

Also, just to be clear, students won't see this information regarding the judges when they see the scores. Right?

[2018-12-18 15:06] ophelieh commented on #1776
Seems to be working now. :)

[2018-12-18 15:07] #1776 closed

[2018-12-18 15:17] ophelieh commented on #1824
Signed up as a new student in Castello, Spain and it saved my location correctly. Looks like it went through a couple of steps before asking me to verify my location.

When I changed my location to Madrid, it suggested a new state and I was able to save my new location.

Also, when I logged in as an admin and try to add the state for a student in Madrid, it worked right away. :)

[2018-12-18 15:20] ophelieh commented on #1850
This is no longer an issue, when I tested card #1824, I also tested this and it works great. I can change the state (for Spain) in a second! :)

[2018-12-18 15:35] adrichey commented on #1893
I am looking into this right now. I will update this ticket as soon as I know more. Thanks @nickiredescent!

[2018-12-18 16:31] adrichey commented on #1893
@nickiredescent and @Allicolyer, I dug into this this morning and came across the following account: http://localhost:3000/admin/participants/63600#/

This account has the same email address as the parent who signed the parental consent for sanjay.tandi10@gmail.com. The accounts are _very_ similar so I think we may have a student who signed their own parental consent. This is not a platform proble

[2018-12-18 16:45] ophelieh commented on #1903
@Allicolyer Great! Talk to you Thursday. :)

[2018-12-18 17:23] adrichey commented on #1895
I have put in a pull request for Mike to review. I went ahead and changed our database variables to reflect this change as well, so I want his eyes on my work before I merge that into QA since it is the first time I am doing this sort of thing. :slightly_smiling_face:

[2018-12-18 18:56] ophelieh commented on #1716
I'm happy to take a stab at it this week @stenington.

[2018-12-18 21:47] nickiredescent commented on #1896
Tested and nothing was destroyed.
![image](https://user-images.githubusercontent.com/45576078/50184992-74a38180-02cb-11e9-9bbc-dc59703db740.png)

[2018-12-18 22:16] nickiredescent commented on #1902
The "l" properly knows its standing in the world.
![image](https://user-images.githubusercontent.com/45576078/50186379-72432680-02cf-11e9-8f8e-55b875c1abb4.png)

[2018-12-18 22:20] nickiredescent commented on #1900
Tested and works.
When inviting the judge, the invite-er was also notified that the judge has not completed the on-boarding process.
The Required Steps appeared and stayed above the RPE Details.
Overall, it was clear and simple.

[2018-12-18 22:23] adrichey commented on #1902
@nickiredescent Your QA comments are on point. 😆

[2018-12-19 00:19] Allicolyer commented on #1896
Thanks @nickiredescent !

[2018-12-19 00:19] #1896 closed

[2018-12-19 00:20] Allicolyer commented on #1824
Thank you for testing at @ophelieh @

[2018-12-19 00:21] Allicolyer commented on #1900
Thanks for testing Nick! :)

[2018-12-19 00:21] Allicolyer commented on #1902
:laughing: I love it

[2018-12-19 00:21] #1902 closed

[2018-12-19 00:22] #1900 closed

[2018-12-19 00:27] #1824 closed, assigned to stenington

[2018-12-19 14:48] adrichey commented on #1834
Thank you @Allicolyer!

[2018-12-19 16:08] stenington commented on #1878
@Allicolyer One option is to replicate on QA the scenario described: set up 1 RA in Ottawa, 1 RA in Toronto, then set up students in Ottawa, Toronto, and maybe various locations in between and make sure they get assigned to the closer RA.

Let me also email you the spreadsheet showing predicted production changes though, so you can see what we're expecting when this goes live.

[2018-12-19 16:35] adrichey commented on #1897
@Allicolyer I have been digging into this issue, and I think we should talk about the fix in more detail. So right now, Judging and Regional Live Events are the the same interface in the code, despite having two menu items. So my solution would be to rename "Judging" to "Regional Pitch Events" and consolidating the menu items into one. From here, I would make "Regional Pitch Events" selectable if

[2018-12-19 23:39] Allicolyer commented on #1893
@adrichey ... Interesting. I wonder if this is due to the parent trying to create an account for the student. Instead, could we prevent people from entering an email that is already in use for another account?

[2018-12-20 16:09] adrichey commented on #1893
Sure. So when the student attempts to send the consent form to their parent via email, we should check to see that the email address isn't currently in the system for another account, and return an error message if does. Is that correct? If so, I can work on that solution for this ticket.

[2018-12-20 16:46] adrichey commented on #1901
@Allicolyer I am unable to replicate this bug on my local. I think I may have inadvertently fixed this when I reorganized the layout for #1900. Can you retest this and let me know if it still acts up for you? I don't think anything else is left to be done here, but I can tweak things if you can give me steps to reproduce any weirdness you get when trying to view events without any boarding steps c

[2018-12-20 18:51] nickiredescent commented on #1894
Date input is required again before saving the event.

![image](https://user-images.githubusercontent.com/45576078/50304510-fec32580-0444-11e9-827f-f696bab5a140.png)

[2018-12-20 19:07] nickiredescent commented on #1901
I was able to view events and event details before finishing the onboarding process as a judge.

![image](https://user-images.githubusercontent.com/45576078/50305333-5bbfdb00-0447-11e9-9ddb-4f9caa82cfea.png)

[2018-12-20 19:39] Allicolyer opened #1908 "Multiple team invites creates a buggy UI on the student dashboard [8,x,x]"
**Describe the bug**
More than one team invite looks buggy on the student dashboard

**To Reproduce**
Steps to reproduce the behavior:
1.Make sure team-building is turned on in the admin
2. Log in as a student account who has multiple team invites

![screen shot 2018-12-17 at 11 35 37 am](https://user-images.githubusercontent.com/11083917/50306974-db4fa900-044b-11e9-8ba3-4dfe55af3baf.png)

[2018-12-20 19:41] Allicolyer opened #1909 "Remove Virtual Judge Committee Checkbox from Judge Onboarding Survey"
Remove the option to join the virtual judge committee from the required judge on-boarding survey

[2018-12-20 20:51] adrichey opened #1910 "Mentor Training filter not working in Admin UI"
**Describe the bug**
When the `Mentor training (mentors only)` filter is used in the Participants page within the Admin UI, it works on its own but errors out when any other mentor filter is selected (`Consent waiver (mentors only)` or `Background check (mentors only)` for example).

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an Admin
2. Click on Participants
3. Select "Trainin

[2018-12-20 20:53] adrichey commented on #1910
@Allicolyer here is that ticket we found earlier during our meeting. Just FYI. 🙂

[2018-12-20 21:54] adrichey commented on #1834
**Update:** After discussing this ticket with @Allicolyer, @kmorton2017, and @ophelieh this morning, we have decided that the second "Onboarded date" CSV column is not needed since we can already filter using the following filters in the admin UI:
- Consent waiver (mentors only)
- Background check (mentors only)
- Mentor training (mentors only)
So we only need to test returning participant filter

[2018-12-21 16:59] adrichey commented on #1897
**Update:** I spoke to @Allicolyer about this earlier this week and we decided that my solution above in the comments makes sense with a couple of tweaks. So here is what the final solution should look like:
- Rename "Judging" to "Pitching Events" and consolidating the menu items into one.
- Make "Pitching Events" enabled only if events are turned on in the Admin UI using the "Selecting regional p

[2018-12-21 18:39] adrichey commented on #1895
This is now ready for testing!

[2018-12-21 19:10] KaiLokken commented on #1834
Tested it. The CSV column for "Returning?" with "yes" or "no" was included in csv.

[2018-12-21 19:19] KaiLokken commented on #1910
Tested it. Did not receive the "Uh-oh, something's went wrong" message. It produced the results: "Training complete or not required" in Mentor training (mentors only) drop-down; select "Clear (US only) or not required (International)" in Background check (mentors only) drop-down
![image 12-21-18 at 11 16 am](https://user-images.githubusercontent.com/45576084/50359594-27fdb780-0512-11e9-9744-1a7e41

[2018-12-21 19:23] KaiLokken commented on #1893
@kmorton2017 @ophelieh
What are your thoughts??

[2018-12-21 21:10] ophelieh commented on #1893
It has happened multiple times that parents create an account for their daughter and then the daughter also creates an account.

And @adrichey I do like that idea! Checking that the parent email entered is not currently in use in the system.

Thank you all!

[2018-12-21 23:32] adrichey commented on #1897
This is now ready for testing! :slightly_smiling_face:

[2019-01-02 14:41] Allicolyer commented on #1903
Hey @amyiridescent  we already collect their company name when they sign up, and no students will not see this information.

We have decided to remove the virtual judge committee checkbox and leave this survey as is until there is a good reason to remove it.

[2019-01-02 14:41] #1903 closed

[2019-01-02 14:49] Allicolyer opened #1914 "Add columns to CSVs that RAs genearate for events"
RAs can generate CSV reports for people attending their events. Here are some columns that we would like to add to those exports to help make them more useful

**Team CSV**
- Add a column for the email information for team members (students and mentors)
- Add a column of city/state info for team location
- Add parent emails for team members

**Judge CSV**
- Add the company that the judge is from
-

[2019-01-02 15:01] Allicolyer opened #1915 "Replace mentor filters with on-boarded yes or no filter"
The current filters on the participant page are as follows:
- PARENTAL CONSENT (STUDENTS ONLY)
- CONSENT WAIVER (MENTORS ONLY)
- BACKGROUND CHECK (MENTORS ONLY)
- MENTOR TRAINING (MENTORS ONLY)

Replace these filters with a more universal one:
- ONBOARDED (MENTORS AND STUDENTS ONLY)
This filter should include "yes and no" as the dropdown options. This filter should also work well with the filter t

[2019-01-02 15:10] Allicolyer opened #1916 "Add mentor training CSV column to participants page."
Admins need a mentor training CSV column added to the participant page. The column should say "yes" or "no" depending on if the mentor completed the training. This will complete the full set of granular on-boarding filters which are:

- Parental consent
- consent waiver
- background check
- mentor training

@kmorton2017 and @adrichey  what do you think the filter should say if not training is requ

[2019-01-02 15:48] Allicolyer commented on #1894
Thank you @nickiredescent !

[2019-01-02 15:48] #1894 closed

[2019-01-02 15:51] Allicolyer commented on #1893
Great glad for the progress here!

In the meantime, @ophelieh what should we do for this student? Should we delete her consent form on file and ask her to sign a new one?

[2019-01-02 16:00] Allicolyer commented on #1901
Hey @adrichey I can also no longer reproduce this bug -- I tested with two different accounts, so I think we're good to go!

@nickiredescent thank you for testing!

[2019-01-02 16:00] #1901 closed

[2019-01-02 16:01] Allicolyer commented on #1910
Awesome thank you @KaiLokken !

[2019-01-02 16:03] #1910 closed

[2019-01-02 16:05] Allicolyer commented on #1834
Thank you @KaiLokken !

[2019-01-02 16:05] #1834 closed

[2019-01-02 16:30] Allicolyer commented on #1895
Looks great! Thanks @adrichey!

[2019-01-02 16:30] #1895 closed

[2019-01-02 16:47] adrichey commented on #1916
I believe it makes sense to have "N/A" in that column if the training is not required. That is a good call!

[2019-01-02 17:21] adrichey opened #1917 "Prevent students from sending parental consent to existing accounts"
**Is your feature request related to a problem? Please describe.**
This feature came up while addressing #1893. It has happened multiple times that parents create an account for their daughter and then the daughter also creates an account and then sends the parental consent form to the account created by the parent via email.

**Describe the solution you'd like**
When the student attempts to send

[2019-01-02 17:22] adrichey commented on #1917
@Allicolyer What should the copy look like in step 4 of the acceptance criteria above. Can you also review the acceptance criteria for accuracy? Thanks!

[2019-01-02 17:24] adrichey commented on #1893
@Allicolyer I have created ticket #1917 to address this issue going forward, so whatever we do for this ticket can be done for this individual account.

[2019-01-02 18:11] adrichey commented on #1878
@stenington and @Allicolyer I am out of the loop on this ticket now that the holiday has passed. Mike, do you know what is left on this ticket? Let me know if I can help with this in any way.

[2019-01-02 18:58] stenington commented on #1878
QA is left, I guess? @ophelieh liked the changes in the spreadsheet for the most part, I don't think I've heard from anyone else. I don't know who has final approval or anything.

[2019-01-04 15:43] adrichey commented on #1892
@stenington I am going to start in on this work if you are too busy to take it on. Do you want me to simply submit a `Rails.logger.warn` call if the location is not a `valid_address?`? Or should we store this in the database somewhere? I know that we have done a mix of both practices in the past, so I want to make sure that I am going about this the right way. I feel like the logger might be enoug

[2019-01-04 15:48] adrichey commented on #1878
@ophelieh It sounds like we are just waiting for your final approval then. @kmorton2017 do you want to chime in on this as well? It sounds like if we lose the 125 RA assignments in the system, we should be okay according to Ophelie's feedback before. I think we should do one final QA pass before we call this good since this has been sitting for a while.

Here's how you can test according to Mike's

[2019-01-04 16:42] ophelieh commented on #1878
Hi all! @adrichey the issue with adding the location is happening again when trying to add my location as an RA. For the purpose of this card though, I will add locations for new RA as an admin.

![uploads/fd609ee6-1779-4d21-9b71-799e0bd70d84/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ffd609ee6-1779-4d21-9b71-799e0bd70d84%2Fimage.pn

Let me know if I should fill a bug

[2019-01-04 17:14] ophelieh commented on #1878
I create an RA and a student in Waterloo in Canada:
* As a student I see the right RA
* As the RA I can see all participants in my region (Ontario)

As a student in Toronto, I see the RA in Waterloo (this calls for another card, but the current RA we have in Toronto is also the RA for Ottawa. How could we make it that this RA can be seen in both Ottawa & Toronto when Waterloo is closer to Toronto

[2019-01-04 17:15] ophelieh commented on #1878
@kmorton2017 can you try with some other troublesome locations? Thank you!!!

[2019-01-04 17:19] ophelieh commented on #1893
@Allicolyer I think that might be the best way to proceed. @nickiredescent could you reach out to the student and let them know we are going to delete the consent form and need them to redo the process.

Thank you!

[2019-01-04 18:06] stenington commented on #1892
Yeah, I was thinking `Rails.logger.warn` would be good. I don't know if warning log messages go to Airbrake, but we can set up alerts in Papertrail to catch them there and put them in #dev-robots or something

[2019-01-04 18:41] adrichey commented on #1893
@Allicolyer and @nickiredescent I have removed the parental consent for Sneha Sharma. They will need to fill out their parental information again and send the form to their parent so they can sign it again. Here is the information they probably want to use as these values were found in the parental consent in the database:

Name: Anurag Sharma
Email: Anurag.sharma4306@gmail.com

Once Nick has reac

[2019-01-04 20:23] adrichey commented on #1892
Awesome. I think I will use Airbrake for now to track these. I will try to get a pull request in to you soon.

[2019-01-04 20:40] adrichey commented on #1878
@ophelieh, I think I have figured out the issue with not being able to add your location as an RA. I dug around a bit more and it looks like that is a legitmate bug that needs to be fixed soon as it affects all RAs. Can you please file a new bug report since it is not related to this issue? Thanks!

[2019-01-04 21:48] adrichey opened #1918 "New RAs cannot save their initial location"
**Describe the bug**
For a newly invited Regional Ambassador, the location form is broken. RA's should be able to set their initial location, but cannot do so currently. They receive an error message when trying to submit the location form: "We're sorry, but we cannot find a region with that information."

**To Reproduce**
Steps to reproduce the behavior:
1. As an admin, go to Invite users in the

[2019-01-04 21:49] adrichey commented on #1918
@Allicolyer this bug has been reported by multiple RAs and is causing issues for all new RAs who sign up this season, so I have pulled it into the sprint. Tagging @ophelieh for visibility.

[2019-01-04 21:55] adrichey commented on #1878
@ophelieh I created issue #1918 to address the RA location form not saving, so you don't need to create that now.

[2019-01-05 00:51] nickiredescent commented on #1897
Tested:
As a student on a team attending an event, I can click "Pitching Events" when it is enabled by an admin. "Pitching Events" is grayed out and a pop up that says "This feature will open later in the Season" shows when events are disabled by an admin.

![1897 - 1](https://user-images.githubusercontent.com/45576078/50717966-469a9d00-1040-11e9-87cc-6ddc1c679878.png)
![1897 - 2](https://user-ima

[2019-01-05 01:41] kmorton2017 opened #1920 "Editing welcome message on user dashboards [8,?,?]"
Last year, admins were able to edit the notices section to display messages to users at key points in the year. Here are some examples of messages that we need to prominently share with users on their dashboard at various points in the season:

Jan-March: Share Your Thoughts! Take the Pre-Survey
April: Start Your Submission! Deadline: April 23, 2019 @ 5:00 PDT
May: Take the Post-Survey!

**Describ

[2019-01-07 15:57] ophelieh commented on #1878
Thank you @adrichey

[2019-01-08 21:17] ophelieh commented on #1788
@Allicolyer @adrichey As an add on to that (might need a different ticket or might already be a ticket), would it be possible to add some sort of disclaimer under Company when mentors register so they know to press 'Enter' to validate their company if it isn't in the drop-down list?

Something like: If your company is not part of the options, type the name of your company then press 'Enter'"

Than

[2019-01-09 15:17] ophelieh commented on #1849
Hi @adrichey and @Allicolyer! What is the status on this? As more and more people are registering, we are getting more tickets about girls not being able to register if they are 9 at the moment.

[2019-01-09 15:39] adrichey commented on #1849
I can fix this very quickly as soon as we bring it into a sprint. @Allicolyer can I go ahead and pull this in now to start work on it?

[2019-01-09 15:41] #1893 closed

[2019-01-09 15:42] adrichey commented on #1918
@ophelieh this is now ready for QA testing! Thanks!

[2019-01-09 15:54] ophelieh commented on #1878
@kmorton2017 could you test this today? It would be great to have that pushed live whenever the next push is. :)

Thank you!

[2019-01-09 17:11] adrichey commented on #1788
@ophelieh I think we should create another ticket for that second piece since it is in a different section of the UI and not really related to this work. I will create that now and link to this issue.

[2019-01-09 17:15] adrichey opened #1921 "Add helper text to company drop-down for registration"
**Is your feature request related to a problem? Please describe.**
It is not necessarily clear that someone should hit the enter key when using the Company selection drop-down during registration for mentors.

**Describe the solution you'd like**
Add some sort of disclaimer under Company when mentors register so they know to press 'Enter' to validate their company if it isn't in the drop-down list

[2019-01-09 17:15] adrichey commented on #1788
Created #1921 to address your addition @ophelieh.

[2019-01-09 17:30] #1897 closed

[2019-01-09 17:46] kmorton2017 commented on #1878
yes i will test it today

[2019-01-09 19:12] adrichey opened #1922 "Research Ticket: Barcelona, Spain users are being saved at Barcelona, Connecticut, USA"
**This is a research ticket only; the fix will come in a future ticket.**

Right now various accounts that enter their location as Barcelona, Catalonia, Spain are being saved to the database as Barcelona, Connecticut, USA.

We need to come up with a solution for these users so that we can store their proper lat/long combinations by either fixing this bug in the location form through the TC applica

[2019-01-09 21:11] adrichey commented on #1922
@ophelieh and @stenington I think I have found out why this is happening. And this might actually fix some of our greater issues with the location form. It looks like the `country` function in the `ActiveGeocoded` class that populates the country information isn't using the fully qualified country name from Carmen, so with a minor tweak to use the full country name instead of the country code, I h

[2019-01-09 22:12] kmorton2017 commented on #1878
I confirm that I saw the correct RA's in California. I did this for both student and mentor accounts.

@ophelieh im not sure if the waterloo and toronto case is an easy fix for the software team. it could just be that this case is exceptional since that RA covers two territories (ottawa and toronto) and an additional RA happens to be closer to one of her chapters.

[2019-01-09 22:20] ophelieh commented on #1878
Yeah, I agree @kmorton2017. I'm thinking of asking her to create an additional account to show up in Toronto.

I am good with closing this card. How do you feel @kmorton2017 ?

[2019-01-09 22:27] #1878 closed, assigned to stenington

[2019-01-09 22:30] adrichey commented on #1716
@Allicolyer, @ophelieh and @kmorton2017 Do any of you know what remains for this ticket? It looks like we might need to create new tickets based on the exploratory QA done previously, so I want to make sure that we have created those so that we can get this ticket closed. Thanks!

[2019-01-09 22:39] kmorton2017 commented on #1918
I confirm that Steps 1-9 happened as expected. I was able to navigate to the location screen. HOWEVER, I typed in United States in the country field and pressed enter. It immediately asked me to confirm that my location was Independence, Kansas. I needed to navigate back and edit to get my correct location.

This did not happen with an international RA sign up.

[2019-01-09 22:56] adrichey commented on #1922
@ophelieh I am thinking that testing these problematic regions should cover our bases when testing the location form with the fix. What are your thoughts? Do you have any to add?

City: Tel Aviv-Yafo
Country: Israel

City: Bethlehem
Country: Palestine

City: Paterna
State: Valencia
Country: Spain

City: Barcelona
Country: Spain

[2019-01-09 23:01] adrichey commented on #1918
That is probably due to browser behavior that occurs when hitting enter. Usually hitting enter will submit a form, so that is actually most likely intended @kmorton2017.

[2019-01-10 15:22] ophelieh commented on #1918
I was able to set the location as a new RA. However, I tried to set myself as an RA in Bethlehem in Palestine and it set me to the US - which I know is related to another ticket.

I created a second and was able to properly set my location as Madrid, Spain.

It's all good to go. Thank you!

[2019-01-10 15:22] #1918 closed

[2019-01-10 16:30] adrichey opened #1924 "Barcelona, Spain users are being saved at Barcelona, Connecticut, USA"
**Created from research done on #1922**

**Describe the bug**
Right now various accounts that enter their location as Barcelona, Catalonia, Spain are being saved to the database as Barcelona, Connecticut, USA.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an Admin
2. In the Admin dashboard, click Participants
3. Pull up any student or mentor account
4. Click Edit Location
5. Fill

[2019-01-10 16:32] adrichey commented on #1922
@ophelieh and @stenington I am closing this ticket since it was a research ticket. I have opened issue #1924 in order to actually fix the problem. Please comment on that #1924 issue going forward. Thanks!!

[2019-01-10 16:33] #1922 closed

[2019-01-10 16:38] stenington commented on #1861
I just changed `SIDEKIQ_DB_POOL_SIZE` to 9 because we started to see connection problems from sidekiq jobs.

[2019-01-10 16:46] adrichey commented on #1861
Awesome. Thank you Mike.

[2019-01-10 16:58] adrichey commented on #1924
Said pull request: #1925.

[2019-01-10 17:00] adrichey commented on #1892
Since this is a developer testable ticket and I have tested the Airbrake notification, I am closing the ticket.

[2019-01-10 17:00] #1892 closed

[2019-01-10 17:01] ophelieh commented on #1924
Sounds great! :)

Another city would be: Castello (that's how it's been entered by students. Full name is Castellón de la Plana)
State: Valencia
Country: Spain

[2019-01-10 17:03] ophelieh commented on #1849
Perfect! :)

[2019-01-10 17:05] ophelieh commented on #1921
Yay! Thank you for creating a ticket for this @adrichey . :)

[2019-01-10 17:11] adrichey commented on #1924
@ophelieh I added that as a test case in the above description. Thanks!

[2019-01-10 19:09] adrichey commented on #1924
@ophelieh and @kmorton2017 this is ready for testing. It has pretty specific test cases, so Kai or Nick could probably jump on testing this as well. As soon as this is tested I will cut another production release since this is preventing Barcelona users from populating their addresses.

[2019-01-10 20:15] nickiredescent commented on #1924
### I've separated each "context" into cases and took notes on steps that caught my eye. If no note is made, expected behavior occurred.

**Case 1 - Tel Aviv-Yafo**
During step 5: Typing Israel in the Country field yields a prompt asking to clarify between Israel or Palestine.
![image](https://user-images.githubusercontent.com/45576078/50994145-572f9500-14d0-11e9-8513-bdac7d89357a.png)

Step 7: Ex

[2019-01-10 20:22] adrichey commented on #1924
@nickiredescent Here are some notes:

**Case 1/1.5**
When it comes to Israel/Palestine, that is intended. There is some specific logic going on for those, so if we want to improve the functionality piece where Israel is checked even though Palestine is what was saved, we might want to create a follow-up ticket in the future.

**Case 4.5**
This also makes sense. The Barcelona Connecticut address is

[2019-01-11 15:18] adrichey commented on #1899
**For full context**

**Describe the bug**
The menu for selecting teams is a bit confusing, it does not update after clicking "save selected teams".

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as an RA
2. Create an event
3. Add some judges to your event (judges should be in the same region as the event)
4. Click "Save changes"
5. Click "Add Judges"
6. Observe that this menu has no

[2019-01-11 17:12] adrichey commented on #1909
@kmorton2017 @ophelieh @Allicolyer Just to confirm, we aren't using this data in any way, correct? I know we had talked about that in the past, but I want to double check before committing to this change. If we aren't using the information in any way, I am going to remove the column from the database. This means we won't know who signed up as a virtual judge previously. Is that okay? We won't be a

[2019-01-11 17:12] adrichey commented on #1909
Marking as blocked until I get a response on this.

[2019-01-11 17:12] ophelieh commented on #1924
Seems to be working great! I even created new profiles with some of the challenging regions and it worked like a charm. :)

[2019-01-11 18:00] adrichey commented on #1924
@ophelieh I have rolled this hotfix out to production, so our users in Barcelona should now be able to update their locations without encountering this bug. Thanks!

[2019-01-11 18:33] adrichey commented on #1914
@Allicolyer can you elaborate on what this means? I am confused by the wording. Maybe I am missing something.

"If the judge has any assigned teams - add number of assigned teams and the team names (this might require a split card)"

[2019-01-11 19:37] Allicolyer commented on #1801
Hey @adrichey this is pretty easy do to! Do you think we could get to it?

[2019-01-11 19:38] Allicolyer commented on #1921
Hey @adrichey I pulled this into to do.  What do you think?

[2019-01-11 19:40] Allicolyer commented on #1909
Yes I believe we discussed that we are not using this data for anything and are comfortable removing it. @kmorton2017 can you double confirm?

[2019-01-11 19:43] Allicolyer commented on #1917
Hey Alan! This looks great!

Let's have the error message say

"This email address is already in use by another student account. Please enter a different email address."

[2019-01-11 20:04] Allicolyer commented on #1914
Hey @adrichey!

So RAs can assign teams to judges. This means that the team will appear on the judge's dashboard and the judge will only be able to judge these teams.

Let me know if you want me to walk through what this feature is and how it works

[2019-01-11 20:16] adrichey commented on #1914
@Allicolyer I would love that walk through. Or if you can give me general steps in this ticket, that works too. Whichever you prefer. I am not seeing how to do that as an RA upon first glance, so some guidance would be nice.

[2019-01-11 20:18] adrichey commented on #1921
Thanks for pulling this in. I will get started on it soon.

[2019-01-11 20:25] adrichey commented on #1801
Yep, I can get to this soon.

[2019-01-11 21:36] ophelieh commented on #1716
So far I only tested the participants' aspect, which showed that we have some work to do.

I haven't tested Teams, Judges, Events, or Submissions. I could plan on doing that Monday morning.

[2019-01-11 21:50] #1904 closed

[2019-01-11 21:50] #1723 closed

[2019-01-11 21:52] Allicolyer commented on #1783
This bug still exists as of January.

[2019-01-11 21:54] Allicolyer commented on #1787
I believe we have discussed these things

- Sign up date does exist.
- Last Login date does not exist, but returning? does.

@kmorton2017 let me know if those two things are good enough here.

[2019-01-11 21:59] adrichey commented on #1787
Actually, we have a last logged in date in the database, but it only tracks when they sign in, and most of our users stay logged in for extremely long periods of time, so it may still not be particularly helpful.

[2019-01-16 16:14] adrichey commented on #1915
I ended up having to create two separate filters for this. Because we are using a general query for the various accounts in our system, coding one catch-all filter gets pretty convoluted in the codebase. And since we already had a separate "Onboarded Judges" I felt the two "Onboarded Students" and "Onboarded Mentors" filters were the way to go. Additionally, we have a couple of student accounts wi

[2019-01-16 16:15] adrichey commented on #1909
@kmorton2017 Can you take a look at this and provide your final yay or nay on this today or tomorrow so that I can finish this ticket up this week? Thanks!

[2019-01-16 18:02] adrichey commented on #1921
This is now ready for testing!

[2019-01-16 18:05] adrichey commented on #1899
This is now ready for testing!

[2019-01-16 18:05] adrichey commented on #1914
This is now ready for testing!

[2019-01-16 18:05] adrichey commented on #1801
This is now ready for testing!

[2019-01-16 18:05] adrichey commented on #1849
This is now ready for testing!

[2019-01-16 18:06] adrichey commented on #1916
This is now ready for testing!

[2019-01-16 18:06] adrichey commented on #1915
This is now ready for testing!

[2019-01-16 18:36] adrichey commented on #1917
@Allicolyer and @ophelieh it looks like this check already takes place for Students. A student cannot send a parental consent email to an account with a related student profile. They can however send one to someone who is a mentor/judge/RA. Is that okay? Or do we want to stop them from sending a parental consent to **any** existing account in the system. Could there ever be a case where we have a

[2019-01-18 19:07] ophelieh commented on #1917
HI @adrichey! I thought I had responded. Some mentors are parents, so it is ok if the parent email matches another account as long as it is not a student account.

I hope that makes sense

[2019-01-18 21:01] adrichey commented on #1917
@ophelieh Okay. Then in that case there is no code change that needs to go into place for this, so we can close this ticket. I am going to close this ticket as a result. We can reopen it later or create another ticket if that logic needs to change. Thanks!

[2019-01-18 21:01] #1917 closed

[2019-01-18 22:15] ophelieh commented on #1899
@nickiredescent @KaiLokken Could you test this today?

[2019-01-18 22:17] ophelieh commented on #1914
Hi @nickiredescent @KaiLokken for this one you will need to log in as an. You can use ra@ra.com

[2019-01-18 22:17] ophelieh commented on #1849
@nickiredescent @KaiLokken Please test this card

[2019-01-18 22:21] Allicolyer commented on #1909
@kmorton2017 said it's cool to delete!

[2019-01-18 22:33] kmorton2017 commented on #1916
i confirm that i was able to see the mentor training column and the "yes/no" responses on the participant page. I was able to download the csv file with the mentor training column visible.

[2019-01-18 22:37] adrichey commented on #1915
I just saw those errors come through on the server @kmorton2017. Looks like there is an issue when applying the new filter. I will need to work on this. I am wrapping up for the day, so I will pull this back into the To Do column. Thanks!

[2019-01-18 22:51] adrichey commented on #1915
@kmorton2017 Can you please test using the following filters:

Onboarded Mentors: No, still onboarding
More Columns: Mentor training (and whatever other columns you want)
Profile Type: Mentors

Onboarded Students: No, still onboarding
Profile Type: Students

I think the problem is that you aren't selecting a profile type first before applying the filter and it is bombing as a result. I was able to

[2019-01-18 23:05] nickiredescent commented on #1899
Card has been tested.
The add judges menu saves and updates upon clicking "Save Changes".

[2019-01-18 23:06] KaiLokken commented on #1899
I just tested, too. It saved the updates

[2019-01-18 23:22] KaiLokken commented on #1921
The new message about adding your company is up and running!

[2019-01-18 23:38] #1916 closed

[2019-01-22 15:12] adrichey commented on #1914
@KaiLokken The way you assign teams to a judge is a little weird. Basically, you need to add more than ten teams to an event, then add a judge to the event. From there, you will get a new button beside the team or judge name on either view where you can assign a judge to a team. That should then enable that CSV. I have time after 2pm PT to show you how to do this. In the meantime, you may want to

[2019-01-22 15:14] adrichey commented on #1849
@nickiredescent I will look into that error. Moving this back to the In Progress column.

[2019-01-22 15:16] adrichey commented on #1909
This is now ready for testing.

[2019-01-22 16:01] #1899 closed

[2019-01-22 16:24] adrichey commented on #1849
This is ready for testing again. Thanks for being so thorough Nick!

[2019-01-22 16:34] adrichey commented on #1924
Reopening after a discussion with @ophelieh about Barcelona once again not saving properly.

[2019-01-22 17:13] nickiredescent commented on #1849
Tested. I am able to input August 1st, 2009 as my birthdate and hte platform gives me expected feedback and lets me proceed. Thanks for your hard work!

[2019-01-22 17:48] #1849 closed

[2019-01-22 20:31] adrichey commented on #1924
@ophelieh that was related to this ticket. This work should cover that. :)

[2019-01-22 21:42] adrichey commented on #1924
This is once again ready for testing. Thanks!

[2019-01-22 21:42] adrichey commented on #1909
@Allicolyer can we go ahead and close this ticket since we saw this work while doing exploratory QA earlier?

[2019-01-22 21:48] ophelieh commented on #1924
@adrichey I tried a few different tricky locations (Palestine and Spain) and it seems to be working fine.

[2019-01-22 21:51] adrichey commented on #1924
Thanks for testing this @ophelieh! I am going to close this ticket again in that case. I will deploy this to production as soon as #1909 and #1914 get through QA. I don't want to roll out any hotfixes as we have a lot of code ready for deployment.

[2019-01-22 21:51] #1924 closed

[2019-01-22 21:52] ophelieh commented on #1914
@KaiLokken Could you retest today?

[2019-01-22 22:15] nickiredescent commented on #1909
Tested, I think it works? My uncertainty is more due to my lack of understanding than anything else.
There is no option to join a virtual judging committee during the required on-boarding survey. Upon completing the on-boarding survey as a new judge and the rest of the on-boarding process, I was immediately able to start virtually judging.

Questions:
From the wording on this card, I was under the

[2019-01-22 22:20] adrichey commented on #1909
@nickiredescent the checkbox being removed is the main thing. Essentially, this functionality wasn't being used. I had Katie and Ophelie confirm this in a meeting with Alli last week, and the decision was made to just remove it as it wasn't fully realized. So there really isn't much more to test. Thanks!

[2019-01-22 22:20] adrichey commented on #1909
Closing the ticket as there is nothing else to check on this.

[2019-01-22 22:20] #1909 closed

[2019-01-23 02:31] #1914 closed

[2019-01-23 17:34] Allicolyer opened #1935 "Judge Training link is broken"
**Describe the bug**
The judge training link should be this one: https://iridescentlearning.atavist.com/technovation-judge-training

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a judge
2. Click on the judge training link
3. Make sure the link is correct

[2019-01-23 17:48] Allicolyer opened #1936 "Judging Negative Sentiment Detector"
**Is your feature request related to a problem? Please describe.**
The negative sentiment detector was very buggy and expensive last year. We introduced it to help with negative comments and bad words, but it caused a lot of problems. For instance, it was overall buggy and caused some confusion. It also cost us a lot in API costs.

**Some possible solutions**

1. Removing it completely: This will

[2019-01-23 17:55] Allicolyer opened #1937 "Incomplete submissions should not show on RPE dashboards"
**Is your feature request related to a problem? Please describe.**
Right now teams that have incomplete submissions show up on RPE dashboards. We would like them to not show up.

**Acceptance Criteria:**

- Make sure events are turned on in the admin (admin@admin.com)
- Log in as an RA (ra@ra.com)
- Create an event
- Invite both teams with complete and incomplete submission to the event
- Invite a

[2019-01-23 18:00] Allicolyer opened #1938 "Suspicous scores get flagged at RPEs"
**Is your feature request related to a problem? Please describe.**
We would like suspicious scores not to get flagged at RPEs.

**Acceptance Criteria**
Part 1
- Turn on events in the admin (admin@admin.com)
- Log in as an RA and create an event (ra@ra.com)
- Invite teams and a judge to the event
- Turn on quarterfinals judging in the admin
- Log in as the judge
- Judge a submission really fast and

[2019-01-23 18:10] Allicolyer opened #1939 "Students using Thunkable Classic can't upload source code"
**Is your feature request related to a problem? Please describe.**
When you select Thunkable as your development platform, our site asks you to give your project URL. Thunkable classic does not provide URLs, only Thunkable X provides URLs

**Solutions**
- Ask them to select App Inventor for their development platform and provide help text (this will affect who is using App inventor versus Thunkabl

[2019-01-23 19:49] adrichey opened #1940 "Pending invites for mentors not appearing"
**Describe the bug**
Right now, when a student invites a mentor to be on a team, the mentor is not getting a notification on their dashboard to accept or deny this request.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a student with a team.
2. Invite a mentor who is fully onboarded and searchable for the team's location to the team.
3. Log in as the mentor.
4. Browse to Build Yo

[2019-01-23 21:05] Allicolyer opened #1941 "Reduce number of words required per comment"
Reduce the number of words required in each comment section.

@kmorton2017 and @ophelieh how many words would like you to set to?

**Acceptance Criteria**
1. As an admin, turn judging on
2. Log in as a judge
3. Judge a submission
4. Make sure that the number of words required is correct

[2019-01-23 22:58] adrichey commented on #1940
This is ready for testing. :slightly_smiling_face:

[2019-01-24 00:01] amyiridescent commented on #1940
So I followed the path. As a mentor who was sent an invite, yes the accept / decline option buttons do show up. When I deny it, and then log in as a girl on that team, I don't see that I ever sent an invite to that mentor. Is that how it is intended? (This might be a philosophical question since do we want kids to see that they were denied especially since the mentors can't give them a reason why.

[2019-01-24 00:11] kmorton2017 commented on #1940
One QA mentor (Bart Simpson) received the invite, saw it on his dashboard and accepted it.
Another QA mentor (Tom McGee)  did not see it on his dashboard. Not sure who owns this mentor acct (mentor@mentor.com) but would be worthwhile to see if an email invite was sent.

[2019-01-24 00:16] kmorton2017 commented on #1940
interesting. sorry folks i think i confused myself! this mentor already had a team which was the first thing i saw on my dashboard.  i needed to click "build your team." then i was able to see the invitation. disregard the above comment

[2019-01-24 00:32] amyiridescent commented on #1940
@kmorton2017 what about my comment above about "when mentor denies invite, students no longer see the mentor on the invite list at all"?

[2019-01-24 00:38] kmorton2017 commented on #1940
addressing your question in a separate slack message. but i think that would be a separate card regardless and outside the scope of this one.