[2018-03-22 19:35] joemsak commented on #1469
Yeah I dont really have any rules in the code to block them from switching to mentor mode again, and they won't lose their event assignment if they did it, so it would only be a problem if they click it before the RA adds them to the event. RA should instruct the person not to switch to mentor mode.

[2018-03-22 19:37] joemsak commented on #1469
@ophelieh can you test something else for me

Can you log in as a mentor, and make sure the last thing you did was on a mentor page, like the dashboard, or a team page, or whatever. Then close the browser window.

Then, as the RA, in a *private browser window* (very important), convert the mentor to a judge.

Then in a normal window again, visit the site as the mentor. Let me know if it takes you

[2018-03-22 19:38] joemsak commented on #1469
and finally, I would prefer @kmorton2017 has final say on this card as it is a new feature that I am proposing to her, she did not request it

[2018-03-22 19:38] ophelieh commented on #1447
It all works great.
A not onboarded virtual judge -  did not see the "start a score" link.
An not onboarded judge invited to a RPE - was able to see details

![uploads/f85aaadd-984d-4d2b-851d-5f1fb814caa0/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ff85aaadd-984d-4d2b-851d-5f1fb814caa0%2Fimage.png)

[2018-03-22 20:00] ophelieh commented on #1469
I followed the instructions and it did take me to the judge dashboard when I logged back in my mentor profile.

[2018-03-22 20:09] joemsak commented on #1469
nice! thanks @ophelieh I will now await final approval from @kmorton2017

[2018-03-22 20:48] kmorton2017 commented on #1469
ok everything looks good to me. i guess my only question is why is the mentor mode still there on the judge profile? it would be preferable to block. unless it will take too much time with the code.

[2018-03-22 20:50] kmorton2017 commented on #1447
@ophelieh do you think its confusing to see this line?

"If your Regional Ambassador invites you to a live event, you will receive an email, and details will appear here." ie there are hundreds of judges are not going to be invited to a live event

[2018-03-22 21:01] joemsak commented on #1469
i just don't see it as that big of a deal, if the mentor never joined a
team, it's not likely they have much use for mentor mode, and the RAs
handpick their judges for live events, so they generally have some trust
there

On Thu, Mar 22, 2018 at 2:48 PM, kmorton2017 <notifications@github.com>
wrote:

--
Joe Sak
Technovation Web Development

Slack name: @joemsak

US, Text only
+1 (312) 945-6317

Me

[2018-03-22 21:10] #1469 closed

[2018-03-22 21:42] ophelieh commented on #1447
@kmorton2017 I don't think it is, especially because it is in another color. It might be more confusing not to have it, and judges who know they are going to attend RPEs might ask us why they see "online judging" (if they haven't been invited to the event at that time).

[2018-03-22 21:50] joemsak commented on #1447
@kmorton2017 @ophelieh check the updated text on QA now, see if it's clearer

[2018-03-22 21:54] ophelieh commented on #1447
Looks good to me.

[2018-03-22 21:57] joemsak commented on #1447
thanks @ophelieh I'll await confirmation from @kmorton2017 as she was more concerned with the wording

[2018-03-22 22:31] joemsak opened #1470 "Remove scores / judge assignments when Team or Judge is removed from an Event"
QA:

- ensure you have a Regional event with a team and judge assigned
- As Admin, Enable judging
- Log in as the judge assigned to the event
- Start the score for the team
--- you dont have to finish it
--- simply verify it is now a score in progress on your dashboard

- login as the RA
- remove the team
- log in as the judge again
- verify the score is no longer in progress for you, nor is the t

[2018-03-23 20:34] #1447 closed

[2018-04-02 21:28] joemsak opened #1472 "Rate limiting scores"
Flag scores of judges who finish a new score in 10 minutes or less, twice in a row, for admin review

Virtual judges only

Warn the judges with timers - first warning is a 5 min. cooldown. 2nd warning is 20 min.

helpful text to explain what's going on

3rd strike - blocked with support email CTA

Notify staff with email

[2018-04-02 21:30] joemsak opened #1473 "Mentors view scores UI (without certificates)"
You can check out the scores UI for mentors on QA now

- As admin, set scores / certs enabled
- Use this account for a mentor who is on two teams.

username: alli+m1@iridescentlearning.org
password: alli+m1@iridescentlearning.org

- Verify you can read all your QF scores

- Do NOT expect certificates to work for this card

[2018-04-03 17:19] Allicolyer opened #1474 "Admin: Completed Judge Training?"
Add a column for if judges have completed training

[2018-04-03 17:44] #1452 closed

[2018-04-03 17:44] joemsak opened #1475 "Judging Test: Virtual Judge who is not a mentor"

[2018-04-03 18:38] joemsak opened #1476 "Judging Testing: Virtual judge who is a mentor on a junior team"

[2018-04-03 18:39] joemsak opened #1477 "Judge testing: Virtual judge who is a mentor on a senior team"

[2018-04-03 18:39] joemsak opened #1478 "Judge testing: Virtual judge who is a mentor on teams in both divisions"

[2018-04-03 18:39] joemsak opened #1479 "Judge testing: Live event judge at a small event"

[2018-04-03 18:40] joemsak opened #1480 "Judge testing: Live event judge 1 at large event, assigned 5 teams"

[2018-04-03 18:40] joemsak opened #1481 "Judge testing: Live event judge 2 at large event, assigned 3 teams"

[2018-04-03 18:40] joemsak opened #1482 "Judge testing: Live event judge 3 at large event, assigned 5 teams"

[2018-04-09 13:54] Allicolyer commented on #1482
From Katie: I confirm that I can see the correct teams.

[2018-04-09 14:01] Allicolyer commented on #1476
From Katie:

[2018-04-09 14:02] Allicolyer commented on #1476
I will double check with her and make sure she didn't mean junior

[2018-04-09 14:11] #1482 closed

[2018-04-09 14:11] Allicolyer commented on #1479
From Katie: I confirm that I can see the correct teams.

[2018-04-09 18:59] #1430 closed

[2018-04-09 18:59] #1274 closed

[2018-04-09 18:59] joemsak commented on #1274
This has been fixed

[2018-04-09 20:18] #1314 closed

[2018-04-09 20:19] #976 closed

[2018-04-09 20:20] #894 closed, assigned to nobody

[2018-04-09 20:20] #1132 closed, assigned to nobody

[2018-04-09 20:21] #1138 closed, assigned to nobody

[2018-04-09 20:21] #1147 closed, assigned to joemsak

[2018-04-09 20:21] #1149 closed, assigned to joemsak

[2018-04-09 20:21] #1178 closed, assigned to joemsak

[2018-04-09 20:21] #1152 closed, assigned to nobody

[2018-04-09 20:47] joemsak opened #1484 "Live judges can be virtual in same round after completing their live event scores"

[2018-04-09 21:40] joemsak opened #1485 "Deferring Celebration event scores - how do we communicate these to RAs in the Scores UI?"

[2018-04-09 21:41] #1391 closed

[2018-04-09 21:43] joemsak opened #1486 "Judges path to get and view certificates"
Judges will get certificates on the platform. They will get badges on linked in.

[2018-04-09 21:43] #1392 closed

[2018-04-09 21:43] #1172 closed

[2018-04-09 21:47] #1315 closed

[2018-04-09 21:56] joemsak opened #1487 "Admin / RA Submissions UI : Filter incomplete submissions"

[2018-04-09 22:12] #1248 closed

[2018-04-09 22:17] #1192 closed, assigned to nobody

[2018-04-10 13:14] joemsak opened #1489 "Admin Participant Debugging: Ensure 'DELETE' is at the bottom of page"
As an Admin

Verify that when viewing each profile type, the big red scary delete button is always at the bottom below everything else

[2018-04-10 14:49] joemsak opened #1490 "Judging: Only submissions which have been PUBLISHED are eligible"
Only fully qualified teams can publish a submission, so only PUBLISHED submissions will be judged

- Fully qualified team: has students, ALL completed ALL onboarding steps
- Published - Finished the "Submit for judging" workflow
- Removing required items from your submission "unpublishes" your submission

[2018-04-10 18:36] joemsak opened #1491 "Admin / RA Teams UI: Filter by teams with all onboarded students (or some still onboarding)"
As an Admin and an RA

Verify you can filter teams which have all their students onboarded or not

This determines which teams will be able to submit for judging

[2018-04-11 14:13] joemsak opened #1492 "Admin / RA - Filter onboarded judges"
As an Admin and RA

You can filter by accounts which have fully onboarded or still onboarding judge profiles

Note that yes you will see mentors and RAs in this list, if they have judge profiles

[2018-04-11 14:21] joemsak opened #1493 "Remove 'Code Checklist' from the Judging UI"
Staff has decided not to show the code checklist during judging

QA:

As a judge, ensure "Review Submission" and "Technical" do not show the Code Checklist answers, but only a message that the team automatically earned X points for it

[2018-04-11 14:28] Allicolyer commented on #1493
👍

[2018-04-11 14:36] joemsak opened #1494 "Admin / RA - Judge survey answers"
As an Admin and RA

- You can add the following extra columns
-- Virtual judge committee
-- Judge industry
-- Judge skills
-- Judge degree

And they will correspond with actual judge survey answers - it is recommended that you use one of your own judge profiles to verify the answers match, especially if you choose "other" for industry

[2018-04-13 13:38] #1474 closed

[2018-04-13 13:38] #1451 closed

[2018-04-13 20:17] kmorton2017 commented on #1494
As an admin, I Initially clicked the "onboarded judges" filter and added it as a column as well.  It would not remove it as a filter. There are also not any x's on the columns if I don't want them anymore.

I'm not sure how I can verify my survey answers as a judge. It doesn't look there is an option once I already have completed the survey.

[2018-04-13 20:25] kmorton2017 commented on #1491
I can filter teams by ones which students are on-boarded or not.
However, the count appears wrong. The total on admin is 44 teams. But the count is 23 onboarded and 7 not onboarded=30.

I can't remove the filter and the columns do not have x's to remove them.

[2018-04-13 20:28] kmorton2017 commented on #1492
Yes can filter by fully onboarded and no, still onboarding.

Cannot remove filter and columns do not have x's

[2018-04-16 13:30] joemsak commented on #1491
Thanks Katie. I updated the team onboarded students filter with another option for "No, has no students" which should clarify the counting error. "Some students onboarding" only reports teams which have students, hence the discrepancy.

The UI bug with the 'X' reported in all these tickets will be resolved in a new ticket, as the same bug affects them all

[2018-04-16 13:31] #1492 closed

[2018-04-16 13:54] joemsak opened #1495 "Admin UI bug: filters / columns are missing the 'close X' button"

[2018-04-17 13:49] joemsak commented on #1494
@kmorton2017 good point, I added the survey answers to the judge's own profile page

[2018-04-17 15:38] joemsak commented on #1461
Update: Comments would not fit to keep everything one one page per score. Had to cut them

[2018-04-17 19:46] ophelieh commented on #1495
Works great! :)

[2018-04-17 19:58] ophelieh commented on #1491
Admin & RA: works great for most teams

For other teams (ex: plant lovers, over the rainbow) it takes me here:
![uploads/29160b2e-cce4-4a81-82b6-b2711306d582/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F29160b2e-cce4-4a81-82b6-b2711306d582%2Fimage.png)

[2018-04-17 20:03] #1495 closed

[2018-04-17 20:08] ophelieh commented on #1493
Looks great! On another note, the "Overall Impression" page is not working properly. As you scroll down the Overall Comment box scrolls down too.

![uploads/19f577fd-4d96-4303-b473-35808f2521e9/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F19f577fd-4d96-4303-b473-35808f2521e9%2Fimage.png)

[2018-04-17 20:19] ophelieh commented on #1489
Works great! :+1:

[2018-04-17 20:19] #1489 closed

[2018-04-17 22:42] RRios00 commented on #1491
I get the same issue as Ophelie. There’s an issue seeing the other teams.

[2018-04-17 23:09] RRios00 commented on #1461
Initiating team management took a very long time. The wheel wouldn’t stop spinning and I had to restart the screen a few times.
![uploads/04d8ac6a-b1ba-4659-b64a-81fa9597b69a/Screen Shot 2018-04-17 at 4.04.20 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F04d8ac6a-b1ba-4659-b64a-81fa9597b69a%2FScreen+Shot+2018-04-17+at+4.04.20+PM.png)

[2018-04-18 01:24] kmorton2017 commented on #1494
I confirm that I can see the survey answers as a judge and as an RA on the partcipant page

[2018-04-18 01:38] kmorton2017 commented on #1493
Can we make the source code link blue so its more intuitive to click?

can we add "Code Checklist" as a titel above the "____ automatically earned 10 points for their code checklist" text?

[2018-04-18 01:39] kmorton2017 commented on #1448
do you need me to test this @joemsak

[2018-04-18 13:29] joemsak commented on #1461
@ruby probably event selection isn't enabled by the admin

You should use the event that already has enough teams, "Ruby's Coffee House"

[2018-04-18 13:36] joemsak commented on #1448
@kmorton2017 I forget why we said you will test it later. Yes please go ahead and test it.

[2018-04-18 13:43] #1490 closed

[2018-04-18 14:16] joemsak commented on #1493
@kmorton2017 I added the title, and making the link blue won't look good on the mulberry background so I instead added a 'code' icon to match the style of the pitch and demo video link so that it's consistent

[2018-04-18 14:25] joemsak commented on #1491
Thank you @ophelieh and @rrios00 I believe this is a case of faulty QA data, the students on those teams don't have accounts. it might be about time to wipe QA and start from scratch

[2018-04-18 14:25] #1491 closed

[2018-04-20 14:40] joemsak opened #1496 "Admin Judges UI"
As the admin

- You can visit a new "judges" section
- You can search by name and email

- You can filter by:
-- Live or virtual judges
-- Onboarded judges
-- Region (country, state, city)
-- If they have a mentor profile

- You can see columns about
-- If they have a mentor profile
-- First, last name, email
-- All their survey questions (industry, skills, degree, virtual committee)
-- # of score

[2018-04-20 15:21] #1053 closed, assigned to nobody

[2018-04-24 19:04] Allicolyer opened #1497 "Submission CSV"
Create a CSV download for admins that includes this information for submissions.

- App Name
- App Description
- Pitch Video Link
- Demo Video Link
- Source Code (y/n)
- Business Plan (y/n)
- Code Checklist Points

Needed for fundraising purposes.

[2018-05-01 17:05] #1448 closed

[2018-05-02 21:51] kmorton2017 commented on #1496
I was able to verify all of the above. The only question I have is the "Verify that this count ONLY increments when the judge completes a score"

I'm not sure what that means. As a judge I completed a score. This then correctly showed up in the # of scores column.

[2018-05-02 21:56] joemsak commented on #1496
Oh thank you @kmorton2017 :) Yes, you are close. Just ensure that starting another one (without finishing it) will not make that count go up :)

[2018-05-02 22:06] kmorton2017 commented on #1461
i had added Old Timer to  Ruby's Coffee House, and assigned teams to this judge. i signed out and back in again and the judge is not showing up anymore.

[2018-05-04 16:50] #1493 closed

[2018-05-08 21:39] Allicolyer opened #1502 "Create 'semi-finals' judges"
Only judges who have judged 5 or more submissions will become 'semi-finals' judging

[2018-05-08 22:25] Allicolyer opened #1503 "Admins need page to view suspicious judges"
Need to create a place where admins can see a judge and all the scores they have given

[2018-05-10 00:03] #1479 closed

[2018-05-10 00:03] #1481 closed

[2018-05-10 00:03] #1480 closed

[2018-05-10 00:03] #1476 closed

[2018-05-10 00:03] #1475 closed

[2018-05-10 00:03] #1477 closed

[2018-05-10 00:06] Allicolyer opened #1505 "Show judging type in submission CSV"
Program staff would like to see which judging type teams are receiving in the submission CSV. "live" or "virtual". This will help them estimate how many scores are left to do.

[2018-05-10 00:08] Allicolyer opened #1506 "Separate "complete" scores from "unofficial complete" scores"
Separate "complete" scores from "unofficial complete" scores in the admin score view.

[2018-05-15 17:07] Allicolyer commented on #1502
@joemsak are you aware of this? Do you want to chat about it?

[2018-05-15 17:15] joemsak commented on #1502
Okay I think it makes sense. Only enable judging for people with 5 or more QF scores from this year

[2018-05-15 17:18] Allicolyer commented on #1502
@joemsak so Amy and Madhavi are going to make sure we really this feature -- we might not have enough judges who qualified. I will update you with what they say.

[2018-05-21 19:35] Allicolyer opened #1507 "Add Country column to scores CSV Export"
@joemsak needed by Wednesday to determine semi-finalists

[2018-05-21 22:15] #1470 closed

[2018-05-21 22:15] #1478 closed

[2018-05-21 22:16] Allicolyer commented on #1455
@joemsak let me check in with Katie and see if she still wants this -- I know there has been difficulty with getting scores at RPEs

[2018-05-21 22:30] kmorton2017 commented on #1455
i think that we decided against this due to the challenges of getting judges to submit scores on time and unique cases that are relatively common

[2018-05-21 22:41] Allicolyer commented on #1455
@kmorton2017 thank you for clarifying!

[2018-05-22 17:10] #1455 closed

[2018-05-22 17:11] #1502 closed

[2018-05-22 17:12] Allicolyer commented on #1507
@amyiridescent could you QA this :D?

[2018-05-22 17:13] Allicolyer commented on #1497
@amyiridescent do we still need this?

[2018-05-22 17:19] #1505 closed

[2018-05-22 17:27] amyiridescent commented on #1497
nope. Joe already built this report on the platform.

[2018-05-22 17:30] #1497 closed

[2018-05-22 17:34] amyiridescent commented on #1507
I am trying to but it has been more than 10 mins and the csv won't create to be downloaded.

[2018-05-22 17:34] Allicolyer commented on #1486
@RRios00 Hey Ruby! Do we have a certificates for judges?

[2018-05-22 17:34] Allicolyer commented on #1422
@joemsak this is still needed for the end of the year

[2018-05-22 17:35] Allicolyer commented on #1484
@joemsak we want to allow live event judges to be virtual judges in semi finals

[2018-05-22 17:37] #1450 closed

[2018-05-22 17:38] Allicolyer opened #1508 "Live Event Judges can be Virtual Semifinal Judges"

[2018-05-22 17:38] RRios00 commented on #1486
Hey Alli! Yes they're located in the Dropbox, I'll share the folder with
you in a bit.

On Tuesday, May 22, 2018, Alli Colyer <notifications@github.com> wrote:

--

*Ruby Ríos*

Product Designer

Iridescent | Curiosity Machine <http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>

Tomorrow belongs to our children. Donate
<https://iridescentlearning.org/donation-impa

[2018-05-22 17:48] joemsak commented on #1507
@amyiridescent the site was under maintenance during this time, try again

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Tue, May 22, 2018 at 12:34 PM, amyiridescent <notifications@github.com>
wrote:

[2018-05-22 17:50] joemsak commented on #1484
This is already true, I gave you the scenarios in slack on how to test this on QA @Allicolyer

[2018-05-22 17:54] Allicolyer commented on #1486
@RRios00 thank you :D

so we need to work on a way for judges to see certificates

[2018-05-22 18:03] joemsak commented on #1508
Just try these scenarios on QA (you might want to ask about 3 people from the last judging QA round to come back)

- As admin Set judging to SF
- Ensure some submissions are marked as Semifinalists

- Judge who had assigned teams can do virtual judging
- Judge who was at an event (or multiple events) without assigned teams can do virtual judging
- Virtual judge from QF can do virtual judging

[2018-05-22 18:05] #1461 closed

[2018-05-22 18:16] RRios00 commented on #1486
Yeah, it'll be similar

On Tue, May 22, 2018 at 11:15 AM, Joe Sak <notifications@github.com> wrote:

--

*Ruby Ríos*

Product Designer

Iridescent | Curiosity Machine <http://curiositymachine.org/> & Technovation
<http://www.technovationchallenge.org/>

Tomorrow belongs to our children. Donate
<https://iridescentlearning.org/donation-impact/> or volunteer
<http://iridescentlearning.org/volunteer/>

[2018-05-22 20:28] joemsak commented on #1473
@Allicolyer Can I get you to outline in the card for me, how staff wants each certificate to work? Who should get which certificates? Thanks!

[2018-05-22 21:16] Allicolyer commented on #1503
Hey this is looking okay. The header of the table is a bit ugly, but I don't mind for now.

I did notice this:
![uploads/e7c02d2d-0809-45a1-907f-32432be7d73b/Screen Shot 2018-05-22 at 2.15.54 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fe7c02d2d-0809-45a1-907f-32432be7d73b%2FScreen+Shot+2018-05-22+at+2.15.54+PM.png)

I'm not sure how people have negative scores. Perhaps th

[2018-05-23 18:23] joemsak opened #1509 "Students: Scores UI (without Certificates)"
You can check out the scores UI for students on QA now

- As admin, ensure you have teams with completed QF scores
- As admin, set scores / certs enabled
- Login as a student on the team with the QF scores

--- READ IF YOU LOGIN AS STUDENT FROM ADMIN
------- be aware the total shown that sticks to the top of the page is impacted by the extra "logged in as ..." admin bar
------- logging in directly

[2018-05-24 00:26] Allicolyer commented on #1503
@amyiridescent could you QA this?

[2018-05-24 00:30] Allicolyer opened #1510 "Moving teams to semi-finals"
QA needed:

1. In the admin, change a few teams to semifinalists (remember which ones)
2. Change the judging round to semifinals
3. Log in as a virtual judge (make sure you are not a mentor for any teams) and make sure you can judge the semifinalists that you selected.

Use this if you do not have a virtual judge account:
email: alli+m3@iridescentlearning.org
password: alli+m3@iridescentlearning.o

[2018-05-24 02:03] ophelieh commented on #1508
All judges are able to score semi-finalist no matter if they were at live events or virtual judges.

The only thing I noticed is regarding score, but that might be part of another ticket.

[2018-05-24 02:13] ophelieh commented on #1510
Hi Alli, I actually tested this without realizing it. It works great! :)

[2018-05-24 16:14] Allicolyer commented on #1508
Thank you for the super fast QA @ophelieh!

[2018-05-24 16:33] amyiridescent commented on #1503
I think this looks good.
Question: there are no judges who have done judging on staging. When you click on "actions", what will you see for those who did judging? Each score or their judge profile?

[2018-05-24 16:36] Allicolyer opened #1511 "Improve Admin Score detail view"
Add ways to see which score are for semifinals and which ones are for quarterfinals

[2018-05-24 16:41] kmorton2017 commented on #1510
I confirm that I saw the new semifinalist teams California Coders and Katie Team 1.

However, it looks like there may be something wrong with the count?

For example:
Ophelie2 has 3 incomplete scores and 0 complete on the scores page. When i click on view, it says that she actually has 1 complete -Sabrina Spellman and 3 incomplete.

So the complete score for this team is not being reflected on the

[2018-05-24 16:46] ophelieh commented on #1510
@kmorton2017 From what I deducted, the complete score is for the quarterfinals that's why it doesn't show on the score page.

[2018-05-24 16:48] kmorton2017 commented on #1510
one question-are mentors not able to judge during the semifinals? i saw that you specified to login as a judge only account @Allicolyer

[2018-05-24 17:09] kmorton2017 commented on #1508
Judge with unassigned teams at an RPE-confirm that I can see semifinalist teams.

[2018-05-24 17:33] kmorton2017 commented on #1508
I think I'm a little confused about something. Under the "Manage your Scores" section, am I able to edit previous scores given in the quarterfinals?

I am logged in as Joe Mason. I'm not sure, but I think he has completed scores for the quarterfinals. But I don't see them. I also don't know if the finished scores refers to ALL finished scores or just semifinals.

![uploads/12c96130-354c-4699-adee-

[2018-05-24 17:49] Allicolyer commented on #1508
@kmorton2017 thank you! So you should be able to click on "quarterfinals" to see your scores from quarterfinals. Let me know if that works.

[2018-05-24 17:51] Allicolyer commented on #1510
@kmorton2017 mentors can judge during semifinals. It is possible that the submissions that are semi-finalists can't be seen by the mentors because they have a team in same region or division.

[2018-05-24 17:58] Allicolyer opened #1512 "Remove event details from Judge Dashboards for Semfinals"
For virtual judges from Round 1 - we might want to remove the text about pitch event (see below) on their dashboard as it could get confusing.
![uploads/e844d05f-a6dc-486e-927e-0354988f3feb/68747470733a2f2f73332d75732d776573742d322e616d617a6f6e6177732e636f6d2f70726f642e6875626f6172642e636f6d2f75706c6f61647325324631363737663537382d376239382d343836642d626362642d643334616239386633366463253246696d6167

[2018-05-24 18:21] kmorton2017 commented on #1510
got it. I think that was the case with the mentor I logged in as and the available submissions to review. ^

[2018-05-24 18:25] Allicolyer opened #1513 "Improve the way we define "regions" for judging"
Improve the way we define "regions for judges" according to how we define them for selecting finalists and semi-finalists.

Definition of "regions" over the past few years:
https://docs.google.com/spreadsheets/d/1glSvAXsG7sdsiPU-9XGsnOI9thhNeS7COftBCim_IWA/edit#gid=0

[2018-05-24 18:29] Allicolyer commented on #1510
Thank you @kmorton2017 !

[2018-05-24 18:30] Allicolyer commented on #1510
@ophelieh and @kmorton2017 I have created a new card about improving the admin UI for viewing scores.

[2018-05-24 18:30] #1510 closed

[2018-05-24 19:42] amyiridescent commented on #1503
Looks good. :)

[2018-05-24 20:08] joemsak opened #1514 "Students view certificates"
QA Instructions:

As admin, set scores / certs enabled

1. Students with more than 50% of their submission complete a certificate of participation:
<ul>
<li>username: alli+s4@iridescentlearning.org
</li><li>
password: alli+s4@iridescentlearning.org
</li>
</ul>

2. Quarterfinalists students get a certificate of completion:

<ul>
<li>username: alli+s10@iridescentlearning.org
</li><li>
password: alli

[2018-05-24 20:08] joemsak opened #1515 "Mentors view certificates"
QA instructions

- As admin, set scores / certs enabled
- Log in as each of the following

Mentor on many teams:
username: alli+m1@iridescentlearning.org
password: alli+m1@iridescentlearning.org

Mentor on no teams
username: alli+m2@iridescentlearning.org
password: alli+m2@iridescentlearning.org

[2018-05-24 20:29] Allicolyer commented on #1473
@joemsak I will answer this on the other card.

[2018-05-24 20:39] Allicolyer commented on #1104
@joemsak does this not already work?

[2018-05-24 20:45] joemsak commented on #1104
Could QA it real quick

[2018-05-24 20:48] Allicolyer commented on #1104
@kmorton2017 @ophelieh could you guys also QA this :)

[2018-05-24 20:49] Allicolyer commented on #1508
@kmorton2017 There is a new card for this now

[2018-05-24 20:49] #1508 closed

[2018-05-24 20:51] Allicolyer commented on #1503
Thank you @amyiridescent !

[2018-05-25 16:14] Allicolyer commented on #1511
@ophelieh @kmorton2017 this has been fixed as well. Can you check it out?

[2018-05-25 16:15] Allicolyer commented on #1512
@ophelieh we addressed your comment :) you can check it out.

[2018-05-25 16:32] Allicolyer commented on #1511
@amyiridescent could you QA this on Tuesday? I think it is of interest to you.

[2018-05-25 18:14] ophelieh commented on #1512
Looks good Alli! :)

[2018-05-25 18:15] ophelieh commented on #1511
@Allicolyer Looks great! Definitely easier to check the scores. :)

[2018-05-25 18:21] ophelieh commented on #1104
Looks good, one thing I would change is the wording for the quarterfinal scores. Could we say "View your QF scores" instead of "review your QT scores"? It makes it sound like you could edit your score for the previous round.

[2018-05-25 18:29] ophelieh commented on #1509
Hi Joe! It looks great, I love how it looks and how easy it is to use! :)

Now that I turned judging off though, I can see the "pitch presentation upload" on the student dashboard. Is there a way for us to remove it, or do you have to do it?

![uploads/251002a9-3a2e-4389-b0cd-dc2e66c133b6/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F251002a9-3a2e-4389-b0cd-dc2e66c133b6%

[2018-05-25 19:07] Allicolyer commented on #1512
Thanks @ophelieh!

[2018-05-25 19:07] #1512 closed

[2018-05-25 19:11] Allicolyer commented on #1509
Great point. Thank you @ophelieh.

[2018-05-25 19:16] Allicolyer opened #1516 "Remove pitch presentation upload field for scores and semifinals"
Remove pitch presentation upload fields for both mentors and students during scores and semifinals

![uploads/fdc6ab18-aadf-42de-921d-859ca4382068/68747470733a2f2f73332d75732d776573742d322e616d617a6f6e6177732e636f6d2f70726f642e6875626f6172642e636f6d2f75706c6f61647325324632353130303261392d336132652d343338392d623063642d646332653636633133336236253246696d6167652e706e67.png](https://s3-us-west-2.amazon

[2018-05-25 19:31] joemsak commented on #1509
Thanks @ophelieh take another look in about 20 minutes if you can!

[2018-05-25 19:35] Allicolyer commented on #1514
@joemsak Asking about certs is in progress

[2018-05-25 19:39] Allicolyer commented on #1509
@joemsak @RRios00 this is looking fantastic. However, there is no place that shows the average score for the round

[2018-05-25 20:55] Allicolyer commented on #1514
1. Students with more than 50% of their submission complete get this certificate of participation:
https://www.dropbox.com/s/wxoxi91zd97cety/CertificateofParticipation_2018-digital.pdf?dl=0

2. Quarterfinalists students get this certificate of completion:
https://www.dropbox.com/s/cy17yktogrgc6ri/CertificateofCompletion_2018-digital.pdf?dl=0

3. Semifinalists students get the semifinalists certifi

[2018-05-25 20:55] Allicolyer commented on #1515
asking program team in progress

[2018-05-25 20:56] Allicolyer opened #1517 "Judges view certificates"
QA Instructions:

As admin, set scores / certs enabled

Judges who completed on boarded and graded at least one submission get this general judge certificate:
<ul>
<li>Username: judge@judge.com </li>
<li>Password:  judge@judge.com </li>
</ul>

Also try

<ul>
<li>Username: judge2@judge.com </li>
<li>Password:  judge2@judge.com </li>
</ul>

Judges who completed at least 5 scores get the certified ju

[2018-05-25 21:08] ophelieh commented on #1509
Looks great! Love that they can see their scores AND submission. :)

I agree with Alli that it would be nice for the teams to see their average score.

And for the submission part, could we change the title from "Submission Progress" to "Your Submission" or just "Submission"?

Thank you! And enjoy the long weekend!

[2018-05-25 21:37] Allicolyer commented on #1515
1. All mentors matched with a team get a certificate of mentoring
https://www.dropbox.com/s/3zsp6vhgt6qu58f/CertificateofMentor_2018.pdf?dl=0

2. Mentors who have a semifinalist team get a certificate of mentoring AND a certificate of semifinalist
https://www.dropbox.com/s/vm7r9p8it2lycoo/CertificateofSemifinalists_2018-digital.pdf?dl=0

[2018-05-25 21:55] Allicolyer commented on #1517
@RRios00 Hey Ruby!

We need to create one more judge certificate. It will be a general judge certificate for those who completed less 5 submissions.

[2018-05-25 22:28] RRios00 commented on #1517
Hey @Allicolyer !
The Certified Judge, Head Judge, and Judge Advisory are in the Digital Distribution folder in the DropBox. I will put the General Judge certificate there.

[2018-05-25 22:34] Allicolyer commented on #1517
Thanks @RRios00 !

[2018-05-25 22:44] RRios00 commented on #1517
@Allicolyer It's been upload

[2018-05-29 16:00] joemsak commented on #1104
Thanks @ophelieh and @Allicolyer - take another look today

[2018-05-29 16:29] Allicolyer commented on #1517
hey @RRios00! Instead of "general judge" can you change it to just call them "judges". Also it still says "certified judge" at the bottom of the certificate.

[2018-05-29 16:39] Allicolyer commented on #1514
actually @RRios00 it doesn't look like the certificate of completion was made for students. Could you make one for students. It can have the same language of the participation certificate. Maybe something like:

"in recognition of your completion of the 2018 Technovation season"

thank you :)

[2018-05-29 16:56] joemsak commented on #1509
@ophelieh @Allicolyer thanks and please check again today

[2018-05-29 18:07] Allicolyer opened #1518 "Improve Admin Score CSV"
Comments from Amy:

1. When you export the CSV, I am not sure which round of scores it is pulling. Maybe it is a mix? If so, it will be good to have a column for "contest rank".
2. Can we also have a export file for average scores for semi final round?

[2018-05-29 18:07] Allicolyer commented on #1511
Thanks @amyiridescent! I added a card for the score CSV export.

[2018-05-29 18:30] joemsak commented on #1518
1. It will now obey the filter, and have the contest rank column

2. I need more information on what this means specifically. Can I have a concrete example?

[2018-05-29 18:34] joemsak commented on #1516
or just turn judging off after the QF date (may 22)

[2018-05-29 18:34] Allicolyer commented on #1511
@joemsak can you address the "back button" comment?

[2018-05-29 18:39] joemsak commented on #1511
@Allicolyer @amyiridescent check again today (20 min or later)

[2018-05-29 19:00] joemsak commented on #1518
Sorry, had a bug, will put back in test when bugs gone and I have tested it on QA

[2018-05-29 19:29] joemsak commented on #1518
Okay seems to work to me now

[2018-05-29 19:40] joemsak commented on #1518
Also for the next deploy (20 min from this comment) you should get helpful database ID columns for easier debugging with me Alli or mike:

id	team_id	team_submission_id	judge_account_id

[2018-05-29 21:45] Allicolyer opened #1519 "Add "rank" as one of the outputs for the submission CSV"
Admins need to see the "rank" of a team as a quarterfinalist or semifinalists on the submission CSV

[2018-05-30 13:47] joemsak commented on #1104
Yeah sorry that's the public version of the submission page so it doesn't
have those links cos it doesn't know if you're a student or whatever, it
doesn't expect anyone to be logged in

[2018-05-30 14:01] joemsak commented on #1104
The public submission link will now open in a new window, and the text has been updated as requested

[2018-05-30 19:34] ophelieh commented on #1104
Looks great! Thank you!

[2018-05-30 20:09] ophelieh commented on #1509
Looks and works great!

[2018-05-31 16:55] amyiridescent commented on #1518
So it looks like you can't download a csv with quarter finals AND semi finals at the same time. That is fine. We just need to make sure we select a filter for "rounds" before downloading.

[2018-05-31 17:51] Allicolyer commented on #1511
@amyiridescent could you check on this again :)

[2018-05-31 17:52] Allicolyer commented on #1518
@amyiridescent is everything else okay?

[2018-05-31 17:55] Allicolyer opened #1520 "Need App Inventor Gmail accounts and App Inventor project names"
Hey @joemsak ,

This is a one time list that I need of all the teams' who used App Inventor's Gmail Accounts and their App Inventor Project names. Can you help me pull this data?

[2018-05-31 18:06] amyiridescent commented on #1518
Yes ma'am

[2018-05-31 18:13] kmorton2017 commented on #1511
When i clicked on "view" see their scores I could see a breakdown of whether it was complete vs. incomplete. Super helpful.

I wonder if we could have a column for semifinalists scores on the main page? That way when you are on the main score page you could glance at it and see the # of complete vs. incomplete scores for semifinalists.

For example, here is a gif for California Coders. I see that

[2018-05-31 18:18] kmorton2017 commented on #1516
I did not see a field to upload pitch presentations.
I was able to see my certificate.

[2018-05-31 21:13] Allicolyer commented on #1511
Hey @kmorton2017!

The complete and incomplete score columns are showing the number of complete and incomplete scores for whatever judging round is currently happening. Right now the current round of judging is "Quarterfinals" so those columns are showing the number of complete and incomplete quarterfinals scores for California Coders.

So, if you switch the judging round to "semifinals" on QA, th

[2018-05-31 21:14] Allicolyer commented on #1518
:+1:

[2018-05-31 21:14] #1518 closed

[2018-05-31 21:14] Allicolyer commented on #1516
:thumbsup: Thank you @kmorton2017 !

[2018-05-31 21:14] #1516 closed

[2018-05-31 21:15] Allicolyer commented on #1519
@amyiridescent could you check this out :)?

[2018-05-31 21:35] amyiridescent commented on #1519
Looks good. One question: Can this also be added to the saved search on live site? For "Complete, All fields" saved search option. Thanks

[2018-05-31 21:37] joemsak commented on #1519
Saved searches are custom made by users. Just delete the existing saved
search and create a new one with the correct fields

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Thu, May 31, 2018 at 4:35 PM, amyiridescent <notifications@github.com>
wrote:

[2018-05-31 21:37] Allicolyer commented on #1104
hey @joemsak ! I noticed that judges can see the code checklist on this public page.

Judges were not able to see this in the first round of judging, but now they can see it when reviewing the submission? I worry this may cause confusion. Can you remove this from the judge's public page or from the public page all together? It is not really relevant anyway.

[2018-05-31 21:39] joemsak commented on #1104
it's going to look pretty empty and less impressive without it and really
it's just there for convenience to remind them why they gave the scores
they did in QF if they even bother to look at any of that stuff

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Thu, May 31, 2018 at 4:37 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-05-31 21:42] Allicolyer commented on #1104
@joemsak I am worried about judges emailing us say that they did not see the code checklist and would have given a different score if they had seen it.

[2018-05-31 21:43] Allicolyer commented on #1104
@joemsak I think this group of judges will bother to look at it -- they are very committed and intense

[2018-05-31 21:45] joemsak commented on #1104
okay then the easier thing to do is just remove the link because that is
the only public page there is, that everyone else uses

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Thu, May 31, 2018 at 4:43 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-05-31 21:48] Allicolyer commented on #1104
okay I think that is the best decision. @ophelieh what do you think?

The issue is the public submission pages that judges can see for their quarterfinals scores contain code checklists, and the judges have never seen those before.

I worry it is going to cause a flurry of emails if judges find out that some girls wrote gibberish or lied on their code checklist (and with these judges I think that

[2018-05-31 21:51] Allicolyer commented on #1519
@amyiridescent is this good to go with that answer?

[2018-05-31 21:52] amyiridescent commented on #1519
@joemsak got it. I didn't realize I can edit the saved search you created for me.
@Allicolyer Yeap. Good to go. :)

[2018-05-31 21:55] joemsak commented on #1519
I didn't create the saved searches, someone else must have

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Thu, May 31, 2018 at 4:52 PM, amyiridescent <notifications@github.com>
wrote:

[2018-05-31 22:00] Allicolyer commented on #1520
@joemsak this looks good

[2018-05-31 22:01] #1520 closed

[2018-05-31 22:01] Allicolyer commented on #1519
:thumbsup:

[2018-05-31 22:01] #1519 closed

[2018-05-31 22:09] Allicolyer commented on #1387
@amyiridescent, @madhavitechnovation, you can check this out

![uploads/5f88adb8-728b-4b06-a2b3-5d2931f3b82f/Screen Shot 2018-05-31 at 3.07.08 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5f88adb8-728b-4b06-a2b3-5d2931f3b82f%2FScreen+Shot+2018-05-31+at+3.07.08+PM.png)

[2018-05-31 22:17] Allicolyer opened #1522 "Students do not have a place where they can find their public page URL"
Students do not see their public submission page links to share out.

[2018-05-31 22:28] Allicolyer commented on #1104
@amyiridescent thinks these public pages might get weird with the new EU law.

[2018-05-31 22:40] amyiridescent commented on #1104
Yeah I am not sure legally if we are allowed to create public links that can be shared with videos links that might feature their names and faces based on the new EU law. We are awaiting legal help on how we should interpret the law for our program... It might be better to not give judges the option to get "public links" and only view submission elements from our website. I know technically, they

[2018-05-31 22:43] amyiridescent commented on #1387
So this feature to "open public page" exist for Admins and RAs?
We need to remove this feature for RAs. It falls under the same GNPR law in EU. I am not sure if we are allowed to allow RAs to create these links and share it with others. For the semi finalists teams from the EU, we already collected explicit "opt in" consent ....

[2018-06-01 14:59] joemsak commented on #1104
the links have already been removed for judges

[2018-06-01 16:52] Allicolyer commented on #1104
:thumbsup:

[2018-06-01 16:52] #1104 closed

[2018-06-01 17:52] Allicolyer commented on #1473
@ophelieh and @monicagragg can you both QA this either today or Monday :)?

[2018-06-01 18:02] Allicolyer commented on #1509
@monicagragg can you take a look at this today or Monday?

As admin, set scores / certs enabled. Then please log out and use this log in:

username: alli+s3@iridescentlearning.org
password: alli+s3@iridescentlearning.org

[2018-06-04 17:55] Allicolyer opened #1523 "Judging Comments display null as an input"
Comments for judges display "null" on admin side.
Not sure if it is because judges can actually input "null" or due to another bug.
Example: https://my.technovationchallenge.org/admin/scores/15616

[2018-06-04 17:56] Allicolyer commented on #1523
@joemsak this is urgent please look into this.

[2018-06-04 18:06] joemsak commented on #1523
@Allicolyer Have you found these scores to actually be marked as complete?

[2018-06-04 18:07] Allicolyer commented on #1523
@joemsak yes

[2018-06-04 18:09] joemsak commented on #1523
@Allicolyer wow okay, will try to reproduce in a test and fix this bug ASAP with @adrichey today thanks!

[2018-06-04 18:28] Allicolyer commented on #1523
So far I cannot reproduce this bug. I can't make the judging form accept "null" as an input so this must be due to something else.

[2018-06-04 18:47] joemsak commented on #1523
Yeah I'm guessing that there really is a comment being written in the form but the data being saved to the score ends up being "null" somehow

The code that checks the length of the comments is only in the javascript on the browser, so it will let you finish if it sees the 40 characters, even if  -- somehow, not sure how yet -- the server is only getting 'null' in the end

[2018-06-04 19:50] ophelieh commented on #1473
Looks great! :) Could we have the team submission page open in a new tab, like we do for judges?

Looks like the team below did not receive any scores. Is that correct?
And is that how teams who did not submit will look as well? If so, we should remove the text about pitch event and maybe replace "completing" by "participating".

![uploads/81c404e6-242c-47d1-9f72-8768681c733d/image.png](https://s3

[2018-06-04 22:56] joemsak commented on #1523
No one is able to reproduce this bug, but @adrichey and I believe that some of the code we fixed up today might be contributing to the problem.

We removed a feature that saves comments in the browser's localStorage (so that it can be retrieved on a page reload) because it could be the case that people are running out of this special browser storage on their device, and that would certainly return

[2018-06-05 14:35] joemsak commented on #1387
@amyiridescent we can't simply remove this link out from under RAs because a handful of them were asking about what happened to these links, because they use them for fundraising and marketing the regional program

Can you cite the specific aspects of GDPR that apply to these pages? And can you explain in further detail how the GDPR laws can apply to restricting RAs from access to these URLS, but

[2018-06-05 14:44] monicagragg commented on #1473
Sorry, was OOO on Friday and was catching up on Monday.

The alli+m1 login is not working for me. Can I use my faux mentor account to QA?

[2018-06-05 14:48] joemsak commented on #1473
@Allicolyer your login worked fine for me @monicagragg are you sure you're entering the credentials correctly? I just now logged in on QA with the information she provided

[2018-06-05 17:40] amyiridescent commented on #1387
We technically need specific "opt in" language when we share their names, images, or videos for all EU students and mentors. I think unless we are going to build a part on the platform for them to give us specific consent (and for minors it will have to come from their parents), we should not share their submission via public links. For the semifinalists, we emailed them ahead of time to get email

[2018-06-05 17:56] joemsak commented on #1387
I would love to build in some more "opt-in" and clearly designed features to our platform to give our users full control over their data and any public pages.

I've also been thinking about a UI for parental controls and better communication with parents about what information we have in our database and who can see it

[2018-06-05 17:58] joemsak commented on #1387
my main gripe about taking away the public URL from RAs is that we shouldn't have it either, for the same argument. and as I mentioned, RAs started asking me why the URLs went away this season

[2018-06-05 18:03] amyiridescent commented on #1387
We will mostly only use it for finalist AND we will get explicit permission from them first before we share the public page... That has been communicated to fundraising team.

[2018-06-05 18:06] joemsak commented on #1387
okay that makes sense. so I would ask to have @kmorton2017 communicate with RAs about this issue so they don't wonder about the link being taken away

[2018-06-05 18:19] madhavitechnovation commented on #1387
For this year, we can explain to the RAs that with changes in privacy law, we need to add additional checks like 'opt in' in 2019. I am sure they will agree with this...they will not want to share out submissions if we don't have explicit permission. RAs can reach out to girls girls directly and share their pitch videos for fundraising conversations for this season.

[2018-06-05 18:22] joemsak commented on #1387
I also think that we need to have a discussion on RAs and data security,
best practices, etc because they have raw user data in CSV files on their
personal computers

One RA emailed an entire list of people without using a newsletter service
or the BCC field, which resulted in one malicious user picking up all those
emails and spamming people

Joe Sak
Technovation Web Development

SMS
+1 (312) 945

[2018-06-05 18:29] madhavitechnovation commented on #1387
I agree Joe. I was just talking with Katie about adding data and user privacy guidelines to the MOU with RAs moving forward.

[2018-06-05 18:30] joemsak commented on #1387
Some sort of standardized training and certification could be nice. Also a
goal of mine of course is to eliminate the need that anyone should ever
have to export raw CSV and make their own excel apps :)

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Tue, Jun 5, 2018 at 1:29 PM, madhavitechnovation <
notifications@github.com> wrote:

[2018-06-05 18:32] amyiridescent commented on #1387
"Also a
goal of mine of course is to eliminate the need that anyone should ever
have to export raw CSV and make their own excel apps :)"

THIS IS MUSIC TO MY EARS!!! :)

[2018-06-05 18:34] joemsak commented on #1387
Yeh I've always considered the CSV exports to be a stop-gap solution
because I knew that I couldn't build everything that's needed in the UI in
the first couple versions of the app

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Tue, Jun 5, 2018 at 1:32 PM, amyiridescent <notifications@github.com>
wrote:

[2018-06-05 19:34] Allicolyer commented on #1509
Here are few different scenarios in which teams get their scores.

@kmorton2017 can you take a look at this?

<b>Team with completed submissions</b>
<ul>
<li>Official quarterfinals scores: Great Team </li>
<ul>
<li> username: alli+s10@iridescentlearning.org </li>
<li> password: alli+s10@iridescentlearning.org </li>
</ul>
<li>Both official and unofficial quarterfinals scores: California Coders </li

[2018-06-05 19:48] Allicolyer commented on #1473
@joemsak I noticed that all official scores all say "Official Scores - these scores counted". We only need it to say this if the team has unofficial scores.
<ol>
<li> We don't it to say this for any semi finals scores </li>
<li> We don't need it to say this if teams do not have an "unofficial scores" </li>
</ol>

[2018-06-05 19:49] joemsak commented on #1473
Aha okay no problem I will fix it today

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Tue, Jun 5, 2018 at 2:48 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-06-06 19:04] Allicolyer commented on #1486
Duplicate Ticket

[2018-06-06 19:04] #1486 closed

[2018-06-06 19:53] #1427 closed

[2018-06-06 22:57] Allicolyer commented on #1523
@joemsak so I did end up seeing this happen on QA, specifically when I was breezing through scores and copying and pasting comments.

[2018-06-07 13:27] joemsak commented on #1523
Alright, @adrichey and I can try to take another look

[2018-06-07 13:29] joemsak commented on #1473
Should be fixed now!

[2018-06-07 14:08] joemsak commented on #1387
The link is removed for RAs now

[2018-06-07 14:38] adrichey commented on #1523
I am diving into this this morning @Allicolyer. I may reach out if I am not able to replicate it on my local.

[2018-06-07 16:41] joemsak commented on #1514
@Allicolyer thinking about this some more .... is it the case that ONLY event winners become semifinalists? So if I check if a semifinalist has a live event attached, can I assume they are an RPE winner?

[2018-06-07 17:00] Allicolyer opened #1525 "Investigate how a complete score could have "0" for pitch"
It appears that this judge was able to give "0" for pitch. When I logged in as the judge it appears that they did not select anything. The score is marked as complete.

https://my.technovationchallenge.org/admin/scores/15733

[2018-06-07 17:37] joemsak commented on #1525
@Allicolyer  @adrichey is already investigating thanks!

[2018-06-07 19:37] ophelieh commented on #1473
Looks and works great!

[2018-06-07 19:51] ophelieh commented on #1509
Pretty cool that you can see the judge's location!

For scenario #4 - teams with no scores. We might want to write a similar note to what mentors see, otherwise, they might be confused about why they don't see their scores. Could be in the "quarterfinal score" tab in the "View scores and certificates" or some text on the student's dashboard. Not sure where it would make the most sense.
Mentor text

[2018-06-07 20:56] adrichey commented on #1525
Potentially closed by: https://github.com/Iridescent-CM/technovation-app/pull/1526

[2018-06-07 20:56] adrichey commented on #1523
Potentially closed by: https://github.com/Iridescent-CM/technovation-app/pull/1526

[2018-06-07 21:16] kmorton2017 commented on #1387
i confirm that i can see the public page as an admin.

[2018-06-07 21:36] kmorton2017 commented on #1509
Hi,

A few thoughts:

1) What is official vs. unofficial score? I think that means Celebration Events right? For many students they may not understand what that means. I think it could be confusing. It may just be better to lump all scores under QF and not distinguish between them for a student/mentor.
2) Is the average that they see, a combination of the official and unofficial scores?
3) What ab

[2018-06-07 21:53] kmorton2017 commented on #1473
A couple notes for the  alli+m1@iridescentlearning.org dashboard:

- I noticed that it says "average first round scores" and "average semifinals score". Can we switch to be "quarterfinals" and semifinals?
- I like the text that accompanies the mentor page. It is a bit more thorough in explaining the different cases. Can we use this for the students? See below the different use case text

No Scores

[2018-06-08 14:03] joemsak commented on #1509
@ophelieh & @kmorton2017 yes there are participation certificates, please hold your QA on that feature for when the cards are ready for testing - you can see they are still in progress

@ophelieh I put in the extra text states as you requested, for students who didn't finish their submission, or who did not receive scores online

@kmorton2017 I have now lumped all the unofficial and official score

[2018-06-08 14:06] joemsak commented on #1473
@kmorton2017 done, please check again today thank you!

[2018-06-08 16:36] joemsak commented on #1514
@Allicolyer can I get confirmation on the questions above today? Thanks!

[2018-06-08 19:53] Allicolyer commented on #1509
Thank you @kmorton2017 and @ophelieh!

@kmorton2017
What if we call "unofficial scores" "celebration event scores"? I strongly disagree with lumping them all together because the averages are calculated based on official events only. People will email us and tell us their average score is wrong. I also think girls who attended a "celebration event" will understand why they have two sets of scores.

[2018-06-08 19:53] Allicolyer commented on #1473
Thank you at @kmorton2017 !

[2018-06-08 19:55] Allicolyer commented on #1387
Thank you @kmorton2017 !

[2018-06-08 20:30] kmorton2017 commented on #1509
Thanks for thinking that through @Allicolyer I think you are right we may get questions about the average score if both the unofficial and official scores are lumped together.  I think we have 2 options then:

1) Tabs for Quarterfinals and "Celebration Event"
OR
2)  Keep Quarterfinals tab and Unofficial Scores tabs but explain that Unofficial Scores are from Celebration Events and don't count towa

[2018-06-08 20:34] kmorton2017 commented on #1473
Thanks for making the text adjustment! Just two very minor text suggestions (take it or leave it!) :

Official Scores - These scores are counted towards average
Unofficial Scores - These scores are from a Celebration Event

[2018-06-08 21:06] ophelieh commented on #1509
team with no scores (RPE judges did not put any in): Skittles and M&Ms --- Looks good!

Team without completed submission: Potato Smashers -- this is what I see:

![uploads/13768666-1d90-45ad-8af4-52f1e1e319bf/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F13768666-1d90-45ad-8af4-52f1e1e319bf%2Fimage.png)

Could we add something like: "Thank you for your participation. Un

[2018-06-08 21:12] Allicolyer commented on #1387
@amyiridescent I am going to close this discussion.

[2018-06-08 21:12] #1387 closed

[2018-06-08 21:20] Allicolyer commented on #1523
Hey @adrichey I've stopped seeing this error on QA. It would happen when I would copy and paste comments really quickly into submissions.

[2018-06-08 21:27] Allicolyer commented on #1509
@kmorton2017 Which method would you prefer? I've updated alli+s1@iridescentlearning.org to be a semifinalist so you can check out what a semifinalists with both unofficial and official scores looks like.

[2018-06-08 21:31] Allicolyer commented on #1509
Okay so @joemsak here's the feedback:

1. Add this text for teams who are not getting scores b/c they did not finish their submission:

"Thank you for your participation. Unfortunately, no scores are available for your team because your submission was incomplete. We hope you will continue working on your app and join again next season!"

2. Separate unofficial and official quarterfinals score, eit

[2018-06-08 22:03] adrichey commented on #1523
Awesome. Sounds like my fix to the loading priority may have knocked that out. I plan on getting more tests in around that functionality next week so we can tweak things and potentially find these issues sooner.

[2018-06-11 14:52] joemsak commented on #1509
FWIW @kmorton2017 and @Allicolyer I like the idea of separating them and using the word "Celebration" over 'unofficial'

[2018-06-11 15:06] joemsak commented on #1473
@kmorton2017 I am thinking of using the label of "Celebration" instead of unofficial in the first place, what do you think?

[2018-06-11 18:05] Allicolyer commented on #1473
@joemsak I think you should go for it. The teams likely don't know the word "unofficial".

[2018-06-11 18:05] Allicolyer commented on #1509
@joemsak thanks!

[2018-06-11 19:17] joemsak commented on #1509
@Allicolyer this is going back to QA today - I am not sure how to fit the explanation sentence into the design but I think that having them in separate tabs and showing the different score in each tab should work pretty well. Also there are only 40 unofficial scores so it's not as common of a use-case for students to even see a 2nd tab

and "unofficial" is now "Celebration"

The text is there now

[2018-06-11 19:20] joemsak commented on #1473
The small changes have been made for the mentor view

[2018-06-11 19:33] joemsak commented on #1514
oh okay so I think the certs for students stuff is ready then!

[2018-06-11 20:31] Allicolyer commented on #1514
@kmorton2017 and @monicagragg could you guys QA this? There are instructions about how to QA it at the top of the card.

[2018-06-11 20:45] Allicolyer commented on #1509
Hey @ophelieh could you QA this? Here are the last two few things to do:

Make sure we are happy with how a team with both official and unofficial quarterfinals scores looks:
<ul>
<li>California Coders</
<li>username: alli+s1@iridescentlearning.org</li>
<li>password: alli+s1@iridescentlearning.org</li>
</ul>
As Joe mentioned, there are only 40 celebration event scores so this not a very common sce

[2018-06-11 20:47] Allicolyer commented on #1473
Awesome. I think this looks good now.

[2018-06-11 20:47] #1473 closed

[2018-06-12 13:58] joemsak commented on #1525
@Allicolyer have you seen any 0's in the scores since this possible fix? Thanks!

[2018-06-12 13:58] joemsak commented on #1523
@Allicolyer do you think we can close this one, or would you like to keep it up until Judging closes just in case?

[2018-06-12 15:33] ophelieh commented on #1509
@Allicolyer @joemsak Everything looks great! :)

Just a quick note/question, for the teams receiving a participation certificate, shouldn't we remove "Challenge" from the text?

![uploads/ad22ad99-6a52-4624-af0d-22ba553b82b7/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fad22ad99-6a52-4624-af0d-22ba553b82b7%2Fimage.png)

Thank you!

[2018-06-12 19:45] Allicolyer opened #1530 "How to find scores that did not save correctly"
What should we do about scores that did not save correctly to our database? For example, teams will currently see this when they check their scores:

https://my.technovationchallenge.org/admin/scores/15733#/

[2018-06-12 20:10] Allicolyer commented on #1530
@joemsak I think this a pretty urgent bug

[2018-06-12 20:42] kmorton2017 commented on #1514
i am a bit confused on the student@student.com login page

is this a team that was at an RPE but did not receive scores? i did not see a certificate of completion for this student.

otherwise everything works as its intended to with the use cases.

[2018-06-12 20:47] kmorton2017 commented on #1509
looks good with the celebration event scores!

[2018-06-12 21:04] Allicolyer commented on #1530
Found 3 from quarterfinals and 1 from semifinals. Will be checking in with Joe daily until June 17th.

[2018-06-12 21:04] #1530 closed

[2018-06-13 00:35] RRios00 commented on #1517
Judge color certificates have been changed from dullest to brightest to indicate proper judge level.

![uploads/20122d06-fd65-4c5d-9631-669330fed85f/JudgeCertificateView.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F20122d06-fd65-4c5d-9631-669330fed85f%2FJudgeCertificateView.png)

..

*Judge: 1 score
	tc-judge-icon.svg
	Certificate-Judge_2018.pdf
	https://drive.google.com/file

[2018-06-13 00:41] Allicolyer commented on #1514
@kmorton2017 you are right about student@student.com. Thank you for catching this!

@joemsak students who attended an RPE but did not get scores (judges did not put them in) are not getting a certificate on the platform. Can you fix this?

[2018-06-13 00:42] Allicolyer commented on #1509
sure @ophelieh we can remove "challenge". So you would just like it to say "Thank you for participating in Technovation 2018".

[2018-06-13 16:28] joemsak commented on #1514
@Allicolyer @kmorton2017 thank you for catching this! It should be fixed now.

[2018-06-13 16:29] joemsak commented on #1509
@ophelieh @Allicolyer I have removed 'challenge' from the blurb

[2018-06-13 16:35] Allicolyer opened #1533 "Investigate why comments are being cut off"
Comments left by judges are being cut off:

Technical: https://my.technovationchallenge.org/admin/scores/16269#/

Technical and Entrepreneurship: https://my.technovationchallenge.org/admin/scores/15639#/

Ideation, Pitch, and Overall Impression: https://my.technovationchallenge.org/admin/scores/16243#/

Entrepreneurship: https://my.technovationchallenge.org/admin/scores/15288#/

Pitch: https://my.

[2018-06-13 18:12] ophelieh commented on #1509
Looks great @joemsak ! Thank you :)

[2018-06-13 18:19] joemsak commented on #1533
How to test this is fixed:

Ensure judging is enabled and there is a submission to judge
Login as a judge who can judge the submission

Start a new score
type 'hello'
wait a moment
refresh
verify 'hello' is still there
add ' wo' after hello
wait a moment
refresh
verify ' wo' is still there

The explanation is this: Comments are analyzed and saved to our server while the judge types. However, we le

[2018-06-13 18:31] ophelieh commented on #1514
@Allicolyer Not sure how easy/hard is it to change the text on the certificates, but I feel that on the participation certificate replacing "throughout the..." by "in the..." would make the sentence flow better.

![uploads/78313e0f-9006-4bd7-b1c3-edec735e020e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F78313e0f-9006-4bd7-b1c3-edec735e020e%2Fimage.png)

Also, for studen

[2018-06-14 16:32] joemsak commented on #1515
@Allicolyer this is ready on QA today - it seems to me the mentor receives one certificate for each team, so a download link is available in each team 'box'

also don't forget, scores/certs have to be enabled, and just test a mentor with a team, a mentor with multiple teams, and a mentor with no teams. thanks!

[2018-06-14 17:57] Allicolyer commented on #1515
@ophelieh and @monicagragg could you both QA this card? There are instructions on how to QA at the top.

[2018-06-14 17:58] Allicolyer commented on #1509
Thank you @ophelieh @kmorton2017 for all the QA :) Closing this card.

[2018-06-14 17:58] #1509 closed

[2018-06-14 20:09] joemsak commented on #1515
The certificate language change for the mentor appreciation one would go to @RRios00 however the other requested change for students goes to me (just a difference in how the files are structured)

@Allicolyer @madhavitechnovation @ophelieh what do you think we should show to a mentor without any teams, when scores are open?

[2018-06-14 20:09] joemsak commented on #1514
Oh oops this requested text change in the participation certificate also goes to @RRios00 :)

[2018-06-14 21:30] Allicolyer commented on #1533
@joemsak decision by program team is to leave the comments as they are. If tickets come through on zendesk we will deal with it then

[2018-06-14 21:42] RRios00 commented on #1515
Everything looks great! But is the "Open your certificate" button supposed to be on all panels?

![uploads/a835b718-8309-4493-8808-494ae2208e09/screencapture-technovation-qa-herokuapp-mentor-dashboard-2018-06-14-14_40_48 (1).png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa835b718-8309-4493-8808-494ae2208e09%2Fscreencapture-technovation-qa-herokuapp-mentor-dashboard-2018-06-14-1

[2018-06-14 22:09] joemsak commented on #1515
Yes, it's one certificate per team. But actually @ophelie is asking for
some tiny text changes on the mentor and student certificates. Check both
cards I tagged you in and let me know when they're updated

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Thu, Jun 14, 2018 at 4:42 PM, RRios00 <notifications@github.com> wrote:

[2018-06-15 20:05] joemsak commented on #1517
@Allicolyer does an RPE judge get a head judge AND advisor for 10 or more, or just judge advisor?

[2018-06-15 20:34] joemsak commented on #1514
The participation certificate now has a the request change in the text

[2018-06-15 21:04] joemsak commented on #1517
This ought to be ready for QA now

[2018-06-15 21:06] Allicolyer commented on #1517
@joemsak an RPE judge gets just advisor

[2018-06-15 23:47] Allicolyer commented on #1517
Hey @monicagragg please QA this one on Monday. Instructions are at the top of the card.

[2018-06-16 00:00] Allicolyer opened #1535 "Admin Editability: Judge Certificates"
Admins need a way to update judge certificates that are incorrect and have them live at the same URL they are at now.

We need a way to update:
- Name on the certificate
- Type of certificate (head judge, judge advisor, ect.)

Do you have any solutions around how we could do this? We will need this by mid next week.

[2018-06-16 00:03] Allicolyer opened #1536 "Exceptions to Judge certificates"
Certain judges have earned different certificates than will automatically be listed on the platform. We need a way to bump judges into a higher bracket if they had more scores that got deleted.

[2018-06-16 00:57] Allicolyer opened #1537 "Drop Lowest Score for teams"
If all teams get 5 scores, we would like to drop the lowest score when calculating the average

[2018-06-18 13:33] joemsak commented on #1536
This seems like a duplicate of #1535

[2018-06-18 15:09] joemsak commented on #1537
to QA: be sure you have at least one submission with 5 complete semifinals scores
- Keep track of the average semifinals score of that submission
- Keep track of which score is the lowest one

- @Allicolyer you will have to run this script on the terminal:
`heroku run rails drop_lowest_scores -a technovation-qa`

Verify that your submission has 4 (or one less) scores
Verify that the average semifi

[2018-06-18 15:19] joemsak commented on #1535
@Allicolyer @madhavitechnovation @amyiridescent is there a reason you wouldn't just change the person's name on their account so that the certificate generates the correct name from their account? I'm just trying to learn more about that particular requirement

[2018-06-18 16:24] joemsak commented on #1537
@Allicolyer @amyiridescent @madhavitechnovation Do you want it so teams have 4 scores at most, or to only drop the lowest score if they have 5 or more?

EXAMPLE

Team A has 4 scores - nothing is dropped
Team B has 5 scores - 1 score is dropped
Team C has 6 scores - 2 scores are dropped

OR do you want it like this

Team A has 4 scores - nothing is dropped
Team B has 5 scores - 1 score is dropped
T

[2018-06-18 16:33] monicagragg commented on #1517
Hi, I logged into each scenario provided at the top and took a screenshot of each certificate
![screenshot 2018-06-18 12 28 24](https://user-images.githubusercontent.com/14184210/41549425-d197401a-72f3-11e8-86ee-9a672dec918a.jpg)
![screenshot 2018-06-18 12 29 03](https://user-images.githubusercontent.com/14184210/41549426-d1a37326-72f3-11e8-91b0-0451c1bd8707.jpg)
![screenshot 2018-06-18 12 29 36](

[2018-06-18 16:46] Allicolyer commented on #1537
Thanks for working so quick on this@joemsak. Let's please hold on this. We need to make a decision on the program side!

[2018-06-18 16:46] Allicolyer commented on #1536
It is

[2018-06-18 16:46] Allicolyer commented on #1536
Thanks Joe

[2018-06-18 16:46] #1536 closed

[2018-06-18 17:05] joemsak commented on #1535
QA:

Ensure you can login as a judge that qualifies for any kind of judging certificate

As the admin, enable certificates and scores

As the judge, verify that you can download the correct type of automatic certificate

As the admin, find your judge and change the certificate

As the judge again, verify that this change is reflected in your certificate and badge

Please do not override the judge

[2018-06-18 17:24] Allicolyer opened #1538 "RAs cannot see scores next year"
This was a mess on the program side and wasted many hours of staff time.

[2018-06-18 20:18] Allicolyer commented on #1535
@monicagragg can you please QA this? Joe has instructions right above.

[2018-06-18 20:19] Allicolyer commented on #1517
@monicagragg do all the certificates look correct to you?

[2018-06-18 20:26] joemsak opened #1539 "Judges who graded more than 10 submissions get Judge Advisor certificate"
Applies to RPE & Virtual judges both

Joe is setting up the data on QA

[2018-06-18 21:42] monicagragg commented on #1535
1) As an admin, I was able to change the certificate type (see screenshot)
![screenshot 2018-06-18 17 34 23](https://user-images.githubusercontent.com/14184210/41563746-8d2c4454-731e-11e8-9e10-9ec395aaa121.jpg)

2) As a judge, I was able to log in and download my certificate (attached).
[2018-general_judge-7-.pdf](https://github.com/Iridescent-CM/technovation-app/files/2113067/2018-general_judge-7

[2018-06-18 23:49] Allicolyer commented on #1537
@joemsak we want all teams to have a score dropped. With a couple of exceptions.

[2018-06-18 23:49] Allicolyer commented on #1537
@joemsak how can we make sure that the judges still get the proper certificates, even if their scores are deleted?

[2018-06-19 13:08] joemsak commented on #1537
Isn't that what #1535 is for?

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Mon, Jun 18, 2018 at 6:49 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-06-19 14:55] joemsak commented on #1539
@Allicolyer to QA:

login as the admin and verify:

a judge with email live@judge-advisor.com is attending the 'seeded advisor event'
(search judges by event name)
and has 11 scores
and is marked as a judge advisor in the judge level dropdown

a judge with email virtual@judge-advisor.com is a virtual judge
(search virtual judges)
and has 11 scores
and is marked as a judge advisor in the judge leve

[2018-06-19 16:41] Allicolyer commented on #1537
not quite, that is for judges who email us and need a different certificate.

This ticket will lead us to drop around 240 scores and we can't keep track of which scores got dropped and who judges are and if they are being demoted by us dropping their scores.

[2018-06-19 16:43] Allicolyer commented on #1539
@monicagragg can you please QA this? Thank you!

[2018-06-19 17:42] joemsak commented on #1537
I think what you're asking for is a very high risk of unnecessary
complexity for the software, if you insist on dropping scores, and
finalists are already being chosen and announced anyway

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Tue, Jun 19, 2018 at 11:41 AM, Alli Colyer <notifications@github.com>
wrote:

[2018-06-19 18:27] ophelieh commented on #1514
Looks good! Thanks!

[2018-06-19 18:28] ophelieh commented on #1515
That sounds great @Allicolyer !

[2018-06-19 19:35] adrichey commented on #1525
@Allicolyer I was going through the backlog just now and I think we should be able to close this. Does this appear to still be an issue?

[2018-06-21 15:24] joemsak commented on #1515
@Allicolyer could I get the links needed for the copy? Thanks!

[2018-06-21 18:28] Allicolyer opened #1546 "Add judge rank to judge CSV export"
Add judge rank to the judge CSV export. For example "General Judge, Certified Judge, Head Judge, Judge Advisor, ect".

Judges with 0 scores should have nothing listed in that column

[2018-06-21 18:28] #1523 closed

[2018-06-21 18:28] #1525 closed

[2018-06-21 18:29] #1533 closed

[2018-06-21 18:29] Allicolyer commented on #1525
Thanks @adrichey !

[2018-06-21 18:29] Allicolyer commented on #1514
Thank you @ophelieh !

[2018-06-21 18:30] #1514 closed

[2018-06-21 18:30] Allicolyer commented on #1539
Hey @monicagragg are you able to QA this by EOD?

Thank you!

[2018-06-21 18:30] Allicolyer commented on #1535
Thank you @monicagragg!

[2018-06-21 18:31] Allicolyer commented on #1535
@monicagragg "As the admin, enable certificates and scores" means to change the season toggles as an admin so that scores and certificates are "turned on".

[2018-06-21 18:35] Allicolyer commented on #1515
@joemsak
Link to finalists page - http://technovationchallenge.org/season-results
Link to newsletter - https://confirmsubscription.com/h/d/15B1DBF38F40C405

[2018-06-21 18:35] Allicolyer commented on #1535
@joemsak I will QA this too and then we can close it.

[2018-06-21 18:42] Allicolyer commented on #1517
Hey @monicagragg we are looking to close this card by EOD. Do all the certificates look correct to you, do you need any changes?

Thank you!

[2018-06-21 21:48] monicagragg commented on #1517
We're missing Judge Adviser

[2018-06-21 21:57] Allicolyer commented on #1546
@joemsak is it possible to have this by Monday?

[2018-06-21 21:58] Allicolyer commented on #1517
@monicagragg yes please see card #1539

[2018-06-21 22:20] joemsak commented on #1546
Should be ready on QA in 20 minutes or so

[2018-06-21 23:15] Allicolyer commented on #1535
@joemsak this works great.

 One thing I noticed is that if I change the name of the judge, the certificate does not update. I can, however, force it to update by change the judge's rank to something else and then change it back, which might be good enough functionality for now.

[2018-06-21 23:17] Allicolyer commented on #1539
@joemsak amazing! Thanks for help setting this up.

[2018-06-21 23:18] #1539 closed

[2018-06-22 00:20] Allicolyer commented on #1517
@joemsak can we add some text for a judge who is not getting a certificate? I think the text that we used for mentors should work.

"Thank you for your participation in the 2018 Technovation season. Check out the finalists [link to finalists page]. The 2019 season will open in the Fall. Sign up for our newsletter to stay in the loop about important dates and updates [link to newsletter]."

[2018-06-22 00:31] Allicolyer commented on #1546
@monicagragg this feature is available for you to use on Monday

[2018-06-22 00:31] #1546 closed

[2018-06-22 00:33] Allicolyer commented on #1515
@joemsak could you style this slightly nicer? :) I think it could use a line break between the first two sentences and perhaps a header.  I think the header could be "Thank you".

![uploads/56da8007-64e5-4964-8ab3-93d4eb11db85/Screen Shot 2018-06-21 at 5.31.06 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F56da8007-64e5-4964-8ab3-93d4eb11db85%2FScreen+Shot+2018-06-21+at+5.31

[2018-06-22 13:58] joemsak commented on #1515
Done

[2018-06-22 13:58] joemsak commented on #1517
Done.

Language changed a bit for judges and mentors as I believe that "check out" and "stay in the loop" might not easily translate for people

[2018-06-22 14:05] joemsak commented on #1535
No, you're right, I should clear out their certificates if a name change is detected. Ready for QA again

[2018-06-22 16:35] Allicolyer commented on #1517
yes looks good joe! Running it by Ophelie on Slack for final approval from program staff.

[2018-06-22 17:30] Allicolyer commented on #1517
approved

[2018-06-22 17:30] #1517 closed

[2018-06-22 17:30] #1515 closed

[2018-06-22 17:30] Allicolyer commented on #1535
@joemsak will QA today

[2018-06-22 18:14] joemsak opened #1548 "Individual Admin Accounts"
New Admin page: "Admins"

You invite new people via name and email

An email is sent to that person with a special token link
The link takes them to create their password
The password must be at least 20 characters
New Admins cannot access anything until they create a password

Admins can delete other admins
If only one admin is left, there is no delete option

Once an admin has created a valid pa

[2018-06-23 01:15] Allicolyer commented on #1535
Thanks Joe. This works great.

[2018-06-23 01:15] #1535 closed

[2018-06-25 22:06] Allicolyer opened #1550 "Look into using mailgun to validate emails"
Concerns:
- If we don’t know that it is really their email, they won’t get our email updates throughout the season.

[2018-06-25 22:07] Allicolyer opened #1551 "“Need to opt-in to emails” on newsletters Distinction between: Marketing email vs. Account update email"
What is the distinction we want to make between marketing email vs. account update email

[2018-06-25 22:07] Allicolyer opened #1552 "Look into using Survey Monkey API"
Ideal: Eliminate redirect that happens from survey monkey. This is a high priority for fundraising team.

[2018-06-25 22:08] Allicolyer opened #1553 "XLook into using hellosign for parental consent forms"
In particular, an SMS interaction would really help students complete their parental consents

[2018-06-25 22:09] Allicolyer opened #1554 "Clean up student dashboard"
Put priority on the on boarding steps, in particular parental consent. This may be split into multiple cards.

[2018-06-25 22:09] Allicolyer opened #1555 "Look into Wordpress cookies for curriculum"
We want to know how far students are getting in the curriculum.

[2018-06-25 22:10] Allicolyer opened #1556 "Make mentor e-book mandatory as a part of onboarding"
As a mentor
Registering for the current season (returning or new mentor, please test both)
If I register before the date that training is available
I should not be required to complete the training

If I register on or after the date that training is available
I should be required to complete that training

QA NOTES:
* Clicking the training goes directly to marking the training as complete (for QA

[2018-06-25 22:12] Allicolyer commented on #437
investigating hellosign

[2018-06-25 22:12] #437 closed

[2018-06-25 22:13] Allicolyer opened #1557 "Activity tracking for admins about inactive mentors"
Admins and RAs want to know which mentors are inactive.

[2018-06-25 22:14] Allicolyer opened #1558 "Add mentor registration fields"
Educator, Industry mentor or Parent

[2018-06-25 22:19] Allicolyer commented on #1457
RAs can ask to have their region updated:

-Sends an email to support
-Form asks what country or state they would like to add, what is the reason,
-Indicator that their request is in progress,
-Katie follows up with the RA and asks Joe to adjust the region.

[2018-06-25 22:20] Allicolyer opened #1559 "Sign-up date and time for Admins and RAs in CSV download"
Make it easier to see which accounts are newest.

[2018-06-25 22:26] Allicolyer opened #1560 "See new students and returning students on their profiles"
Admins and RAs want to see who is a returning students when viewing a student's profile.

[2018-06-25 22:26] Allicolyer opened #1561 "Ability to see top countries in terms of registrations,submissions etc."
We would like to see this as a pie chart on main admin dashboards

[2018-06-25 22:27] Allicolyer opened #1562 "Create auto-fill for top company sign ups"
Program team to give us a list of top companys that mentors and judges sign up from.

[2018-06-25 22:28] Allicolyer opened #1563 "Monitoring IP address of top funders"
Help us understand which mentors are from which companies

[2018-06-25 23:36] Allicolyer commented on #1562
@madhavitechnovation could your provide us with a list of top companies that mentors and judges sign up from?

[2018-06-25 23:40] Allicolyer commented on #1551
@amyiridescent can you schedule time with Joe and Alan so we can reach a decision about this?

[2018-06-25 23:41] Allicolyer commented on #857
@joemsak I think we are tackling this now with the CSV fields?

[2018-06-26 14:46] joemsak commented on #857
Yes, though this also adds a "returned" date column for when someone comes back for the current season

[2018-06-26 15:03] joemsak commented on #1548
@Allicolyer the work on this card is already done and everything described is ready for QA

[2018-06-26 16:18] joemsak commented on #1422
@Allicolyer to confirm, we don't want this filter option available to RAs?

[2018-06-26 16:20] joemsak commented on #1559
@Allicolyer this column option is already present under "more columns" as "Signed up"

[2018-06-26 16:21] joemsak commented on #1560
@Allicolyer please split the change to the Filtering UI to its own card

[2018-06-26 16:32] joemsak opened #1564 "Returning students convert to mentors"
This came up a lot last season:

Older students who are returning want to be mentors now, but can't use their existing account /email to convert.

[2018-06-26 17:13] joemsak commented on #1422
@Allicolyer just to be more up front, my concern is restricting it to Admins complicates the UI by adding another filter select, whereas currently if it's okay for RAs to have this filter, I can just add it to the existing Team matching filter selection

[2018-06-27 17:47] joemsak commented on #1552
@Allicolyer  @madhavitechnovation  Seems like using an 'embed collector' for each survey will be the best bet, as the developer API seems to really be more for building custom administration tools

[2018-06-27 17:50] joemsak commented on #1552
https://help.surveymonkey.com/articles/en_US/kb/Website-Collector

I would come in at step 6, giving admins a place to paste the code, and the platform would do the work of putting that embed code in the right page

I also think if we're concerned about the number of responses we're getting on surveys, that does go more into the realm of user experience design and various survey psychology points,

[2018-06-27 18:04] Allicolyer commented on #1559
@kmorton2017 could you QA this?

[2018-06-27 18:06] joemsak commented on #1550
I think what we can do here is speed up the signup process by detecting a truly valid email address with this service.

I'm not very concerned with the idea that people would waste their own time by putting in someone else's email address; if that really is happening it's almost certainly statistically zero. I would choose not to prioritize a secondary activation email feature for now.

The mailgu

[2018-06-27 18:07] joemsak commented on #1550
We can also explore other mailgun API endpoints for detecting suppressed emails to let the participant know we detected an issue

[2018-06-27 18:15] Allicolyer opened #1565 "XFilter UI for Admins and RAs to see who is a returning students"
Admins and RAs want to easily filter who is a returning and who is a new student

[2018-06-27 18:20] joemsak commented on #1550
@adrichey for me and you http://mailgun-documentation.readthedocs.io/en/latest/api-email-validation.html#example

Would be good to use the 'did you mean' feature

Also use the domain property to look for `edu` and strongly remind people that school email often blocks us and if they insist on using it, they should ask their IT Admin to ensure our domain will not be blocked

[2018-06-27 18:22] joemsak commented on #1550
Email events can be configured to POST to custom webhooks on our application

http://mailgun-documentation.readthedocs.io/en/latest/user_manual.html#webhooks

This would be for a separate card about detecting and reporting email issues, though, if we wish to prioritize such a feature in future sprints

[2018-06-27 18:49] joemsak commented on #1553
Definitely seeing this as a great solution for normal electronic signature usage as we're already used to having, and tracking status with their API, but I have not found any leads on if it's possible for someone to sign via SMS yet. Will continue digging

[2018-06-27 18:59] joemsak commented on #1553
maybe it might be enough to provide the printable PDF and allow a photo upload of the signed form. smartphones are pretty cheap and common even in developing countries, or we can hopefully count on a teacher or mentor having the ability to take the photo at least

[2018-06-27 19:01] joemsak commented on #1565
Can currently filter by multiple seasons, change to "match all" instead of the default "match any" and scope profile types down to "student"

We could stand to improve the UI to make such a feature a bit more obvious? Easier to use? We certainly dont have a "only this season" filter

[2018-06-27 19:03] joemsak commented on #1555
It looks as though the cookies can be shared due to the root domain being the same

So I think @adrichey and I should discuss a small JS script to embed on the wordpress curriculum pages to report progress back to our database, connecting the currently logged in user.

Perhaps then, we can also prompt people to login if they're not, when they visit these pages

[2018-06-27 19:10] joemsak commented on #1551
Based on my reading of the GDPR source documents, consent is one of several conditions that an organization can use to process personal data such as email addresses. And the law states only one condition has to be met.

Two other conditions that should be applicable to us are:

[code]

and

[code]

It seems to me, we are processing their email for legitimate purposes both on campaign monitor and i

[2018-06-27 19:16] joemsak commented on #1551
Honestly, my personal and professional opinion here is that adding the opt-in checkbox would be an overly cautious step, and it seems that the greater risk here is a net negative impact on our program and the success of the students, if they're not receiving helpful emails. I certainly would not expect them to even notice the checkbox let alone enthusiastically check it. All the "benefits" copy in

[2018-06-27 19:30] amyiridescent commented on #1551
Thanks Joe for looking into this. I agree that we are really not the main target of this law so I am not terrible worried. Ok lets do this.

1. No need to build an additional "opt in" check box during registration steps. (I think all platform sent emails are necessary for program operations.)
2. We should note somewhere in the sign up steps that they will be receiving emails from the platform from

[2018-06-27 19:32] joemsak commented on #1551
Thanks @amyiridescent - items 4 & 5 are very involved and would require their own cards and discussion in sprint planning. Thanks again

[2018-06-27 19:32] Allicolyer commented on #1548
@madhavitechnovation can you QA this?

[2018-06-27 19:42] adrichey commented on #1555
I think that sounds like a good approach @joemsak. I think I need to talk to someone about getting admin access to the WordPress site and/or host so that I can upload this script once it is complete. Are we requiring that people log in to the curriculum via a TC WordPress account? If not, we will want to talk about what information we should be collecting and adding to the DB in order to figure ou

[2018-06-27 19:46] joemsak commented on #1555
no, we don't require wordpress accounts, we just don't publish the URL except through the sidebar on the participant's dashboard, a kind of logging in. we don't want to require a second account.

as for your access to our wordpress, yeah I think you have to be invited by another admin. let me see if I can do it

[2018-06-27 19:55] adrichey commented on #1555
Thanks @joemsak. I just changed my password and was able to log in.

[2018-06-27 20:16] joemsak commented on #1561
Really exciting stuff is happening in service of this card :)

[2018-06-27 20:21] joemsak commented on #1553
@Allicolyer @amyiridescent at this time I wouldn't highly prioritize integrating HelloSign only because it doesn't seem that we would get the ability to sign with SMS out of it, and essentially we would have the same feature but on another site

HOWEVER

Perhaps we can consider use of HelloSign as being more ... proper? I guess would be the word to use, and if we are able to show the english and t

[2018-06-27 21:14] joemsak commented on #1555
I have successfully been able to change our cookies to set the domain so that we can enable reading them on the wordpress side

@Allicolyer please note I'm not sure how this will be verifiable with QA because the domains don't match. Will try to think more on that and let you know if I come up with something.

[2018-06-27 21:23] joemsak commented on #1551
I have an idea about informing our participants about how we use their data during sign up (and a new dashboard item for returning participants)

Instead of a check box about the newsletter, we can require a checkbox to sign up, for clear consent of data processing with a simple, clear, and very short explanation about how we keep their data private and secure, we don't sell it or share it, and we

[2018-06-28 04:33] amyiridescent commented on #1551
@joemsak I love this idea. I love that we won't be burying this into a 3 page consent form. Lets make sure the language is easy to understand for english learners. :)

[2018-06-28 16:15] joemsak commented on #1551
@amyiridescent here is my first draft on the language of our data use terms

i already feel it's quite long and this is still only a first draft, I'm sure it can be edited down and improved. also, the UI/UX design will need some thought, but that will probably take more effort than crafting the language which we can go back and forth on now...

https://docs.google.com/document/d/1ekB535hAjdMJA0e62

[2018-06-29 16:10] Allicolyer commented on #1422
@kmorton2017 do you think it is ok for RAs to have this feature? I think it is.

[2018-06-29 16:10] Allicolyer commented on #1558
@kmorton2017 could you check this feature out and let me know what you think?

[2018-06-29 17:13] kmorton2017 commented on #1422
yes it is fine for RAs to have this feature.

[2018-06-29 17:50] kmorton2017 commented on #1558
looks good!

[2018-06-29 18:00] joemsak commented on #1558
@kmorton2017 thank you for your feedback, @Allicolyer Katie's suggestion, if we want to go forward with it, would be a separate card, thanks!

[2018-06-29 18:05] Allicolyer commented on #1560
@kmorton2017 what do you think? Here is what admins and RAs see when viewing a student's profile. They will also be able to filter new and returning students, but that is still in the works.

![uploads/fe697f7c-b642-46bb-929e-cabed49671f4/Screen Shot 2018-06-29 at 10.43.58 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ffe697f7c-b642-46bb-929e-cabed49671f4%2FScreen+Shot+2018-

[2018-06-29 18:12] kmorton2017 commented on #1560
I might like to see it as a field under their age. I think if you scan a student's profile quickly you may miss it if its under their picture in smaller font

[2018-06-29 18:20] joemsak commented on #1560
@kmorton2017 thank you, we will probably make some more updates to the design this summer, so for now I will only move the seasons part under age as requested. Moving to the other column is actually not as straightforward, as each type of profile has their own unique data listed there, with the common data fields on the left side

[2018-06-29 18:22] kmorton2017 commented on #1559
I am having trouble downloading the CSV file. nothing happens.  there is no pop up that says "your file is ready!" with the green download button

[2018-06-29 18:46] joemsak commented on #1560
@kmorton2017 thank you for helping with QA, please take another look

[2018-06-29 19:10] joemsak commented on #1559
@kmorton2017 thank you so much for helping me find this error. The CSV notices should be working once again.

[2018-06-29 20:50] Allicolyer opened #1568 "Change Region to a better word"
Katie will get back to us about the most appropriate word.

[2018-06-29 20:53] Allicolyer opened #1569 "Research location best practices (i.e. How does Google and Facebook solve this issue?)"
Including digging deep on Google API

[2018-06-29 20:54] Allicolyer commented on #1568
@kmorton2017 I added this card so let me know when we have progress with this. You can check in here or on slack. If we won't have progress on this for a while, let me know!

[2018-06-29 20:55] Allicolyer commented on #1559
Thanks @kmorton2017 !

[2018-06-29 20:56] Allicolyer commented on #1558
@kmorton2017 thanks!

[2018-06-29 20:56] joemsak commented on #1550
@Allicolyer for your notes, I would like to have this part finished in preparation for the wizard-style onboarding

[2018-06-29 20:57] Allicolyer opened #1570 "Admins don't need to be able to convert mentors into judge accounts until judge registration is live."

[2018-06-29 20:58] Allicolyer opened #1571 "New mentors should not be able to switch to judge mode"
Mentors should not be able to switch to judge mode.

It is possible we will want his feature again when judge registration opens  but is is also possible program team will not want mentors to be judges this year.

[2018-06-29 20:59] Allicolyer commented on #1558
@kmorton2017 good catches thank you!

[2018-06-29 21:00] #1558 closed

[2018-06-29 21:00] #1555 closed

[2018-06-29 21:01] Allicolyer opened #1572 "Track Students progress in curriculum"
From Joe

I have opened our cookies up to be detectable on our root domain (this is a common, completely safe practice that is part of the official specifications for how cookies work)

If we want to move forward with a solution that tracks user progress in our curriculum, then I would suggest we create a new card in a future sprint. Thank you!

[2018-06-29 21:01] Allicolyer commented on #1555
Thank you @joemsak !

[2018-06-29 21:09] Allicolyer commented on #1564
@kmorton2017 do you know if this is still something we are interested in?

[2018-06-29 21:10] Allicolyer commented on #1559
@joemsak this works.

[2018-06-29 21:16] joemsak commented on #1564
By the way, I forgot, there is an Admin feature to convert students to mentors, if they are 18 or older

[2018-07-02 19:11] joemsak commented on #1569
@Allicolyer @adrichey @madhavitechnovation @amyiridescent

I've taken a look at what Facebook is doing for brand new users (using incognito browsing which will not use existing cookies or allow geolocation features) and realized that they are using IP Geocoding on the server side, so I've updated our codebase to do this as well

Takeaways:

* Allowing browser-based geolocation is not necessary - w

[2018-07-02 23:36] Allicolyer commented on #1548
@amyiridescent can you QA this?

[2018-07-03 16:04] Allicolyer commented on #1559
@joemsak Katie is out this week so I will close out this card.

[2018-07-03 16:04] #1559 closed

[2018-07-03 16:06] Allicolyer commented on #1560
@ophelieh could you QA this? As an admin go to the participants page and view the following students.

Current student:
student@student.com

Past student (make sure you are also looking for participants in the 2017 season):
past@student.com

Returning student:
returning@student.com

[2018-07-03 16:06] Allicolyer commented on #1422
@joemsak did you address Katie's point?

[2018-07-03 16:07] Allicolyer commented on #1422
@joemsak actually never mind I don't think there are supposed to be X's on these filters

[2018-07-03 21:32] madhavitechnovation commented on #1562
Salesforce, Adobe, Gogle, uber, Samsung, oracle, AECOM, HARMAN, Microsoft, Accenture, Bank of America.

I hope we can add more tot he list, if we have new partners, correct?

[2018-07-04 22:36] amyiridescent commented on #1548
Looks good to me. I assume season toggle has been reset on staging but I assume the access of my personal admin is the same as for info@ log in.

[2018-07-05 19:44] ophelieh commented on #1560
Looks good! I do like Katie's idea of moving the location to the next column, but you mentioned some edits to the design later this summer.

[2018-07-05 23:06] Allicolyer commented on #1560
@ophelieh thank you!

[2018-07-05 23:08] Allicolyer commented on #1422
@amyiridescent could you QA this?

1. Send a request from a mentor account to join a team
2. Do not accept the request
3. Make sure that admin gets filtered correctly from the Admin UI

1. Send a request from a team to a mentor
2. Do not accept the request
3. Make sure that admin gets filtered correctly from the Admin UI

[2018-07-05 23:09] #1560 closed

[2018-07-05 23:11] Allicolyer commented on #1548
Thank you @madhavitechnovation. I think one of us would be in charge of inviting people to be admins. Also most of us do not have other accounts on production (except maybe you and Katie)

[2018-07-06 16:41] joemsak commented on #1422
@amyiridescent when you get that error, the screenshot you gave is not very helpful. Instead, can you please type out the steps the dev team should take to try and reproduce the error?

[2018-07-06 16:42] joemsak commented on #1548
Are there any action items remaining for me?

[2018-07-06 16:56] amyiridescent commented on #1422
@joemsak i know i know. I didn't get a chance to finish responding last night. I think the error comes when I put in a fake SSN. Alli gave me a number I should use instead and that cleared the error. Meant to update this thread when I got home last night. :)

[2018-07-06 18:16] joemsak commented on #1422
@Allicolyer are there any outstanding action items for this card?

[2018-07-06 18:16] joemsak commented on #1569
@Allicolyer the 'next step' for this card would be any response or questions to what I wrote above. Thanks!

[2018-07-06 21:10] Allicolyer commented on #1422
@amyiridescent I can finish QAing :)

@joemsak right now please remove the "made with code" as an option to how they heard about us. Thank you @amyiridescent for catching that.

[2018-07-07 14:33] joemsak commented on #1422
Okay, that seems unrelated to this card though. Should we add a new card?

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Fri, Jul 6, 2018 at 4:10 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-07-09 20:30] Allicolyer opened #1579 "Remove Made with Code from "how you learned about us""
Remove Made with Code as a filter option for "how you heard about us" for all user types.

[2018-07-10 14:16] joemsak commented on #1558
@Allicolyer @amyiridescent @madhavitechnovation @kmorton2017

I never got an answer to this question:

What about former students converting to a mentor? Should we add a type for them? "Former Technovation student" or something?

[2018-07-10 14:29] joemsak commented on #1571
This card needs some more discussion. We had the 'switch to judge mode' link blocked behind an Admin enabling/disabling judge signups and then early on in the season, before opening up judge signups in general, staff decided that mentors should be able to switch at that time in order to be prepared for when judge registration opened.

[2018-07-10 14:30] joemsak commented on #1553
@Allicolyer @amyiridescent @madhavitechnovation this card has just been waiting for discussion / questions / etc

[2018-07-10 14:30] joemsak commented on #1552
@Allicolyer @amyiridescent @madhavitechnovation this card has just been waiting for discussion / questions / etc

[2018-07-10 14:31] joemsak commented on #1550
@Allicolyer @amyiridescent @madhavitechnovation the research part is done, I'd like to discuss adding this feature into the updates we want to make to signing up (the wizard style we discussed)

[2018-07-10 14:34] joemsak commented on #1548
@Allicolyer @amyiridescent @madhavitechnovation this card seems ready and we just need to roll out the invites to key staff members so that I can remove the generic info@ login

[2018-07-10 17:37] adrichey commented on #1561
Here is a preview of the bar chart that will summarize the top country data for students, mentors, and judges:
![uploads/7be08fdc-b376-48cd-a2aa-1f7bde832f80/Screen Shot 2018-07-10 at 12.35.39 PM (2).png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7be08fdc-b376-48cd-a2aa-1f7bde832f80%2FScreen+Shot+2018-07-10+at+12.35.39+PM+%282%29.png)

[2018-07-10 19:35] madhavitechnovation commented on #1558
Yes @joemsak we should add Technovation student Alumni to the list. It will be great to collect this data.

[2018-07-11 13:32] joemsak commented on #1558
Alright, for ESL sensitivity, I am thinking to use "Past Technovation student"

[2018-07-11 13:38] joemsak opened #1583 "Add 'Past Technovation student' to mentor types"
When mentors choose their type (industry professional, teacher, parent...) we are adding another option for past students who are converting to a mentor account.

[2018-07-11 14:22] adrichey commented on #1561
Work for this has been wrapped for the time being. The acceptance criteria for this card was pretty sparse, so I winged it in terms of what the chart data would look like with Joe's input. We now have a base in place to build upon for any metrics we want to see in a bar or pie chart. I have implemented a Top Countries section in the admin dashboard section that displays the top countries in terms

[2018-07-11 15:44] kmorton2017 commented on #1553
i have a couple thoughts!

1) @joemsak do you remember from the Oracle Hackathon, one of the winning teams developed a way to use Twilios SMS feature to get parental consent. Would this help in regards to this card? I don't think they incorporated Hello Sign at all.
2) I definitely think having the translated documents side by side would be helpful for parents to view.
2) Could we include a featur

[2018-07-11 15:54] kmorton2017 commented on #1548
can someone invite me to be an admin so i can QA this? @joemsak @Allicolyer

[2018-07-11 16:08] joemsak commented on #1553
@kmorton2017

1. yes, however I am not currently up to date on twilio support for international SMS

2. agree, though hello sign integration is not necessarily required for such a feature

3. yes, I think we should improve our parental consent workflow even for the student to upload it, maybe with an admin / RA review step, but RAs could upload as well, bypassing the review step

[2018-07-11 16:09] joemsak commented on #1548
@kmorton2017 on QA, there will always be an `admin@admin.com` login

[2018-07-11 18:45] Allicolyer commented on #1561
Thank you @adrichey! This looks great. One things I noticed is that the order of the countries keeps switching each time I click on the countries tab.

![uploads/c5e85457-9cfd-451e-909b-c313f3f9cf00/Screen Shot 2018-07-11 at 11.44.07 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fc5e85457-9cfd-451e-909b-c313f3f9cf00%2FScreen+Shot+2018-07-11+at+11.44.07+AM.png)

![uploads/afa

[2018-07-11 18:45] Allicolyer commented on #1561
@amyiridescent and @madhavitechnovation you will both really like this, can you QA this card?

[2018-07-11 18:53] Allicolyer commented on #1548
@joemsak this works great. @kmorton2017 I am going to close this card.

[2018-07-11 18:53] #1548 closed

[2018-07-11 19:03] adrichey commented on #1561
Weird. I will look into that switch. I am not sure what would be causing that. But I can work on a fix today.

[2018-07-11 20:07] adrichey commented on #1561
I figured out the issue. The datasets didn't have zero values in places where they were necessary. I have submitted a PR for that for @joemsak to review.

[2018-07-11 20:39] joemsak commented on #1571
* new mentors, or mentors who do not already have judge profiles, should not be able to switch to judge mode

* existing judges should be able to switch

[2018-07-11 20:51] joemsak commented on #1568
Decided: Country / Territory

[2018-07-11 20:53] joemsak commented on #1563
Same as #1562

[2018-07-11 21:30] joemsak opened #1586 "Improve location form"
Convert to a vue component

Have it auto-filled with IP-based location result

Show the user a list of results if their input yields multiple Geocoder results

User confirms correct location

This same component will be used in several places:

* Registration wizard
* My account -> change location
* RA / Admin -> Change a user's location
* Create a team -> set location
* Team -> change location
*

[2018-07-12 00:16] Allicolyer commented on #1553
During the spring the team decided that the use of hellosign is not a priority right due to the reasons outline by Joe.

[2018-07-12 00:21] Allicolyer opened #1587 "Returning students, mentors and judges should see certificates from 2018"

[2018-07-12 00:22] Allicolyer opened #1588 "Returning mentors should see certificates from 2018"

[2018-07-12 00:23] Allicolyer opened #1589 "Judges should see certificates from 2018"
If they register to the 2019 season, they should still be able to access certificates from 2018

[2018-07-12 00:23] Allicolyer opened #1590 "Returning students and mentors should see scores from previous seasons"

[2018-07-12 00:23] Allicolyer opened #1591 "Returning mentors should see scores from 2018"

[2018-07-12 00:24] Allicolyer opened #1592 "Returning students should see submissions from 2018"

[2018-07-12 00:24] Allicolyer opened #1593 "X Returning mentors and students should see submissions from 2018"

[2018-07-12 00:24] Allicolyer opened #1594 "Students who converted to mentors should see scores and certificates from 2018"
Students who convert to mentors still want to see their scores and certificates from when they were students. Then they won't need to contact us to get those things.

[2018-07-12 00:26] Allicolyer opened #1595 "Investigate -- can students and mentors see score and certificates from past seasons"
Would it be possible for students and mentors to see scores from seasons before 2017. If so, how difficult is this?

[2018-07-12 00:28] Allicolyer opened #1596 "Wizard Style Registration UI"
Create UI for wizard style registration that will include the following steps

Students:
1.General information (name, school, password)
2. Location
3. Parental Consent

Mentors:
1.General information (name, school, password)
2. Location
3. Background Check (if applicable)
4. Consent form

[2018-07-12 00:28] Allicolyer opened #1597 "location"

[2018-07-12 00:29] #1597 closed

[2018-07-12 00:34] Allicolyer commented on #1583
@ophelieh could you QA this?

1. As a admin, turn on registration for mentors.
2. Create a new mentor account, see that this option is available  as a "type"
3. Log in as an admin and make sure the new mentor is properly labeled as a "past TC student"

[2018-07-12 00:35] Allicolyer commented on #1579
looks good!

[2018-07-12 00:35] #1579 closed

[2018-07-12 00:42] Allicolyer commented on #1422
Hey @joemsak my mentor with a pending join request is now showing up in the filter. Both the team and the mentor are registered to the 2018 season.

Mentor account email: alli+m2@iridescentlearning.org

![uploads/0f6fbcfb-a4a0-4576-aebb-0f2b0b31dcb3/Screen Shot 2018-07-11 at 5.40.46 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0f6fbcfb-a4a0-4576-aebb-0f2b0b31dcb3%2FScreen+

[2018-07-12 00:45] Allicolyer commented on #1550
@joemsak was there anything left to discuss after today?

[2018-07-12 00:46] Allicolyer commented on #1552
@joemsak is there anything left for discussion after today's meeting?

[2018-07-12 00:46] joemsak commented on #1550
nope, gonna attempt to roll it into the new wizard screens

[2018-07-12 00:47] Allicolyer commented on #1569
@joemsak I think we confirmed to move forwards with trying this.

[2018-07-12 00:47] joemsak commented on #1552
Not right now, awaiting program staff to decide if/how they want to embed "micro" surveys into dashboards throughout the season

[2018-07-12 00:47] joemsak commented on #1569
yep you can close this i have a new card for improving the form

[2018-07-12 01:02] #1550 closed

[2018-07-12 01:02] #1569 closed

[2018-07-13 20:31] ophelieh commented on #1583
Looks good! If I was to log in through my student account though, would I be able to turn it into a mentor account? Or would I need to create a new account as a mentor?

[2018-07-16 16:58] Allicolyer commented on #1422
@joemsak I wasn't able to get this to work ... can you look into it?

[2018-07-16 18:03] joemsak commented on #1422
@Allicolyer your mentor has a pending join request, not an invite. Would you like me to expand the scope to include mentors with pending join requests too?

[2018-07-17 18:30] joemsak commented on #1583
@ophelieh @Allicolyer currently, students have to be converted by a mentor or RA. we can discuss the option of a self-serve feature in a future sprint

[2018-07-17 18:31] joemsak commented on #1561
@Allicolyer are there any outstanding issues for this card?

[2018-07-17 22:12] kmorton2017 commented on #1561
Looks good! What's the max # of countries it will show @adrichey ?  from your screenshot i looks like 10?

[2018-07-17 22:15] joemsak commented on #1561
@kmorton2017 right now it shows up to 10. maybe in the future we can add filters and controls to these charts

[2018-07-17 22:24] kmorton2017 commented on #1583
hi everyone, wasn't sure to put this. but i noticed on the mentor profile it provides info on the QF Scores, SF Scores and Judge Level/Certificate. Is it possible to hide this info? I think it clutters the page info a bit and is not relevant for the mentor profile until the  judging starts.

[2018-07-17 22:30] kmorton2017 commented on #1422
i confirm that i was able to see my mentor in the "mentors with pending invitation" filter.

I think adding join requests to the filter would be helpful as well.

Another unrelated question for another card--is there a way that we could streamline the dashboard ? for example, when I login as Buffy,  I see 3 separate call to actions:

-Team invitation
- Register a Team
-Join a team

I think that te

[2018-07-18 14:13] joemsak commented on #1583
@Allicolyer seems like this card is complete and verified

@kmorton2017 Thanks for your thoughts on the Admin UI. We will want to record these issues in separate sprints so please bring them to future meetings. It's good that QA'ing one thing brings up ideas about other things, but please try to keep the card focused on its acceptance criteria, and bring any extra ideas, thoughts, and notes that y

[2018-07-18 14:16] joemsak commented on #1422
@kmorton2017 @Allicolyer thank you, the filter has already been expanded to include mentors with pending join requests

Katie, thanks for your notes, we agree that the dashboards need UI/UX design updates and we have cards in the backlog for it. Please try to keep any notes you come up with, that are outside of the acceptance criteria of the cards you're QA'ing, to bring with you for future sprint

[2018-07-18 14:18] joemsak commented on #1568
@Allicolyer this work has been rolled into card #1586

[2018-07-18 22:52] Allicolyer opened #1606 "Add semifinals scores column to the judges export CSV"
We want to know the total number of scores by each judge during 2018 for grant reporting purposes

[2018-07-20 13:38] joemsak commented on #1586
@Allicolyer

Adding or changing your location should now be easier, as the system will give people a list of options if their input produces multiple results

Also, new people will have their (non-identifying) location already guessed due to their IP address, so please try signing up as a new person.

Try this chrome extension to fake your IP to another location while signing up
https://chrome.goo

[2018-07-20 14:13] ophelieh commented on #1583
Sounds good @joemsak. Thanks!

[2018-07-23 15:59] Allicolyer commented on #1561
@amyiridescent @madhavitechnovation do either of you have any comment about this?

[2018-07-23 16:01] #1583 closed

[2018-07-23 16:30] Allicolyer commented on #1568
Thanks @joemsak I can close out this card.

[2018-07-23 16:30] #1568 closed

[2018-07-23 20:13] amyiridescent commented on #1561
So right now I only see the charts for # registered users. Is it safe for me to assume, we will be able to see this for submissions also? I also am assuming these numbers are of these users that completed onboarding, is that true?

[2018-07-23 20:55] joemsak commented on #1561
Good point @amyiridescent alan and i will reconvene tomorrow to discuss how to filter the chart between participants, submissions and leaving us open to future options that staff may wish to select

as for the numbers, they are scoped on all users, not just onboarded ones

[2018-07-24 18:58] Allicolyer commented on #1606
looks good. @monicagragg this feature is ready

[2018-07-24 18:58] #1606 closed

[2018-07-24 18:59] Allicolyer commented on #1586
@ophelieh could you QA this?

[2018-07-24 19:18] Allicolyer opened #1611 "Update the language for international mentors"
Update the language for international mentors that they might be selected for random background checks. @amyiridescent will give us the new text.

[2018-07-24 19:24] amyiridescent commented on #1611
So this should be a check box they click on. (The goal here is to deter any mentors who would not want to be background checked from signing up.) Only for non-US mentors.

Maybe a language like this will work?
"By checking this box, you are agreeing to comply to international criminal background check. We will be randomly select mentors to be background checked. If you are selected, we will contac

[2018-07-24 20:59] joemsak commented on #1561
@Allicolyer @amyiridescent I think we'd better consider splitting the ability to filter the types of data (from participants to submissions to "etc") into another card, I will need Alan to help me work as a pair through some of the more complex code and logic for the new registration wizard

[2018-07-24 22:17] ophelieh commented on #1586
Hi @Allicolyer & @joemsak it all works great!

The only thing I noticed is when I tried to change locations for participants and teams as an admin, I have to click on "Confirm" twice otherwise nothing happens.

[2018-07-25 13:56] joemsak commented on #1586
Thanks @ophelieh I will be actually be working on improving that button as part of the registration wizard work, since the same component needs to be usable during sign up and needs to "confirm" to another context

[2018-07-26 18:52] joemsak commented on #1551
@Allicolyer  This has been discussed and is merging into the wizard registration card #1596.  Should be closable

[2018-07-26 18:53] joemsak commented on #1611
Why don't we just merge this into the main terms agreement checkbox we're already adding?

[2018-07-26 19:04] Allicolyer commented on #1561
@joemsak let's bring this up during the sprints to see what graphs we would like to build.

[2018-07-26 19:13] #1561 closed

[2018-07-26 20:39] Allicolyer commented on #1285
@joemsak closing this out since we changed the location selection process.

[2018-07-26 20:39] #1285 closed

[2018-07-26 21:31] adrichey commented on #1562
Work for this has been completed. We have implemented an input that allows you to either select from a list of top companies or add your own company that isn't in the list. @madhavitechnovation editing the list of top companies is very straightforward and won't break anything if we ever need to add or remove one from the list as it is done in one place.

[2018-07-28 00:52] Allicolyer commented on #1586
@joemsak I am having issues what that chrome extension. I cannot access any websites when it is on.

[2018-07-28 00:54] Allicolyer commented on #1586
@joemsak I cannot get the form to ever give me a list of best matches, even when I am entering vague information into the form.

[2018-07-28 00:58] Allicolyer commented on #1562
@joemsak @adrichey will this auto fill based on IP addresses or is this just a dropdown list for signup?

[2018-07-28 01:05] Allicolyer commented on #1551
thanks @joemsak makes sense.

[2018-07-28 01:05] #1551 closed

[2018-07-28 01:08] Allicolyer commented on #1562
@adrichey I noticed something unexpected about this text box for Company name. If you start typing something, you must also hit enter for it to save any characters you typed. If you click out of the box or click tab it will not save the characters you've typed.

[2018-07-28 01:15] Allicolyer commented on #1422
@joemsak this works now.

@kmorton2017 there is no way to tell which mentors have a pending join request and which have a pending invite. Is this something that program team needs?

[2018-07-30 13:17] joemsak commented on #1422
@Allicolyer I'm pretty sure she was just echoing you that the filter should include both

[2018-07-30 13:39] joemsak commented on #1586
@Allicolyer I have been looking around for a solution to setting up an IP proxy to test different locations and coming up empty handed. We'll just have to ask other staff in various locations to visit QA and sign up a new user and verify they got their location set by default

As for the vague info can you give me examples of input you tried, what you expected, and what you got? It would actually

[2018-07-30 13:49] joemsak commented on #1586
Just an extra note that if other staff test on QA: if they have visited QA before it would be better if they do it in an incognito browser to avoid any potential issues with the cookie history (this is a friendlier alternative to just clearing all your cookies which would also work. it's also possible to remove only the cookies of a specific site but would require more involved instruction)

Our u

[2018-07-30 14:08] adrichey commented on #1562
@Allicolyer This will not fill based on IP addresses for this iteration. I would suggest that we save that piece of functionality for an improvement card later on. The component we implemented is called vue-select, and it requires that enter key press or a click on the drop down as it functions similarly to `<select>` element rather than a standard input.

[2018-07-30 17:55] Allicolyer commented on #1341
closing due to wizard style onboarding updates

[2018-07-30 17:55] #1341 closed

[2018-07-30 18:18] Allicolyer commented on #1174
closed due to a discussion during a sprint

[2018-07-30 18:18] #1174 closed

[2018-07-30 18:24] #743 closed, assigned to nobody

[2018-07-30 18:28] Allicolyer commented on #1231
This has been addressed.

[2018-07-30 18:28] #1231 closed

[2018-07-31 18:09] Allicolyer opened #1614 "Three part wizard onboarding UI"
Three part UI for mentors students and judges

Part 1: Having an account
Part 2: Onboarding your account
Part 3: Team Building
Part 4: CTA for what to do next

Joe, Alan and Ruby will have a meeting after WP to discuss.

[2018-07-31 18:10] Allicolyer opened #1615 "A mentor enters their reference for an RA during sign up"
Mentors can enter a reference for an RA to use (if they choose) during sign up.

[2018-07-31 18:11] Allicolyer opened #1616 "Team invites expire after two weeks"
Staff to discuss the amount of time. @madhavitechnovation and @kmorton2017 can you make a decision on this?

[2018-07-31 18:12] Allicolyer opened #1617 "Disable team invites during judging"
Invites should no longer work during judging for most users. A discussion is needed about an exception to this.

[2018-07-31 18:17] Allicolyer commented on #1554
This is going to be tackled by the three part Wizard UI

[2018-07-31 18:17] #1554 closed

[2018-07-31 18:19] Allicolyer opened #1618 "XSorting student’s mentor search based on when they were last active on the site"
Sorting search based on when someone was last active on the site. Most active mentors will show up closer to the top.

Students will be able to see when mentors were last active.

[2018-07-31 18:23] Allicolyer opened #1619 "RAs can mark mentors and students as inactive [20,13,1.54]"
Mentors marked as inactive will not show up in CSV reports for RAs and will not show up when students search for mentors on the platform.

We are envisioning a manually checkbox to mark people as inactive, not an automatic system. Once you are marked as inactive...

1. You will not show up in CSV reports for participants
2. You can be marked active again at any point

Some other things that need t

[2018-07-31 18:53] Allicolyer opened #1620 "xTeam Building for regions on different calendars."
To discuss at a later date.

[2018-07-31 18:54] #1588 closed

[2018-07-31 18:54] #1589 closed

[2018-07-31 18:54] #1592 closed

[2018-07-31 18:55] #1591 closed

[2018-08-01 15:45] adrichey commented on #1615
We need to flesh out the acceptance criteria on this a bit. What information do we need to collect? Name/Email/Phone? Because we will be storing new data models and building a new UI, we will need this information up front.

Thanks in advance for looking into this and getting the developers that information! :)

[2018-08-02 15:55] joemsak commented on #1617
@Allicolyer (cc @adrichey) should we also disable join requests during judging then? Thanks!

[2018-08-03 17:42] joemsak opened #1623 "Send mentor welcome email from "mailer@""
When a mentor signs up, the mentor welcome email is from Monica, who is leaving at end of August. Will need updated copy.

cc @Allicolyer for next sprint meeting

[2018-08-13 17:53] Allicolyer commented on #1571
Thank you @joemsak for this.

@madhavitechnovation  can you QA this?

<ol>
<li>Log in as a mentor with existing judge profile:  mentor@mentor.com
<ul>
<li> Ensure that they can switch to judge mode </li>
</ul></li>
<li>Create a new mentor
<ul>
<li>ensure that they cannot switch to judge mode</li>
</ul></li>
</ol>

[2018-08-13 17:57] Allicolyer commented on #1562
okay great!

[2018-08-13 17:57] #1562 closed

[2018-08-13 17:59] Allicolyer opened #1626 "Create auto-fill for top company sign ups based on IP address of user"

[2018-08-13 18:09] Allicolyer commented on #1422
getting clarity from program team about this filter

[2018-08-13 18:16] Allicolyer commented on #1422
@joemsak I have clarity about this from the program staff.  It is not as helpful to the program team if these join requests and invites are lumped together since:
<ul>
<li>pending join requests - identifies mentors who are struggling to find a team </li>
<li>pending invites - identifies inactive mentors</li>
</ul>

The idea case would be to separate these two things into separate filters in the dr

[2018-08-14 19:11] Allicolyer commented on #1623
thanks joe!

[2018-08-15 18:54] kmorton2017 commented on #1586
my location was set by default to Colorado when Im in SF. (used Google Chrome) I will try doing incognito browser.

![uploads/77ae37cf-a61a-4d36-91b2-cb422453cd0e/Screen Shot 2018-08-15 at 11.51.15 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F77ae37cf-a61a-4d36-91b2-cb422453cd0e%2FScreen+Shot+2018-08-15+at+11.51.15+AM.png)

[2018-08-15 19:12] kmorton2017 commented on #1586
On the incognito browser, I faced the same issue where it was automatically set to Colorado. In this case I tried setting my location to Jerusalem which is part of both Palestine and Israel. It registered as Irsael.

![uploads/b9fe0244-6051-4c29-8382-f80eeb844857/no prompting.gif](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb9fe0244-6051-4c29-8382-f80eeb844857%2Fno+prompting.gif)

[2018-08-17 13:56] joemsak commented on #1617
@adrichey heads up this seems to work as expected for students but not for mentors. should we split the cards?

[2018-08-17 14:18] adrichey commented on #1617
I would rather not split up the card. I will reach out in regard to what piece of the puzzle is missing and address it ASAP.

[2018-08-21 15:03] Allicolyer commented on #1586
Thank you @kmorton2017 !

[2018-08-21 15:25] Allicolyer commented on #1596
@kmorton2017 could you QA this? Sign up for both a student and mentor account. An

[2018-08-21 16:05] Allicolyer opened #1629 "Outdated Copy"
This error page shows outdated links to curriculum. We should fix these and maybe look for other error pages with outdated info.

![uploads/0b429502-c5ef-4c92-b260-c792c23c4f08/Screen Shot 2018-08-21 at 11.05.15 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0b429502-c5ef-4c92-b260-c792c23c4f08%2FScreen+Shot+2018-08-21+at+11.05.15+AM.png)

[2018-08-21 16:06] Allicolyer commented on #1571
@kmorton2017 could you QA this?

<ol>
<li>Log in as a mentor with existing judge profile:  mentor@mentor.com
<ul>
<li> Ensure that they can switch to judge mode </li>
</ul></li>
<li>Create a new mentor
<ul>
<li>ensure that they cannot switch to judge mode</li>
</ul></li>
</ol>

[2018-08-21 16:06] Allicolyer commented on #1422
@joemsak did you see my comments?

[2018-08-21 16:10] Allicolyer commented on #1617
@adrichey @joemsak so to be clear, during judging

1. Students and mentors cannot send requests
2. Students and mentors cannot accept old requests

[2018-08-21 16:16] joemsak commented on #1596
@Allicolyer I would also ask that we have staff in various locations QA this, and maybe even @kmorton2017 is comfortable asking some RAs, once we have the intro page and other assets from Ruby to smooth this experience out.

I know Katie has some location form concerns from RAs she wants us to know about and prioritize

Also, the signing in at the end to the dashboard is being ironed out to match

[2018-08-21 19:25] adrichey commented on #1617
@Allicolyer Correct. The requests are still in the system, but neither students nor mentors can send new requests or accept old ones.

[2018-08-21 20:53] madhavitechnovation commented on #1571
@Allicolyer this works fine. When I created a new mentor account, i did not an option to move to judging.

[2018-08-21 20:58] Allicolyer commented on #1571
Thanks @madhavitechnovation !

[2018-08-21 20:58] #1571 closed

[2018-08-21 21:02] Allicolyer commented on #1617
@madhavitechnovation  can you QA this:

Scenario 1:
1. As a student send a request to join a team
2. As an admin, turn on judging
3. Make sure the request cannot be accepted by the team
4. Make sure the team cannot send invites to other students

Scenario 2:
1. As an admin, turn off judging
2. As a mentor, send an invite to join a team
3. As an admin, turn on judging
4. Confirm that the mentor inv

[2018-08-22 15:04] joemsak commented on #1596
@Allicolyer @kmorton2017 @ophelieh and other QA'ers please bear in mind a few notes

it seems we all agree that we want to have a nicer intro splash page. @RRios00 and I are working on that off of QA right now. We will continue to work on the assumption that most people have come from the marketing site because even people with an account typically use the marketing site to get to the platform. In

[2018-08-22 17:38] kmorton2017 commented on #1596
Here is my feedback after creating a student Lucy Liu (katie+s3@iridescentlearning.org) and the steps I took:

1) Created Jerusalem location in Arabic. When I go to location confirmation page it is still in Arabic. BUT it is located in Palestine which is great.
2) Created Jerusalem location in English, confirmed in Palestine which is great.
3) Created Hong Kong location in Chinese. When I go to th

[2018-08-22 17:52] kmorton2017 commented on #1596
Here is my feedback for mentor Matthew Han and the steps I took.
1) Set location to Taipei, Taiwan, Taiwan for city, state/province, and country/territory.
2) Confirmed location
3) Proceeded through mentor registration. Was not permitted to continue to mentor sign up. Was not prompted with any reason why.  (it would be helpful to have a message saying you need to fill out all fields or something l

[2018-08-24 18:36] joemsak commented on #1596
@kmorton2017 Thank you so much for your findings. I think I was able to address them. Please try again. I'm still trying different layouts so yes I know about the navigation shifts, left me know if you have comments about the change though

@Allicolyer just wanna double check that we'll have other staff in other areas / regions help us test this one. thanks!

[2018-08-27 17:44] joemsak commented on #1422
Thanks @Allicolyer! Please check on QA today

[2018-08-28 17:50] kmorton2017 opened #1633 "Mentors adding background checks to platform in places like Canada and Spain"

[2018-08-28 19:12] Allicolyer commented on #1556
@amyiridescent we are blocked on this issue.

[2018-08-28 19:14] Allicolyer commented on #1140
This was split off into a series of wishlist items

[2018-08-28 19:14] #1140 closed

[2018-08-28 19:46] Allicolyer commented on #1611
@amyiridescent we are blocked here too

[2018-08-28 20:25] joemsak commented on #1611
Confirmed in sprint meeting to put it in the agreement copy

[2018-08-28 20:40] Allicolyer commented on #1629
Outdated information sign up page as well -- says October 18th should be October 1st

[2018-08-28 20:47] #1168 closed

[2018-08-28 21:01] madhavitechnovation commented on #1617
Done with scenario 1
As a student send a request to join a team: worked
As an admin, turn on judging: Was able to turn on judging
Make sure the request cannot be accepted by the team: i signed using 2 student accounts; one account was able to send team join request to other student account. The first student was able to accept the request.
Make sure the team cannot send invites to other students:

[2018-08-29 00:29] Allicolyer opened #1634 "Admin View: Connect the team submission to the team page"
Make it easy to find the team submission by linking it on the team page.

After this passes QA we will decide if we would also like to see the submission progress on the team page or if linking the team submission is enough.

[2018-08-29 00:30] Allicolyer commented on #1557
We would ideally like to have these ready by January

[2018-08-29 00:30] Allicolyer commented on #1616
We would ideally like to have this ready by January

[2018-08-29 00:31] Allicolyer commented on #1619
We would ideally like to have this ready by January

[2018-08-29 00:31] Allicolyer commented on #1618
We would ideally like to have this ready by January

[2018-08-29 00:31] Allicolyer opened #1635 "Ability to see top countries in terms of submissions"
Need exact details from @madhavitechnovation about what exactly we would like to see

[2018-08-29 00:32] Allicolyer commented on #1457
We would ideally like to have this ready by 10/15

[2018-08-29 00:33] Allicolyer opened #1636 "RA Verification system for mentor profiles"
The issue: RAs want custom docs from mentors that are equivalent for the US background check. We cannot collect sensitive information from mentors like SSN. Concerns over liability because mentors should not upload sensitive information and we would not be able to enforce this (ie scanning docs for SSN).

Solution: RA can collect the information via email from the mentors and add checkmarks of ver

[2018-08-29 00:34] Allicolyer commented on #1633
Connected to card #1636

[2018-08-29 00:35] Allicolyer opened #1637 "Improve video verification for submission"
Problem: We need decrease number of broken links  during judging

Solution: Have something to remind girls to double check their links and work. Ie. italicized text that says “Double check your settings and make sure your video is set to “public” and not private!”

Research: Is there a way to check if the video plays right away?

[2018-08-29 00:37] Allicolyer opened #1638 "Add a mandatory training to mentor dashboard"
This will be very similar to the way we designed the ebook for the mandatory judge training. We are blocked until we receive the link to the ebook.

[2018-08-29 00:38] Allicolyer opened #1639 "Need RA introduction on student & mentor dashboard"
Acceptance:

- If an RA is present in a student or mentor's region, their program introduction appears as a dropdown item in the top left corner

- If no RA is present, or the RA has not entered an introduction, the student/mentor will see the default dashboard title with the survey link (survey link must be configured by the admin)

- The RA may now specify a Program Name, otherwise their own nam

[2018-08-29 00:40] Allicolyer commented on #1281
this card is no longer relevant

[2018-08-29 00:40] #1281 closed

[2018-08-29 00:41] Allicolyer commented on #1638
duplicate card

[2018-08-29 00:41] #1638 closed

[2018-08-29 00:51] Allicolyer commented on #1422
This is great and it works well. Thanks Joe.

[2018-08-29 00:51] #1422 closed

[2018-08-29 14:26] adrichey commented on #1617
@madhavitechnovation and @Allicolyer I see that Scenario 1 is not working as Alli thought it would according to Madhavi's testing. I will work on updating the code so that is behaves according to the steps outlined in Scenario 1. I will let you know when it is ready for retesting.

[2018-08-29 16:45] kmorton2017 opened #1641 "XAdmins deleting a specific profile type"
Throughout the season we may come into cases where a participant needs to be deleted who has different profiles. For example, an RA may become inactive but wants to remain involved as a mentor. Currently, admins can only "delete" a participant. It would be nice to be able to delete a specific profile type.

[2018-08-31 16:22] Allicolyer opened #1645 "Curriculum Links need to be updated"
Align new curriculum to submission deliverables

[2018-08-31 16:39] Allicolyer opened #1646 "Admins need to update survey link"
By October 1st, staff needs to update the survey link. We are currently still linking to the post survey.

[2018-08-31 16:53] Allicolyer opened #1647 "Copy for registration emails, honor code, and description of a qualified team need to be updated by October 1st."
All copy for emails link <a href="https://docs.google.com/document/d/1HWSakYAvF7x7NilTa-aI5Bru-lO8rvoR5iiNSux0RsY/edit"> here </a>
<ol>
<li>Student Welcome email needs to be updated</li>
<li> Mentor Welcome Email needs to be updated </li>
<li>Email to Parent to complete consent form (looks good to me) copy
<li>Parent consent form needs to update</li>
<li> Mentor consent form </li>
<li> 2018 Honor

[2018-09-04 14:26] joemsak commented on #1611
I saw Amy had feedback that the current QA language is challenging to understand. I did some tweaks and here is the language I have as of this morning:

**Mentors outside US: Background checks**

Background checks are reports of your work and legal history. In countries where these checks are universally easy or required, we will submit all mentors to this process. You may be required to complete

[2018-09-04 16:55] amyiridescent commented on #1611
@joemsak
I think the second paragraph is fine. Maybe just change the last sentence to say "You must consent to this to be allowed and verified on our site." (Mostly because we won't be selecting or running background checks until way into the season.)

Regarding first paragraph, I am not sure what we are trying to say here. Is this for cases like Spain where RAs need to run background checks on me

[2018-09-04 17:04] Allicolyer opened #1650 "Add resources to dashboard"
Add in resources such as judging rubric, curriculum and submission guidelines.

QA -- make sure these links are correct and updated.

[2018-09-04 17:06] Allicolyer opened #1651 "Confirm screenshots uploader is working"
As a student or a mentor upload to screenshots to your submission.

[2018-09-04 17:14] joemsak commented on #1611
@amyiridescent

1. Okay, I will update it

2. Yes, you are correct on all counts, and I don't think we necessarily have to list where we will do it for sure, just that we might ask you to submit to one, and you agree to that

[2018-09-04 17:26] Allicolyer opened #1652 "Add point count to code checklist"
Add parentheses to code checklist to see how many points you currently have if you already started it and saved your work.

[2018-09-04 17:33] Allicolyer opened #1653 "Admin: link student and mentor's old certificates on their profile view (older than 2018)"
Add a way for admins to access certificates older than 2018 for mentors and students.

[2018-09-04 17:35] Allicolyer commented on #1647
@madhavitechnovation and @kmorton2017, just as a reminder, please Slack me or add to this thread when this text is ready to go!

[2018-09-04 17:36] Allicolyer commented on #1646
@amyiridescent and @madhavitechnovation this is a reminder to do this. Please let me know if you need a reminder for how to update the survey.

[2018-09-04 17:38] Allicolyer commented on #1629
@joemsak could you fix this.

1. Please remove the Technovatoin Challenge Primer. Change "2017 Technovation Curriculum" to just say "Technovation Curriculum". You can keep the same link.

[2018-09-04 17:39] Allicolyer commented on #1645
I will do this by Oct. 1st

[2018-09-04 17:41] Allicolyer commented on #1623
We are in the progress of updating the copy.

@kmorton2017 can you tell us who the mentor welcome email should come "from" this season? Perhaps just "support@" or "info@"?

[2018-09-04 17:43] Allicolyer opened #1654 "Are the terms of use good to go?"
@amyiridescent for your information, these are the <a href="http://iridescentlearning.org/terms-of-use/"> terms of use </a> that are currently linked. Do they need to be updated? If so, this should be taken care of by Oct. 1st.

[2018-09-04 17:47] Allicolyer opened #1655 "Change Phrasing on Dashboard"
These are the current steps on the dashboard:

1. Registration
2. Build your team
3. Submit your project
4. Compete
5. Scores & Feedback

Suggetion from Katie:

1. Profile
2. Build your team
3. Submit your project
4. Regional Pitch Events
5. Scores & Feedback

@kmorton2017 and @madhavitechnovation can you help us decide on the final wording by EOD this Friday 9/7? Thank you!

[2018-09-04 17:48] Allicolyer opened #1656 "Change the development platform options"
Change development platform options to:

1. App Inventor
2. Thunkable
3. Java
4. Swift or XCode
5. Android Studio
6. Other

[2018-09-04 17:51] Allicolyer opened #1657 "Collect Thunkable account information"
Mirror what we have for App Inventor:

1. Ask people for their Thunkable email
2. Ask people for the name of their project

[2018-09-04 17:56] Allicolyer opened #1658 "Validation for App Inventor project names"
Do not allow spaces in the App Inventor project names.
![uploads/3f766377-3a90-4a69-8bec-b844d77d98ca/Screen Shot 2018-09-04 at 10.55.50 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F3f766377-3a90-4a69-8bec-b844d77d98ca%2FScreen+Shot+2018-09-04+at+10.55.50+AM.png)

Thunkable allows spaces, App Inventor does not. This will allow for easier data cleaning at the end of the sea

[2018-09-04 18:01] Allicolyer opened #1659 "Business Plan -- copy update"
Change Text: "If your team has put one together, that is awesome! Hold on to it for your own records and be extremely proud!"

"If your team has put one together, that is awesome! Hold onto your work and incorporate your business plan in your pitch presentation.”

@kmorton2017 I like this text update -- however this might be confusing if the team is not going to an RPE and does not have to make a

[2018-09-04 18:05] Allicolyer commented on #1615
@kmorton2017 can you help answer Alan's question?

[2018-09-04 18:09] Allicolyer opened #1660 "Update copy around presentation slides"
Update copy around presentation slides --
“Check with your Regional Ambassador when these are due”

@kmorton2017 can you confirm that you want this to be the final wording?

[2018-09-04 18:10] Allicolyer commented on #1660
Additionally would you like to change this copy?

“Your team is not set to attend a live regional pitch event. In March and April, Regional Ambassadors will invite teams to pitch at a live event.If your team is invited, then you will be required to upload your pitch presentation slides here. (pitching at a live regional event is not required)”

[2018-09-04 18:48] Allicolyer opened #1661 "Fix Source Code Redirect"
After uploading source code, the site redirects users out of the submission page and back to their dashboards.

[2018-09-04 18:51] Allicolyer opened #1662 "Fix types of files that can be uploaded to file uploader"
For instance:

-Business plan: only allow .pdf
-Source Code: only allow .aia and .zip
-Pitch Presentation: only allow .pdf and .ppt(x)

[2018-09-04 18:54] Allicolyer opened #1663 "Difficulties changing location during sign up"
There have been difficulties changing the location during sign up. Here is when the bug occurred:

1. Sign up a new user
2. Change the location to something different than the location that has auto populated
3. Finish signing up
4. Check profile details to see that the location has not been changed from the original location

[2018-09-04 18:58] Allicolyer opened #1664 "Fix CSS bug on profile pages"
Table run off the page on profile pages
![uploads/7cb5cc5a-6380-4ccf-957f-0fab1ec2931c/Screen Shot 2018-09-04 at 11.58.09 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7cb5cc5a-6380-4ccf-957f-0fab1ec2931c%2FScreen+Shot+2018-09-04+at+11.58.09+AM.png)

![uploads/517d0dff-23a9-43ed-9f71-512234712de2/Screen Shot 2018-09-04 at 11.57.27 AM.png](https://s3-us-west-2.amazonaws.com/

[2018-09-04 19:00] joemsak commented on #1623
@kmorton2017 @Allicolyer if it's not going to be personalized then it will be our standard `mailer@` that all other email comes from, which has an auto-responder set up, in case they reply to these emails, explaining how to use our system emails (which often have stylized buttons to click to take action) and how to contact support

[2018-09-04 19:02] Allicolyer opened #1665 "Different fonts on dashboard"
Both Katie and Ruby noticed this. It would be nice to tighten up the design.

[2018-09-04 19:04] Allicolyer opened #1666 "Next button does not work on this screen"
![uploads/8943382a-de13-43c5-8e6f-89f5a5d1d4b7/Screen Shot 2018-08-29 at 5.25.22 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F8943382a-de13-43c5-8e6f-89f5a5d1d4b7%2FScreen+Shot+2018-08-29+at+5.25.22+PM.png)

[2018-09-04 21:09] Allicolyer commented on #1617
@adrichey thank you!

[2018-09-05 14:00] adrichey commented on #1615
I am going to mark this as blocked until we get more information on what data needs to be collected.

[2018-09-05 14:27] joemsak opened #1667 "Character counter not working when filling in Mentor Bio / Personal Summary"
This is relevant to PR #1649

[2018-09-05 15:47] madhavitechnovation commented on #1617
@adrichey lmk, when you want me to QA these again. thanks!

[2018-09-05 15:50] madhavitechnovation commented on #1655
Looks good to me @Allicolyer Can we add (in select locations) after Regional Pitch events? I can see people getting confused as all other steps apply to everyone but this one is not a "required" step.

[2018-09-05 15:53] madhavitechnovation commented on #1646
@Allicolyer assessment team will work on the questions and we will update this. Quick question: in addition to survey monkey questionnaire, is it possible to have 4-5 pop-up questions spread through the season? We are trying to see if we can get more responses by spreading out some critical questions on the platform.

[2018-09-05 15:56] madhavitechnovation commented on #1647
@Allicolyer will have the updated versions ready this week

[2018-09-05 16:28] Allicolyer commented on #1651
@adrichey @joemsak I can't preview the screenshots I have uploaded.

![uploads/5fbc20ba-2907-4238-b8cd-70db014e9b4f/Screen Shot 2018-09-05 at 9.28.09 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5fbc20ba-2907-4238-b8cd-70db014e9b4f%2FScreen+Shot+2018-09-05+at+9.28.09+AM.png)

[2018-09-05 16:29] Allicolyer commented on #1615
Thanks Alan!

[2018-09-05 17:54] Allicolyer commented on #1655
Okay @madhavitechnovation so the final order would be this:

1. Profile
2. Build your team
3. Submit your project
4. Regional Pitch Events (in select locations)
5. Scores & Feedback

I think this is getting jargony. here is my suggestion:

1. Profile
2. Build your team
3. Submit your project
4. Pitch
5. Scores & Feedback

When you click on "pitch" you will see the options to pitch live or virtuall

[2018-09-05 17:58] Allicolyer commented on #1647
Thank you @madhavitechnovation!

[2018-09-05 17:59] Allicolyer commented on #1646
@madhavitechnovation I think that is a feature that is in the icebox. Let's bring it up to work on it next sprint.

[2018-09-05 18:01] Allicolyer commented on #1552
@madhavitechnovation this card is here for the "micro" surveys. We need to make some decisions about what questions we want embeded and where to move forwards with this. Would you like to make those decisions during the next sprint?

[2018-09-05 18:02] Allicolyer commented on #1623
I think that's okay. What do you think @kmorton2017 ?

[2018-09-05 18:41] kmorton2017 commented on #1659
I like that idea--good point. Thanks for suggesting that change.

[2018-09-05 18:46] kmorton2017 commented on #1660
See my notes below:
Update copy around presentation slides -- “Contact your Regional Ambassador for the due date.”

“Your team is not set to attend a live Regional Pitch Event. In the spring, Regional Ambassadors will invite teams to pitch at a live event. If you attend, then you will be required to upload your pitch presentation slides here. (Pitching at a live Regional Pitch Event is not require

[2018-09-05 18:51] kmorton2017 commented on #1655
What about just "judging" for the #4 category? Since they select virtual or
in-person for judging.

On Wed, Sep 5, 2018 at 10:54 AM, Alli Colyer <notifications@github.com>
wrote:

--

*Katie MortonPartnerships ManagerIridescent
<http://iridescentlearning.org/> | Curiosity Machine
<http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
o

[2018-09-05 18:53] kmorton2017 commented on #1623
it will not be personalized. it should be the standard mailer@ address and their contact is the support@address

[2018-09-05 19:02] joemsak commented on #1623
okay @kmorton2017 and @Allicolyer it's no problem thank you

Also the content of the email is referencing her as well. Do you have a copy of that or do you need the latest version?

[2018-09-05 20:34] kmorton2017 commented on #1586
I reproduced the location error with student account katie+s6@iridescentlearning.org

1) My location was showing up as San Francisco, CA during the registration process.
2) I created my location as Washington (city) District of Columbia (state/province).
3) I confirmed my location and proceeded through registration.
4) I created a team--Wildcats.
5) My team location was showing up as San Francisco

[2018-09-05 20:39] joemsak commented on #1586
okay @kmorton2017 these steps are perfect thank you!

step 8 is technically expected current behavior of the system, but the results of 1-6 are not expected

thank you again

[2018-09-05 21:19] kmorton2017 commented on #1647
@madhavitechnovation @amyiridescent the lawyers are reviewing the parental consent form and volunteer consent form right?

[2018-09-05 21:33] kmorton2017 commented on #1623
alli gave us the copy of the emails. i have started tracking changes on the doc for all copy in emails.  i think we can close this card (as long as update it to @mailer ) because it is related to #1647.

[2018-09-06 15:14] adrichey commented on #1617
@madhavitechnovation I had forgotten to move the card into QA Ready. You can test whenever you are ready! Sorry about that.

[2018-09-06 16:32] Allicolyer commented on #1655
Yeah I like that!

1. Profile
2. Build your team
3. Submit your project
4. Judging
5. Scores & Feedback

[2018-09-06 16:34] joemsak commented on #1650
@Allicolyer for students we have a proof of concept for a new profile area where a menu of options may one day live

for now, it shows our first step of putting the resources there in the top right corner with the student's name (i hope in wishlist time we can make this a kind of profile menu with an avatar, etc)

thanks!

[2018-09-06 16:39] Allicolyer commented on #1650
Thanks Joe! I think this looks good. I have a few questions

1. We are missing the curriculum link and the project workbook, is that because this is still a WIP?
2. Do you want to work with Ruby to make the resources less crowded?

[2018-09-06 16:45] Allicolyer commented on #1629
Hi @joemsak -- how do I navigate to the 504 error page?

[2018-09-06 16:50] joemsak commented on #1650
@adrichey please see #1

@Allicolyer for #2 we only just released this to QA today so give me some time to work it into the UI more comfortably as we merge the mentor version over the next few days. thanks!

we do have a full working mentor version locally and we just need to eliminate some of our duplicated work to make it open to creating a judge dashboard app for judge related sprints and to re

[2018-09-06 16:52] Allicolyer opened #1669 "Location form remembers an old location of my computer"
Location from remembers an old location of my computer even upon refreshing. @joemsak Is this the expected behavior?

![uploads/d70b0033-3d60-4c7d-b273-fcfaa85a2cea/Screen Shot 2018-09-06 at 9.46.34 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fd70b0033-3d60-4c7d-b273-fcfaa85a2cea%2FScreen+Shot+2018-09-06+at+9.46.34+AM.png)

[2018-09-06 16:54] Allicolyer opened #1670 "Issues with my email when creating an account"
The form doesn't like my email today. I know the iridescent emails are unique but some mentors may also have unique domain names:

![uploads/a2445fd2-f115-4dd6-95a9-ff9c0c8dc7f3/Screen Shot 2018-09-06 at 9.51.30 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa2445fd2-f115-4dd6-95a9-ff9c0c8dc7f3%2FScreen+Shot+2018-09-06+at+9.51.30+AM.png)

![uploads/560619e4-c1a5-41cd-8f06-c3

[2018-09-06 17:35] Allicolyer commented on #1670
@adrichey was there any change that would have sparked this?

[2018-09-06 17:48] adrichey commented on #1670
@Allicolyer Nothing should have changed to invalidate those as far as I know. Tagging @joemsak for his visibility since the email validation comes from the back-end side of things and he might have more insight.

[2018-09-06 18:00] Allicolyer commented on #1670
It seems to work a little better in incognito:

![uploads/f9c3b6df-d316-4d71-b132-dde668cfe16d/Screen Shot 2018-09-06 at 10.58.45 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Ff9c3b6df-d316-4d71-b132-dde668cfe16d%2FScreen+Shot+2018-09-06+at+10.58.45+AM.png)

However, this is a real hotmail email address that I own.

![uploads/6b866671-44f3-4cdb-bd82-a154e1dae737/Screen Shot

[2018-09-06 18:02] Allicolyer commented on #1670
Okay I did get it to work in the regular browser for my mentor account. I'm not sure what the issue was, but this is something we should definitely note for customer support in a few weeks.

![uploads/64b4dad8-f188-4332-b6b2-e37bbf7361a5/Screen Shot 2018-09-06 at 11.00.56 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F64b4dad8-f188-4332-b6b2-e37bbf7361a5%2FScreen+Shot+2018-0

[2018-09-06 18:14] adrichey commented on #1650
#1 is addressed by the following PR: https://github.com/Iridescent-CM/technovation-app/pull/1671

[2018-09-06 19:03] joemsak commented on #1629
Oh sorry @Allicolyer I assumed you must have had a way to see that page already

https://technovation-qa.herokuapp.com/server_error.html

[2018-09-06 19:15] Allicolyer commented on #1629
Thanks Joe!

Since it says "here are some links", could you add the technovation blog underneath the curriculum?

https://technovationchallenge.org/blog/

Thanks!

[2018-09-06 19:35] joemsak commented on #1669
hey @Allicolyer how long ago were you there and had you visited QA on that computer when you were there?

[2018-09-06 19:36] joemsak commented on #1670
@Allicolyer mailgun seems to have recently made some changes to their validation API response which may be breaking the form right now (great....) I think it may be fixed in a coming release to QA, let me get back to you

[2018-09-06 19:53] joemsak commented on #1670
@Allicolyer I just saw that `allisjunk@hotmail.com` works fine on my local, so QA should update soon, will notify asap

[2018-09-06 21:13] Allicolyer commented on #1669
August 27th

[2018-09-06 21:14] Allicolyer commented on #1669
and yes

[2018-09-06 21:37] joemsak commented on #1669
Okay so it's completely "by design" that it works this way, which is to say, our system does not account for the person starting the signup in one location and finishing it in a significantly different one

is that alright?

thank you Alli!

[2018-09-06 21:39] joemsak commented on #1669
hmmm, shoot, let me clarify a bit more.

the system stored your location in a cookie in NY and it is still using that cookie to figure out where you are

HOWEVER

i just realized, it should detect a new IP and try to make a new location... now I'm not sure anymore, haha. sorry. thanks alli, we can look into it more if necessary though it may be a very on the edge case

[2018-09-06 22:12] joemsak commented on #1629
@Allicolyer will be there soon just trying to fix test failures on the QA deploy, it's finally deploying, check in 10 minutes

[2018-09-06 22:12] joemsak commented on #1650
should be updated in about 10 min

[2018-09-06 22:14] joemsak commented on #1586
so so sooooo close on this, just passing tests after lots of code fixes!!!

[2018-09-06 22:44] Allicolyer commented on #1611
@joemsak has this been updated?

[2018-09-06 22:49] joemsak commented on #1611
@Allicolyer yes, sorry, I should have notified about that!

[2018-09-06 22:50] kmorton2017 commented on #1611
Amy and I talked. It should be the following:

Background Checks:

Background checks are reports of your work and legal history. In the United States all mentors are required to complete and pass a background check in order to be  allowed and verified on our site.

In other countries and territories, we will randomly select mentors to provide references and legal certifications, and to submit to b

[2018-09-06 23:16] joemsak commented on #1586
@kmorton2017 you may be able to try this again in 20 min

[2018-09-06 23:17] joemsak commented on #1611
Okay thank you @kmorton2017 and @Allicolyer! This is on QA now!

[2018-09-06 23:44] joemsak commented on #1669
@Allicolyer it's possible today's update fixes this issue, just make sure you don't delete your cookies and you can continue to test it until it's fixed (if that becomes a to-do card)

[2018-09-06 23:48] amyiridescent commented on #1654
Yeap this is still good to use. Lawyers are reviewing them and if there are updates, we will update this on the wordpress site so we don't have to change the link on the platform site.

[2018-09-07 00:08] #1654 closed

[2018-09-07 21:03] adrichey commented on #1661
Pull request to address this issue has been merged into QA branch. Once the code goes through CircleCI and deploys to QA, I will move this to test.

[2018-09-07 22:10] Allicolyer commented on #1670
it seems to be cleared up today. Thanks Joe!

[2018-09-07 22:10] #1670 closed

[2018-09-07 22:11] Allicolyer commented on #1669
@joemsak it updated my location today! Also this was not a case when I started sign up in one location and finished it in another. I was making a brand new account.

However it seems to be cleared up today so I will close this card!

[2018-09-07 22:12] #1669 closed

[2018-09-07 22:32] Allicolyer opened #1673 "Home page for mentor dashboard is the find a team page"
After signing up i get brougt to the find a team page.

![uploads/3104aae2-72a6-49a0-83ff-cb44cc88782a/Screen Shot 2018-09-07 at 3.10.00 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F3104aae2-72a6-49a0-83ff-cb44cc88782a%2FScreen+Shot+2018-09-07+at+3.10.00+PM.png)

It seems that the home page for the mentor dashboard is this:
https://technovation-qa.herokuapp.com/mentor/dash

[2018-09-07 22:33] Allicolyer commented on #1655
@kmorton2017 is this good to go? Let me know if we can update it

[2018-09-07 22:47] kmorton2017 commented on #1655
yes good to go

[2018-09-07 22:51] kmorton2017 commented on #1611
I see it live on QA. looks good.

[2018-09-07 22:54] kmorton2017 commented on #1586
can we reword this? It says: please choose the correct territory. Since Israel is a country I think we should just say "please choose the correct location."

![uploads/94c5270c-e1cb-4a3e-8485-66c5a25722d3/Screen Shot 2018-08-28 at 2.58.28 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F94c5270c-e1cb-4a3e-8485-66c5a25722d3%2FScreen+Shot+2018-08-28+at+2.58.28+PM.png)

[2018-09-07 23:00] #1629 closed

[2018-09-07 23:00] #1611 closed

[2018-09-07 23:01] Allicolyer commented on #1655
@joemsak @adrichey this is the final phrasing for the dashboard:

Profile
Build your team
Submit your project
Judging
Scores & Feedback

[2018-09-07 23:04] Allicolyer commented on #1661
Hey @adrichey I still got redirected to the dashboard after updating my source code

[2018-09-07 23:05] Allicolyer commented on #1596
Hey @joemsak I am going to close this card since any issues with the wizard have been split up into a lot of different cards

[2018-09-07 23:05] #1596 closed

[2018-09-07 23:06] Allicolyer commented on #1650
I see the missing resources. Thank you!

[2018-09-07 23:08] kmorton2017 commented on #1596
it looks like the character limit was not counting for the mentor personal summary. It never changed from zero.

looks like the bug with the location and team location was fixed and they are both displaying as my confirmed location.

i invited a student to join a team. when i opened the invitation as the student, it says "you are on the team: Null Team" is it supposed to say that?

![uploads/39046

[2018-09-07 23:09] kmorton2017 commented on #1586
just saw that the wizard card was closed so wasn't sure where to leave some feedback!

it looks like the character limit was not counting for the mentor personal summary. It never changed from zero.

looks like the bug with the location and team location was fixed and they are both displaying as my confirmed location. yay

i invited a student to join a team. when i opened the invitation as the stu

[2018-09-10 15:48] adrichey commented on #1661
@Allicolyer It looks like the code was not deployed to QA properly. It works locally, but I have confirmed that QA is still broken. I will need to talk to @joemsak about this when he returns on Tuesday (9/11/2018). I am not familiar with our deployment pipeline and I don't feel comfortable attempting a deployment until he returns and can walk me through it.

[2018-09-10 16:51] Allicolyer commented on #1661
okay thanks Alan!

[2018-09-10 20:02] adrichey commented on #1667
Work for this has been completed in the following PR: https://github.com/Iridescent-CM/technovation-app/pull/1675

Once that has been reviewed, merged, and deployed, I will move this card into QA ready.

[2018-09-11 13:58] adrichey commented on #1652
![uploads/94bde08d-51cb-418f-a29a-d273c36d378f/Screen Shot 2018-09-10 at 4.07.00 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F94bde08d-51cb-418f-a29a-d273c36d378f%2FScreen+Shot+2018-09-10+at+4.07.00+PM.png)

@Allicolyer Are you referring to this link? I have the work done on a branch, but I want to confirm that this is the only spot we need the count before I create a pull

[2018-09-11 14:04] adrichey commented on #1661
@Allicolyer It must have been a hiccup as the code is deployed and working this morning. You can test this again whenever you have time.

[2018-09-11 14:07] joemsak commented on #1666
This button should now appear disabled after you're signed up, and will indicate when it has saved your changes (it saves when you stop typing for half a second)

[2018-09-11 14:08] joemsak commented on #1586
character counter bug has a card and may now be fixed
NullTeam is going to become another car

Is this one closed then?

@Allicolyer @kmorton2017 thanks!

[2018-09-11 14:11] joemsak commented on #1614
Hey @Allicolyer I'd like to close this card in favor of us working together to find the smaller cards in QA to cover the smaller specific details

What do you think?

Thanks!

[2018-09-11 14:12] joemsak opened #1676 "::NullTeam bug on student dashboard menu"
When the student is not yet on a team (possibly mentors too) it shows a "NullTeam" as their team name

[2018-09-11 14:12] joemsak commented on #1676
@kmorton2017 Here is a new card for your bug report. Thank you!

[2018-09-11 20:58] Allicolyer commented on #1652
Hey Alan! I think that works.

[2018-09-11 21:10] adrichey commented on #1667
This card is ready for QA. @joemsak may want to mark this as closed since he will be able to test this using his wizard conversion work.

[2018-09-11 21:10] adrichey commented on #1651
@Allicolyer This is ready for QA. Screenshot previews should once again be working on QA.

[2018-09-11 21:12] adrichey commented on #1650
@Allicolyer Since you are able to see the resources, can we close this ticket?

[2018-09-12 17:03] Allicolyer commented on #1673
Also I found it odd that the student dashboard takes me to my parental consent form when I log in: https://technovation-qa.herokuapp.com/student/dashboard#/parental-consent

[2018-09-12 17:05] Allicolyer commented on #1661
this works well now. Thanks Alan!

[2018-09-12 17:05] #1661 closed

[2018-09-12 17:09] Allicolyer commented on #1651
Thans Alan!

[2018-09-12 17:10] Allicolyer commented on #1651
this is working

[2018-09-12 17:16] Allicolyer commented on #1617
@adrichey @madhavitechnovation I just QAed this card and I can confirm it is working as expected.

[2018-09-12 17:18] Allicolyer commented on #1617
![uploads/4d2197ff-f3fa-4b47-80d7-172f19892986/Screen Shot 2018-09-12 at 10.18.02 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4d2197ff-f3fa-4b47-80d7-172f19892986%2FScreen+Shot+2018-09-12+at+10.18.02+AM.png)

[2018-09-12 17:20] Allicolyer commented on #1617
@adrichey can you changed the language to say "You cannot approve or decline invitations after the submission deadline"

[2018-09-12 17:28] Allicolyer commented on #1650
Okay makes sense.

So I just noticed that the submission guidelines are repeated twice for students.

[2018-09-12 17:33] joemsak commented on #1650
Perfect card example, thanks Alli!

Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

On Wed, Sep 12, 2018 at 12:28 PM, Alli Colyer <notifications@github.com>
wrote:

[2018-09-12 17:36] Allicolyer commented on #1650
okay

[2018-09-12 17:36] adrichey commented on #1617
I will change that text and let you know when it is ready for testing again. Thanks @Allicolyer!

[2018-09-12 17:36] #1650 closed

[2018-09-12 17:36] Allicolyer opened #1679 "Student dashboard lists "submission guidelines" twice"
![uploads/2c5fa8c9-b056-4fef-a479-574701b81308/Screen Shot 2018-09-12 at 10.36.35 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2c5fa8c9-b056-4fef-a479-574701b81308%2FScreen+Shot+2018-09-12+at+10.36.35+AM.png)

[2018-09-12 17:38] Allicolyer commented on #1617
Thanks @adrichey !

[2018-09-13 14:16] adrichey commented on #1656
@Allicolyer I am not sold on having both "Java" and "Java and Android studio" because it makes Java a little redundant. Perhaps we could leave it off entirely? Or if they really get confused without it being there, maybe we could put some text about IDEs somewhere. Or just put Android Studio in parentheses next to Java. It's a tough call.

[2018-09-14 17:01] joemsak commented on #1614
@Allicolyer I think in the spirit of shutting down vague cards and the fact we closed the other one too, in favor of finding bugs for new cards, I'm going to put this card to rest. Thanks!

[2018-09-14 17:01] #1614 closed

[2018-09-14 18:11] Allicolyer commented on #1656
So I guess the problem is that people think "android studio" is a programming language. Here are the most popular app development platforms from 2018:

App Inventor 2: 1698
Other - Thunkable: 90
Java: 83
Swift or XCode: 63
Other - Android Studio: 42

Both Android Studio and Thunkable were write-ins last year. You can also write C++ code in Android studio. Maybe it make sense to give people the abi

[2018-09-14 18:12] joemsak commented on #1656
Thank you, Alli! Whatever you ultimately design on Android Studio, renaming it won't be an issue, so I'll put this work up to QA now for your review. Cheers!

[2018-09-14 18:33] adrichey commented on #1617
@Allicolyer This is once again ready for testing with that text change you had asked for. :)

[2018-09-14 18:42] joemsak commented on #1667
@adrichey I'm not able to verify this on my local machine

[2018-09-14 21:13] joemsak commented on #1666
@Allicolyer this has been updated now

[2018-09-14 22:04] kmorton2017 commented on #1667
this looks fine now.

[2018-09-14 22:06] kmorton2017 commented on #1673
Alli, I think that may be a good thing if it takes the student to that page with parental consent so that they dont' forget that they need to get it signed.

As for the mentors, I'm wondering if it may be possible to list the teams that they have requested to join? As a user I may forget which teams I have requested to join.

[2018-09-14 22:17] kmorton2017 commented on #1586
somethingn odd happened when i was going through my location.

I tried to change my location to Tel Aviv.
When I filled it out and confirmed, it did not update my location.

![uploads/463f4f3a-8232-411a-8f6b-697e609dbd57/Screen Shot 2018-09-07 at 3.59.57 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F463f4f3a-8232-411a-8f6b-697e609dbd57%2FScreen+Shot+2018-09-07+at+3.59.57+PM

[2018-09-14 22:31] #1623 closed

[2018-09-14 22:41] kmorton2017 commented on #1676
I don't see the null anymore

[2018-09-14 22:42] kmorton2017 commented on #1679
i don't see this anymore. it's only listed once.

[2018-09-14 22:43] kmorton2017 commented on #1655
yeah this looks good.

[2018-09-14 22:48] kmorton2017 commented on #1652
Cool I can see the parantheses now.

[2018-09-14 22:50] kmorton2017 commented on #1666
confirmed that i do not see next button.

[2018-09-14 22:58] kmorton2017 commented on #1617
Confirm that I see this text on "My Team" page: Team building is not enabled at this time, so your team cannot add students.

[2018-09-15 00:19] joemsak commented on #1617
Katie, that is not the test of this card. You need to generate an invite
while judging is off and then try to use the invite while judging is on

thanks!

On Fri, Sep 14, 2018 at 5:58 PM kmorton2017 <notifications@github.com>
wrote:

--
Joe Sak
Technovation Web Development

SMS
+1 (312) 945-6317

[2018-09-17 19:06] adrichey commented on #1660
@kmorton2017 and @Allicolyer is this ready to begin being worked on? I want to make sure before I pick it up. Thanks!

[2018-09-18 14:57] joemsak commented on #1666
@kmorton2017 thanks, however there is more behavior here. you should see a friendly message while making any changes in this form, that your changes are saved.

[2018-09-18 14:57] joemsak commented on #1666
also please confirm that the registration UI still does show a "Next" button (when you  are signing up)

[2018-09-18 17:41] Allicolyer commented on #1556
@joemsak Amy and I are wondering what some different options are for making this mandatory. We know we used atavist last year to make the judge training mandatory. Could we use google slides in the same way?

[2018-09-18 17:41] Allicolyer commented on #1679
thanks Katie!

[2018-09-18 17:41] #1679 closed

[2018-09-18 17:41] #1655 closed

[2018-09-18 17:41] #1652 closed

[2018-09-18 17:50] Allicolyer commented on #1617
this looks good. Thanks @adrichey!

[2018-09-18 17:50] #1617 closed

[2018-09-18 17:52] joemsak commented on #1556
Well, before we discuss implementation, my initial feeling is that it's very late in development to introduce mandatory onboarding steps to mentors and students, we are less than 2 weeks from opening registration.

[2018-09-18 17:53] Allicolyer opened #1688 "Bug when trying to join a team"
1. I am logged in as alli+m5@iridescentlearning.org.
2. I am trying to join team "Hollaback Girls"
3. I get an error each time and am unable to join the team

![uploads/154fd74f-5d35-40fa-82dc-a2f9e470c107/team-join-error.gif](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F154fd74f-5d35-40fa-82dc-a2f9e470c107%2Fteam-join-error.gif)

[2018-09-18 17:54] #1676 closed

[2018-09-18 17:55] Allicolyer commented on #1667
thank you @kmorton2017!

[2018-09-18 17:55] #1667 closed

[2018-09-18 17:58] Allicolyer commented on #1659
This looks good. Thanks @adrichey !

[2018-09-18 17:58] #1659 closed

[2018-09-18 18:17] amyiridescent commented on #1556
@joemsak I understand this is late but I believe I have mentioned this previously that this change will be coming up.... we need to find a way to actually train these mentors that we claim to train. I know I am developing this training last minute but I hope you understand that I am trying to wear my hat along with 2 other people's hats right now. :(

Can you borrow code from the judge training we

[2018-09-18 18:31] joemsak commented on #1556
It's true you mentioned it but until it becomes a finalized card that is discussed and accepted by the dev team in a sprint planning, we are not committing to it or prioritizing it, therefore this is a very late time to have the discussion if you're expecting it to be Oct 1 ready. We talked registration requirements in June / July sprints.

It's not a question of "borrowing code" - the change to w

[2018-09-18 18:53] amyiridescent commented on #1556
Ok here is my compromise.

Can we tackle in October? I know we will have some mentors sign up when we open in Oct 1st but we can manually email them to take the training (and I know some won't, but we don't get too many people signed up during the first few weeks so it might not be a problem.) I understand it is a tight timeline to deploy this by Oct 1st but this is the fastest I am able to get to

[2018-09-18 19:00] joemsak commented on #1556
If mentors join teams, changing their status to not being onboarded (because of the addition of a new step) would hide their teams from them until they finish their onboarding

I dont think this is a huge deal, the same thing happens if they change their email (a box with info about their changed email blocks their dashboard until they use the confirmation email)

And yes, I am always fine with an

[2018-09-18 19:02] joemsak commented on #1556
Of course, in the case where a mentor joined a team and then never did the training, how long should we wait until we kick them off the team? We'd want to design warnings in the UI and maybe a reminder email to let them know they'll be removed from the team if they don't finish the new training

[2018-09-18 19:05] joemsak commented on #1586
hi again @kmorton2017 thank you so much for your diligent QA. we have indeed found that some of the logic was a bit twisted in the code, preventing a save. we finally wrote some more confident tests around the behavior and are ready for you to QA once again

[2018-09-19 05:12] amyiridescent commented on #1556
Lets definitely add this to the next sprint.

I think for those mentors who will get onboard between Oct 1 and "post training deployment" it might be nice for something to remind them to take the training the next time they come back onto the platform. Do you think we need to make it so they get dropped from the team?

There are a few countries like Australia and Germany who ran the program during

[2018-09-19 16:14] Allicolyer commented on #1660
@adrichey yes -- use Katie's edits

[2018-09-19 16:25] Allicolyer opened #1690 "Thunkable no longer allows .aia file downloads"
Thunkable only makes source code shareable through a link -- you can no longer download the .aia file, only the .apk.

Most of our judges test out source code by running .aia files in App Inventor. It is much easier for them to  do this than to download the .apk onto an emulator or a real phone.

Since we are moving away from exclusively App Inventor this year and are opening ourselves up to more

[2018-09-19 16:33] Allicolyer commented on #1552
This issue has been discussed and will look differently than we originally intended

[2018-09-19 16:35] Allicolyer commented on #1688
@adrichey do you know what may have caused this?

[2018-09-19 16:59] amyiridescent commented on #1556
I am up for pre-planning sprints exercise on this topic. Let me know what I need to get ready before we can do that.. I am going to focus on putting all the training materials into the slide deck but let me know what the next steps are.

[2018-09-19 17:30] joemsak commented on #1657
@Allicolyer I seem to recall this isn't finalized yet. Is that right? If so, should we have this in backlog until it's ready and been discussed in a sprint planning?

[2018-09-19 19:00] Allicolyer commented on #1657
Hey Joe! I will have an answer later today.

[2018-09-19 19:11] adrichey commented on #1688
Honestly, not sure @Allicolyer. I can try to take a look at your account and the settings and try to reproduce it. This is a new one to me. I will test that and get back to you.

[2018-09-19 20:05] adrichey commented on #1688
@Allicolyer It looks like I get a different message, when I attempt this with the QA database locally. I am going to dig around and see why this is happening. I am not sure if this logic is intended or not and need to do more research.

@joemsak Does this look familiar off the top of your head?

![screen shot 2018-09-19 at 3 02 21 pm 2](https://user-images.githubusercontent.com/1534554/45778149-6f

[2018-09-19 20:35] joemsak commented on #1688
@adrichey @Allicolyer Hey hey I saw this error come in to my email and I fixed it, hence Alan's version of the screen :)

[2018-09-19 20:35] joemsak commented on #1688
oh wait, sorry  never mind! well that is why alan sees that screen but the problem isn't fixed!

[2018-09-19 20:37] adrichey commented on #1688
@Allicolyer This appears to be working as intended. I am not sure why you got that "Uh, oh" message before, but now you are getting the "It appears that the person who sent this request may have deleted it" message, which is correct. If you log in as an admin and search for the team, you can see that the request for that user appears as deleted, so that request text should be correct.

[2018-09-19 20:38] joemsak commented on #1688
@adrichey she got the error because the template for the "deleted" case didn't exist, hence my comments here :)

[2018-09-19 20:39] adrichey commented on #1688
Ah, got it. Thanks @joemsak! Didn't see your response until refreshing the page.

[2018-09-20 15:28] adrichey opened #1691 "Change mentor age to 18+"
@amyiridescent and @kmorton2017,

Katie recently asked the question of us whether or not the dev team could use the existing "convert into mentor" workflow and raise the age of mentors to 18+ in the app using the following process:

- Student reaches out to Technovation staff and expresses interest in becoming a mentor. Alternatively, the RA may reach out on behalf of the student.
- Staff sends st

[2018-09-20 15:31] adrichey commented on #1660
@kmorton2017 @Allicolyer I have made the updates in a feature branch, but I don't want to merge that work into QA until I get approval on where the text "Contact your Regional Ambassador for the due date." should appear. Right now, there is no text in that section to replace, so I want to make sure I am adding it to the right spot. I can get that text in very quickly once I have a response on this

[2018-09-20 17:21] kmorton2017 commented on #1660
Hi Alan,

When you click on "presentation slides" on the submission list, you should see this list.

"Your team is not set to attend a live Regional Pitch Event. In the spring, Regional Ambassadors will invite teams to pitch at a live event. If you attend, then you will be required to upload your pitch presentation slides here.  Contact your Regional Ambassador for the due date. (Pitching at a liv

[2018-09-20 17:27] adrichey commented on #1660
Thank you @kmorton2017! I will get that updated today.

[2018-09-20 23:03] kmorton2017 commented on #1691
hi @adrichey the Sign-up Workflow is correct.

The Admin workflow needs revision.

RA should *not* be able to convert student to mentor account. This is an admin only feature.

Does that help?

[2018-09-20 23:16] adrichey commented on #1691
That helps @kmorton2017. Right now, RA's can use that "Convert to a mentor" button if they are in the same region as the student from their dashboard. If this isn't intended, I think we need to make another card to remove that behavior. Tagging @joemsak for visibility.

Am I okay to begin work on this with the acceptance criteria as is, or should we get the card created and knocked out to remove t

[2018-09-20 23:27] amyiridescent commented on #1691
We don't want RAs to have this feature because Iridescent needs to have the parental consent on file before these kids can be mentors. (liability issue)

@kmorton2017 we will need to make sure we message to RA and those minors who want to be mentor that they need to do this. I can see them accidentally creating a student account and wondering why they can't be mentors. (I am also assuming this is

[2018-09-21 15:48] joemsak commented on #1690
We would want to provide clear and easy instructions. App Inventor's instructions are kinda sub par. I'm open it though, of course.

[2018-09-21 15:49] joemsak commented on #1657
This should not pose a problem for development

[2018-09-21 16:10] joemsak opened #1693 "Build friendly landing page"
Ruby has delivered final design and assets for the landing page

[2018-09-21 16:47] Allicolyer opened #1694 "Admin: link judge's old certificates on their profile view"
As an admin
I can access the link to a judge's past certificates starting in 2018 on their profile

[2018-09-21 17:47] kmorton2017 commented on #1691
I thought it may be good to clarify a few points:

Reminder:
Junior Division: Team members are between 10-14 years old as of August 1, 2019
Senior Division: Team members are between 15-18 years old as of August 1, 2019

New user lands on sign-up page and agrees to data terms.
User fills out region.
User fills out their age, and browses to profile:
If UNDER 18, only selectable profile is student.
N

[2018-09-21 17:55] kmorton2017 commented on #1656
just checking to see if there was a decision made @allicolyer

[2018-09-21 17:57] kmorton2017 commented on #1660
Looks good @adrichey

[2018-09-21 17:57] #1660 closed

[2018-09-21 17:59] joemsak commented on #1691
this seems great to me @kmorton2017 thank you for being thorough!

[2018-09-21 18:12] adrichey commented on #1691
@kmorton2017 Thank you so much for being so thorough and outlining that acceptance criteria! That is incredibly helpful and appreciated! That gives me what I need to get started.

[2018-09-21 18:13] kmorton2017 commented on #1666
yeah i see a message that says " your changes have been saved."

[2018-09-21 18:14] kmorton2017 commented on #1586
my student account is Lama Hussein. Her location is confirmed as Gaza, Palestine. I went to "my team" and location. Her team location is showing up as San Francisco. When I tried to change it, it won't let me. I keep pressing the "next" button but nothing happens.

[2018-09-21 18:26] kmorton2017 commented on #1639
confirm that as a mentor i see the name of my RA (if they did not put in a program name)
Once the name of the program was updated, I saw Technovation Palestine.

I suggest that instead of "program name" you put "chapter name"

Some RA's may just write "technovation."

[2018-09-21 18:27] adrichey opened #1695 "Location form not redirecting properly in admin"
To reproduce:
1. Log in as admin
2. Browse to Participants section in admin dashboard
3. Click View on a participant in the table
4. Click Edit Location
5. Fill out the location and click Next
6. Attempt to click Confirm

Expected behavior:
In step 6 above, you should be redirected back to the participant view page.

Actual Behavior:
Confirm click doesn't redirect and appears to be broken. Locatio

[2018-09-21 18:29] joemsak commented on #1639
@kmorton2017 Thanks Katie, we should take possible confusion points like this and ensure @ophelieh can incorporate them into some RA training materials and webinars

[2018-09-21 19:49] #1690 closed

[2018-09-21 19:51] Allicolyer opened #1696 "Allow Thunkable URLs for source code"
Here is an examples of a Thunkable URLs

https://x.thunkable.com/copy/47d800b3aa47590210ad662249e63dd4

Acceptance Criteria:
- When the submission development platform is selected as Thunkable:
-- Collect the thunkable information (already done)
-- Auto-fill the source code with the thunkable URL

- When the submission development platform isn't selected yet, but students/mentors go to set their s

[2018-09-21 19:55] Allicolyer commented on #1657
After talking to Thunable -- to uniquely identify projects, they need

1. Ask people for their Thunkable email
2. Ask people for the shareable URL: https://x.thunkable.com/copy/47d800b3aa47590210ad662249e63dd4

[2018-09-21 19:55] joemsak commented on #1586
@kmorton2017 you should find this ready to test again this afternoon, for the team pages

[2018-09-21 20:44] adrichey commented on #1695
Will be addressed once pull request #1697 is merged.

[2018-09-24 14:10] joemsak commented on #1663
@Allicolyer Hey Alli! This issue is 20 days old, could you verify if this card is still relevant? Thanks!

[2018-09-24 16:43] kmorton2017 commented on #1693
looks great!

[2018-09-24 16:46] kmorton2017 commented on #1653
am i supposed to be able to click this? as an admin I went to Allison Old Student and tried to click on "Open your Certificate'

[2018-09-24 16:59] kmorton2017 commented on #1666
everything seems fine with the Next button working

[2018-09-24 17:05] Allicolyer commented on #1656
@kmorton2017 I have not :(

[2018-09-24 17:05] kmorton2017 commented on #1586
looks like this bug is resolved. i was able to do the following successfully:

1) change participant location
2) change team location

I do have a question about this page though. Is there a reason why students who sign up in Israel are always prompted with this? also can we please change the copy to say "please select the correct location" instead of territory?
![uploads/b974ad17-121d-4f50-9867-e

[2018-09-24 17:09] kmorton2017 opened #1698 "Leaving a Team"
@joemsak @adrichey @allicolyer as a student, how can I leave a team? i don't see this option.

[2018-09-24 17:31] joemsak commented on #1586
I have set the logic so that every "Israel" result gives the user a choice,
since "Palestine" will never come automatically from the map results

It says "territory" because they are choosing the correct country between
the two radio buttons, and we decided as a team that territory is the most
neutral word instead of "country" or "region"

I have asked @adrichey to help adjust the form so that cho

[2018-09-24 17:33] joemsak commented on #1698
@kmorton2017 if you are on the students page, the link that has been there for the past couple of seasons ought to still be there "remove this member"

[2018-09-24 18:06] kmorton2017 commented on #1698
Isnt that just for pending students? What if you want to remove yourself
from a team?

On Mon, Sep 24, 2018 at 10:33 AM Joe Sak <notifications@github.com> wrote:

--

*Katie MortonProgram ManagerIridescent <http://iridescentlearning.org/> |
Curiosity Machine <http://curiositymachine.org> & Technovation
<http://www.technovationchallenge.org/>M:814.504.2794Tomorrow belongs to
our children. Donate <h

[2018-09-24 18:18] joemsak commented on #1698
Yes, that is what I am referring to

[2018-09-24 18:18] joemsak commented on #1698
You can remove yourself from a team, this feature hasn't changed in any way
in the past 2 seasons

[2018-09-24 18:20] kmorton2017 commented on #1698
Is it possible to add this as a feature for this year? That team members
can remove themselves from a team? We often get customer support questions
on this issue.

On Mon, Sep 24, 2018 at 11:18 AM Joe Sak <notifications@github.com> wrote:

--

*Katie MortonProgram ManagerIridescent <http://iridescentlearning.org/> |
Curiosity Machine <http://curiositymachine.org> & Technovation
<http://www.technov

[2018-09-25 15:14] adrichey opened #1700 "Add helper copy for student dashboard sections"
On the student dashboard for a freshly created student, if I browse to “Submit your project”, “Judging”, or “Scores & Feedback” in the dashboard, I get a blank white screen with no information. This differs from the mentor dashboard, where it has information about what needs to be completed in order to unlock those sections.

*Expected behavior*
If I browse to “Submit your project”, “Judging”, or

[2018-09-25 15:40] joemsak commented on #1696
@Allicolyer this actually should be automatically done as part of the development platform step, so we should discuss the user workflow we expect in this case. Thanks!

[2018-09-25 16:27] Allicolyer commented on #1656
@joemsak Let's go with Alan's suggestions:

1. App Inventor
2. Thunkable
3. Android Studio or Java
4. Swift or XCode
5. Other

[2018-09-25 16:32] Allicolyer commented on #1688
Hey @joemsak and @adrichey I am trying to QA this but I am getting this message:

![uploads/5f8dd486-f512-4c1f-9110-d759a5ac0996/Screen Shot 2018-09-25 at 9.30.51 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5f8dd486-f512-4c1f-9110-d759a5ac0996%2FScreen+Shot+2018-09-25+at+9.30.51+AM.png)

However, I checked the season toggles, and team building is on:

![uploads/8639acef-2

[2018-09-25 16:32] Allicolyer commented on #1666
thanks @kmorton2017 !

[2018-09-25 16:32] #1666 closed

[2018-09-25 16:51] joemsak commented on #1693
@Allicolyer no problem, easily fixable with our existing reflex css :)

[2018-09-25 16:56] joemsak commented on #1656
@Allicolyer okay, just keep in mind your *existing* QA data may not be correct once I make this change, but it will not affect production data (because I am now only changing the new options that you'd had a chance to use on QA, but hasn't been live yet)

[2018-09-25 17:04] adrichey commented on #1688
I will work on that bug as I address the copy in the student sections @Allicolyer.

[2018-09-25 17:12] Allicolyer commented on #1696
Hey Joe,

Could we still have it in two places? It could auto-populate or something but for the sake of the Oct 1st deadline I would like to keep the workflow the same.

I am worried because some Australian teams have used Thunkable and want to submit on Oct 1st. We could ask them to wait but it would be nice to just have everything ready.

[2018-09-25 17:13] Allicolyer commented on #1657
no it is not the same for Thunkable. We also do not need the project name for Thunkable. Just the email account and the shareable link.

[2018-09-25 17:34] joemsak commented on #1696
Sure, yeah, that's an option I was thinking of: just mark the source code as done and filled in

[2018-09-25 17:36] joemsak commented on #1657
Thanks @Allicolyer -- could I get you to make sure your most up to date acceptance criteria is in the top-most original description/comment of the card? That's why I was asking about information that we're not actually collecting. Thanks!

[2018-09-25 17:36] joemsak commented on #1657
and still asking: Would you like a card to validate the App inventor project name not to have spaces?

[2018-09-25 17:36] joemsak commented on #1693
@Allicolyer this is ready again

[2018-09-25 17:37] joemsak commented on #1656
@Allicolyer this should be ready again

[2018-09-25 17:37] joemsak commented on #1657
Also this should be ready for QA

[2018-09-25 17:38] joemsak commented on #1691
I believe this is ready for QA :)

[2018-09-25 17:44] Allicolyer commented on #1696
sure!

[2018-09-25 17:45] Allicolyer commented on #1657
@joemsak that would be a nice to have

[2018-09-25 17:48] joemsak opened #1702 "Submissions Development Platform: Validate "App Inventor" project name not to have spaces"
The development platform option for App Inventor prompts the user to enter their email and project name

Validate the project name field so that it cannot save if it has spaces in it (App Inventor project names cannot contain spaces)

[2018-09-25 17:49] joemsak commented on #1657
@Allicolyer I made a card in discussion https://huboard.com/Iridescent-CM/technovation-app#/issues/363696502

[2018-09-25 17:49] Allicolyer commented on #1656
looks good! thanks Joe

[2018-09-25 17:49] #1656 closed

[2018-09-25 18:41] Allicolyer commented on #1645
will just leave the old ones there for now and will update them in December

[2018-09-25 18:41] Allicolyer commented on #1702
hey Joe! why is this a discussion?

[2018-09-25 18:42] joemsak commented on #1702
Just leaving it up to you for scheduling it

[2018-09-25 18:43] #1702 closed

[2018-09-25 18:43] joemsak commented on #1702
Dupe of #1658, should close

[2018-09-26 14:17] joemsak commented on #1658
Ready on QA today!

[2018-09-26 16:21] joemsak opened #1704 "Student Dashboard: show 'Submit Your Project' as complete when the submission is complete"
When a student visits their dashboard, they see the menu on the right side
The menu had indicators for which steps of the season they have completed
The "Submit Your Project" step is not changing to a completed status
Change the menu item to display the green checkmark when the submission is complete

Note: mentors are a more complex step because they could have multiple submissions, so that shoul

[2018-09-26 16:27] Allicolyer commented on #1696
Hey @joemsak I'm worried we making this too complicated. Tell me if this is easier:

What if we don't collect the source code in the development platform section. We can just collected the email address and then use what they put into source code as the URL. If they enter an .apk or something weird we will just have to accept that we lost that datapoint.

[2018-09-26 16:33] joemsak commented on #1696
@Allicolyer can you help me understand this part?

"and then use what they put into source code as the URL"

The thing is, to enable the URL we have to change the field from a file upload field to a text field. We have to know they're using Thunkable first to enable the switch to this other field type. That is why I am proposing that, if they navigate to the source code piece, and have not selecte

[2018-09-26 17:39] Allicolyer commented on #1696
ah okay I understand now. I think that your acceptance criteria works then

[2018-09-26 17:58] joemsak commented on #1696
okay, @Allicolyer, thank you for thinking it through with me! let me know if you have any other thoughts

[2018-09-26 19:09] joemsak commented on #1696
@Allicolyer Another quick note for you, I will be adding validation to the thunkable URL field to match the example you gave

[2018-09-26 23:00] kmorton2017 commented on #1696
hi all! i am a little confused on the back and forth on this card and the other one. this is what happened when i  chose thunkable. tell me if this is the expected behavior:

1) went to development platform and selected Thunkable
2) was prompted to put in the email address of my thunkable account
3) was prompted to put my shareable URL
4) source code section was automatically populated with my URL

[2018-09-26 23:14] kmorton2017 commented on #1658
It did not allow me to have spaces. I was however allowed to use symbols.

[2018-09-26 23:27] kmorton2017 opened #1705 "Submission Dates--Copy"
On the "My Team's Submission Page" the italicized text says" even after submitting, you will be able to make changes until April 25th."

The date should be April 23rd.

[2018-09-26 23:31] kmorton2017 commented on #1704
Originally, when my submission was complete it was showing as a black checkmark on my browser. I submitted my project for judging.

HOWEVER,

I  deleted deliverables, changed deliverables (for example removed link to demo video, added new link, deleted screenshots, added screenshots) and navigated away from the "my submission page." Although my submission is now complete (after removing/adding ite

[2018-09-26 23:45] kmorton2017 commented on #1691
something interesting happened when i selected my age as 18.

1)   it prompted me to choose between mentor and student
2) i proceeded through registration
3) when i pressed the green back button, the "choose your profile type" keeps automatically choosing student for me.
4) i re-select mentor and proceed to "basic profile" page.
5) I press green back button and it is once again showing student.

A

[2018-09-26 23:52] kmorton2017 commented on #1693
looks good on mobile

[2018-09-26 23:58] kmorton2017 commented on #1586
thanks for explaining more! so complicated :(

yeah country/territory is the most appropriate when initially signing up and remains correct.
 but if its asking you to choose between a territory or country like on this specific page, can we say "please choose the correct location?"

what will happen when alan changes the form? sorry maybe we can just touch base on the sprint because im not understa

[2018-09-26 23:59] kmorton2017 opened #1706 "Ages/Division Copy"
This language is different on Division Tab on the "My Team" page and Registration Page.

In both places it should say:

Junior Division: Team members are between 10-14 years old as of August 1, 2019
Senior Division: Team members are between 15-18 years old as of August 1, 2019

[2018-09-27 00:47] Allicolyer commented on #1639
I think this looks good.

[2018-09-27 00:47] #1639 closed

[2018-09-27 00:47] Allicolyer commented on #1693
yes looks great now

[2018-09-27 00:48] #1693 closed

[2018-09-27 00:57] Allicolyer commented on #1696
Hey Joe,

This seems to be work well.

Here's one thing I found odd is that

1. I click on source code without first having a development platform.
2. I fill out of development platform.
3. I get redirected to the "code" section. I would have guess it would next prompt me to enter my source code.

![uploads/85f7e6ef-600a-4262-80b9-476af60ec83b/2018-09-26 17_57_15.gif](https://s3-us-west-2.amazonaw

[2018-09-27 04:01] #1673 closed

[2018-09-27 13:37] joemsak commented on #1658
@kmorton2017 whups, you are right, I overlooked that requirement in the screenshots

[2018-09-27 13:38] joemsak commented on #1704
@kmorton2017 the black check mark is normal, it is the 'active' state of the menu, meaning you are on that page

Also, your submission is not complete if you changed it and then did not re-submit it

[2018-09-27 13:42] joemsak commented on #1586
I really feel like we are hyper focusing on a language issue that isn't a
high priority stacked against other issues we need to have ready by EOD
tomorrow

I was saying that the change from a text field to two radio buttons should
not happen when the user types in "Israel" themselves, and that I would
prefer the form only provides that choice if "Israel" came back from search
results. But again, e

[2018-09-27 13:43] joemsak commented on #1696
Don't know if this is such a bad thing, from the GIF, it seems like it was
easy enough to continue forward on your own

It's at least not a show-stopping issue. With two days of development left
I'd like us all to focus on show-stopping and critical, high priority issues

On Wed, Sep 26, 2018 at 7:57 PM Alli Colyer <notifications@github.com>
wrote:

[2018-09-27 14:09] joemsak commented on #1696
@kmorton2017 everything you described is expected behavior, thanks!

[2018-09-27 14:13] adrichey commented on #1691
@kmorton2017 I will work on getting that validation logic updated so that behavior works correctly today. Thanks for the thorough testing!

[2018-09-27 14:53] adrichey commented on #1691
@kmorton2017 I should be more clear. I am fixing the bug where you browse back to the Basic Profile page and it re-selects "Student" despite you explicitly selecting mentor. That will be done today.

The following paragraph warrants a bigger discussion and card. I think that we can begin implementing front-end validation easily enough, but it is going to require some planning and implementation on

[2018-09-27 14:58] adrichey opened #1707 "20/21 Registration form required fields could benefit from validation [5?,?,?]"
While working on #1691, @kmorton2017 brought up the following points:

"Also, another thing to consider: i got confused as a mentor signing up because i thought i filled in all the required fields on the basic profile page. however i mistakenly did not fill out "as a mentor you may call me...." and it took me a while to figure out why i couldn't press next. is there a way to draw attention to the

[2018-09-27 14:59] adrichey commented on #1691
Created #1707 to address validation at a later date.

[2018-09-27 15:45] adrichey commented on #1705
@kmorton2017 This should automatically change over once we change the season deadline date on the back-end. @joemsak Can we flip that switch now?

[2018-09-27 15:50] joemsak commented on #1705
@adrichey actually this particular date is hardcoded :)

[2018-09-27 16:16] Allicolyer commented on #1700
I see the copy

[2018-09-27 16:23] joemsak opened #1709 "Update thunkable URL validation: the subdomain is always "x""
Example:

https://x.thunkable.com/copy/47d800b3aa47590210ad662249e63dd4

Only URLS that look like that should work, the only part that should be different is the last part after the last "/"

[2018-09-27 16:31] Allicolyer commented on #1688
Account used: alli+m5@iridescentlearning.org

[2018-09-27 16:40] kmorton2017 commented on #1586
that's totally fine. dont mean to pull us into the weeds and recognize that there are higher priority things to focus on. it's good enough.

[2018-09-27 16:41] kmorton2017 commented on #1647
Here is the link to all of the updated automatic email copy: https://docs.google.com/document/d/1HWSakYAvF7x7NilTa-aI5Bru-lO8rvoR5iiNSux0RsY/edit?ts=5bac5761

[2018-09-27 16:46] Allicolyer commented on #1688
This is not happening with other accounts so I don't think it's a huge bug -- maybe some weird stuff happened to this account

[2018-09-27 16:49] Allicolyer commented on #1586
Thanks @kmorton2017!

[2018-09-27 16:57] joemsak commented on #1586
@kmorton2017 thank you for your flexibility as we approach our go-live date :)

We could certainly create 2 new cards based on your remaining issues here for prioritizing and scheduling in a future sprint

However, I think before deciding on the priority, that we need to decide as a team how we want to handle Defect Priority in general. For a short explanation of terms, Defect Priority is about se

[2018-09-27 19:05] Allicolyer commented on #1700
this looks good! Thanks Alan.

[2018-09-27 19:06] #1700 closed

[2018-09-27 19:07] Allicolyer commented on #1586
I will close out this card for now. Further issues about location can be added to the "to discuss" column

[2018-09-27 19:07] #1586 closed

[2018-09-27 19:08] Allicolyer commented on #1706
I see this in both places. Looks good.

[2018-09-27 19:08] #1706 closed

[2018-09-27 19:10] Allicolyer commented on #1657
it looks good. Thanks Joe.

[2018-09-27 19:10] #1657 closed

[2018-09-27 19:11] Allicolyer commented on #1695
This is working now. Thanks Alan.

[2018-09-27 19:11] #1695 closed

[2018-09-27 19:12] Allicolyer commented on #1688
great thanks Joe!